template(name='actions')
    .ui.stackable.centered.padded.grid
        .centered.row
            .four.wide.column
                h2.ui.center.aligned.header 
                    i.bolt.icon
                    | Actions
                h4 Actions that will occur in triggers if global conditions are satisfied
                +add_button type='action'
                +tag_facet
            .twelve.wide.column
                .ui.cards
                    each actions
                        +action_card
                        
                        
template(name='action_card')
    .ui.card
        .content
            .header #{title}
            .meta #{slug}
        .content    
            |!{html}
            .right.floated 
                // |#{when}
                +author_info
        .content
            each tags
                .ui.label #{this}
        .content
            // +call_method name='tagify_timestamp'
            // if date_array
            //     each date_array
            //         .ui.label #{this}
            +edit_button
            +view_button




template(name='action_view')
    .ui.padded.stackable.centered.grid
        .centered.row
            .three.wide.column
                +link_button link='/actions' icon='bolt' label='actions'
            .ten.wide.column
                h1.ui.center.aligned.grey.header View #{title} action
            .three.wide.column
                +edit_button
        .row
            .three.wide.column
                .ui.header tags
                each tags
                    .ui.label #{this}
            .thirteen.wide.column
                .ui.header #{title}
                .ui.sub.header Slug: #{slug}
                |!{html}
                +comments
            
        
template(name='action_edit')
    .ui.padded.stackable.centered.grid
        .centered.row
            .three.wide.column
                +save_button
            .ten.wide.column
                h1.ui.center.aligned.grey.header Edit #{title} action
            .three.wide.column
                #delete.ui.icon.button
                    i.trash.icon
        .centered.row
            .twelve.wide.column
                +edit_text_field key='title' label='Title'
                +edit_text_field key='slug' label='Slug'
                .ui.hidden.divider
                +edit_html
            .four.wide.column
                +edit_array_field key='tags'
        
            