template(name='dev')
    h1.ui.center.aligned.grey.header 
        i.code.icon
        | Dev
    // #call_ev.ui.button call ev
    .ui.centered.cards
        +task_widget
        +widget_list type='schema' label='Schemas'
        +widget_list type='hour' label='Hours'
        +widget_list type='project' label='Projects'
        +widget_list type='trigger' label='Triggers' icon='bolt'
        +widget_list type='action' label='Actions' 
    .ui.hidden.divider
    
template(name='widget_list')
    .ui.card
        .content
            a.header(href="/#{type}s")
                if icon
                    i.icon(class=icon)
                |#{label}
            .ui.list
                each type_docs
                    a.item(href="/view/#{_id}") #{name} #{title} !{html}
    
    
    
template(name='dev_nav')    
    .ui.top.attached.eight.item.inverted.grey.menu
        a.item(href='/dev' class="{{isActivePath '/dev'}}" data-position="bottom center" data-content='dev')
            i.large.code.icon
            // .mobile.hidden Tasks
        a.item(href='/tasks' class="{{isActivePath '/tasks'}}" data-position="bottom center" data-content='Tasks')
            i.large.tasks.icon
            // .mobile.hidden Tasks
        a.item(href='/projects' class="{{isActivePath '/projects'}}" data-position="bottom center" data-content='projects')
            i.large.calendar.check.icon
            // .mobile.hidden Projects
        a.item(href='/schemas' class="{{isActivePath '/schemas'}}" data-position="bottom center" data-content='Schemas')
            i.large.database.icon
            // .mobile.hidden Schemas
        a.item(href='/hours' class="{{isActivePath '/hours'}}" data-position="bottom center" data-content='Hours')
            i.large.clock.icon
            // .mobile.hidden Hours
        a.item(href='/roles' class="{{isActivePath '/roles'}}" data-position="bottom center" data-content='Roles')
            i.large.users.icon
            // .mobile.hidden Roles
        a.item(href='/actions' class="{{isActivePath '/actions'}}" data-position="bottom center" data-content='Actions')
            i.large.bolt.icon
            // .mobile.hidden actions
        a.item(href='/conditions' class="{{isActivePath '/conditions'}}" data-position="bottom center" data-content='Conditions')
            i.large.umbrella.icon
            // .mobile.hidden conditions
