template(name='hours')
    .ui.stackable.centered.padded.grid
        .centered.row
            .four.wide.column
                h2.ui.center.aligned.header Work Hours
                .ui.center.aligned.sub.header #{hours.count} Total Hours Logged
                +add_button type='hour'
                // +set_session_button key='view_complete' value=true label='complete'
                // +set_session_button key='view_complete' value=false label='incomplete'
                +tag_facet
            .twelve.wide.column
                .ui.cards
                    each hours
                        +hour_card
                
template(name='hour_card')
    .ui.fluid.card
        .content
            |!{html}
        .content
            each tags
                .ui.label #{this}
        .content
            |#{start_time} ->
            |#{end_time}
            .right.floated 
                // |#{when}
                +author_info
                |#{when}
            // each timestamp_tags
            //     .ui.label #{this}
            if comment_count
                | #{comment_count}
                i.comments.icon
            +edit_button
            +view_button


template(name='hour_view')
    .ui.padded.stackable.centered.grid
        .middle.aligned.row
            .three.wide.center.aligned.column
                +link_button link='/hours' icon='clock' label='hours'
            .ten.wide.center.aligned.column
                h1.ui.center.aligned.grey.header View Work Hour
            .three.wide.center.aligned.column
                +edit_button
        .row
            .three.wide.column
                .ui.header Start
                |#{time_start}
                .ui.header End
                |#{time_end}
                .ui.header Tags
                each tags
                    .ui.large.basic.label #{this}
            .thirteen.wide.column
                .ui.heade #{title}
                |!{html}
                +comments
            
        
template(name='hour_edit')
    .ui.padded.stackable.centered.grid
        .centered.middle.aligned.row
            .three.wide.center.aligned.column
                +save_button
            .ten.wide.center.aligned.column
                h1.ui.center.aligned.grey.header Edit Work Hour
            .three.wide.center.aligned.column
                #delete.ui.icon.button
                    i.trash.icon
        .centered.row
            .four.wide.column
                +edit_timerange_field
                +edit_array_field key='tags' label='Tags'
            .twelve.wide.column
                +edit_html
                // +edit_date_field key='start' label='start' icon='clock'
            
        
            