template(name='tasks')
    .ui.stackable.centered.padded.grid
        .centered.row
            .four.wide.column
                .ui.header 
                    i.tasks.icon
                    | Tasks
                +add_button type='task'
                .ui.hidden.divider
                +set_session_button key='view_complete' value=true label='All'
                +set_session_button key='view_complete' value=false label='Incomplete'
                .ui.hidden.divider
                +tag_facet
            .twelve.wide.column
                .ui.cards
                    each tasks
                        +task_card
                        
                        
template(name='task_card')
    .ui.fluid.card
        .content
            .right.floated.meta
                +author_info
            a.header(href="/view/#{_id}") 
                if complete
                    i.green.checkmark.icon
                |#{title}
                |#{text}
            |!{html}
        .content
            each tags
                .ui.basic.label #{this}
            .ui.basic.label Added #{when}
            if due_date
                .ui.basic.label Due {{from_now due_date}}
        .content
            if complete
                #turn_off.ui.icon.button
                    i.large.toggle.on.green.icon
            else
                #turn_on.ui.icon.button
                    i.large.toggle.off.icon
            +vote_button
            +edit_button
            +view_button


template(name='task_table')
    table.ui.celled.selectable.table
        tbody
            each tasks
                +task_row
                
                
template(name='task_view')
    .ui.padded.stackable.centered.grid
        .centered.row
            .three.wide.center.aligned.column
                +link_button link='/tasks' icon='tasks' label='Tasks'
            .ten.wide.center.aligned.column
                h1.ui.center.aligned.grey.header #{text} Task
            .three.wide.center.aligned.column
                +edit_button
        .row
            .four.wide.column
                +author_info
                .ui.hidden.divider
                if complete
                    #turn_off.ui.icon.button
                        i.large.toggle.on.green.icon
                    .ui.header Complete
                else
                    #turn_on.ui.icon.button
                        i.large.toggle.off.icon
                    .ui.header Incomplete
                .ui.header Tags
                each tags
                    .ui.label #{this}
            .twelve.wide.column
                .ui.header #{title}
                |!{html}
                +comments
                +full_doc_history
        
template(name='task_edit')
    .ui.padded.stackable.centered.grid
        .centered.row
            .three.wide.center.aligned.column
                +save_button
            .ten.wide.center.aligned.column
                h1.ui.center.aligned.grey.header Edit '#{text}' Task
            .three.wide.center.aligned.column
                #delete.ui.icon.button
                    i.trash.icon
        .centered.row
            .twelve.wide.column
                +edit_text_field key='text' label='Text' 
                |!{html}
            .four.wide.column
                +edit_date_field label='Due Date' key='due_date'
                +edit_array_field key='tags' label='Tags'
                +multiple_user_select
            