template(name='set_schema_button')
    .ui.icon.compact.button.set_schema(title='View Schema')
        // | View
        // i.right.chevron.icon
        +iconsmall name='chevron-right'


template(name='bookmark_widget')
    .ui.header
        +icon name='bookmark-ribbon'
        |Bookmarks
    if bookmarked
        .ui.red.compact.button.toggle_bookmark(title='Unbookmark' class=bookmark_class)
            +iconsmall name='bookmark-ribbon'
            if full_mode
                |Bookmarked
    else
        .ui.compact.button.toggle_bookmark(title='Bookmark' class=bookmark_class)
            // +iconsmall name='bookmark-ribbon'
            img(src="https://img.icons8.com/wired/24/000000/bookmark-ribbon.png")
            if full_mode
                |Bookmark
    if full_mode
        +bookmark_pane


template(name='bookmark_pane')
    .ui.list
        each bookmark_users
            +user_list_view







template(name='mark_read_button')
    .ui.header
        +icon name='open-envelope'
        | Read
    if read
        .ui.green.compact.button.toggle_read(title='Mark Unread')
            +iconsmall name='open-envelope'
            if full_mode
                | Read
    else
        .ui.compact.button.toggle_read(title='Mark Read')
            +iconsmall name='secured-letter'
            if full_mode
                | Unread

template(name='mark_read_pane')
    .ui.list
        each read_users
            +user_list_view



template(name='subscribe')
    .ui.header
        +icon name='renew-subscription'
        | Subscriptions
    if subscribed
        .ui.teal.compact.button.toggle_subscribe(title='Unsubscribe' class=subscription_class)
            +iconsmall name='renew-subscription'
            if full_mode
                | Subscribed
    else
        .ui.compact.button.toggle_subscribe(title='Subscribe' class=subscription_class)
            +iconsmall name='renew-subscription'
            if full_mode
                | Subscribe
    if full_mode
        +subscribe_pane



template(name='subscribe_pane')
    .ui.list
        each subscribers
            +user_list_view



template(name='comment_pane')
    .ui.header
        +icon name='comments'
        | Comments
    .ui.list
        each comments
            .ui.header #{text}
    .ui.fluid.left.icon.input
        i.plus.icon
        input#new_comment(type='text' placeholder='Add...')
    .ui.comments
        each comments
            .comment
                a.avatar(href="/user/#{author.username}")
                    if author.image_id
                        img.ui.avatar.spaced.image(src="{{c.url author.image_id width=50 height=50 gravity='face' crop='fill'}}")
                    else
                        i.user.icon
                .content
                    a.author(href="/user/#{author.username}") #{author.username}
                    .metadata
                        span.date #{when}
                    .text
                        p #{text}
                    .actions
                        // a.reply Reply
                        if is_admin
                            a.delete_comment delete





template(name='voting')
    .ui.header
        +icon name='leaderboard'
        | Priority
    .ui.icon.compact.button.upvote(class=upvote_class)
        +iconsmall name='facebook-like'
    .ui.icon.compact.button.downvote(class=downvote_class)
        +iconsmall name='thumbs-down'
    .ui.mini.statistic
        .value #{points}
        .label Points
    if full_mode
        +voting_pane


template(name='voting_pane')
    .ui.header
        +icon name='facebook-like'
        |Upvoters
    .ui.list
        each upvoters
            +user_list_view

    .ui.header
        +icon name='thumbs-down'
        |Downvoters
    .ui.list
        each downvoters
            +user_list_view



template(name='assignments')
    .ui.header
        +icon name='user-engagement-female'
        | Assignments
    p(title="{{ from_now ticket_assignment_timestamp }}") Last Assigned {{ long_format ticket_assignment_timestamp }}
    if full_mode
        .ui.form
            .field
                .ui.icon.input
                    if user_results
                        i.link.remove.icon.clear_results
                    else
                        i.search.icon
                    input#multiple_user_select_input(type='text' placeholder='Search Office User')
            if user_results
                .ui.segment
                    .ui.middle.aligned.selection.animated.list
                        each user_results
                            .select_user.item
                                h5.ui.header
                                    img.ui.avatar.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='fill'}}")
                                    |#{username}
            .field
                .ui.list
                    each assigned_users
                        .item
                            .right.floated.content
                                i.pull_user.remove.link.icon
                            .image
                                img.ui.avatar.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='fill'}}")
                            .content
                                h4.ui.header
                                    |#{first_name} #{last_name}
                                    small @#{username}




template(name='approval')
    .ui.header
        +icon name='approval'
        | Approval
    if full_mode
        .ui.form
            .field
                .ui.icon.input
                    if user_results
                        i.link.remove.icon.clear_results
                    else
                        i.search.icon
                    input#multiple_user_select_input(type='text' placeholder='Search Office User')
            if user_results
                .ui.segment
                    .ui.middle.aligned.selection.animated.list
                        each user_results
                            .select_user.item
                                h5.ui.header
                                    img.ui.avatar.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='fill'}}")
                                    |#{username}
            .field
                .ui.list
                    each assigned_users
                        .item
                            .right.floated.content
                                i.pull_user.remove.link.icon
                            .image
                                img.ui.avatar.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='fill'}}")
                            .content
                                h4.ui.header
                                    |#{first_name} #{last_name}
                                    small @#{username}
