template(name='set_schema_button')
    .ui.small.icon.button.set_schema(title='View Schema')
        // | View
        // i.right.chevron.icon
        +iconsmall name='chevron-right'


template(name='bookmark_button')
    if bookmarked
        .ui.red.small.button.toggle_bookmark(title='Unbookmark' class=bookmark_class)
            +iconsmall name='bookmark-ribbon'
            |Bookmarked
    else
        .ui.basic.small.button.toggle_bookmark(title='Bookmark' class=bookmark_class)
            // +iconsmall name='bookmark-ribbon'
            img(src="https://img.icons8.com/wired/24/000000/bookmark-ribbon.png")
            |Bookmark

template(name='bookmark_pane')
    .ui.header
        +icon name='bookmark-ribbon'
        |Bookmarked By
    .ui.list
        each bookmark_users
            +user_list_view







template(name='mark_read_button')
    if read
        .ui.green.small.button.toggle_read(title='Mark Unread')
            +iconsmall name='open-envelope'
            | Read
    else
        .ui.basic.small.button.toggle_read(title='Mark Read')
            +iconsmall name='secured-letter'
            | Unread

template(name='mark_read_pane')
    .ui.header
        +icon name='open-envelope'
        | Read By
    .ui.list
        each read_users
            +user_list_view



template(name='subscribe_button')
    if subscribed
        .ui.teal.small.button.toggle_subscribe(title='Unsubscribe' class=subscription_class)
            +iconsmall name='renew-subscription'
            |Subscribed
    else
        .ui.basic.small.button.toggle_subscribe(title='Subscribe' class=subscription_class)
            +iconsmall name='cancel-subscription'
            | Not Subscribed

template(name='subscribe_pane')
    .ui.header
        +icon name='renew-subscription'
        | Subscribers
    .ui.list
        each subscribers
            +user_list_view


template(name='assignment_button')
    .ui.basic.small.button.toggle_comment(title='Assignment' class=subscription_class)
        +iconsmall name='user-engagement-female'
        |Assignments

template(name='assignment_pane')
    .ui.header
        +icon name='user-engagement-female'
        | Assignments
    .ui.list
        each assignments
            +user_list_view
    +assignment_widget




template(name='comment_button')
    .ui.basic.small.button.toggle_comment(title='Comment' class=subscription_class)
        +iconsmall name='comments'
        | Comment

template(name='comment_pane')
    .ui.header
        +icon name='comments'
        | Comments
    .ui.list
        each comments
            .ui.header #{text}
    .ui.fluid.left.icon.input
        i.plus.icon
        input#new_comment(type='text' placeholder='Add...')
    .ui.comments
        each comments
            .comment
                a.avatar(href="/user/#{author.username}")
                    if author.image_id
                        img.ui.avatar.spaced.image(src="{{c.url author.image_id width=50 height=50 gravity='face' crop='fill'}}")
                    else
                        i.user.icon
                .content
                    a.author(href="/user/#{author.username}") #{author.username}
                    .metadata
                        span.date #{when}
                    .text
                        p #{text}
                    .actions
                        // a.reply Reply
                        if is_admin
                            a.delete_comment delete



