template(name='set_schema_part')
    .ui.fluid.right.labeled.icon.button.set_schema
        | View Section
        +icon name='chevron-right'


template(name='bookmark_part')
    if bookmarked
        .ui.blue.fluid.button.toggle_bookmark(title='Unbookmark' class=bookmark_class)
            +iconsmall name='bookmark-ribbon'
            |Bookmarked
    else
        .ui.fluid.button.toggle_bookmark(title='Bookmark' class=bookmark_class)
            // +iconsmall name='bookmark-ribbon'
            img.ui.inline.image(src="https://img.icons8.com/wired/24/000000/bookmark-ribbon.png")
            |Bookmark
    .ui.list
        each bookmark_users
            +user_list_view







template(name='mark_read_part')
    if read
        .ui.blue.fluid.button.toggle_read
            +iconsmall name='open-envelope' classes='spaced'
            | Read
    else
        .ui.fluid.button.toggle_read
            +iconsmall name='secured-letter' classes='spaced'
            | Mark Read
    .ui.list
        each read_users
            +user_list_view








template(name='complete_part')
    if block_parent.complete
        +icon name='checkmark' classes='spaced mini'
        | Complete
        div
        .ui.fluid.button.mark_incomplete
            +iconsmall name='clock'
            | Mark Incomplete
    else
        +icon name='clock' classes='spaced mini'
        | Incomplete
        div
        .ui.fluid.button.mark_complete
            +iconsmall name='checkmark'
            | Mark Complete





template(name='subscribe_part')
    if subscribed
        .ui.blue.fluid.button.toggle_subscribe(class=subscription_class)
            +iconsmall name='renew-subscription'
            | Subscribed
    else
        .ui.button.fluid.toggle_subscribe(class=subscription_class)
            +iconsmall name='renew-subscription'
            | Subscribe
    if subscribed
        .ui.two.buttons
            .ui.button(title='Immediate')
                +iconsmall name='internal'
            .ui.button(title='Daily')
                +iconsmall name='present'
        .ui.two.buttons
            .ui.button(title='SMS')
                +iconsmall name='cell-phone'
            .ui.button(title='Email')
                +iconsmall name='email'
    .ui.list
        each subscribers
            +user_list_view




template(name='voting_part')
    .ui.small.dividing.header
        +icon name='leaderboard' classes='mini spaced'
        | Priority (#{block_parent.points})
    .ui.icon.compact.button.upvote(class=upvote_class)
        +iconsmall name='collapse-arrow'
    .ui.icon.compact.button.downvote(class=downvote_class)
        +iconsmall name='expand-arrow'
    if upvoters
        .ui.small.dividing.header
            +icon name='collapse-arrow' classes='mini spaced'
            |Upvoters
        .ui.list
            each upvoters
                +user_list_view
    if downvoters
        .ui.small.dividing.header
            +icon name='expand-arrow' classes='mini spaced'
            |Downvoters
        .ui.list
            each downvoters
                +user_list_view






template(name='approval_part')
    .ui.small.dividing.header
        +icon name='approval' classes='mini spaced'
        | Approval
    .ui.form
        .field
            .ui.icon.input
                if user_results
                    i.link.remove.icon.clear_results
                else
                    i.search.icon
                input#multiple_user_select_input(type='text' placeholder='Search Office User')
        if user_results
            .ui.segment
                .ui.middle.aligned.selection.animated.list
                    each user_results
                        .select_user.item
                            h5.ui.header
                                img.ui.avatar.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='fill'}}")
                                |#{username}
        .field
            .ui.list
                each assigned_users
                    .item
                        .right.floated.content
                            i.pull_user.remove.link.icon
                        .image
                            img.ui.avatar.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='fill'}}")
                        .content
                            h4.ui.header
                                |#{first_name} #{last_name}
                                small @#{username}
