template(name='action')
    .ui.icon.button.toggle_action(class=action_button_class data-tooltip=action_doc.title)
        +avatar_sprite name=action_doc.icon_class classes='ui mini inline image'


template(name='vote_button')
    .ui.icon.button(title='Vote Up')
        i.thumbs.up.link.icon.vote_up(class=vote_up_button_class)
    .ui.icon.button(title='Vote Down')
        i.thumbs.down.link.icon.vote_down(class=vote_down_button_class)
    if points
        .ui.label #{points}

template(name='vote_up_button')
    .ui.icon.button(title='Vote Up')
        i.thumbs.up.link.icon.vote_up(class=vote_up_button_class)
    if points
        .ui.label #{points}



                
template(name='mark_read_button')
    if currentUser
        if read
            .mark_unread.ui.button
                i.envelope.open.icon
                |Read
        else
            .mark_read.ui.button
                i.envelope.icon
                |Unread
    +read_by_list

template(name='mark_read_link')
    if currentUser
        if read
            a.mark_unread Mark Unread
        else
            a.mark_read Mark Read
    +read_by_list


    
    
                
template(name='read_by_list')
    if read_by.count
        h5.ui.dividing.header
            |Read by... 
            span.floated.right (#{read_by.count})
        .ui.divided.list
            each read_by
                .item
                    img.ui.avatar.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                    .content
                        .header
                            |#{name}
                        .description
                            // each five_tags
                            //     .ui.label #{this}
                
                
                