template(name='action')
    if template
        +Template.dynamic template=action_button_template data=..
    // else
    //     .ui.basic.small.button.fire_action
    //         |#{title}
    //         +iconsmall name=icon classes=''

template(name='set_schema_button')
    .ui.small.icon.button.set_schema(title='View Schema')
        // | View
        // i.right.chevron.icon
        +iconsmall name='chevron-right'


template(name='bookmark_button')
    if bookmarked
        .ui.icon.basic.red.small.button.toggle_bookmark(title='Bookmark' class=bookmark_class)
            +iconsmall name='bookmark-ribbon'
    else
        .ui.icon.small.button.toggle_bookmark(title='Unbookmark' class=bookmark_class)
            // +iconsmall name='bookmark-ribbon'
            <img src="https://img.icons8.com/wired/24/000000/bookmark-ribbon.png">

template(name='bookmark_pane')
    .ui.header
        +icon name='bookmark-ribbon'
        |Bookmarked By
    .ui.list
        each bookmark_users
            +user_list_view







template(name='mark_read_button')
    if read
        .ui.green.icon.small.button.toggle_read(title='Mark Unread')
            +iconsmall name='open-envelope'
    else
        .ui.icon.small.button.toggle_read(title='Mark Read')
            +iconsmall name='secured-letter'

template(name='mark_read_pane')
    .ui.header
        +icon name='open-envelope'
        | Read By
    .ui.list
        each read_users
            +user_list_view



template(name='subscribe_button')
    .ui.basic.icon.small.button.toggle_subscribe(title='Toggle Subscribe')
        i.bell.icon(class=icon_class)




