template(name='admin')
    .ui.padded.stackable.four.column.grid
        .row
            .sixteen.wide.column
                h1.ui.center.aligned.header
                    +icon name='user-shield'
                    | Admin
        .ui.four.stackable.centered.cards
            .card
                .content
                    a.ui.header(href='/jpids')
                        +icon name='fingerprint'
                        | JP Ids
                    .description
                        |Total
                        +view_stat stat_type='total' doc_type='jpid'
            //     a.card(href='/history')
            //         .content
            //             .ui.header
            //                 +icon name='clock'
            //                 | EV History
            .card
                .content
                    a.ui.header(href='/offices')
                        +icon name='building'
                        | Offices
                    .description
                        |Total
                        +view_stat stat_type='total' doc_type='office'
            .card
                .content
                    a.ui.header(href='/franchisees')
                        +icon name='conference'
                        | Franchisees
                    .description
                        .ui.list
                            .item Active
                                +view_stat stat_type='active' doc_type='franchisee'
                            .item Total
                                +view_stat stat_type='total' doc_type='franchisee'
                            
            .card
                .content
                    a.ui.header(href='/customers')
                        +icon name='customer-support'
                        | Customers
                    .ui.list
                        .item Active
                            +view_stat stat_type='active' doc_type='customer'
                        .item Total
                            +view_stat stat_type='total' doc_type='customer'
            //     a.card(href='/special_services')
            //         .content
            //             .ui.header
            //                 +icon name='invoice'
            //                 +view_stat stat_type='total' doc_type='special_service'
            //                 | Special Services
            .card
                .content
                    a.ui.header(href='/services')
                        +icon name='broom'
                        | Services
                    .description
                        |Total
                        +view_stat stat_type='total' doc_type='service'
            .card
                .content
                    a.ui.header(href='/stats')
                        +icon name='bar-chart'
                        | Stats
            .card
                .content
                    a.ui.header(href='/store')
                        +icon name='small-business'
                        | Store
                    .description
                        | Total
                        +view_stat stat_type='total' doc_type='product'
            .card
                .content
                    a.ui.header(href='/feed')
                        +icon name='rss'
                        | Global Feed
                    .description
                        |Total
                        +view_stat stat_type='total' doc_type='event'
            .card
                .content
                    .ui.header(href='/roles')
                        +icon name='checked-user-male'
                        | Roles
                    .description
                        |Total
                        +view_stat stat_type='total' doc_type='role'
            .card
                .content
                    a.ui.header(href='/rules')
                        +icon name='rules'
                        | Rules
                    .description
                        |Total
                        +view_stat stat_type='total' doc_type='rule'
            .card
                .content
                    a.ui.header(href='/bugs')
                        +icon name='bug'
                        | Bugs
                    .description
                        |Total
                        +view_stat stat_type='total' doc_type='bug'
            .card
                .content
                    a.ui.header(href='/tasks')
                        +icon name='realtime-protection'
                        | Tasks
                    .description
                        |Total
                        +view_stat stat_type='total' doc_type='task'
            .card
                .content
                    a.ui.header(href='/incident_types')
                        +icon name='clone'
                        | Incident Types
                    .description
                        |Total
                        +view_stat stat_type='total' doc_type='incident_type'
        .ui.hidden.divider


template(name='bugs')
    .ui.padded.stackable.centered.grid
        .centered.row
            .three.wide.center.aligned.column
                +link_button link='/admin' icon='user-shield' label='Admin'
            .ten.wide.column
                h1.ui.center.aligned.grey.header 
                    +icon name='bug'
                    | Bugs
            .three.wide.center.aligned.column
                +add_button type='bug'
        .row 
            .ui.sixteen.wide.column
                .ui.centered.stackable.cards
                    each bugs
                        +bug_card

template(name='bug_card')
    .ui.card
        .content
            |#{body}
        .content
            +author_info
            |#{when}
        .content
            +edit_button
            +view_button
        
        
        
template(name='bug_edit')
    .ui.padded.stackable.centered.grid
        .centered.row
            .three.wide.center.aligned.column
                #delete_bug.ui.icon.button
                    i.trash.icon
            .ten.wide.column
                h1.ui.center.aligned.grey.header Edit Bug #{body} #{text}
            .three.wide.center.aligned.column
                +save_button
        .eight.wide.column
            h4.ui.header Site Link:
                a(href=link) #{link}
            .ui.form
                +edit_text_field key='text' label='Description'
        
        
template(name='bug_view')
    .ui.padded.stackable.centered.grid
        .centered.row
            .three.wide.center.aligned.column
                +link_button link='/bugs' icon='bug' label='Bugs'
            .ten.wide.column
                h1.ui.center.aligned.grey.header View Bug 
            .three.wide.center.aligned.column
                +edit_button
        .row
            .eight.wide.column
                h4.ui.header Site Link:
                    a(href=link) #{link}
                .ui.header Description: 
                    strong #{body} #{text}
                +author_info
                .ui.header #{when}
                