template(name='admin')
    .ui.padded.stackable.four.column.grid
        .row
            .sixteen.wide.column
                h1.ui.center.aligned.header
                    +icon name='user-shield'
                    | Admin
        .column
            .ui.card
                .content
                    a.ui.header(href='/jpids')
                        +icon name='fingerprint'
                        | JP Ids
        .column
            .ui.card
                .content
                    a.ui.header(href='/history')
                        +icon name='clock'
                        | EV History
        .column
            .ui.card
                .content
                    a.ui.header(href='/offices')
                        +icon name='building'
                        | Offices
        .column
            .ui.card
                .content
                    a.ui.header(href='/franchisees')
                        +icon name='conference'
                        | Franchisees
        .column
            .ui.card
                .content
                    a.ui.header(href='/customers')
                        +icon name='customer-support'
                        | Customers
        .column
            .ui.card
                .content
                    a.ui.header(href='/services')
                        +icon name='broom'
                        | Services
        .column
            .ui.card
                .content
                    a.ui.header(href='/feed')
                        +icon name='rss'
                        | Global Feed
        .column
            .ui.card
                .content
                    a.ui.header(href='/roles')
                        +icon name='checked-user-male'
                        | Roles
        .column
            .ui.card
                .content
                    a.ui.header(href='/rules')
                        +icon name='rules'
                        | Rules
        .column
            .ui.card
                .content
                    a.ui.header(href='/bugs')
                        +icon name='bug'
                        | Bugs
                    

                        



template(name='admin_widget')
    .ui.card
        .content
            a.ui.center.aligned.icon.header(href=link)
                i.icon(class=icon)
                .content
                    |#{label}
            .ui.list
                each children
                    a.item(href="/view/#{_id}") #{name} #{title} !{html}




template(name='bugs')
    .ui.padded.stackable.centered.grid
        .centered.row
            .three.wide.column
                +link_button link='/admin' icon='user-shield' label='Admin'
            .ten.wide.column
                h1.ui.center.aligned.grey.header 
                    +icon name='reviewer-female'
                    | bugs
            .three.wide.column
                +add_button type='bug'
        .row 
            .ui.sixteen.wide.column
                .ui.centered.stackable.cards
                    each bugs
                        +bug_card

template(name='bug_card')
    .ui.card
        .content
            |#{body}
        .content
            +edit_button
            +view_button
        
        
        
template(name='bug_edit')
    .ui.padded.stackable.centered.grid
        .centered.row
            .three.wide.column
                #delete.ui.icon.button
                    i.trash.icon
            .ten.wide.column
                h1.ui.center.aligned.grey.header Edit bug #{name}
            .three.wide.column
                +save_button
        .eight.wide.column
            .ui.form
                +edit_text_field key='name' label='bug Name'
                +edit_number_field key='number' label='Number'
                +edit_textarea name='description' label='Description' icon='details'
        
        
template(name='bug_view')
    .ui.padded.stackable.centered.grid
        .centered.row
            .three.wide.column
                +link_button link='/bugs' icon='bugs' label='bugs'
            .ten.wide.column
                h1.ui.center.aligned.grey.header bug: #{name}
            .three.wide.column
                +edit_button
        .row
            .eight.wide.column
                .ui.header Name: #{name}
                .ui.header Number: #{number}
                .ui.header Description: !{description}
                +associated_users
                +comments
                
                