template(name='admin')
    .ui.padded.stackable.grid
        .row
            .sixteen.wide.column
                h1.ui.center.aligned.header
                    +icon name='user-shield'
                    | Admin
        .row
            .four.wide.column
                +tag_facet
            .twelve.wide.column
                .ui.stackable.centered.cards
                    each admin_sections
                        .ui.card
                            .content
                                a.ui.header(href=link)
                                    +icon name=icon
                                    | #{title}
                                // .description
                                //     a(href=link) #{link}
                                if slug
                                        .description
                                            |Total
                                            +view_stat stat_type='total' doc_type=slug
        .ui.hidden.divider


template(name='doc_type_view')
    +Template.dynamic template=type_view
