template(name='alfred')
    .ui.stackable.padded.grid
        .middle.aligned.row 
            .three.wide.center.aligned.column
            .ten.wide.column
                // h1.ui.center.aligned.header 
                //     | alfred
            .three.wide.center.aligned.column
        .row 
            .sixteen.wide.column
                .ui.fluid.input
                    input#ask_alfred(type='text' placeholder='ask')


template(name='bit_segment')
    .ui.segment
        h5.ui.header
            a(href="/v/#{_id}")
                if complete
                    i.green.checkmark.icon
                |#{title} 
        div
        |!{html}
        each tags
            .ui.small.label(class=tag_class) #{this}
        div
        |created by 
        +author_info 
        |#{when} {{ long_format timestamp }}
        div
        +mark_doc_complete_button
        +vote_up_button
        +edit_button
        +view_button
        
        
        
template(name='bit_edit')
    .ui.padded.stackable.centered.grid
        .centered.row
            .three.wide.center.aligned.column
                #delete.ui.icon.button
                    i.trash.icon
            .ten.wide.column
                h1.ui.center.aligned.grey.header Edit bit
            .three.wide.center.aligned.column
                +save_button
        .eight.wide.column
            .ui.form
                +edit_text_field key='title' label='title'
                +edit_array_field label='Tags' key='tags'
                +edit_html
        .four.wide.column
            +edit_author
    
        
template(name='bit_view')
    .ui.padded.stackable.centered.grid
        .centered.middle.aligned.row
            .three.wide.center.aligned.column
                a.ui.button(href="/alfred")
                    i.left.chevron.icon
                    | alfred
            .ten.wide.column
                h1.ui.center.aligned.grey.header View bit
            .three.wide.center.aligned.column
                +edit_button
        .row
            .four.wide.column
                if assigned_to_user
                    .ui.header Assigned To
                    with assigned_to_user
                        if profile.image_id
                            img.ui.avatar.spaced.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                        |&nbsp;
                        a(href="/user/#{username}") #{username} 
            .eight.wide.column
                .ui.header #{title}
                |!{html}
                +comments
                +full_doc_history
            .four.wide.column
                |created by 
                +author_info 
                div #{when} {{ long_format timestamp }}
                .ui.header 
                    i.tags.icon
                    |Tags
                each tags
                    .ui.label #{this}
                    


