template(name='nav')
    .ui.attached.inverted.blue.large.menu
        a.dash.icon.item(href='#')
            // i.fas.fa-menu(style="color:white;")
            // i.fas.fa-bars.fa-lg(style="color:white;")
            img.ui.small.spaced.image(src='https://jan-pro.com/wp-content/themes/underboot/img/jan-pro-white.svg')
            // +icon name='menu' classes='spaced centered mini'
        a.mobile.hidden.toggle_topbar.icon.item(href='#')
            +iconlarge name='bookmark'
        a.mobile.hidden.toggle_topbar.item(href='#')
            +iconlarge name='users'
        a.mobile.hidden.toggle_topbar.item(href='#')
            +iconlarge name='dollar-sign'
        a.mobile.hidden.toggle_topbar.item(href='#')
            +iconlarge name='calendar'
        a.mobile.hidden.toggle_topbar.item(href='#')
            +iconlarge name='tasks'
        a.mobile.hidden.toggle_topbar.item(href='#')
            +iconlarge name='shopping-cart'
        a.mobile.hidden.toggle_topbar.item(href='#')
            +iconlarge name='envelope'
        a.mobile.hidden.toggle_topbar.item(href='#')
            +iconlarge name='bell'
        .right.menu
            a.cc.item(href='#')
                if currentUser.image_id
                    img.ui.mini.centered.image(src="{{c.url currentUser.image_id width=50 height=50 gravity='face' crop='fill'}}")
                else
                    +iconlarge name='user'
                |#{currentUser.username}
    if delta.view_topbar
        +topbar


template(name='topbar')
    .ui.grid.alphablue.top.fixed.topbar
        .four.wide.column
            +notifications
        .four.wide.column
            +messages
        .four.wide.column
            +tasks
        .four.wide.column
            +bookmarks





template(name='bottombar')
    .ui.bottom.push.alphablue.bottombar
        .ui.padded.grid
            .row
                .four.wide.column
                    if is_eric
                        +role_switcher
                .four.wide.column
                    .ui.inverted.blue.segment
                        .ui.header
                            +icon name='chat' classes='inline mini'
                            | Chat
                        .ui.inverted.list
                            each chat_messages
                                .item
                                    .content
                                        .ui.small.header #{message}
                                        small #{author_username} #{when}
                    .ui.transparent.inverted.input
                        input#new_chat(type='text' placeholder='add...')
                .four.wide.column
                    .ui.small.inverted.header
                        +iconsmall name='connected' classes='spaced'
                        | Online Users
                    each online_users
                        .ui.inverted.header #{username}
                    // unless is_admin
                    //     .ui.card
                    //         .content
                    //             +office_big office_jpid=currentUser.office_jpid

                .four.wide.column
                    +tasks


template(name='leftbar')
    if delta.view_leftbar
        .four.wide.leftbar.column
            .ui.vertical.blue.inverted.large.fluid.menu
                each bookmarks
                    a.item.pick_delta.toggle_leftbar(href='#' title=title)
                        | #{plural}
                        +icon name=icon

template(name='dash')
    .sixteen.wide.blue.column.topnav
        .ui.equal.width.stackable.grid
            each bookmarks
                .four.wide.column
                    .ui.inverted.blue.secondary.segment.pick_delta.pointer
                        .ui.header
                            +icon name=icon
                            |#{plural}
                        // p
                        // p
                        //     |#{details}


template(name='cc')
    .sixteen.wide.blue.column.topnav
        .ui.equal.width.stackable.grid
            .four.wide.column
                .ui.inverted.blue.secondary.segment.pointer
                    .ui.inverted.header
                        | #{currentUser.first_name} #{currentUser.last_name}
                    small @#{currentUser.username}
            .four.wide.column
                .ui.inverted.blue.secondary.segment.profile.pointer
                    +icon name='users'
                    | Profile
            .four.wide.column
                .ui.inverted.blue.secondary.segment.settings.pointer
                    +icon name='cog'
                    | Settings
            .four.wide.column
                .ui.inverted.blue.secondary.segment.sla.pointer
                    +icon name='draw-polygon'
                    | SLA Settings
            .four.wide.column
                a.item.delete_delta(title='if always no results' href='#')
                    +icon name='trash'
                    |Clear Session
            // a.item.run_fo(title='Reload Session' href='#')
            //     +icon name='refresh'
            //     |Reset
            if is_dev
                .four.wide.column
                    a.ui.inverted.blue.secondary.segment.profile.pointer.show_delta(href='#')
                        | Print Delta
                        +icon name='code'
            .four.wide.column
                .ui.inverted.blue.secondary.segment.profile.pointer
                    +quick_idea
            .four.wide.column
                a#logout.ui.inverted.blue.secondary.segment.profile.pointer(href='#')
                    // +icon name='exit'
                    if signing_out
                        +icon name='loading'
                    else
                        +icon name='sign-out-alt'
                    | Log Out



template(name='quick_idea')
    .ui.inverted.left.icon.transparent.input
        +icon name='lightbulb'
        input#idea_text(placeholder='Add thought...')
        // .ui.small.fluid.icon.button.submit_idea
        //     i.checkmark.icon


template(name='notifications')
    a.ui.inverted.header.set_notifications(href='#')
        +icon name='bell'
        | Notifications

template(name='messages')
    a.ui.inverted.header.set_messages(href='#')
        +icon name='mail-bulk'
        | Messages

    // +iconsmall name='compose' title='Compose' classes='pointer'


template(name='tasks')
    a.ui.inverted.header.set_tasks(href='#')
        +icon name='tasks'
        | Tasks
    .ui.inverted.link.list
        each todos
            a.item.todo(class=item_class) #{title}


template(name='bookmarks')
    a.ui.inverted.header.set_bookmarks(href='#')
        +icon name='bookmark'
        | Bookmarks
