template(name='nav')
    .ui.fixed.inverted.jpblue.big.menu
        a.dash.icon.item(href='#' class=header_class)
            .mobile.hidden
                img.ui.tiny.image(src='https://jan-pro.com/wp-content/themes/underboot/img/jan-pro-white.svg')
            .mobile.only
                i.dashboard.icon
        a.toggle_cc.item(href='#' class=cc_class)
            if currentUser.image_id
                img.ui.avatar.image(src="{{c.url currentUser.image_id width=100 height=100 gravity='face' crop='fill'}}")
            else
                i.user.icon
            span.mobile.hidden &nbsp; #{currentUser.username}
        a.icon.item.tickets(href='#')
            i.ticket.icon
        a.chat.icon.item(href='#')
            i.comment.outline.icon
        a.notifications.icon.item(href='#')
            i.bell.outline.icon
        a.mobile.hidden.icon.tasks.item(href='#')
            i.tasks.icon
        // a.mobile.hidden.item(href='#')
        //     i.shopping.cart.icon
        a.mobile.hidden.messages.icon.item(href='#')
            i.envelope.outline.icon


template(name='leftbar')
    if delta.view_leftbar
        .four.wide.leftbar.column
            .ui.vertical.blue.inverted.fluid.menu
                each bookmarks
                    a.item.pick_delta.toggle_leftbar(href='#' title=title)
                        | #{plural}
                        +icon name=icon

template(name='dash')
    .sixteen.wide.blue.column.lightblue
        .ui.equal.width.padded.grid
            each bookmarks
                .column.menu_segment
                    .ui.inverted.blue80.segment.pick_delta.pointer
                        h4.ui.small.header
                            +icon name=icon
                            |#{plural}
                        // p
                        // p
                        //     |#{details}


template(name='cc')
    .ui.equal.width.padded.grid.lightblue.cc
        .column.menu_segment
            .ui.inverted.blue80.segment.view_profile.pointer
                .ui.icon.header
                    if currentUser.image_id
                        img.ui.avatar.image(src="{{c.url currentUser.image_id width=100 height=100 gravity='face' crop='fill'}}")
                    else
                        i.user.icon
                    | #{currentUser.first_name} #{currentUser.last_name}
                | @#{currentUser.username}
        .column.menu_segment.todos
            .ui.inverted.blue80.segment.todos.pointer
                .ui.small.header
                    i.tasks.icon
                    | Todos
        .column.menu_segment
            .ui.inverted.blue80.segment.settings.pointer
                .ui.small.header
                    i.setting.icon
                    | Settings
                .item Password
                .item Email
                .item Username
        .column.menu_segment
            .ui.inverted.blue80.segment.sla.pointer
                .ui.small.header
                    i.clock.outline.icon
                    | SLA Settings
        if is_eric
            .column.menu_segment
                .ui.inverted.blue80.segment
                    .ui.small.header Role Switcher
                    +role_switcher
        .column.menu_segment
            .ui.inverted.blue80.segment.delete_delta(title='If no data results.')
                +icon name='trash'
                |Clear Session
        // .column.menu_segment
        //     a.ui.inverted.lightblue.segment(title='Invert Colors' href='#')
        //         +icon name='lightbulb'
        //         | Night Mode
        // a.item.run_fo(title='Reload Session' href='#')
        //     +icon name='refresh'
        //     |Reset
        if is_dev
            .column.menu_segment
                a.ui.inverted.blue80.segment.profile.pointer.show_delta(href='#')
                    | Print Delta
                    +icon name='code'
        .column.menu_segment
            .ui.inverted.blue80.segment
                +quick_idea
        .column.menu_segment
            a#logout.ui.inverted.blue80.segment.profile.pointer(href='#')
                if signing_out
                    // +icon name='spinner' classes='fa-pulse'
                    i.spinner.loading.icon
                else
                    i.sign.out.icon
                strong &nbsp; Log Out



template(name='quick_idea')
    .ui.inverted.left.icon.transparent.input
        +icon name='lightbulb'
        input#idea_text(placeholder='Add idea')
        // .ui.small.fluid.icon.button.submit_idea
        //     i.checkmark.icon


template(name='footer')
    .ui.bottom.fixed.inverted.footer.big.menu
        a.icon.item.bookmarks(href='#')
            i.outline.bookmark.icon
        a.icon.item.users(href='#')
            i.address.book.outline.icon
        a.icon.item.calendar(href='#')
            i.outline.calendar.icon
        a.icon.item.todo(href='#')
            i.tasks.icon
        .item.item
            .mobile.hidden
                .ui.inverted.small.grey.header
                    i.copyright.outline.small.icon
                    | 2018 JAN-PRO Franchising, Inc.

