template(name='nav')
    .ui.stackable.padded.grid.menu
        if currentUser
            .centered.nav_bar.row
                .one.wide.column.pointer.toggle_leftbar.item
                    +icon name='menu' classes='spaced mini'
                .mobile.hidden.one.wide.column.toggle_topbar.pointer
                    +icon name='bookmark-ribbon' classes='mini centered'
                .mobile.hidden.one.wide.column.toggle_topbar.pointer
                    +icon name='contacts' classes='mini centered'
                .mobile.hidden.eight.wide.column.pointer.toggle_topbar.item
                    img.ui.small.centered.image(src='https://jan-pro.com/wp-content/themes/underboot/img/jan-pro-white.svg')
                .mobile.hidden.one.wide.column.toggle_topbar.pointer
                    +icon name='tasks' classes='mini centered'
                .mobile.hidden.one.wide.column.toggle_topbar.pointer
                    +icon name='shopping-cart' classes='mini centered'
                .mobile.hidden.one.wide.column.toggle_topbar.pointer
                    +icon name='mailbox-with-letter' classes='mini centered'
                .mobile.hidden.one.wide.column.toggle_topbar.pointer
                    +icon name='appointment-reminders' classes='mini centered'
                .one.wide.column.toggle_rightbar.pointer.item
                    if currentUser.image_id
                        img.ui.mini.centered.image(src="{{c.url currentUser.image_id width=50 height=50 gravity='face' crop='fill'}}")
                    else
                        +icon name='gender-neutral-user' classes='mini centered'



template(name='topbar')
    .ui.top.sidebar.push.nav_bar.topbar
        .ui.padded.grid
            .four.wide.column
                +notifications
            .four.wide.column
                +messages
            .four.wide.column
                +tasks
            .four.wide.column
                +bookmarks


template(name='bottombar')
    .ui.bottom.sidebar.push.nav_bar.bottombar
        .ui.padded.grid
            .four.wide.column
                +notifications
            .four.wide.column
                +messages
            .four.wide.column
                +tasks
            .four.wide.column
                +bookmarks



template(name='leftbar')
    .ui.left.vertical.sidebar.nav_bar.menu.leftbar
        each bookmarks
            a.item.pick_delta.toggle_leftbar(href='#')
                .ui.small.inverted.header(title=title)
                    i.icon
                        +icon name=icon
                    | #{plural}


template(name='rightbar')
    .ui.right.vertical.sidebar.nav_bar.menu.rightbar
        a.item(href='#')
            .ui.inverted.header
                | #{currentUser.first_name} #{currentUser.last_name}
                small @#{currentUser.username}
        a.item.profile(href='#')
            .ui.inverted.small.header
                +icon name='leaderboard' classes='mini centered'
                | Leaderboard
        a.item.profile(href='#')
            .ui.inverted.small.header
                +icon name='contacts' classes='mini centered'
                | Profile
        a.item.settings(href='#')
            .ui.inverted.small.header
                +icon name='settings' classes='mini centered'
                | Settings
        a.item.sla(href='#')
            .ui.inverted.small.header
                +icon name='workflow' classes='mini centered'
                | SLA Settings
        a.item(href='#')
            .ui.compact.icon.button.delete_delta(title='Clear Session')
                i.remove.icon
                |Clear
            .ui.compact.icon.button.run_fo(title='Reload Session')
                i.refresh.icon
                // |Reset
            if is_dev
                .ui.icon.compact.button.show_delta
                    i.code.icon
        a.item(href='#')
            #logout.sixteen.wide.column
                .ui.inverted.small.header
                    // +icon name='exit' classes='mini centered'
                    if signing_out
                        i.notched.circle.loading.big.icon
                    else
                        +icon name='exit' classes='mini'
                    | Log Out




template(name='notifications')
    a.ui.inverted.header.set_notifications(href='#')
        +icon name='appointment-reminders' classes='mini spaced'
        | Notifications

template(name='messages')
    a.ui.inverted.header.set_messages(href='#')
        +icon name='mailbox-with-letter' classes='mini spaced'
        | Messages

    +iconsmall name='compose' title='Compose' classes='pointer'


template(name='tasks')
    a.ui.inverted.header.set_tasks(href='#')
        +icon name='to-do' classes='mini spaced'
        | Tasks
    .ui.inverted.link.list
        each todos
            a.item.todo(class=item_class) #{title}


template(name='bookmarks')
    a.ui.inverted.header.set_bookmarks(href='#')
        +icon name='bookmark-ribbon' classes='mini spaced'
        | Bookmarks
