template(name='nav')
    .ui.attached.inverted.inverted.topnav.large.menu
        a.dash.icon.item(href='#' class=header_class)
            .mobile.hidden
                img.ui.small.spaced.image(src='https://jan-pro.com/wp-content/themes/underboot/img/jan-pro-white.svg')
            .mobile.only
                +icon name='bars'
        a.bookmarks.icon.item(href='#')
            +iconlarge name='bookmark'
        a.chat.item(href='#')
            +iconlarge name='comments'
        a.notifications.item(href='#')
            +iconlarge name='bell'
        // a.mobile.hidden.calendar.item(href='#')
        //     +iconlarge name='calendar'
        a.mobile.hidden.tasks.item(href='#')
            +iconlarge name='tasks'
        a.mobile.hidden.item(href='#')
            +iconlarge name='shopping-cart'
        a.mobile.hidden.messages.item(href='#')
            +iconlarge name='envelope'
        .right.menu
            a.cc.item(href='#' class=cc_class)
                if currentUser.image_id
                    img.ui.mini.spaced.image(src="{{c.url currentUser.image_id width=50 height=50 gravity='face' crop='fill'}}")
                else
                    +iconlarge name='user'
                span.mobile.hidden &nbsp; #{currentUser.username}


template(name='leftbar')
    if delta.view_leftbar
        .four.wide.leftbar.column
            .ui.vertical.blue.inverted.large.fluid.menu
                each bookmarks
                    a.item.pick_delta.toggle_leftbar(href='#' title=title)
                        | #{plural}
                        +icon name=icon

template(name='dash')
    .sixteen.wide.blue.column.topnav
        .ui.equal.width.padded.grid
            each bookmarks
                .column.menu_segment
                    .ui.inverted.lightblue.segment.pick_delta.pointer
                        .ui.small.header
                            +icon name=icon
                            |#{plural}
                        // p
                        // p
                        //     |#{details}


template(name='cc')
    .ui.equal.width.padded.grid.alphablue.cc
        .column.menu_segment
            .ui.inverted.lightblue.segment.view_profile.pointer
                .ui.icon.header
                    if currentUser.image_id
                        img.ui.avatar.image(src="{{c.url currentUser.image_id width=100 height=100 gravity='face' crop='fill'}}")
                    else
                        +icon name='user'
                    | #{currentUser.first_name} #{currentUser.last_name}
                | @#{currentUser.username}
        // .column.menu_segment
        //     .ui.inverted.lightblue.segment.profile.pointer
        //         .ui.small.header
        //             +icon name='users'
        //             | Profile
        .column.menu_segment
            .ui.inverted.lightblue.segment.tasks.pointer
                .ui.small.header
                    +iconlarge name='tasks'
                    | Todo

        .column.menu_segment
            .ui.inverted.lightblue.segment.settings.pointer
                .ui.small.header
                    +icon name='cog'
                    | Settings
        .column.menu_segment
            .ui.inverted.lightblue.segment.sla.pointer
                .ui.small.header
                    +icon name='draw-polygon'
                    | SLA Settings
        if is_eric
            .column.menu_segment
                .ui.inverted.lightblue.segment
                    .ui.small.header Role Switcher
                    +role_switcher
        .column.menu_segment
            a.ui.inverted.lightblue.segment.delete_delta(title='if always no results' href='#')
                +icon name='trash'
                |Clear Session
        .column.menu_segment
            a.ui.inverted.lightblue.segment(title='Invert Colors' href='#')
                +icon name='lightbulb'
                | Night Mode
        // a.item.run_fo(title='Reload Session' href='#')
        //     +icon name='refresh'
        //     |Reset
        if is_dev
            .column.menu_segment
                a.ui.inverted.lightblue.segment.profile.pointer.show_delta(href='#')
                    | Print Delta
                    +icon name='code'
        .column.menu_segment
            .ui.inverted.lightblue.segment.profile.pointer
                +quick_idea
        .column.menu_segment
            a#logout.ui.inverted.lightblue.segment.profile.pointer(href='#')
                // +icon name='exit'
                if signing_out
                    +icon name='loading'
                else
                    +icon name='sign-out-alt'
                | Log Out



template(name='quick_idea')
    .ui.inverted.left.icon.transparent.input
        +icon name='lightbulb'
        input#idea_text(placeholder='Add thought...')
        // .ui.small.fluid.icon.button.submit_idea
        //     i.checkmark.icon


template(name='footer')
    .ui.bottom.fixed.inverted.footer.big.menu
        a.item.toggle_footer(href='#')
            +icon name='bars'
        a.item.bookmarks(href='#')
            +icon name='bookmark'
        a.item.users(href='#')
            +icon name='users'
        a.item.calendar(href='#')
            +icon name='calendar'
        a.item.todo(href='#')
            +icon name='tasks'

        .item.item
            .mobile.hidden
                .ui.inverted.small.grey.header
                    +ricon name='copyright'
                    | 2018 JAN-PRO Franchising, Inc.

