template(name='author_info')
    with author
        if image_id
            img.ui.avatar.spaced.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='fill'}}")
        |&nbsp;
        a(href="/user/#{username}") #{username}
        // +staus_indicator
    // .ui.sub.header #{when}

template(name='when_template')
    div(title="{{ long_format timestamp }}")
        |#{when}

template(name='last_updated_template')
    |{{ long_format last_updated_datetime }}

template(name='list_item')
    .item
        i.icon(class=icon title=key)
        .content
            .description
                |#{label}
                strong #{key_value}


template(name='icon_view')
    if icon
        +icon name=icon




template(name='ticket_assignment_cell')
    // td(class=ticket_assignment_cell_class)
    if overdue
        +iconsmall name='expired' classes='inline' title='Over 5 Hours'
    if response
        |#{response}
    .ui.list
        each assigned_users
            .item
                // .image
                //     img.ui.avatar.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='fill'}}")
                .content
                    .header
                        // if image_id
                        //     img.ui.avatar.spaced.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='fill'}}")
                        |#{first_name} #{last_name}
                    .description
                        | @#{username}

template(name='call_phone_button')
    a.ui.fluid.button(href="tel:#{phone_number}")
        i.phone.icon
        | Call #{phone_number}

template(name='link_button')
    a.ui.button(href=link title=label)
        // i.icon(class=icon)
        if icon
            i.icon
                +icon name=icon classes='centered'
        // i.left.chevron.icon
        | #{label}

template(name='edit_link')
    .field
        label link (include http://)
        .ui.left.icon.input
            i.linkify.icon
            input#link(type='text' value=url)

template(name='call_method')
    .call_method.ui.button
        if label
            |#{label}
        else
            |#{name}

template(name='icon')
    img.ui.image(src="https://png.icons8.com/office/80/000000/#{name}.png" class=classes data-content=popup title=title)

template(name='iconlarge')
    img.ui.image(src="https://png.icons8.com/office/80/000000/#{name}.png")

template(name='iconsmall')
    img.ui.inline.image(src="https://png.icons8.com/office/24/000000/#{name}.png" class=classes title=title)

template(name='message_button')
    .ui.message
        .ui.header
            +icon name=icon
            a(href=link) #{label}

template(name='toggle_user_published')
    #toggle_button.ui.icon.button(class=classes)
        if published
            i.green.circle.icon
        else
            i.circle.outline.icon


template(name='view_single_user_key')
    with single_user
        if image_id
            img.ui.avatar.spaced.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='fill'}}")
        |&nbsp;
        a(href="/user/#{username}") #{username}
        // +staus_indicator
    // .ui.sub.header #{when}



template(name='event_type_icon')
    if event_type_doc.icon
        +icon name=event_type_doc.icon
        // |#{event_type}
    else
        +icon name='commit-git'
    // |#{event_type}

template(name='user_avatar')
    img.ui.avatar.image(src="{{c.url image_id height=200 width=200 crop='fill' gravity='face'}}")
    .ui.popup
        img.ui.small.image(src="{{c.url image_id height=500 width=500 crop='fill' gravity='face'}}")
    // a(href="/user/#{username}") #{first_name} #{last_name}

template(name='view_ticket_link')
    unless is_customer
        a.ui.icon.button(href="/p/ticket_admin_view?doc_id=#{_id}")
            i.right.chevron.icon
    if is_customer
        a.ui.icon.button(href="/p/ticket_customer_view?doc_id=#{_id}")
            i.right.chevron.icon

template(name='user_profile_image')
    if image_id
        img.ui.medium.image.item(src="{{c.url image_id width=500 height=500 gravity='face' crop='fill'}}")



template(name='user_list_view')
    .item
        img.ui.avatar.image(src="{{c.url image_id height=200 width=200 crop='fill' gravity='face'}}")
        // .ui.popup
        //     img.ui.small.image(src="{{c.url image_id height=500 width=500 crop='fill' gravity='face'}}")
        .content
            .header #{first_name} #{last_name}
            .description @#{username}
