template(name='author_info')
    with author
        if profile.image_id
            img.ui.avatar.spaced.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
        |&nbsp;
        a(href="/user/#{username}") #{username} 
        // +staus_indicator
    // .ui.sub.header #{when}

template(name='when_template')
    |#{when}

template(name='list_item')
    .item
        i.icon(class=icon title=key)
        .content
            .description 
                |#{label}
                strong #{key_value}


template(name='toggle_boolean')
    .field
        if is_on
            #turn_off.ui.button #{yes_label}
        else
            #turn_on.ui.button #{no_label}

template(name='save_button')
    a.ui.large.icon.button(href="/view/#{_id}") 
        i.checkmark.icon
        // | Save
        
template(name='edit_button')
    a.ui.icon.button(href="/edit/#{_id}" title='Edit') 
        i.pencil.icon
            // +icon name='pencil'
        // i.pencil.icon
        // | Edit

template(name='view_button')
    a.ui.icon.button(href="/view/#{_id}" data-content='View Details') 
        // +icon name='details-pane'
        i.right.chevron.large.icon
        
template(name='view_user_button')
    a.ui.icon.button(href="/user/#{username}" title="View #{username}") 
        // +avatar_sprite name='chevron-right'
        // +icon name='circled-chevron-right'
        i.right.chevron.icon
        
template(name='edit_user_button')
    a.ui.icon.button(href="/user/edit/#{_id}" title="Edit #{username}") 
        // +icon name='circled-chevron-right'
        i.pencil.icon
        
template(name='add_button')
    #add.ui.icon.circular.button(title='Add')
        // i.plus.icon
        +icon name='plus-math'

template(name='reference_type_single')
    .ui.form
        .field
            label #{label}
            .ui.left.icon.input
                i.search.icon
                +inputAutocomplete settings=settings id="search" class="" autocomplete="off" placeholder='search...'

template(name='reference_type_multiple')
    .ui.form
        .field
            label #{label}
            .ui.left.icon.input
                i.search.icon
                +inputAutocomplete settings=settings id="search" class="" autocomplete="off" placeholder="add..."



template(name="office_result")
    .item #{office_name} (#{jan_office_id})

template(name="customer_result")
    .item #{first_name} #{last_name}


template(name='set_view_mode')
    #set_view_mode.ui.icon.button(title=label class=view_mode_button_class)
        i.icon(class=icon)
            
            
template(name='set_session_button')
    .set_session_filter.ui.button(class=filter_class)
        strong #{label}
        
template(name='set_session_item')
    a.set_session_filter.item 
        |#{label}
        
        
        

template(name='complete')            
    .field
        label completed
        #mark_complete.ui.button(class=complete_class) yes 
        #mark_incomplete.ui.button(class=incomplete_class) no 


template(name='toggle_key')
    .toggle_key.ui.compact.button(class=toggle_key_button_class) #{label}


template(name='parent_segment')
    .ui.secondary.segment
        .ui.header Parent Doc
        with parent
            +view_array_field key='tags'
            .large130 #{text}
            // +author_info
            // |#{when}
        +view_button

template(name='parent_link')
    with parent_doc
        a.ui.button(href="/view/#{_id}") 
            i.chevron.up.icon
            if image_url
                img.ui.medium.centered.image(src=image_url)
            if icon
                i.icon(class=icon)
            |#{text}
                    



template(name='view_full_button')
    a.floated.right(href="/view/#{_id}")
        // i.right.chevron.link.icon
        | View
                        
template(name='toggle_follow')
    if currentUser
        if is_following
            #remove_friend.ui.button
                i.minus.icon
                | Unfollow
        else
            #add_friend.ui.button
                i.plus.icon
                | Follow


// template(name='bookmark_button')
//     if bookmarked
//         .ui.icon.button
//             i.bookmark.icon
//     else
//         .ui.icon.primary.button
//             i.bookmark.icon
            
            
template(name='associated_incidents')
    .ui.secondary.segment
        .ui.header 
            i.exclamation.circle.icon
            | Incidents
        .ui.list
            each incidents
                .item ##{incident_number} #{when}
        
template(name='incidents_by_type')
    .ui.secondary.segment
        .ui.header 
            i.exclamation.circle.icon
            | Incidents
        .ui.list
            each typed_incidents
                .item
                    img.ui.avatar.image(src="{{c.url author.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
                    .content
                        a.header(href="/view/#{_id}") ##{incident_number} 
                        .description
                            |#{when}
        
            
            
            
            
template(name='associated_users')
    .ui.list
        each associated_users
            .item
                // .image
                //     img.ui.avatar.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                .content
                    .header
                        |#{profile.first_name} #{profile.last_name}
                    .description
                        | @#{username}
            
            
          
template(name='multiple_user_select')
    .ui.secondary.segment
        .ui.header 
            +icon name=icon
            |#{label}
        .ui.form
            .field
                .ui.icon.input
                    i.search.icon
                    +inputAutocomplete settings=settings id="search" class="ui list" autocomplete="off" placeholder="Select Users..."
            .field
                .ui.list
                    each user_array_users
                        .item
                            .right.floated.content
                                i.pull_user.remove.red.link.icon
                            .image
                                img.ui.avatar.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                            .content
                                .header
                                    |#{profile.first_name} #{profile.last_name}
                                .description
                                    | @#{username}

template(name='view_sla_contact')
    // .ui.header SLA Contact #{key}
    with selected_contact
        .ui.header
            |#{profile.first_name} #{profile.last_name}
        .description
            | @#{username}
            div #{ev.EMAIL}


template(name='single_user_select')
    .ui.segment
        h5.ui.header 
            if icon
                +icon name=icon
            |#{label}
        unless selected_user
            .ui.form
                .field
                    .ui.input
                        // i.search.icon
                        +inputAutocomplete settings=settings id="search" class="ui list" autocomplete="off" placeholder="Select Users..."
        with selected_user
            h5
                |#{profile.first_name} #{profile.last_name} @#{username}
                i.pull_user.remove.red.link.icon
          
template(name='many_doc_select')
    .ui.dividing.header #{label}
    .ui.form
        .field
            .ui.left.icon.input
                i.search.icon
                +inputAutocomplete settings=settings id="search" class="ui list" autocomplete="off"
        .field
            .ui.list
                each doc_array_docs
                    .item
                        .right.floated.content
                            i.pull_user.remove.red.link.icon
                        .content
                            .header #{title} #{text} #{key} #{cust_name}
          
template(name='single_doc_select')
    .ui.dividing.header #{label}
    unless selected_doc
        .ui.form
            .field
                .ui.icon.input
                    i.handshake.icon
                    +inputAutocomplete settings=settings id="search" class="ui list" autocomplete="off" placeholder='Customer Name...'
    with selected_doc
        .ui.fluid.card
            .content
                .header 
                    |#{cust_name}
                    .right.floated
                        i.remove_doc.remove.red.link.icon
            .content
                .ui.list
                    .item JPID: #{jpid}
                    .item Tel: #{telephone}
                    .item Contact Person: #{customer_contact_person}
                    .item Contact Email: #{customer_contact_email}
                    .item Franchisee: #{franchisee}
                    .item Master Licensee: #{master_licensee}
          
template(name='single_doc_view')
    .ui.secondary.segment
        .ui.header
            +icon name=icon
            |#{label}
        with selected_doc
            .ui.fluid.card
                .content
                    .header 
                        |#{ev.CUST_NAME}
                .content
                    .ui.list
                        .item JPID: #{ev.ID}
                        .item #{ev.ADDR_STREET}
                        .item #{ev.ADDR_CITY}
          
template(name='view_multiple_user')
    .ui.form
        .field
            label #{label}
        .field
            .ui.list
                each user_array_users
                    .item
                        .image
                            img.ui.avatar.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                        .content
                            .header
                                |#{profile.first_name} #{profile.last_name}
                            .description
                                | @#{username}
          
          
            
template(name='call_phone_button')
    a.ui.fluid.button(href="tel:#{phone_number}") 
        i.phone.icon
        | Call #{phone_number}
            
            
            
template(name='link_button')    
    a.ui.button(href=link title=label)
        // i.icon(class=icon)
        if icon
            i.icon
                +icon name=icon classes='centered'
        // i.left.chevron.icon
        | #{label}

template(name='edit_author')
    .ui.header Edit Author
    with author
        img.ui.avatar.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
        |#{username}
    .ui.input
        +inputAutocomplete settings=author_edit_settings id="author_select" class="" autocomplete="off" placeholder='Lookup...'
                    


template(name='delete_button')
    #delete.ui.red.icon.button(title='delete')
        i.trash.icon
        +mini_sprite name='trash'
        
        
template(name='edit_link')
    .field
        label link (include http://)
        .ui.left.icon.input
            i.linkify.icon
            input#link(type='text' value=url)


template(name='publish_button')
    .field
        label Status
        if published
            #unpublish.ui.green.button
                |Published
        else
            #publish.ui.button
                |Private


template(name='call_method')
    .call_method.ui.button call #{name}
    
    
template(name='small_comment_count')
    .ui.mini.statistic
        .value
            i.comment.icon
            |#{comment_count}
        // .label Comments

    
    
template(name='html_create')
    if doc
        with doc
            if is_editing
                .ui.labeled.fluid.input
                    .ui.label select staff
                    input#staff(type='text' value=staff)
            else
                div(class=doc_classes)
                    |#{staff}
            // if isInRole 'admin'
            +session_edit_icon
    else
        // if isInRole 'admin'
        .ui.header no coc found
        .create_doc.ui.button
            i.plus.icon
            |create html with #{template_tags}
    
template(name='office_map')
    .ui.secondary.segment
        .ui.header
            i.map.marker.icon
            | #{geocode.formatted_address}
        +google_places_input
        #map
        
template(name='google_places_input')
    .ui.fluid.icon.input
        i.search.icon
        input#google_places_field(type='text' placeholder='change address...')    
        
        
        
template(name='mini_inline_sprite')
    img.ui.mini.inline.spaced.image(src="https://png.icons8.com/color/100/000000/#{name}.png" class=classes title=tooltip)
template(name='mini_sprite')
    img.ui.mini.image(src="https://png.icons8.com/color/100/000000/#{name}.png" class=classes title=tooltip)
template(name='tiny_sprite')
    img.ui.tiny.image(src="https://png.icons8.com/color/100/000000/#{name}.png" class=classes title=tooltip)
template(name='avatar_sprite')
    img.ui.avatar.image(src="https://png.icons8.com/color/100/000000/#{name}.png" class=classes title=tooltip)
template(name='small_sprite')
    img.ui.small.image(src="https://png.icons8.com/color/100/000000/#{name}.png" class=classes title=tooltip)
template(name='medium_sprite')
    img.ui.medium.image(src="https://png.icons8.com/color/100/000000/#{name}.png" class=classes title=tooltip)
template(name='dots')
    img(src="https://png.icons8.com/hide/#{name}/100/000000" class=classes title=tooltip)

template(name='dusk_icon')
    img.ui.image(src="https://png.icons8.com/dusk/50/000000/#{name}.png")

template(name='icon')
    if is_customer
        img.ui.mini.image(src="https://png.icons8.com/office/80/000000/#{name}.png" class=classes)
    // else
    //     img.ui.mini.image(src="https://png.icons8.com/ultraviolet/80/000000/#{name}.png" class=classes)
template(name='iconlarge')
    if is_customer
        img.ui.image(src="https://png.icons8.com/office/60/000000/#{name}.png")
    // else
    //     img.ui.image(src="https://png.icons8.com/ultraviolet/60/000000/#{name}.png")
template(name='iconsmall')
    // img.ui.image(src="https://png.icons8.com/ultraviolet/30/000000/#{name}.png")

template(name='user_pill')
    .item
        .content
            .header
                img.ui.avatar.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                |#{name}
            // .description
            //     each five_tags
            //         .ui.basic.small.label #{this}


template(name='full_doc_history')
    .ui.secondary.segment
        if is_admin
            #clear_events.ui.top.right.attached.label
                i.remove.icon(title='Clear')
        .ui.header 
            +icon name='clock'
            |History
        .ui.feed
            each doc_history_events
                .event
                    .label
                        img.ui.avatar.image(src="{{c.url author.profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                    .content
                        .summary
                            a.user #{author.username}
                            |#{action} #{text}
                            .date #{when}

template(name='small_doc_history')
    // .ui.header History
    .ui.feed
        each doc_history_events
            .event
                .label
                    img.ui.avatar.image(src="{{c.url author.profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                .content
                    .summary
                        a.user #{author.username}
                        |#{action} #{text}
                        .date #{when}


template(name='view_telephone_field')
    div
        a(href="tel:#{TELEPHONE}")
            i.phone.link.icon
        strong #{TELEPHONE} 
            
            
// template(name='call_phone_button')
//     a.ui.fluid.button(href="tel:#{phone_number}") 
//         i.phone.icon
//         | Call #{phone_number}
            
            
template(name='user_result')
    .ui.item
        .image
        .content
            .header
                img.ui.avatar.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                |#{profile.first_name} #{profile.last_name}
                small @#{username}


template(name='doc_result')
    with doc_context
        .ui.item
            .content
                .header #{title} #{text} #{cust_name}
                
template(name='message_button')                
    .ui.message
        .ui.header
            +icon name=icon
            a(href=link) #{label}

                    
template(name='toggle_boolean_checkbox')      
    .ui.form
        .field
            .ui.checkbox
                input(type='checkbox' name=key checked=key_value)
                label #{label}


template(name='toggle_user_published')
    #toggle_button.ui.icon.button
        if published
            i.green.circle.icon
        else
            i.circle.outline.icon
    

template(name='radio_item')      
    .field
        .ui.toggle.checkbox
            input(type="radio" name=key value=value checked=key_value)
            label #{label}


template(name='session_delete_button')
    unless confirming
        .delete.ui.icon.button
            i.remove.icon
    else
        .ui.icon.button.cancel 
            i.ban.icon
            // |Cancel
        .ui.button.confirm 
            i.red.trash.icon
            |Confirm


template(name='published')
    if can_edit
        #publish.ui.icon.compact.button(data-tooltip='Publish' class=published_class)
            +icon name='visible' classes='ui mini inline image'
        #unpublish.ui.icon.compact.button(data-tooltip='Unpublish' class=private_class)
            +icon name='invisible' classes='ui mini inline image'
            
            
template(name='subscribe_button')
    if is_participant
        #subscribe_button.ui.button(class=subscribe_buton_class)
            if subscribed
                +icon48 name='checked' classes='ui mini inline image'
                | Subscribed
            else
                +icon48 name='unchecked-checkbox' classes='ui mini inline image'
                |Not Subscribed
            
            
template(name='user_card')
    .ui.secondary.segment
        .ui.header Creator
        with author
            img.ui.small.rounded.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
            h4 
                a(href="/user/#{username}") #{username}
