template(name='author_info')
    with author
        if image_id
            img.ui.avatar.spaced.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='fill'}}")
        |&nbsp;
        a(href="/user/#{username}") #{username}
        // +staus_indicator
    // .ui.sub.header #{when}

template(name='when_template')
    div(title="{{ long_format timestamp }}")
        |#{when}

template(name='last_updated_template')
    |{{ long_format last_updated_datetime }}

template(name='list_item')
    .item
        i.icon(class=icon title=key)
        .content
            .description
                |#{label}
                strong #{key_value}


template(name='icon_view')
    if icon
        +icon name=icon




template(name='ticket_assignment_cell')
    // td(class=ticket_assignment_cell_class)
    if overdue
        +iconsmall name='expired' classes='inline' title='Over 5 Hours'
    if response
        |#{response}
    .ui.list
        each assigned_users
            .item
                // .image
                //     img.ui.avatar.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='fill'}}")
                .content
                    .header
                        // if image_id
                        //     img.ui.avatar.spaced.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='fill'}}")
                        |#{first_name} #{last_name}
                    .description
                        | @#{username}

template(name='phone_small')
    a.ui.fluid.button(href="tel:#{phone_number}")
        i.phone.icon
        | Call #{phone_number}
template(name='phone_big')
    a.ui.fluid.button(href="tel:#{phone_number}")
        i.phone.icon
        | Call #{phone_number}

template(name='link_button')
    a.ui.button(href=link title=label)
        // i.icon(class=icon)
        if icon
            i.icon
                +icon name=icon classes='centered'
        // i.left.chevron.icon
        | #{label}

template(name='edit_link')
    .field
        label link (include http://)
        .ui.left.icon.input
            i.linkify.icon
            input#link(type='text' value=url)

template(name='call_method')
    .call_method.ui.button
        if label
            |#{label}
        else
            |#{name}

template(name='icon')
    img.ui.image(src="https://png.icons8.com/office/80/000000/#{name}.png" class=classes data-content=popup title=title)

template(name='iconlarge')
    img.ui.image(src="https://png.icons8.com/office/80/000000/#{name}.png")

template(name='iconsmall')
    img.ui.image(src="https://png.icons8.com/office/24/000000/#{name}.png" class=classes title=title)

template(name='message_button')
    .ui.message
        .ui.header
            +icon name=icon
            a(href=link) #{label}

template(name='toggle_user_published')
    #toggle_button.ui.icon.button(class=classes)
        if published
            i.green.circle.icon
        else
            i.circle.outline.icon


template(name='view_single_user_key')
    with single_user
        if image_id
            img.ui.avatar.spaced.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='fill'}}")
        |&nbsp;
        a(href="/user/#{username}") #{username}
        // +staus_indicator
    // .ui.sub.header #{when}




// template(name='user_avatar')
//     img.ui.avatar.image(src="{{c.url image_id height=200 width=200 crop='fill' gravity='face'}}")
//     .ui.popup
//         img.ui.small.image(src="{{c.url image_id height=500 width=500 crop='fill' gravity='face'}}")
//     // a(href="/user/#{username}") #{first_name} #{last_name}

// template(name='view_ticket_link')
//     unless is_customer
//         a.ui.icon.button(href="/p/ticket_admin_view?doc_id=#{_id}")
//             i.right.chevron.icon
//     if is_customer
//         a.ui.icon.button(href="/p/ticket_customer_view?doc_id=#{_id}")
//             i.right.chevron.icon

// template(name='user_profile_image')
//     if image_id
//         img.ui.medium.image.item(src="{{c.url image_id width=500 height=500 gravity='face' crop='fill'}}")



// template(name='user_list_view')
//     .item
//         img.ui.avatar.image(src="{{c.url image_id height=200 width=200 crop='fill' gravity='face'}}")
//         // .ui.popup
//         //     img.ui.small.image(src="{{c.url image_id height=500 width=500 crop='fill' gravity='face'}}")
//         .content
//             .header #{first_name} #{last_name}
//             .description @#{username}



template(name='user_card')
    with author
        img.ui.small.rounded.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='fill'}}")
        a(href="/user/#{username}")
            h4.ui.header #{first_name} #{last_name} @#{username}
            h5 #{ev.COMPANY_NAME}
            h5 #{ev.EMAIL}


template(name='office_big')
    with block_parent
        h4.ui.header #{office_name}
        .black ##{office_jpid}
    // with my_office
    //     .content
    //         h4.ui.header #{office_name}
    //         .black ##{office_jpid}
    //         .black #{address} #{address_2}
    //         .black #{city} #{state}
    //         .black #{zipcode} #{country}
    //         .black
    //             a(href="tel:#{telephone}") #{telephone}


template(name='office_small')
    with block_parent
        .ui.small.header(title='Office')
            +icon name='building' classes='mini spaced'
            | #{office_name}
    // with my_office
    //     .content
    //         h4.ui.header #{office_name}
    //         .black ##{office_jpid}
    //         .black #{address} #{address_2}
    //         .black #{city} #{state}
    //         .black #{zipcode} #{country}
    //         .black
    //             a(href="tel:#{telephone}") #{telephone}













template(name='toggle_boolean')
    if is_on
        #turn_off.ui.green.button
            if icon
                i.icon(class=icon)
            |#{yes_label}
    else
        #turn_on.ui.button
            if icon
                i.icon(class=icon)
            |#{yes_label}


template(name='add_button')
    #add.ui.icon.button(title='Add')
        i.plus.icon
        // +icon name='plus-math'


template(name='toggle_key')
    .toggle_key.ui.button(class=toggle_key_button_class)
        if icon
            i.icon
                +icon name=icon
        |#{label}





template(name='franchisee_small')
    with block_parent
        .ui.small.header(title='Franchisee')
            +icon name='business' classes='inline mini'
            |#{franch_name} #{ticket_franchisee} #{franchisee} #{franchisee_name}
        .ui.list
            if franchisee_jpid
                .item(title='JPID') JPID ##{franchisee_jpid}
            .item #{email}
            if franch_name
                .item(title='Short Name') Short Name: #{franch_name}
            .item(title='Call Number')
                a(href="tel:#{cell}") #{cell}

template(name='franchisee_big')
    with block_parent
        h4.ui.header #{franch_name} #{ticket_franchisee}
        .ui.list
            .item(title='JPID') JPID ##{franchisee_jpid}
            .item #{email}
            .item(title='Short Name') Short Name: #{franch_name}
            .item(title='Call Number')
                a(href="tel:#{cell}") #{cell}


template(name='assignment_widget')
    p(title="{{ from_now ticket_assignment_timestamp }}") Last Assigned {{ long_format ticket_assignment_timestamp }}
    // if overdue
    //     |overdue
    // else
    //     |not overdue
    .ui.form
        .field
            .ui.icon.input
                if user_results
                    i.link.remove.icon.clear_results
                else
                    i.search.icon
                input#multiple_user_select_input(type='text' placeholder='Search Office User')
        if user_results
            .ui.segment
                .ui.middle.aligned.selection.animated.list
                    each user_results
                        .select_user.item
                            h5.ui.header
                                img.ui.avatar.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='fill'}}")
                                |#{username}
        .field
            .ui.list
                each assigned_users
                    .item
                        .right.floated.content
                            i.pull_user.remove.link.icon
                        .image
                            img.ui.avatar.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='fill'}}")
                        .content
                            h4.ui.header
                                |#{first_name} #{last_name}
                                small @#{username}

template(name='edit_block_text_field')
    .inline.field
        label #{label}
        input.text_field(type='text' value=block_key_value)

template(name='edit_block_number_field')
    .inline.field
        label #{label}
        input.number_field(type='number' min='0' value=block_key_value)

template(name='set_key_value')
    .set_key_value.ui.small.button(class=set_value_button_class)
        if icon
            i.icon
                +icon name=icon
        |#{label}

template(name='set_page_key_value')
    .set_page_key_value.ui.button(class=set_value_button_class)
        if icon
            i.icon
                +icon name=icon
        |#{label}

template(name='set_field_key_value')
    .set_field_key_value.ui.button(class=set_value_button_class) #{label}

template(name='toggle_block_field_boolean')
    .toggle_block_field_boolean.ui.button(class=toggle_value_button_class) #{label}

template(name='set_key_value_2')
    .set_key_value.ui.button(class=set_value_button_class)
        if icon
            i.icon
                +icon name=icon
        |#{label}

template(name='event_type_icon')
    if event_type_doc.icon
        +icon name=event_type_doc.icon
        // |#{event_type}
    else
        +icon name='commit-git'
    // |#{event_type}

template(name='user_avatar')
    img.ui.avatar.image(src="{{c.url image_id height=200 width=200 crop='fill' gravity='face'}}")
    .ui.popup
        img.ui.image(src="{{c.url image_id height=500 width=500 crop='fill' gravity='face'}}")
    // a(href="/user/#{username}") #{first_name} #{last_name}

template(name='view_ticket_link')
    unless is_customer
        a.ui.icon.button(href="/p/ticket_admin_view?doc_id=#{_id}")
            i.right.chevron.icon
    if is_customer
        a.ui.icon.button(href="/p/ticket_customer_view?doc_id=#{_id}")
            i.right.chevron.icon

template(name='user_profile_image')
    if image_id
        img.ui.medium.image.item(src="{{c.url image_id width=500 height=500 gravity='face' crop='fill'}}")



template(name='user_list_view')
    .item
        img.ui.avatar.image(src="{{c.url image_id height=200 width=200 crop='fill' gravity='face'}}")
        // .ui.popup
        //     img.ui.image(src="{{c.url image_id height=500 width=500 crop='fill' gravity='face'}}")
        .content
            .header #{first_name} #{last_name}
            .description @#{username}


template(name='customer_tickets')
    .ui.four.cards
        each customer_ticket_docs
            .card
                .content
                    .header
                        +ticket_type_small
                        |&nbsp; #{ticket_details}
                    .meta
                        |#{when}


template(name='customer_small')
    .ui.header
        +icon name='headset' classes='mini spaced'
        |#{block_parent.customer_name}

template(name='customer_big')
    with block_parent
        h4.ui.header #{customer_name}
        .ui.list
            .black.item ##{customer_jpid}
            .black.item #{customer_contact_person}
            .black.item #{customer_contact_email}
            .black.item #{phone}
            .black.item #{address}
            .black.item #{address_2}
            .black.item #{city} #{state}
                //   "office_name": "JAN-PRO Central Ontario",
                //   "customer_name": "H&S Massage Spa Canada Corporation",
                //   "customer_contact_person": "Erica Ho / Gigi Harding",
                //   "customer_contact_email": "gigiharding@handandstone.ca",
                //   "status": "ACTIVE",
                //   "phone": "905-737-6467",
                //   "address": "1550 16th Ave Building D Unit 6 - 8",
                //   "address_2": "",
                //   "franchisee_name": "Ken Valdez",
                //   "city": "Richmond Hill",
                //   "state": "ON",
                //   "customer_number_days_service": "2",
                //   "customer_days_service": "W|Sa",
                //   "customer_regular_service_amount": "245.00",
                //   "customer_jpid": "38243242"
                // }


template(name='archive_small')
    if block_parent.archive
        .ui.green.active.button.unarchive
            i.archive.icon
            | Archived
    else
        .ui.button.archive
            i.archive.icon
            |Archive

template(name='archive_big')
    if block_parent.archive
        .ui.green.active.fluid.button.unarchive
            i.archive.icon
            | Archived
    else
        .ui.fluid.button.archive
            i.archive.icon
            |Archive



template(name='address_block_big')
    with block_parent
        .ui.list
            .item #{address}
            .item #{address_2}
            .item #{city} #{state}

template(name='address_block_small')
    with block_parent
        if address
            .ui.items
                .item(title='Address')
                    // +iconsmall name='location' classes=''
                    .content
                        .description
                            |#{address}
                            .item #{address_2}
                            .item #{city} #{state}
                            .item #{country}



template(name='view_roles_small')
    .ui.header
        +icon name='view-file' classes='inline mini'
        | View Roles
        each block_parent.view_roles
            .ui.margined.large.basic.label(class=tag_class) #{this}

template(name='view_roles_big')
    .ui.big.header
        +icon name='view-file' classes='inline mini'
        | View Roles
        each block_parent.view_roles
            .ui.margined.large.basic.label(class=tag_class) #{this}


template(name='tags_small')
    .ui.header
        +icon name='tags' classes='inline mini'
        |Tags
        each block_parent.tags
            .ui.margined.label(class=tag_class) #{this}

template(name='tags_big')
    .ui.header
        +icon name='tags' classes='inline mini'
        |Tags
    each block_parent.tags
        .ui.large.basic.label #{this}


template(name='title_small')
    .ui.center.aligned.dividing.header(title='Title')
        if block_parent.icon
            +icon name=block_parent.icon classes='mini spaced'
        |#{block_parent.title}

template(name='title_big')
    .ui.large.center.aligned.header(title='Title')
        if block_parent.icon
            +icon name=block_parent.icon
        |#{block_parent.title}



// template(name='icon_small')
//     .ui.header
//         +icon name=block_parent.icon classes='mini'
//         |Icon: #{block_parent.icon}

template(name='icon_big')
    .ui.header
        +icon name=block_parent.icon classes='mini'
        |Icon: #{block_parent.icon}




template(name='faceted_small')
    if block_parent.faceted
        +icon name='diamond' classes='mini' title='Faceted'

template(name='faceted_big')
    if block_parent.faceted
        .ui.header
            +icon name='diamond' classes='mini'
            | Faceted
    else
        .ui.header Not Faceted




template(name='slug_small')
    .ui.header
        +icon name='slug' classes='mini' title='slug'
        |Slug: #{block_parent.slug}

template(name='slug_big')
    .ui.header
        +icon name='slug' classes='mini'
        |Slug: #{block_parent.slug}





template(name='rank_big')
    div
    .ui.statistic
        .label Rank
        .value #{block_parent.rank}
    div
    // .ui.icon.button
    //     i.up.caret.large.icon
    // .ui.icon.button
    //     i.down.caret.large.icon


template(name='rank_small')
    div
    .ui.horizontal.statistic
        .label Rank
        .value #{block_parent.rank}
    div




template(name='ticket_number_big')
    div
    .ui.statistic
        .label
            +icon name='hashtag' classes='mini spaced'
        .value #{block_parent.ticket_number}
    div


template(name='ticket_number_small')
    .ui.horizontal.statistic(title='Ticket Number')
        .label
            +icon name='hashtag' classes='mini spaced'
        .value #{block_parent.ticket_number}


template(name='text_small')
    .large110(title='Text')
        +icon name='note' classes='inline mini'
        |#{block_parent.text} #{block_parent.body}


template(name='text_big')
    .large110 #{block_parent.text} #{block_parent.body}


template(name='details_small')
    .large110(title='details')
        +icon name='note' classes='inline mini'
        |#{block_parent.details} #{block_parent.ticket_details}


template(name='details_big')
    .ui.header
        +icon name='note'
        | Details
    .large110 #{block_parent.details} #{block_parent.ticket_details}





template(name='contact_small')
    .ui.header
        +icon name='email'
        | Contact
    with block_parent
        .ui.list
            .item Customer Contact Person: #{customer_contact_person}
            .item Customer Operations Manager: #{customer_operations_manager}


template(name='contact_big')
    with block_parent
        .ui.list
            .item Customer Contact Person: #{customer_contact_person}
            .item Customer Operations Manager: #{customer_operations_manager}





template(name='created_small')
    .ui.small.header
        +icon name='internal'
        | Created
    with block_parent
        .ui.list
            .item
                +when_template
            .item #{date_created}
            .item #{long_timestamp}
            .item
                +author_info

template(name='created_big')
    with block_parent
        .ui.list
            .item
                +when_template
            .item #{date_created}
            .item #{long_timestamp}
            .item
                +author_info




template(name='finance_small')
    .ui.small.header
        +icon name='money'
        | Finance
    with block_parent
        .ui.list
            .item Extra Price: #{extra_price}
            .item RS Amount: #{rs_amount}
            .item Total: #{total}
            .item Specials: #{specials}
            .item Balance: #{balance}
            .item Total Tax: #{total_tax}

template(name='finance_big')
    with block_parent
        .ui.list
            .item Extra Price: #{extra_price}
            .item RS Amount: #{rs_amount}
            .item Total: #{total}
            .item Balance: #{balance}
            .item Specials: #{specials}
            .item Total Tax: #{total_tax}
