template(name='blog')
    .ui.stackable.padded.grid
        .middle.aligned.row 
            .three.wide.center.aligned.column
            .ten.wide.column
                h1.ui.center.aligned.header 
                    +icon name='typewriter-with-paper'
                    | Development Blog
            .three.wide.center.aligned.column
                +add_button type='post'
        .row 
            .four.wide.column
                +tag_facet
                +timestamp_facet
            .twelve.wide.column
                each post_docs
                    +post_segment


template(name='post_segment')
    .ui.segment
        h5.ui.header
            // a(href="/view/#{_id}")
            if complete
                i.green.checkmark.icon
            |#{title} 
        div
        |!{html}
        each tags
            .ui.small.label(class=tag_class) #{this}
        div
        |created by 
        +author_info 
        |#{when} {{ reg_format timestamp }}
        div
        // +mark_doc_complete_button
        +vote_up_button
        +edit_button
        +view_button
        
        
        
template(name='post_edit')
    .ui.padded.stackable.centered.grid
        .centered.row
            .three.wide.center.aligned.column
                #delete.ui.icon.button
                    i.trash.icon
            .ten.wide.column
                h1.ui.center.aligned.grey.header Edit Post
            .three.wide.center.aligned.column
                +save_button
        .twelve.wide.column
            .ui.form
                +edit_text_field key='title' label='title'
                +edit_array_field label='Tags' key='tags'
                +edit_html
        .four.wide.column
            +edit_author
    
        
template(name='post_view')
    .ui.padded.stackable.centered.grid
        .centered.middle.aligned.row
            .three.wide.center.aligned.column
                a.ui.button(href="/blog")
                    i.left.chevron.icon
                    | Blog
            .ten.wide.column
                h1.ui.center.aligned.grey.header View Post
            .three.wide.center.aligned.column
                +edit_button
        .row
            .twelve.wide.column
                .ui.header #{title}
                |!{html}
                +comments
                +call_visual_analysis
                +keywords
                +doc_emotion
                +entities
                +concepts
                +categories
                +relations
                +personality
                +consumption_preferences
                +tone
            .four.wide.column
                |created by 
                +author_info 
                div #{when} {{ reg_format timestamp }}
                .ui.header 
                    i.tags.icon
                    |Tags
                each tags
                    .ui.label #{this}
                    


