template(name='bugs')
    .ui.padded.stackable.centered.grid
        .centered.row
            .three.wide.column
                +link_button link='/admin' icon='user-shield' label='Admin'
            .ten.wide.column
                h1.ui.center.aligned.grey.header 
                    +icon name='bug'
                    | Bugs
            .three.wide.right.aligned.column
                // +add_button type='bug'
        .row 
            .ui.four.wide.column
                +tag_facet
                +timestamp_facet
                +username_facet
            .ui.twelve.wide.column
                each bugs
                    +bug_segment
                    .ui.hidden.divider

template(name='bug_segment')
    .ui.secondary.segment
        .ui.stackable.grid
            .row
                .sixteen.wide.column
                    .large130 #{body} #{text} #{description}
            .two.column.row
                .column
                    .meta
                        a(href=link) Page: #{link}
                    div
                        if is_dev
                            +mark_read_button                        
                .column
                    .description
                        if tags
                            .content
                                i.spaced.icon
                                    +iconsmall name='tags'
                                each tags
                                    .ui.small.basic.label #{this}
                    .content
                        i.spaced.icon
                            +iconsmall name='clock'
                        each timestamp_tags
                            .ui.small.basic.label #{this}
                    .content
                        |submitted by 
                        +author_info
                        |#{when}
                    .extra
                        +edit_button
                        +view_button
        
        
        
template(name='bug_edit')
    .ui.padded.stackable.centered.grid
        .centered.row
            .three.wide.center.aligned.column
                #delete_bug.ui.icon.button
                    i.trash.icon
            .ten.wide.column
                h1.ui.center.aligned.grey.header Edit Bug 
            .three.wide.center.aligned.column
                +save_button
        .eight.wide.column
            .ui.basic.segment
                .large130 #{body} #{text} #{description}
            h4.ui.header Site Link:
                a(href=link) #{link}
            .ui.form
                +edit_textarea key='text' label='Description'
                +edit_array_field label='Tags' key='tags'

        
template(name='bug_view')
    .ui.padded.stackable.centered.grid
        .centered.row
            .three.wide.center.aligned.column
                +link_button link='/bugs' icon='bug' label='Bugs'
            .ten.wide.column
                h1.ui.center.aligned.grey.header View Bug 
            .three.wide.center.aligned.column
                +edit_button
        .row
            .four.wide.column
                +author_info
                .ui.header #{when}
                +view_array_field key='tags'
            .twelve.wide.column
                .ui.basic.segment
                    .large130 #{body} #{text} #{description}
                h4.ui.header Site Link:
                    a(href=link) #{link}
                +full_doc_history