template(name='delta')
    unless delta
        .row
            .sixteen.wide.column
                if currentUser
                    .create_delta.ui.margined.large.button(title='Create Session')
                        i.plus.icon
                        | Session
    if delta
        .ui.stackable.two.column.padded.grid
            .row
                .column
                    if can_add
                        .ui.button.add_doc
                            +icon name='plus'
                            | #{current_type.title}
                    each facets
                        +facet
                .column
                    +response



template(name='facet')
    div
    .ui.inline_header.header 
        if icon
            i.icon(class=icon)
        |#{key}
    each selected_values
        .unselect.ui.blue.button #{this}
    if values
        each values
            +selector

template(name='selector')
    if name
        .ui.margined.select.button(class=toggle_value_class)
            strong #{name}
            // small #{count}
    else
        // .column.toggle_value.pointer(class=toggle_value_class)
        .ui.margined.select.button(class=toggle_value_class)
            | [none]
            // small #{count}



