template(name='delta_card')
    with local_doc
        unless full_mode
            .ui.card.delta_card(class=delta_card_class)
                // .content
                //     .ui.header
                //         if icon
                //             +icon name=icon
                //         |#{title}


                // if children_sets
                //     .content
                //         each children_sets
                //             if is_single
                //                 .ui.header single
                //             if is_multi
                //                 .ui.header multi
                //             .ui.dividing.header
                //                 if icon
                //                     +icon name=icon classes='spaced mini'
                //                 |#{plural}
                if blocks
                    .content
                        each blocks
                            +Template.dynamic template=part_template data=local_doc

                // .ui.fluid.button.edit
                //     i.pencil.icon
                //     | Edit
                .content
                    .ui.list
                        each blocks
                            unless part_template_exists
                                .item
                                    if icon
                                        +iconsmall name=icon
                                    strong #{title}
                                    // s:#{slug} k:#{key}
                                    |&nbsp;
                                    if is_array
                                        each value
                                            .ui.margined.label #{this}
                                    else
                                        | #{value}
                // if is_dev
                .ui.buttons
                    .ui.icon.button.edit
                        i.pencil.icon
                    .ui.icon.button.toggle_full
                        // | Details
                        i.chevron.right.icon
        if full_mode
            .ui.padded.stackable.grid
                .row
                    if delta.editing
                        .three.wide.column
                            .ui.fluid.button.remove_doc
                                +iconsmall name='delete' classes='spaced'
                        .ten.wide.center.aligned.column
                            .ui.header
                                if icon
                                    +icon name=icon classes='inline'
                                |Edit '#{detail_doc.title}'
                                // #{current_type.title}
                        .right.floated.three.wide.column
                            .ui.icon.fluid.button.save
                                +iconsmall name='checkmark' classes='spaced'
                            // .ui.button.archive
                            //     i.archive.icon
                            //     |Archive
                    else
                        .three.wide.column
                            .ui.fluid.button.toggle_full
                                // i.caret.left.large.icon
                                +iconsmall name=current_type.icon classes='spaced'
                                | #{current_type.plural}
                        .ten.wide.center.aligned.column
                            .ui.header
                                if icon
                                    +icon name=icon classes='inline'
                                |'#{local_doc.title}' #{current_type.title}
                        .right.floated.three.wide.column
                            .ui.fluid.icon.button.edit
                                +iconsmall name='pencil' classes='spaced'
                                // | Edit
                .row
                    .sixteen.wide.column
                        .ui.stackable.three.column.padded.grid
                            // each blocks
                            //     .card
                            //         .content
                            //             if icon
                            //                 i.large.icon
                            //                     +icon name=icon
                            //             strong #{title}
                            unless delta.editing
                                each blocks
                                    .column
                                        .ui.segment
                                            .ui.dividing.header
                                                if icon
                                                    +icon name=icon classes='mini'
                                                |#{title}
                                            +Template.dynamic template=part_template data=local_doc
                                            .ui.basic.segment
                                                // if icon
                                                //     i.icon
                                                //         +icon name=icon
                                                // strong #{title}
                                                // |&nbsp;
                                                if is_array
                                                    each value
                                                        .ui.label #{this}
                                                else
                                                    | #{value}

                                // .ui.header children sets
                                // if children_sets
                                //     each children_sets
                                //         .column
                                //             .ui.segment
                                //                 .ui.dividing.header
                                //                     if icon
                                //                         +icon name=icon classes='spaced mini'
                                //                     |#{plural}
                                //                 .ui.add_grandchild.button
                                //                     |Add #{title}
                                //                 .ui.comments
                                //                     each set_children
                                //                         .comment
                                //                             .avatar
                                //                                 if author.image_id
                                //                                     img.ui.avatar.spaced.image(src="{{c.url author.image_id width=50 height=50 gravity='face' crop='fill'}}")
                                //                                 else
                                //                                     i.user.icon
                                //                             .content
                                //                                 strong #{author.username}
                                //                                 .metadata
                                //                                     span.date #{when}
                                //                                 .text
                                //                                     p #{text}
                                //                                 .actions
                                //                                     a.edit
                                //                                         i.pencil.icon
                                //                                     a.delete
                                //                                         i.trash.icon
                                //                                     a.vote_up
                                //                                         i.thumbs.up.icon
                            if delta.editing
                                each edit_blocks
                                    .column
                                        .ui.segment
                                            +block_edit

                                                // .ui.hidden.divider
