template(name='delta_card')
    if full_mode
        if delta.editing
            .ui.center.aligned.large.header
                if detail_doc.icon
                    i.large.icon
                        +icon name=detail_doc.icon
                else
                    i.large.icon
                        +icon name='pencil'
                |Edit #{detail_doc.title} #{current_type.title}
        unless delta.editing
            .ui.header
                if detail_doc.icon
                    i.icon
                        +icon name=detail_doc.icon
                |#{detail_doc.title} Details
    .ui.card.delta_card(class=delta_card_class)
        with local_doc
            .content
                .right.floated
                    if delta.editing
                        .ui.green.large.icon.button.save
                            i.large.checkmark.icon
                        .ui.red.icon.compact.button.remove_doc
                            i.remove.icon
                    else if full_mode
                        .ui.icon.button.toggle_full
                            i.caret.down.icon
                        .ui.icon.button.edit
                            i.blue.pencil.icon
                    else
                        .ui.icon.button.expand.toggle_full
                            i.caret.up.icon
                h4.ui.header
                    if icon
                        +icon name=icon
                if doc_header_fields
                    each doc_header_fields
                        |#{value}
                        |&nbsp;
            .content
                unless delta.editing
                    .ui.list
                        each field_docs
                            if value
                                .item
                                    if field_template
                                        +Template.dynamic template=field_template
                                    else
                                        .content
                                            if icon
                                                i.large.icon
                                                    +icon name=icon
                                            | #{title}
                                            |&nbsp;
                                            if is_array
                                                each value
                                                    .ui.basic.label #{this}
                                            else
                                                strong #{value}
            if delta.editing
                .content
                    .ui.stackable.two.column.grid
                        each edit_fields
                            .column
                                +field_edit

                        // .ui.hidden.divider
                // else
                //     each fields
                //         .field
                //             +field_view
            unless delta.editing
                each actions
                    .content
                        .ui.header #{title}
                        +Template.dynamic template=action_pane_template data=detail_doc

