template(name='delta_card')
    with local_doc
        unless full_mode
            .ui.card.delta_card(class=delta_card_class)
                // .content
                //     if icon
                //         i.large.icon
                //             +icon name=icon
                //     strong #{title}


                .content
                    each blocks
                        +Template.dynamic template=block_small_template data=local_doc
                .content
                    .ui.large.button.edit
                        i.pencil.icon
                        | Edit
                    .ui.large.button.toggle_full
                        | Details
                        i.chevron.right.icon
                .ui.segment
                    .ui.list
                        each blocks
                            unless block_small_template_exists
                                .item
                                    if icon
                                        +icon name=icon classes='avatar'
                                    strong #{title}
                                    // s:#{slug} k:#{key}
                                    |&nbsp;
                                    if is_array
                                        each value
                                            .ui.basic.label #{this}
                                    else
                                        | #{value}
        if full_mode
            .ui.padded.stackable.grid
                .row
                    if delta.editing
                        .three.wide.column
                            .ui.big.button.save
                                i.green.checkmark.icon
                                | Save
                        .ten.wide.center.aligned.column
                            .ui.header
                                i.pencil.icon
                                |Edit '#{detail_doc.title}' #{current_type.title}
                        .right.floated.three.wide.column
                            .ui.button.remove_doc
                                i.red.remove.icon
                                |Delete
                            .ui.button.archive
                                i.archive.icon
                                |Archive
                    else
                        .three.wide.column
                            .ui.large.button.toggle_full
                                i.caret.left.large.icon
                                // +icon name=current_type.icon classes='spaced mini'
                                | #{current_type.plural}
                        .ten.wide.center.aligned.column
                            .ui.header
                                |'#{local_doc.title}' #{current_type.title}
                        .right.floated.three.wide.column
                            .ui.large.button.edit
                                i.pencil.icon
                                | Edit
                .row
                    .sixteen.wide.column
                        .ui.stackable.four.cards
                            // each blocks
                            //     .card
                            //         .content
                            //             if icon
                            //                 i.large.icon
                            //                     +icon name=icon
                            //             strong #{title}
                            unless delta.editing
                                each blocks
                                    .card
                                        .content
                                            .ui.dividing.header
                                                if icon
                                                    +icon name=icon
                                                |#{title}
                                            +Template.dynamic template=block_big_template data=local_doc
                                .ui.header children sets
                                if children_sets
                                    each children_sets
                                        .card
                                            .content
                                                .header
                                                    if icon
                                                        +icon name=icon classes='spaced mini'
                                                    |#{plural}
                                            .content
                                                .ui.add_grandchild.button
                                                    |Add #{title}
                                            .content
                                                .ui.comments
                                                    each set_children
                                                        .comment
                                                            .avatar
                                                                if author.image_id
                                                                    img.ui.avatar.spaced.image(src="{{c.url author.image_id width=50 height=50 gravity='face' crop='fill'}}")
                                                                else
                                                                    i.user.icon
                                                            .content
                                                                .author #{author.username}
                                                                .metadata
                                                                    span.date #{when}
                                                                .text
                                                                    p #{text}
                                                                .actions
                                                                    // a.reply Reply
                                                                    a.delete_comment
                                                                        i.trash.icon
                                                                    a.vote_up
                                                                        i.thumbs.up.icon
                            if delta.editing
                                each edit_blocks
                                    .card
                                        .content
                                            +block_edit

                                                // .ui.hidden.divider
