head
    title JAN-PRO
    meta(name='viewport', content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')

body
    +home


template(name='home')
    .ui.stackable.padded.grid
        .centered.row
            .four.wide.center.aligned.column
                if delta
                    .ui.icon.button.delete_delta
                        i.remove.link.icon
                    .ui.icon.button.print_delta
                        i.code.link.icon
                    .ui.icon.button.recalc
                        i.refresh.link.icon
                else
                    .ui.icon.button.create_delta
                        i.plus.link.big.icon
            .eight.wide.column
                img.ui.small.centered.image.delta.pointer(src='https://jan-pro.com/wp-content/themes/underboot/img/jan-pro-blue.svg')
            .four.wide.column
        .row
            .column
                each delta.facets
                    +facet
            // .column
            //     each delta.result_ids
            //         .ui.segment
            //             .ui.header #{_id}
                        // .ui.list
                        //     each local_doc.keys
                        //         .item 
                        //             |#{this}
                        //             strong #{value}

template(name='facet')
    .ui.header #{key}
    each filters
        .unselect.ui.blue.button #{this}
    
    each res
        .ui.select.margined.button(class=toggle_value_class)
            strong #{name}
            small #{count}