head
    title JAN-PRO
    meta(name='viewport', content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')

body
    +home


template(name='home')
    if currentUser
        .ui.stackable.padded.grid
            .centered.row
                .four.wide.center.aligned.column
                    .ui.icon.button
                        i.plus.icon
                .eight.wide.column
                    img.ui.small.centered.image.delta.pointer(src='https://jan-pro.com/wp-content/themes/underboot/img/jan-pro-blue.svg')
                .four.wide.column
                    .ui.icon.button
                        i.user.icon
                    #logout.ui.icon.button
                        i.sign.out.icon
            #main
                unless delta
                    if currentUser
                        .create_delta.ui.margined.large.button(title='Create Session')
                            i.plus.icon
                            | Session
                if delta
                    .ui.stackable.two.column.padded.grid
                        .row
                            .column
                                each facets
                                    +facet
                            .column
                                if delta.result_ids
                                    if delta.result_ids.length
                                        | #{delta.total} results
                                        if is_calculating
                                            .ui.hidden.divider
                                            .ui.active.indeterminate.massive.centered.inline.loader
                                        else
                                            if delta.doc_view
                                                with delta.doc_id
                                                    +doc
                                            else
                                                each delta.result_ids
                                                    +doc
                                else
                                    |No results
    else
        +login



template(name='facet')
    .ui.inline_header.header 
        if icon
            i.icon(class=icon)
        |#{key}
    each selected_values
        .unselect.ui.blue.button #{this}
    if values
        each values
            +selector

template(name='selector')
    if name
        .ui.margined.select.button(class=toggle_value_class)
            strong #{name}
            // small #{count}
    else
        // .column.toggle_value.pointer(class=toggle_value_class)
        .ui.margined.select.button(class=toggle_value_class)
            | [none]
            // small #{count}



template(name='doc')
    with local_doc
        .ui.segment
            .ui.list
                each local_doc.keys
                    .item 
                        |#{this}
                        strong #{value}
                        
                        
                        