template(name='communication')
    .ui.header
        +icon name='chat'
        |#{comment_count} Communication
    .ui.comments
        each comments
            .comment
                a.avatar(href="/user/#{author.username}")
                    if author.image_id
                        img.ui.avatar.spaced.image(src="{{c.url author.image_id width=50 height=50 gravity='face' crop='fill'}}")
                    else
                        i.user.icon
                .content
                    a.author(href="/user/#{author.username}") #{author.username}
                    .metadata
                        span.date #{when}
                    .text
                        p #{text}
                    .actions
                        // a.reply Reply
                        if is_admin
                            a.delete_comment delete