template(name='conversations')
    .ui.center.aligned.header
        i.comments.icon
        |conversations
    .ui.stackable.padded.grid
        .four.wide.column
        .ten.wide.column
            each conversations
                +conversation

        
template(name='conversation')
    .ui.segment.notification_segment(class=notification_segment_class)
        .ui.feed
            .event
                .label
                    img.ui.avatar.image(src="{{c.url author.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
                .content
                    .summary
                        // a.user(href="/profile/#{subject.username}")
                        //     | #{subject_name}
                        // | #{predicate}
                        a.user(href="/profile/#{author.username}")
                            | #{author.username}.
                        .date
                            | #{when}
                    .extra.text
                        p !{content}
                    .meta
                        // +mark_read_button
                        // +session_delete_button