template(name='customers')
    .ui.padded.stackable.grid
        .middle.aligned.row
            .three.wide.center.aligned.column
                +link_button link='/admin' icon='user-shield' label='Admin'
            .ten.wide.column
                h1.ui.center.aligned.header
                    +icon name='customer-support'
                    | Customers
            .three.wide.right.aligned.column
                // if is_dev
                // .sync_customers.ui.icon.button(title='Refresh Customers')
                //     i.refresh.icon

        .row
            .sixteen.wide.column
                +query_input
                table.ui.striped.fixed.table
                    thead
                        +sort_column_header key='ev.ID' label='JPID'
                        +sort_column_header key='ev.CUST_NAME' label='Customer Name'
                        +sort_column_header key='ev.FRANCHISEE' label='Franchisee'
                        +sort_column_header key='ev.MASTER_LICENSEE' label='Master Licensee'
                        th Contact
                        +sort_column_header key='ev.ADDR_STREET' label='Address'
                    tbody
                        each all_customers
                            tr
                                td.selectable(title='View')
                                    a(href="/view/#{_id}") #{ev.ID}
                                td.selectable(title='View')
                                    a(href="/view/#{_id}") #{ev.CUST_NAME}
                                td #{ev.FRANCHISEE}
                                td #{ev.MASTER_LICENSEE}
                                td 
                                    div 
                                        strong #{ev.CUST_CONT_PERSON}
                                    div #{ev.CUST_CONTACT_EMAIL}
                                    div #{ev.TELEPHONE}
                                td #{ev.ADDR_STREET} #{ev.ADDR_STREET_2} #{ev.ADDR_CITY} #{ev.ADDR_STATE}
                    +table_footer columns='6' doc_type='customer' stat_type='active'


template(name='customer_view')
    .ui.padded.stackable.grid
        .centered.middle.aligned.row
            .three.wide.center.aligned.column
                if is_admin
                    +link_button link='/customers' icon='customer-support' label='Customers'
            .ten.wide.column
                h1.ui.center.aligned.grey.header 
                    +icon name='customer-support'
                    |##{ev.ID}
                    if ev.CUST_NAME
                        |#{ev.CUST_NAME} 
                    else
                        |#{cust_name} 
                    |Customer
            .three.wide.right.aligned.column
                if is_admin
                    +edit_button
        .centered.row
            .four.wide.column
                .ui.secondary.segment
                    .ui.list
                        with ev
                            .item 
                                |#{CUST_NAME}
                            .item Master Licensee
                                strong #{MASTER_LICENSEE}
                            .item #
                                strong #{ID}
                            .item Contact Person
                                strong #{CUST_CONT_PERSON}
                            .item Contact Email
                                strong #{CUST_CONTACT_EMAIL}
                            .item Tel
                                strong #{TELEPHONE}
                            .item Address
                                strong #{ADDR_STREET} #{ADDR_STREET_2} #{ADDR_CITY} #{ADDR_STATE}
                            .item Franchisee
                                strong #{FRANCHISEE}
                            .item Number of Days of Service
                                strong #{CUST_NUM_DAYS_SERVICE}
                            .item Days Service
                                strong #{CUST_DAYS_SERVICE}
                            .item Regular Service Amount
                                strong #{CUST_REG_SERVICE_AMT}
            .twelve.wide.column
                .ui.header 
                    +icon name='error'
                    | Incidents
                +incident_table customer_jpid=ev.ID
                if ev.FRANCHISEE
                    .three.wide.column
                        .ui.secondary.segment
                            +customers_franchisee
                

                

template(name='customers_franchisee')
    with customers_franchisee_doc
        a.ui.header(href="/view/#{_id}") 
            +icon name='housekeeper-male'
            |Franchisee
        .ui.list
            with ev
                .item Name
                    strong #{FRANCHISEE}
                .item ID
                    strong #{ID}
                .item Email
                    strong #{FRANCH_EMAIL}
                .item Cell #
                    strong #{TELE_CELL}
                .item Home #
                    strong #{TELE_HOME}
                .item Office
                    strong #{MASTER_LICENSEE}
                .item Franchisee Short Name
                    strong #{SHORT_NAME}
                .item Franch Name
                    strong #{FRANCH_NAME}
                .item Status
                    strong #{ACCOUNT_STATUS}
            .item 
                +view_button
    


                
template(name='my_customer_account_card')
    .ui.card
        with currentUser.users_customer
            .content
                a.ui.header(href="/view/#{_id}")
                    +icon name='customer-support'
                    |Customer Account
            .content
                div Customer Owner: #{customer_owner}
                div Billing Contact: #{customer_billing_contact}
                div HR Contact: #{customer_hr_contact}
            .content
                a(href="/view/#{_id}")
                    h4.ui.header #{ev.CUST_NAME}
            .content
                .ui.list
                    .item ##{ev.ID}
                    .item #{ev.CUST_CONT_PERSON}
                    .item #{ev.CUST_CONTACT_EMAIL}
                    .item #{ev.TELEPHONE}
                    .item #{ev.ADDR_STREET}
                    .item #{ev.ADDR_STREET_2}
                    .item #{ev.ADDR_CITY} #{ev.ADDR_STATE}
            // .content
            //     div Franchisee
            //         strong #{ev.FRANCHISEE}
            //     div Office
            //         strong #{ev.MASTER_LICENSEE}

template(name='customer_edit')
    .ui.padded.stackable.centered.grid
        .centered.row
            .three.wide.center.aligned.column
            .ten.wide.column
                h1.ui.center.aligned.grey.header Edit Customer #{ev.CUST_NAME}
            .three.wide.center.aligned.column
        .sixteen.wide.column
            +office_username_query key='customer_owner' label='Customer Owner'
            +office_username_query key='customer_billing_contact' label='Billing Contact'
            +office_username_query key='customer_hr_contact' label='HR Contact'
                    
        
// template(name='role_view')
//     .ui.padded.stackable.centered.grid
//         .centered.row
//             .three.wide.center.aligned.column
//                 +link_button link='/roles' icon='reviewer-female' label='Roles'
//             .ten.wide.column
//                 h1.ui.center.aligned.grey.header Role: #{name}
//             .three.wide.center.aligned.column
//                 +edit_button
//         .row
//             .eight.wide.column
//                 .ui.header Name: #{name}
//                 .ui.header Description: !{description}
//                 +associated_users
//                 +comments
