template(name='customers')
    .ui.padded.stackable.grid
        .middle.aligned.row
            .three.wide.center.aligned.column
                +link_button link='/admin' icon='user-shield' label='Admin'
            .ten.wide.column
                h1.ui.center.aligned.header
                    +icon name='customer-support'
                    | Customers
            .three.wide.right.aligned.column
                // if is_dev
                // .sync_customers.ui.icon.button(title='Refresh Customers')
                //     i.refresh.icon

        .row
            .sixteen.wide.column
                +query_input
                table.ui.celled.striped.fluid.table
                    thead
                        +sort_column_header key='ev.CUST_NAME' label='Customer Name'
                        +sort_column_header key='ev.ID' label='JPID'
                        +sort_column_header key='ev.FRANCHISEE' label='Master Licensee'
                        +sort_column_header key='ev.MASTER_LICENSEE' label='Franchisee'
                        +sort_column_header key='ev.CUST_CONT_PERSON' label='Contact Person'
                        +sort_column_header key='ev.CUST_CONTACT_EMAIL' label='Contact Email'
                        +sort_column_header key='ev.TELEPHONE' label='Telephone'
                        +sort_column_header key='ev.ADDR_STREET' label='Address'
                        +sort_column_header key='ev.TIMESTAMP' label='Timestamp'
                        th 
                    tbody
                        each all_customers
                            tr
                                td #{ev.CUST_NAME}
                                td #{ev.ID}
                                td #{ev.FRANCHISEE}
                                td #{ev.MASTER_LICENSEE}
                                td #{ev.CUST_CONT_PERSON}
                                td #{ev.CUST_CONTACT_EMAIL}
                                td #{ev.TELEPHONE}
                                td #{ev.ADDR_STREET}
                                td #{ev.TIMESTAMP}
                                td 
                                    +view_button
                    +table_footer columns='7'                


template(name='customer_view')
    .ui.padded.stackable.grid
        .centered.middle.aligned.row
            .three.wide.center.aligned.column
                +link_button link='/customers' icon='customer-support' label='Customers'
            .ten.wide.column
                h1.ui.center.aligned.grey.header ##{jpid} #{cust_name} Customer
            .three.wide.right.aligned.column
                +edit_button
        // unless is_customer
        .centered.row
            .twelve.wide.column
                .ui.secondary.segment
                    // h4.ui.header Name: #{cust_name}
                    // h4.ui.header Master Licensee: #{master_licensee}
                    // h4.ui.header Contact Person: #{customer_contact_person}
                    // h4.ui.header Contact Email: #{customer_contact_email}
                    // h4.ui.header Tel: #{telephone}
                    // h4.ui.header Franchisee: #{franchisee}
                    with ev
                        .ui.header #{CUST_NAME}
                        div Master Licensee
                            strong #{MASTER_LICENSEE}
                        div JPID
                            strong #{ID}
                        div Customer Contact Person
                            strong #{CUST_CONT_PERSON}
                        div Customer Contact Email
                            strong #{CUST_CONTACT_EMAIL}
                        div Tel
                            strong #{TELEPHONE}
                        div Address
                            strong #{ADDR_STREET} #{ADDR_STREET_2} #{ADDR_CITY} #{ADDR_STATE}
                        div Franchisee
                            strong #{FRANCHISEE}
                        div Number of Days of Service
                            strong #{CUST_NUM_DAYS_SERVICE}
                        div Days Service
                            strong #{CUST_DAYS_SERVICE}
                        div Regular Service Amount
                            strong #{CUST_REG_SERVICE_AMT}
        if ev.FRANCHISEE
            .centered.row
                .fifteen.wide.column
                    +customers_franchisee

                
                
                
template(name='franchisee_customers')
    // +reactiveTable settings=settings collection=franchisee_customers_docs class="ui celled striped sortable table"


template(name='customers_franchisee')    
    with customers_franchisee_doc
        .ui.secondary.segment
            .ui.header 
                |#{ev.CUST_NAME}'s Franchisee
            .ui.list
                .item ID
                    strong #{jpid}
                    // strong #{ev.ID}
                .item Name
                    strong #{franchisee}
                .item 
                    #{franchisee_email}
                // .item Cell:
                //     strong #{ev.TELE_CELL}
                .item 
                    +view_button
                
                
                
template(name='my_customer_account_card')
    .ui.card
        with currentUser.users_customer
            .content
                a.ui.header(href="/view/#{_id}")
                    +icon name='customer-support'
                    |Customer Account
            .content
                a(href="/view/#{_id}")
                    h4.ui.header #{ev.CUST_NAME}
            .content
                .ui.list
                    .item ##{ev.ID}
                    .item #{ev.CUST_CONT_PERSON}
                    .item #{ev.CUST_CONTACT_EMAIL}
                    .item #{ev.TELEPHONE}
                    .item #{ev.ADDR_STREET}
                    .item #{ev.ADDR_STREET_2}
                    .item #{ev.ADDR_CITY} #{ev.ADDR_STATE}
            // .content
            //     div Franchisee
            //         strong #{ev.FRANCHISEE}
            //     div Office
            //         strong #{ev.MASTER_LICENSEE}

