template(name='customers')
    .ui.padded.stackable.grid
        .middle.aligned.row
            .three.wide.column
                +link_button link='/admin' icon='user-shield' label='Admin'
            .ten.wide.column
                h1.ui.center.aligned.header
                    +icon name='customer-support'
                    | Customers
            .three.wide.right.aligned.column
                if is_dev
                    .sync_customers(title='Refresh Customers')
                        i.refresh.icon

        .row
            .sixteen.wide.column
                table.ui.celled.table
                    thead
                        tr
                            th Customer Name
                            th JPID
                            th Franchisee
                            th Master Licensee
                            th Customer Contact Person
                            th Customer Contact Email
                            th State
                            th
                    tbody
                        each customer_docs
                            tr
                                td #{cust_name}
                                td #{jpid}
                                td #{franchisee}
                                td #{master_licensee}
                                td #{customer_contact_person}
                                td #{customer_contact_email}
                                td #{ev.ADDR_STATE}
                                td 
                                    +view_button

                    
                    
template(name='customer_view')
    .ui.padded.stackable.grid
        .centered.middle.aligned.row
            .three.wide.center.aligned.column
                +link_button link='/customers' icon='customer-support' label='Customers'
            .ten.wide.column
                h1.ui.center.aligned.grey.header ##{jpid} #{cust_name} Customer
            .three.wide.right.aligned.column
                +edit_button
        // unless is_customer
        .centered.row
            .twelve.wide.column
                +customers_franchisee
        .centered.row
            .twelve.wide.column
                .ui.secondary.segment
                    // h4.ui.header Name: #{cust_name}
                    // h4.ui.header Master Licensee: #{master_licensee}
                    // h4.ui.header Contact Person: #{customer_contact_person}
                    // h4.ui.header Contact Email: #{customer_contact_email}
                    // h4.ui.header Tel: #{telephone}
                    // h4.ui.header Franchisee: #{franchisee}
                    with ev
                        .ui.header #{CUST_NAME}
                        div Master Licensee
                            strong #{MASTER_LICENSEE}
                        div JPID
                            strong #{ID}
                        div Customer Contact Person
                            strong #{CUST_CONT_PERSON}
                        div Customer Contact Email
                            strong #{CUST_CONTACT_EMAIL}
                        div Tel
                            strong #{TELEPHONE}
                        div Address
                            strong #{ADDR_STREET} #{ADDR_STREET_2} #{ADDR_CITY} #{ADDR_STATE}
                        div Franchisee
                            strong #{FRANCHISEE}
                        div Number of Days of Service
                            strong #{CUST_NUM_DAYS_SERVICE}
                        div Days Service
                            strong #{CUST_DAYS_SERVICE}
                        div Regular Service Amount
                            strong #{CUST_REG_SERVICE_AMT}

                
                
                
template(name='related_customers')
    .ui.dividing.header 
        +icon name='customer-support'
        |#{franchisee}'s Customers
    // +tabular table=TabularTables.Related_customers selector=selector class="ui sortable fluid striped table"
                

template(name='customers_franchisee')    
    with customers_franchisee_doc
        .ui.header 
            |#{ev.CUST_NAME}'s Franchisee
        .ui.list
            .item ID
                strong #{jpid}
                // strong #{ev.ID}
            .item Name
                strong #{franchisee}
            .item 
                #{franchisee_email}
            // .item Cell:
            //     strong #{ev.TELE_CELL}
            .item 
                +view_button