template(name='dao')
    .ui.stackable.grid
        .four.wide.column
            if facet_doc
                with facet_doc
                    // .ui.list
                    //     .item #{count} results
                    each filters
                        +filter
                    if editing_mode
                        #add_filter.ui.button
                            i.plus.icon
                            | Filter
                        .ui.list
                            each args
                                .item
                                    |#{key}: #{value}
                                    i.remove_arg.remove.link.icon
                    // .ui.form
                    //     .inline.field
                    //         label new key
                    //         input.arg_key(type='text')
                    //     .inline.field
                    //         label new value
                    //         input.arg_value(type='text')
                    //     .ui.divider
            else
                if currentUser
                    .create_facet.ui.button
                        |Create Session
                .ui.secondary.segment
                    .ui.small.header Sessions
                    each my_facets
                        a.ui.button(href="/p/dao?doc_id=#{_id}")
                            |#{title}
                            i.right.arrow.icon


            // .call.ui.button
            //     |call
        .twelve.wide.column
            .ui.stackable.cards
                each facet_doc.results
                    +facet_card


template(name='set_facet_key')
    .ui.button.small.compact.set_facet_key(class=set_facet_key_class)
        |#{label}


template(name='filter')
    .ui.secondary.segment
        .ui.small.header
            if icon
                +icon name=icon
            |#{label}
        if editing_mode
            |key: #{key}
        each values
            .ui.small.compact.toggle_value.button(class=toggle_value_class)
                |#{value} #{count}
        if editing_mode
            // i.recalc.link.refresh.icon
            +edit_filter_field key='label' filter_id=this._id
            +edit_filter_field key='key' filter_id=this._id
            +edit_filter_field key='icon' filter_id=this._id


template(name='edit_filter_field')
    .ui.labeled.fluid.input
        .ui.basic.label #{key}
        input.text_val(type='text')

