template(name='dao')
    .ui.stackable.grid
        unless facet_doc
            .row
                .sixteen.wide.column
                    if currentUser
                        .create_facet.ui.icon.button(title='Create Session')
                            i.plus.icon
        else
            .row
                .three.wide.column
                    .ui.icon.fluid.input
                        if current_query
                            i.clear_search.link.remove.icon
                        else
                            i.link.search.icon
                        input#query(type='text' placeholder=placeholder value=current_query)
                .six.wide.middle.aligned.column
                    .ui.inline.dropdown
                        .default.text 10
                        i.dropdown.icon
                        .menu
                            +set_page_size value=10
                            +set_page_size value=20
                            +set_page_size value=50
                        |- #{facet_doc.skip_amount}
                        | /
                        | #{facet_doc.total}
                .three.wide.column
                    if facet_doc.page_amount
                        .ui.pagination.small.menu
                            // if show_decrement
                            a.icon.item.page_down
                                i.left.chevron.grey.icon
                            .ui.item
                                | #{facet_doc.current_page}/#{facet_doc.page_amount}
                                // .menu
                                //     a.set_page_number.item(class=pagination_item_class) 1
                                //     a.set_page_number.item(class=pagination_item_class) 2
                            a.icon.item.page_up
                                i.right.chevron.grey.icon
                            // if show_increment

                .right.floated.three.wide.column
                    .set_view_cards.ui.button(class=view_cards_class)
                        +iconsmall name='activity-grid-2'
                    // .set_view_segments.ui.button(class=view_segments_class)
                    //     +iconsmall name='menu'
                    .set_view_table.ui.button(class=view_table_class)
                        +iconsmall name='data-sheet-filled'
            .row
                .sixteen.wide.column
                    +type_filter
        .row
            if facet_doc
                .three.wide.column
                    if schema_doc
                        each faceted_fields
                            +filter
                .thirteen.wide.column
                    if is_calculating
                        // i.large.loading.refresh.icon
                        .ui.active.indeterminate.massive.centered.inline.loader
                            // |Calculating filters and results
                    else
                        if facet_doc.result_ids
                            if facet_doc.result_ids.length
                                if view_segments
                                    each facet_doc.result_ids
                                        +facet_segment
                                if view_table
                                    +facet_table
                                if view_cards
                                    .ui.three.stackable.cards
                                        each facet_doc.result_ids
                                            // .card
                                                // .ui.header #{this}
                                            +facet_card
                                            // .ui.header #{this}
                            else
                                .ui.center.aligned.header
                                    | Choose type to calculate
                        else
                            |No results

template(name='set_page_size')
    .item.set_page_size #{value}

template(name='set_facet_key')
    .ui.button.small.compact.set_facet_key(class=set_facet_key_class)
        |#{label}


template(name='type_filter')
    // .ui.small.header
    //     +icon name='category'
    //     |Sections
    each faceted_types
        .ui.button.set_type(class=set_type_class)
            i.icon
                +iconsmall name=icon
            |#{title}


template(name='filter')
    .ui.small.header
        if icon
            +icon name=icon
        |#{title}
    if editing_mode
        .ui.list
            .item key: #{slug}
            .item primative: #{primative}
            .item Doc Type: #{doc_type}
    each values
        +selector
    // if editing_mode
    //     // i.recalc.link.refresh.icon
    //     +edit_filter_field key='label' filter_id=this._id
    //     +edit_filter_field key='key' filter_id=this._id
    //     +edit_filter_field key='icon' filter_id=this._id
    //     +edit_filter_field key='primative' filter_id=this._id
    //     +edit_filter_field key='doc_type' filter_id=this._id



template(name='selector')
    .ui.small.compact.toggle_value.button(class=toggle_value_class)
        |#{selector_value}
        small #{count}


template(name='edit_filter_field')
    .ui.labeled.fluid.input
        .ui.basic.label #{key}
        input.text_val(type='text')




template(name='facet_table')
    table.ui.striped.table(class=table_classes)
        thead
            tr
                each visible_fields
                    +table_column_header
        // tbody
        //     each children
        //         tr
        //             each children_field_docs
        //                 if visible
        //                     if display_field_template
        //                         td(style="overflow:visible;")
        //                             +Template.dynamic template=display_field_template data=..
        //                     else
        //                         td(class=table_cell_class) #{child_schema_field_value}
        //                     // td(class=table_cell_class) #{child_schema_field_value}

        tbody
            each facet_doc.result_ids
                +dao_table_row

template(name='table_column_header')
    if visible
        if sortable
            th.sort_key.single.line
                |#{title}
                if is_sorting
                    |&nbsp;
                    i.loading.refresh.grey.icon
                else if sort_descending
                    i.chevron.down.link.icon
                else if sort_ascending
                    i.chevron.up.link.icon
                else
                    i.sort.link.grey.icon
        else
            th.single.line
                |#{title}


template(name='dao_table_row')
    with local_doc
        tr
            each visible_fields
                td
                    if field_template
                        +Template.dynamic template=field_template data=local_doc
                    else
                        |#{value}


template(name='facet_card')
    with local_doc
        .card(class=ticket_color_class)
            .content
                .header
                    each header_fields
                        |#{value}
            .content
                .ui.list
                    each visible_fields
                        .item
                            if field_template
                                +Template.dynamic template=field_template data=local_doc
                            else
                                if icon
                                    i.spaced.icon(title=title)
                                        +icon name=icon
                                else
                                    |#{title}:
                                | #{value}
                +when_template


template(name='facet_segment')
    with local_doc
        .ui.segment(class=ticket_color_class)
            .content
                .ui.header
                    |#{ticket_details}
            .content
                .ui.horizontal.list
                    .item
                        a(href="/p/ticket_admin_view?doc_id=#{_id}")
                            |##{ticket_number}
                    .item
                        +status_template
                    .item
                        +level_icon
                    .item
                        +ticket_type_label
                    .item
                        i.building.grey.icon(title='Office')
                        |#{ticket_office_name}
                    .item
                        i.money.grey.icon(title='Customer')
                        |#{customer_name}
                    .item
                // each timestamp_tags
                //     .ui.compact.label #{this}
                +when_template



template(name='boolean_facet')
    .ui.small.header filter #{key}
    .pick_yes.ui.button yes
    .pick_no.ui.button no




template(name='tag_result')
    .three.wide.column #{title} #{office_name} #{name}