template(name='dao')
    .ui.stackable.grid
        .four.wide.column
            .ui.secondary.segment
                .ui.small.header Sessions
                .ui.list
                    each facets
                        .item
                            a(href="/p/dao?doc_id=#{_id}") #{_id}
            if facet_doc
                with facet_doc
                    .ui.list
                        .item id: #{_id}
                        .item count: #{count}
                        // .item
                        //     .ui.icon.button.clear_results
                        //         i.remove.icon
                    #add_filter.ui.button
                        i.plus.icon
                        | Filter
                    each filters
                        +filter
                    // +facet key='ticket_type' label='Ticket Type'
                    // +facet key='customer_name' label='Customer'
                    // +facet key='ticket_franchisee' label='Franchisee'
                    // +facet key='ticket_office_name' label='Office'
                    // .ui.small.dividing.header
                    //     |Ticket Types
                    // each ticket_types
                    //     +set_facet_key key='ticket_type' value=slug label=title
                    .ui.list
                        each args
                            .item
                                |#{key}: #{value}
                                i.remove_arg.remove.link.icon
                    // .ui.form
                    //     .inline.field
                    //         label new key
                    //         input.arg_key(type='text')
                    //     .inline.field
                    //         label new value
                    //         input.arg_value(type='text')
                    //     .ui.divider
            else
                .create_facet.ui.button
                    |Create Facet

            // .call.ui.button
            //     |call
        .twelve.wide.column
            .ui.stackable.cards
                each facet_doc.results
                    +facet_card


template(name='set_facet_key')
    .ui.button.small.compact.set_facet_key(class=set_facet_key_class)
        |#{label}


template(name='filter')
    .ui.small.header #{label}
    // |key: #{key}
    each values
        .ui.small.compact.toggle_value.button(class=toggle_value_class)
            |#{name} #{count}
    if editing_mode
        i.recalc.link.refresh.icon
        +edit_filter_field key='label' filter_id=this._id
        +edit_filter_field key='key' filter_id=this._id


template(name='edit_filter_field')
    .ui.labeled.input
        .ui.basic.label #{key}
        input.text_val(type='text')

