template(name='dao')
    .ui.stackable.grid
        .four.wide.column
            .ui.secondary.segment
                .ui.small.header facets
                .ui.list
                    each facets
                        .item
                            a(href="/p/dao?doc_id=#{_id}") #{_id}
            if facet
                with facet
                    .ui.list
                        .item id: #{_id}
                        .item count: #{count}
                        .item
                            .ui.button.clear_results
                                i.remove.icon
                    .ui.header args
                    +set_facet_key key='ticket_type' value='team_member_infraction' label='Team Member'
                    .ui.list
                        each args
                            .item
                                |#{key}: #{value}
                                i.remove_arg.remove.link.icon
                    .ui.form
                        .inline.field
                            label new key
                            input.arg_key(type='text')
                        .inline.field
                            label new value
                            input.arg_value(type='text')
                        .ui.divider
            else
                .create_facet.ui.button
                    |Create Facet

            .call.ui.button
                |call
        .twelve.wide.column
            .ui.stackable.cards
                each results
                    +facet_card


template(name='set_facet_key')
    .ui.button.set_facet_key
        |#{label}