template(name='dao')
    .ui.stackable.grid
        .row
            unless facet_doc
                .sixteen.wide.column
                    if currentUser
                        .create_facet.ui.icon.button(title='Create Session')
                            i.plus.icon
            else
                .four.wide.column
                .three.wide.column
                    .ui.inline.dropdown
                        |View
                        .default.text 10
                        i.dropdown.icon
                        .menu
                            +set_page_size value=10
                            +set_page_size value=20
                            +set_page_size value=50
                        |results

                .right.floated.three.wide.column
                    .set_view_cards.ui.button(class=view_cards_class)
                        +iconsmall name='activity-grid-2'
                    .set_view_segments.ui.button(class=view_segments_class)
                        +iconsmall name='menu'
                    .set_view_table.ui.button(class=view_table_class)
                        +iconsmall name='data-sheet-filled'
        .row
            if facet_doc
                .four.wide.column
                    // if currentUser
                    //     if is_editing
                    //         .ui.icon.input
                    //             input.facet_title(type='text' placeholder='Edit Title' value=facet_doc.title)
                    //             i.stop_editing.checkmark.link.icon
                    //     else
                    //         .ui.header
                    //             |#{facet_doc.title}
                    //         i.start_editing.link.pencil.icon
                    if filters
                        each filters
                            +filter
                    if editing_mode
                        #add_filter.ui.button
                            i.plus.icon
                            | Filter
                        .ui.list
                            each facet_doc.args
                                .item
                                    |#{key}: #{value}
                                    i.remove_arg.remove.link.icon
                        .ui.button.call Call
                .twelve.wide.column
                    if is_calculating
                        // i.large.loading.refresh.icon
                        .ui.active.indeterminate.big.centered.text.inline.loader
                            |Calculating filters and results
                    else
                        if view_segments
                            each facet_doc.result_ids
                                +facet_segment
                        if view_table
                            +facet_table
                        if view_cards
                            .ui.four.stackable.cards
                                each facet_doc.result_ids
                                    +facet_card
                                    // .ui.header #{this}

template(name='set_page_size')
    .item.set_page_size #{value}

template(name='set_facet_key')
    .ui.button.small.compact.set_facet_key(class=set_facet_key_class)
        |#{label}


template(name='filter')
    .ui.secondary.segment
        .ui.small.header
            if icon
                +icon name=icon
            |#{label}
        if editing_mode
            .ui.list
                .item key: #{key}
                .item primative: #{primative}
                .item parent slug: #{parent_slug}
        each values
            +selector
        if editing_mode
            // i.recalc.link.refresh.icon
            +edit_filter_field key='label' filter_id=this._id
            +edit_filter_field key='key' filter_id=this._id
            +edit_filter_field key='icon' filter_id=this._id
            +edit_filter_field key='primative' filter_id=this._id
            +edit_filter_field key='parent_slug' filter_id=this._id



template(name='selector')
    .ui.small.compact.toggle_value.button(class=toggle_value_class)
        |#{selector_value}
        |#{count}


template(name='edit_filter_field')
    .ui.labeled.fluid.input
        .ui.basic.label #{key}
        input.text_val(type='text')

