template(name='dashboard')
    #dash_header.ui.vertical.masthead.center.aligned.padded.segment
        .ui.container
            .ui.hidden.divider
            img.ui.medium.centered.image(src='https://jan-pro.com/wp-content/themes/underboot/img/jan-pro-white.svg')
            h2.ui.inverted.header Customer Portal
            +customer_menu
    .ui.padded.stackable.grid

        // .centered.row
        //     .sixteen.wide.center.aligned.column
        //         img.ui.large.centered.image(src='https://jan-pro.com/wp-content/themes/underboot/img/jan-pro-blue.svg')
        //         h1.ui.center.aligned.grey.header 
        //             // i.line.chart.icon
        //             |Customer Portal
        .row
            // .two.wide.column
            //     .ui.center.aligned.fluid.segment
            //         h3.ui.center.aligned.header Welcome
            //         .ui.button Sign In
            //         .ui.button Register
            .sixteen.wide.column
                +my_cleaning_crew
        .row
            .sixteen.wide.column
                +incident_widget
        .row
            .sixteen.wide.column
                h2.ui.center.aligned.header 
                    |My Office Contacts
                // |{{> tabular table=TabularTables.Users selector=selector class="ui sortable selectable striped fluid very basic table"}}        
            table.ui.sortable.striped.table
                tbody
                    each office_contacts
                        tr
                            td.header Title: #{title}
                            td Name: #{profile.first_name} #{profile.last_name}
                            td Tel: #{profile.telphone}
                            td Email: #{emails.address}
                            td
                                i.mail.icon
        .row
            .four.wide.column
                .ui.header My Franchisee
                +user_franchise_card
                
            .four.wide.column
                .ui.header Office
                +user_office_card
    
            .four.wide.column
                .ui.header Customer Account
                +my_customer_account
    
        // .row
        //     .five.wide.column
        //         .ui.disabled.segment
        //             .ui.header
        //                 i.building.icon
        //                 | Home Office Permissions
        //     .five.wide.column
        //         .ui.disabled.segment
        //             .ui.header 
        //                 i.dollar.icon
        //                 |Billing and Payment History
        //     .five.wide.column
        //         .ui.disabled.segment
        //             .ui.header
        //                 i.clock.icon
        //                 |Scheduled Services


    
template(name='customer_menu')
    .ui.six.item.stackable.large.menu
        a.item(href='/account/settings') Account
        a.item(href='/incidents') Log a Ticket
        a.item(href='/schedule') Schedule Cleaning
        a.item(href='/store') Consumables
        a.item(href='/services') Service Request
        a.item(href='/questions') Help
            
            
template(name='my_cleaning_schedule')
    .ui.fluid.accordion
        .active.title
            h2.ui.center.aligned.header 
                |My Cleaning Schedule
                i.dropdown.icon
        .active.content
            #cleaning_schedule
                +fullcalendar cal_options
            
template(name='incident_widget')
    .ui.center.aligned.header
        |Incidents
    // |{{> tabular table=TabularTables.Incidents selector=selector class="ui sortable basic selectable striped fluid table"}}
        
template(name='my_cleaning_crew')
    .ui.segment
        h2.ui.center.aligned.header 
            |My Office Contacts
        .ui.five.stackable.centered.cards
            each crew
                .ui.card
                    +crew_card

template(name='crew_card')
    .ui.card
        .image
            a(href="/profile/#{username}")
                img.ui.fluid.image(src="{{c.url profile.image_id height=200 width=200 crop='fill' gravity='face'}}")
        .content
            a(href="/profile/#{username}")
                .ui.header #{profile.first_name} #{profile.last_name}
        .content
            .ui.list
                +list_item key='profile.emails.address' label='Email'
                +list_item key='profile.telephone' label='Phone'
                +list_item key='profile.office_name'
        // +view_button
