
//         .row
//             with currentUser.users_customer.parent_franchisee
//                 .sixteen.wide.column
//                     .ui.secondary.segment
//                         h3.ui.header
//                             +icon name='conference'
//                             // |#{ev.FRANCHISEE} Franchisee Contact
//                             |Your Local Owner / Operator
//                         table.ui.sortable.striped.table
//                             tbody
//                                 tr
//                                     td #{ev.FRANCHISEE}
//                                     td(title='Short Name') #{ev.FRANCH_NAME}
//                                     td #{ev.FRANCH_EMAIL}
//                                     td #{ev.TELE_CELL} #{phone}
//                                     td
//                                         a(href="mailto:#{ev.FRANCH_EMAIL}" target='_window' title="Email #{franchisee}")
//                                             // i.mail.icon
//                                             +icon name='send'

template(name='customer_special_services')
    with currentUser.users_customer
        .ui.horizontal.divided.list
            // .item #{customer_contact_person}
            if customer_contact_email
                .item #{customer_contact_email}
            .item Number of Days of Service: #{ev.CUST_NUM_DAYS_SERVICE}
            .item Days of Service: #{customer_days_service_formatted}
            .item Regular Service Amount: $#{ev.CUST_REG_SERVICE_AMT}
    // +blocks tags='customer,dashboard,office,special_services'


template(name='customer_menu')
    .ui.four.item.stackable.menu
        a.item(href='/account/settings')
            i.large.icon
                +icon name='settings'
            | &nbsp; Account
        a.log_ticket.item(href='#')
            i.large.icon
                +icon name='add-ticket'
            | &nbsp; Log Ticket
        a.item(href='/p/customer_tickets')
            i.large.icon
                +icon name='two-tickets'
            | &nbsp; Tickets
        a.item(href='/p/customer_services')
            i.large.icon
                +icon name='service-bell'
            | &nbsp; Request Service
        // a.item(href='/help')
        //     i.big.icon
        //         +icon name='help'
        //     | &nbsp; Help


template(name='dashboard_office_contacts_list')
    h3.ui.header
        +icon name='organization'
        |#{currentUser.users_office.ev.MASTER_LICENSEE} Contacts

    table.ui.sortable.striped.table
        tbody
            each office_contacts
                tr
                    td
                        img.ui.avatar.image(src="{{c.url image_id height=200 width=200 crop='fill' gravity='face'}}")
                        .ui.popup
                            img.ui.small.image(src="{{c.url image_id height=500 width=500 crop='fill' gravity='face'}}")
                        a(href="/user/#{username}")
                            |#{first_name} #{last_name}
                        .ui.popup
                            img.ui.small.image(src="{{c.url image_id height=500 width=500 crop='fill' gravity='face'}}")
                    td
                        div #{title}
                        div
                            strong #{function}
                    td
                        div #{ev.JOB_TITLE}
                        div #{ev.WORK_TELEPHONE} #{ev.TELE_CELL} #{phone}
                        div #{email}
                    td
                        +email_user_link
template(name='email_user_link')
    a(href="mailto:#{email}" target='_window' title="Email #{first_name}")
        // i.mail.icon
        +icon name='send'
//                     // td
//                     //     +view_user_button


template(name='dashboard')
    #dash_header.ui.vertical.masthead.center.aligned.segment
        .ui.container
            img.ui.medium.centered.image(src='https://jan-pro.com/wp-content/themes/underboot/img/jan-pro-white.svg')
            h2.ui.inverted.header Customer Portal
            unless currentUser
                a.ui.center.aligned.big.inverted.blue.button(href='/login')
                    |Login to see Dashboard
                    i.right.arrow.icon
            +customer_menu
    +customer_special_services

template(name='dashboard_office_messages')
    .ui.stackable.grid
        .row
            .twelve.wide.column
                .ui.three.stackable.cards
                    each office_messages
                        .card
                            .content
                                +icon name=icon classes='ui right floated inline'
                                .header
                                    |#{currentUser.users_office.ev.MASTER_LICENSEE} #{title}
                                p
                                p #{details}
            .four.wide.column
                +dashboard_service_list


template(name='dashboard_service_list')
    .ui.secondary.segment
        h4.ui.dividing.header
            |Other JAN-PRO Services Offered
        .ui.bulleted.list
            each services_offered
                a.service_popup.item
                    // img.ui.avatar.image(src="{{c.url image_id height=400 crop='scale'}}")
                    |#{title}
                .ui.popup
                    .header #{title}
                    .request_service.ui.compact.button
                        i.icon
                            +iconsmall name='service-bell'
                        | Request
