template(name='dashboard')
    #dash_header.ui.vertical.masthead.center.aligned.padded.segment
        .ui.container
            .ui.hidden.divider
            img.ui.medium.centered.image(src='https://jan-pro.com/wp-content/themes/underboot/img/jan-pro-white.svg')
            h2.ui.inverted.header Customer Portal
            +customer_menu
    .ui.padded.stackable.centered.grid

        // .centered.row
        //     .sixteen.wide.center.aligned.column
        //         img.ui.large.centered.image(src='https://jan-pro.com/wp-content/themes/underboot/img/jan-pro-blue.svg')
        //         h1.ui.center.aligned.grey.header 
        //             // i.line.chart.icon
        //             |Customer Portal
        .row
            // .two.wide.column
            //     .ui.center.aligned.fluid.segment
            //         h3.ui.center.aligned.header Welcome
            //         .ui.button Sign In
            //         .ui.button Register
            .sixteen.wide.column
                +my_cleaning_crew
        .row
            .sixteen.wide.column
                h2.ui.header
                    // i.exclamation.circle.icon
                    +officeiconlarge name='error'
                    |Incidents
                table.ui.basic.striped.table
                    thead
                        tr
                            th Type
                            th When
                            th Details
                            th History
                            th Actions
                    tbody
                        each customer_incidents
                            tr
                                td
                                    +incident_type_label
                                td #{when}
                                td #{incident_details}
                                td
                                    +small_doc_history
                                td 
                                    +view_button
        .row
            with currentUser.users_customer.parent_franchisee
                .sixteen.wide.column
                    h2.ui.header 
                        // i.car.icon
                        +officeiconlarge name='collaborator-female'
                        |My #{franchisee} Franchisee Contact
                    table.ui.sortable.striped.table
                        tbody
                            tr
                                td #{franchisee}
                                td #{ev.FRANCH_EMAIL}
                                td #{ev.TELE_CELL}
                                td
                                    a(href="mailto:#{ev.FRANCH_EMAIL}" target='_window' title="Email #{franchisee}")
                                        // i.mail.icon
                                        +officeicon name='send'
        .row
            .sixteen.wide.column
                h2.ui.header 
                    +officeiconlarge name='organization'
                    |My #{currentUser.users_customer.parent_franchisee.parent_office.office_name} Contacts
                table.ui.sortable.striped.table
                    tbody
                        each office_contacts
                            tr
                                td #{title}
                                td #{profile.first_name} #{profile.last_name}
                                td #{ev.WORK_TELEPHONE}
                                td #{ev.JOB_TITLE}
                                td #{email}
                                td
                                    a(href="mailto:#{email}" target='_window' title="Email #{name}")
                                        // i.mail.icon
                                        +officeicon name='send'
                                td 
                                    +view_user_button
        .centered.row
            .sixteen.wide.column
                .ui.secondary.segment
                    h2.ui.header 
                        // i.paint.brush.icon
                        +officeiconlarge name='broom'
                        |Services Overview
                    with currentUser.users_customer
                        .ui.list
                            .item #{customer_contact_person}
                            .item #{customer_contact_email}
                            .item Number of Days of Service: #{ev.CUST_NUM_DAYS_SERVICE}
                            .item Days of Service: #{ev.CUST_DAYS_SERVICE}
                            .item Regular Service Amount: #{ev.CUST_REG_SERVICE_AMT}
                    .ui.header Special Services
                    table.ui.sortable.striped.table
                        thead
                            tr
                                th JPID
                                th Customer
                                th Service Type
                                th Description
                                th Date Created
                                th Extra Price
                                
                        tbody
                            each my_special_services
                                tr
                                    td #{ev.ID}
                                    td #{ev.CUSTOMER}
                                    td #{ev.SERV_TYPE}
                                    td #{ev.EXTRA_SERV_DESC}
                                    td #{ev.DATE_CREATED}
                                    td #{ev.EXTRA_PRICE}
        .centered.row
            .five.wide.column
                +my_customer_account
            .five.wide.column
                +user_franchise_card
            .five.wide.column
                +user_office_card

    
template(name='customer_menu')
    .ui.six.item.stackable.large.menu
        a.item(href='/account/settings') Account
        a.item(href='/incidents') Log a Ticket
        a.disabled.item(href='/schedule') Schedule Cleaning
        a.disabled.item(href='/store') Consumables
        a.disabled.item(href='/services') Service Request
        a.disabled.item(href='/questions') Help
            
            
template(name='my_cleaning_schedule')
    .ui.fluid.accordion
        .active.title
            h2.ui.header 
                |My Cleaning Schedule
                i.dropdown.icon
        .active.content
            #cleaning_schedule
                +fullcalendar cal_options
            
        
template(name='my_cleaning_crew')
    h2.ui.header 
        +officeiconlarge name='add-contact-to-company'
        // i.large.icons
        //     i.users.icon
        //     i.corner.building.icon
        |My Office Contacts
    .ui.five.stackable.centered.cards
        each crew
            .ui.card
                +crew_card

template(name='crew_card')
    .ui.card
        .image
            a(href="/user/#{username}")
                img.ui.fluid.image(src="{{c.url profile.image_id height=200 width=200 crop='fill' gravity='face'}}")
        .content
            a(href="/user/#{username}")
                .ui.header #{profile.first_name} #{profile.last_name}
                .meta #{username}
        .content
            .ui.small.list
                .item #{email}
                .item #{ev.JOB_TITLE}
                
        // +view_button
