template(name='dashboard')
    #dash_header.ui.vertical.masthead.center.aligned.padded.segment
        .ui.container
            .ui.hidden.divider
            img.ui.medium.centered.image(src='https://jan-pro.com/wp-content/themes/underboot/img/jan-pro-white.svg')
            h2.ui.inverted.header Customer Portal
        +customer_menu
    .ui.padded.stackable.grid
        if currentUser.users_customer.parent_franchisee.parent_office.customer_message
            .row
                .ui.container
                    .ui.info.icon.floating.message
                        i.info.icon
                        .content
                            .header #{currentUser.users_customer.parent_franchisee.parent_office.office_name} Message
                            p #{currentUser.users_customer.parent_franchisee.parent_office.customer_message}
        .row
            .sixteen.wide.column
                +my_office_contacts
        .row
            .sixteen.wide.column
                if is_customer
                    +customer_incidents_widget
        .row
            with currentUser.users_customer.parent_franchisee
                .sixteen.wide.column
                    h3.ui.header 
                        +icon name='conference'
                        |#{ev.FRANCHISEE} Franchisee Contact
                    table.ui.sortable.striped.table
                        tbody
                            tr
                                td #{ev.FRANCHISEE}
                                td(title='Short Name') #{ev.FRANCH_NAME}
                                td #{ev.FRANCH_EMAIL}
                                td #{ev.TELE_CELL}
                                td
                                    a(href="mailto:#{ev.FRANCH_EMAIL}" target='_window' title="Email #{franchisee}")
                                        // i.mail.icon
                                        +icon name='send'
        .row
            .sixteen.wide.column
                +dashboard_office_contacts_list
        .centered.row
            .sixteen.wide.column
                +customer_special_services
        // .centered.row
        //     .five.wide.column
        //         +my_customer_account_card
        //     .five.wide.column
        //         +user_franchise_card
        //     .five.wide.column
        //         +user_office_card

    
template(name='customer_menu')
    .ui.six.item.stackable.large.menu
        a.disabled.item(href='/account/settings') Account
        a.log_ticket.item(href='#') Log a Ticket
        a.disabled.item(href='/schedule') Schedule Cleaning
        a.disabled.item(href='/store') Consumables
        a.disabled.item(href='/services') Service Request
        a.disabled.item(href='/questions') Help
            
            
template(name='my_cleaning_schedule')
    .ui.fluid.accordion
        .active.title
            h3.ui.header 
                |Cleaning Schedule
                i.dropdown.icon
        .active.content
            #cleaning_schedule
                +fullcalendar cal_options
            
        
template(name='my_office_contacts')
    h3.ui.header 
        +icon name='contacts'
        // i.large.icons
        //     i.users.icon
        //     i.corner.building.icon
        |Office Contacts
    .ui.four.stackable.centered.cards
        each crew
            +office_contact_card

template(name='office_contact_card')
    .ui.card
        .image
            a(href="/user/#{username}")
                img.ui.fluid.image(src="{{c.url profile.image_id height=200 width=200 crop='fill' gravity='face'}}")
        .content
            a(href="/user/#{username}")
                .ui.header #{profile.first_name} #{profile.last_name}
                .meta #{username}
        .content
            .ui.small.list
                .item #{email}
                .item #{ev.JOB_TITLE}
                
        // +view_button


template(name='customer_incidents_widget')
    h3.ui.header
        // i.exclamation.circle.icon
        +icon name='error'
        | #{currentUser.users_customer.ev.CUST_NAME}'s Incidents
    table.ui.basic.striped.table
        thead
            tr
                th Type
                th When
                th Details
                th Level
                th Status
                th Submitted
                th History
                th Actions
        tbody
            each customer_incidents
                tr
                    td
                        +incident_type_label
                    td #{when}
                    td #{incident_details}
                    td #{level}
                    td 
                        if open
                            .ui.basic.label Open
                        else
                            .ui.label Closed
                    td 
                        if submitted
                            .ui.basic.label Submitted
                        else
                            .ui.label Not Submitted
                    td
                        +small_doc_history
                    td 
                        +view_button


template(name='customer_special_services')
    .ui.secondary.segment
        h3.ui.header 
            // i.paint.brush.icon
            +icon name='broom'
            |Services Overview
        with currentUser.users_customer
            .ui.list
                .item #{customer_contact_person}
                .item #{customer_contact_email}
                .item Number of Days of Service: #{ev.CUST_NUM_DAYS_SERVICE}
                .item Days of Service: #{ev.CUST_DAYS_SERVICE}
                .item Regular Service Amount: #{ev.CUST_REG_SERVICE_AMT}
        .ui.header Special Services
        table.ui.sortable.striped.table
            thead
                tr
                    th JPID
                    th Customer
                    th Service Type
                    th Description
                    th Date Created
                    th Extra Price
                    
            tbody
                each my_special_services
                    tr
                        td #{ev.ID}
                        td #{ev.CUSTOMER}
                        td #{ev.SERV_TYPE}
                        td #{ev.EXTRA_SERV_DESC}
                        td #{ev.DATE_CREATED}
                        td #{ev.EXTRA_PRICE}



template(name='dashboard_office_contacts_list')
    h3.ui.header 
        +icon name='organization'
        |#{currentUser.users_customer.parent_franchisee.parent_office.ev.MASTER_LICENSEE} Contacts
    table.ui.sortable.striped.table
        tbody
            each office_contacts
                tr
                    td #{title}
                    td #{profile.first_name} #{profile.last_name}
                    td #{ev.WORK_TELEPHONE}
                    td #{ev.JOB_TITLE}
                    td #{email}
                    td
                        a(href="mailto:#{email}" target='_window' title="Email #{name}")
                            // i.mail.icon
                            +icon name='send'
                    td 
                        +view_user_button
