template(name='delta')
    unless delta
        .row
            .sixteen.wide.column
                if currentUser
                    .create_delta.ui.margined.large.button(title='Create Session')
                        i.plus.icon
                        | Session
    if delta
        .ui.stackable.two.column.padded.grid
            .row
                .column
                    .ui.header Call
                    // .ui.inline_header.header
                    //     if current_type.icon
                    //         +icon name=current_type.icon
                    //     if current_type.plural
                    //         | #{current_type.plural}
                    //     else
                    //         | #{current_type.title}
                    // if current_type.details
                    //     p #{current_type.details}
                    // if is_dev
                    //     +toggle_delta_config key='config_mode' title='Schema Configuration' label='Configure' icon='cog'
                    if can_add
                        .ui.button.add_doc
                            +icon name='plus'
                            | #{current_type.title}
                    each faceted_blocks
                        +facet
                .column
                    .ui.header Response
                    +response




template(name='toggle_delta_config')
    if boolean_true
        .ui.blue.icon.active.button.disable_key
            i.setting.icon
    else
        .ui.icon.button.enable_key
            i.setting.icon



template(name='set_page_size')
    .ui.icon.button.set_page_size(class=page_size_class title='Page Size')
        .middle.aligned #{value}

template(name='set_delta_key')
    .ui.button.set_delta_key(class=set_delta_key_class)
        |#{label}

template(name='facet')
    div
    if values
        .ui.small.inline_header.header 
            if icon
                i.icon(class=icon)
            |#{title}
        each values
            +selector

template(name='selector')
    if name
        .ui.margined.toggle_value.button(class=toggle_value_class)
            | #{name}
            // small #{count}
    else
        // .column.toggle_value.pointer(class=toggle_value_class)
        .ui.margined.toggle_value.button(class=toggle_value_class)
            | [none]
            // small #{count}



