template(name='delta_results')
    // .column(class=results_class)
    .twelve.wide.column
        // +toggle_delta_config key='view_full' title='View Full' icon='resize-diagonal' label='Expand Cards'
        if delta.config_mode
            .ui.header
                +icon name='administrative-tools'
                | Edit Schema '#{current_type.title}' Blocks
            .ui.button.add_block
                i.plus.icon
                | Block
            if delta.viewing_detail
                with delta.detail_id
                    +delta_card
            else
                .ui.cards
                    each schema_blocks
                        +delta_card data=_id
        else
            if delta.result_ids
                if delta.result_ids.length
                    unless delta.viewing_detail
                        .ui.horizontal.list
                            .item
                                +set_page_size value=10
                                +set_page_size value=20
                                +set_page_size value=50
                            .item
                                if multiple_pages
                                    .ui.label
                                        | Page #{delta.current_page}/#{delta.page_amount}
                            .item
                                    | #{delta.total} Results
                            .item
                                if show_page_down
                                    .ui.icon.button.page_down(title='Previous Page')
                                        i.left.chevron.icon
                                        // +icon name='chevron-left' classes='mini spaced'
                                if show_page_up
                                    .ui.icon.button.page_up(title='Next Page')
                                        i.right.chevron.icon
                    if is_calculating
                        .ui.hidden.divider
                        .ui.active.indeterminate.massive.centered.inline.loader
                    else
                        if delta.viewing_detail
                            with delta.detail_id
                                +delta_card
                        else
                            // .scrolling.delta_cards
                            .delta_cards
                                .ui.stackable.cards(class=cards_class)
                                    each delta.result_ids
                                        +delta_card
            else
                |No results
