template(name='delta_results')
    // .column(class=results_class)
    .twelve.wide.column
        // +toggle_delta_config key='view_full' title='View Full' icon='resize-diagonal' label='Expand Cards'
        if delta.config_mode
            .scrolling
                .ui.header
                    +icon name='administrative-tools'
                    | Edit Schema '#{current_type.title}'
                unless delta.viewing_detail
                    .ui.accordion
                        .active.title
                            .ui.small.header
                                +icon name='rename'
                                |Fields
                        .active.content
                            .ui.button.add_field
                                i.plus.icon
                                | Field
                            .ui.cards
                                each schema_fields
                                    +delta_card data=_id
                    .ui.hidden.divider
                    .ui.accordion
                        .active.title
                            .ui.small.header
                                +icon name='component'
                                | Parts
                        .active.content
                            .ui.button.add_action
                                i.plus.icon
                                | Part
                            .ui.cards
                                each schema_parts
                                    +delta_card data=_id
                else
                    with delta.detail_id
                        +delta_card

        else
            if delta.result_ids
                if delta.result_ids.length
                    unless delta.viewing_detail
                        .ui.middle.aligned.grid
                            .row
                                +set_page_size value=10
                                +set_page_size value=20
                                +set_page_size value=50
                                .three.wide.column
                                    if multiple_pages
                                        .ui.basic.label
                                            | #{delta.current_page}/#{delta.page_amount}
                                    | #{delta.total} Results
                                .three.wide.column
                                    if show_page_down
                                        .ui.icon.button.page_down(title='Previous Page')
                                            i.left.chevron.icon
                                            // +icon name='chevron-left' classes='mini spaced'
                                    if show_page_up
                                        .ui.icon.button.page_up(title='Next Page')
                                            i.right.chevron.icon
                                            // +icon name='chevron-right' classes='mini spaced'
                                // .two.wide.column.set_grid_view(class=grid_view_class title='Grid View')
                                //     +icon name='activity-grid-2' classes='mini centered'
                                // .two.wide.column.set_list_view(class=list_view_class title='List View')
                                //     +icon name='menu' classes='mini centered'
                                // .two.wide.column.set_table_view(class=table_view_class title='Table View')
                                //     +icon name='data-sheet-filled' classes='mini centered'
                                // .two.wide.column.delta_selector
                                //     +icon name='double-down' classes='mini centered'
                        // .ui.hidden.divider
                    if is_calculating
                        .ui.hidden.divider
                        .ui.active.indeterminate.massive.centered.inline.loader
                    else
                        if delta.viewing_detail
                            with delta.detail_id
                                +delta_card
                        else
                            .scrolling.delta_cards
                                .ui.cards(class=cards_class)
                                    each delta.result_ids
                                        +delta_card
            else
                |No results
