template(name='delta')
    unless delta
        .row
            .sixteen.wide.column
                if currentUser
                    .create_delta.ui.button(title='Create Session')
                        i.plus.icon
                        | Session
    if delta
        if delta.viewing_page
            +Template.dynamic template=delta.page_template
        else if delta.viewing_delta
            .ui.stackable.padded.grid
                .row
                    unless delta.viewing_detail
                        .four.wide.column
                            .ui.large.center.aligned.header
                                if current_type.icon
                                    +icon name=current_type.icon
                                if current_type.plural
                                    | #{current_type.plural}
                                else
                                    | #{current_type.title}
                            // if current_type.details
                            //     p #{current_type.details}
                            .scrolling_small
                                if is_dev
                                    +toggle_delta_config key='config_mode' title='Schema Configuration' label='Configure' icon='cog'
                                if can_add
                                    .ui.fluid.button.add_doc
                                        +icon name='plus'
                                        | #{current_type.title}

                                each faceted_blocks
                                    +facet
                    +delta_results



template(name='toggle_delta_config')
    div
    if boolean_true
        .ui.blue.active.fluid.button.disable_key
            +iconsmall name=icon classes='inline'
            | #{label}
    else
        .ui.fluid.button.enable_key
            +iconsmall name=icon classes='inline'
            | #{label}
    p



template(name='set_page_size')
    .ui.icon.button.set_page_size(class=page_size_class title='Page Size')
        .middle.aligned #{value}

template(name='set_delta_key')
    .ui.button.set_delta_key(class=set_delta_key_class)
        |#{label}

template(name='facet')
    p
    if values
        .ui.large.accordion
            .active.title
                .ui.header
                    if icon
                        +icon name=icon classes='inline mini'
                    |#{title}
            .active.content
                // .ui.equal.width.grid.facet_class
                each values
                    +selector

template(name='selector')
    if name
        .ui.margined.toggle_value.compact.button(class=toggle_value_class)
            | #{name}
            small #{count}
    else
        // .column.toggle_value.pointer(class=toggle_value_class)
        .ui.margined.toggle_value.compact.button(class=toggle_value_class)
            | [none]
            // small #{count}



