template(name='delta')
    unless delta
        .row
            .sixteen.wide.column
                if currentUser
                    .create_delta.ui.margined.large.button(title='Create Session')
                        i.plus.icon
                        | Session
    if delta
        .ui.stackable.two.column.padded.grid
            .row
                .column
                    .ui.header Call
                    .ui.button.delete_delta
                        i.trash.icon
                        |Clear Session
                    .ui.button.run_fo
                        i.refresh.icon
                        |Reset
                    if is_dev
                        .ui.button.show_delta
                            i.code.icon
                            | Print Delta

                    
                    if can_add
                        .ui.button.add_doc
                            +icon name='plus'
                            | #{current_type.title}
                    each facets
                        +facet
                .column
                    .ui.header Response
                    +response




template(name='toggle_delta_config')
    if boolean_true
        .ui.blue.icon.active.button.disable_key
            i.setting.icon
    else
        .ui.icon.button.enable_key
            i.setting.icon



template(name='set_page_size')
    .ui.icon.button.set_page_size(class=page_size_class title='Page Size')
        .middle.aligned #{value}

template(name='set_delta_key')
    .ui.button.set_delta_key(class=set_delta_key_class)
        |#{label}

template(name='facet')
    div
    .ui.small.inline_header.header 
        if icon
            i.icon(class=icon)
        |#{key}
    each selected_values
        .unselect.ui.blue.button #{this}
    if values
        each values
            +selector

template(name='selector')
    if name
        .ui.margined.select.button(class=toggle_value_class)
            | #{name}
            // small #{count}
    else
        // .column.toggle_value.pointer(class=toggle_value_class)
        .ui.margined.select.button(class=toggle_value_class)
            | [none]
            // small #{count}



