template(name='delta')
    .ui.stackable.padded.grid
        unless delta_doc
            .row
                .sixteen.wide.column
                    if currentUser
                        .create_delta.ui.large.basic.button(title='Create Session')
                            i.green.plus.icon
                            | Session
        if delta_doc
            .four.wide.column.scrolling
                if current_type
                    .ui.stackable.grid
                        unless viewing_schemas
                            .three.wide.column
                                .ui.large.icon.button.view_schamas(title='Data')
                                    i.left.chevron.icon
                        .thirteen.wide.middle.aligned.column
                            h1.ui.center.aligned.header
                                if current_type.icon
                                    +icon name=current_type.icon classes='spaced'
                                | #{current_type.plural}
                    if can_add
                        .ui.hidden.divider
                        .ui.fluid.icon.compact.margined.button.add_doc(title="Add #{current_type.title}")
                            // +icon name='plus'
                            i.green.large.plus.icon
                            // |#{current_type.title}

                // .ui.compact.icon.button.delete_delta(title='Clear Session')
                //     i.remove.icon
                //     // |Clear
                // .ui.compact.icon.button.run_fo(title='Reload Session')
                //     i.refresh.icon
                //     // |Reset
                // if is_dev
                //     .ui.icon.compact.button.show_delta
                //         i.code.icon
                // .ui.vertical.segments
                each delta_fields
                    +facet

            .twelve.wide.column
                .ui.equal.width.stackable.grid
                    +delta_results



template(name='delta_results')
    .column
        if is_dev
            +toggle_delta_config key='config_mode' title='Schema Configuration' label='Configure' icon='settings'
        +toggle_delta_config key='view_full' title='View Full' icon='resize-diagonal' label='Expand Cards'
        if delta_doc.config_mode
            .scrolling
                .ui.header
                    +icon name='administrative-tools'
                    | Edit Schema '#{current_type.title}'
                .ui.accordion
                    .active.title
                        .ui.small.header
                            +icon name='rename'
                            |Fields
                    .active.content
                        .ui.button.add_field
                            i.plus.icon
                            | Field
                        .ui.stackable.cards
                            each schema_fields
                                +delta_card data=_id
                .ui.hidden.divider
                .ui.accordion
                    .active.title
                        .ui.small.header
                            +icon name='action'
                            | Actions
                    .active.content
                        .ui.button.add_action
                            i.plus.icon
                            | Action
                        .ui.stackable.cards
                            each schema_actions
                                +delta_card data=_id
        else
            if is_calculating
                .ui.hidden.divider
                .ui.active.indeterminate.massive.centered.inline.loader
            else if delta_doc.result_ids
                if delta_doc.result_ids.length
                    .ui.horizontal.list
                        .item
                            +set_page_size value=10
                            +set_page_size value=20
                            +set_page_size value=50
                        .item
                            // if delta_doc.page_amount
                            // if show_page_down
                            .ui.small.basic.label
                                | #{delta_doc.current_page}/#{delta_doc.page_amount}
                            a.ui.page_down.small.compact.icon.button(title='Previous Page')
                                i.left.chevron.grey.icon
                            // if show_page_up
                            a.ui.page_up.small.compact.icon.button(title='Next Page')
                                i.right.chevron.grey.icon
                            // if multiple_pages
                        .item
                            | #{delta_doc.total} Results
                    .scrolling.delta_cards
                        each delta_doc.result_ids
                            +delta_card
                            .ui.hidden.divider
            else
                |No results
    // if delta_doc.viewing_detail
    //     .column.scrolling
    //         +detail_pane



template(name='toggle_delta_config')
    if boolean_true
        .ui.active.icon.button.disable_key(title=label)
            +iconsmall name=icon
            // | #{label}
    else
        .ui.icon.button.enable_key(title=label)
            +iconsmall name=icon
            // | #{label}


template(name='children_view')
    if axon_schema
        .ui.header #{axon_schema.title}
    else
        |No schema found.

template(name='set_page_size')
    .ui.small.compact.icon.button.set_page_size(class=page_size_class title='Set Page Size') #{value}

template(name='set_delta_key')
    .ui.button.set_delta_key(class=set_delta_key_class)
        |#{label}

template(name='facet')
    // .ui.compact.segment
    .ui.accordion
        .active.title
            .ui.header
                if icon
                    i.icon
                        +iconsmall name=icon
                |#{title}
        .active.content
            each values
                +selector

template(name='selector')
    if name
        .ui.toggle_value.compact.small.margined.button(class=toggle_value_class)
            .large110 #{name}
                small #{count}
    else
        .ui.toggle_value.compact.small.button(class=toggle_value_class)
            .large110 Null
                small #{count}

template(name='edit_field_text')
    .ui.labeled.fluid.input
        .ui.basic.label(title=key) #{label}
        input.text_val(type='text' value=field_value)

template(name='edit_field_number')
    .ui.labeled.fluid.input
        .ui.basic.label(title=key) #{label}
        input.number_val(type='number' value=field_value)


template(name='delta_card')
    with local_doc
        .ui.fluid.card(class=delta_card_class)
            if doc_header_fields
                a.content.delta_card(href='#')
                    h4.ui.header
                        if icon
                            +icon name=icon
                        each doc_header_fields
                            |#{value}
                            |&nbsp;
            if delta_doc.view_full
                .content
                    .ui.list
                        each field_docs
                            if value
                                .item
                                    if field_template
                                        +Template.dynamic template=field_template
                                    else
                                        .content(title=title)
                                            if icon
                                                i.icon
                                                    +icon name=icon
                                            // strong #{title}
                                            |&nbsp;
                                            if is_array
                                                each value
                                                    .ui.basic.label #{this}
                                            else
                                                | #{value}
            if actions
                .content
                    each actions
                        +Template.dynamic template=action_button_template data=detail_doc
                    .ui.icon.button
                        +icon name='checkmark'
                    .ui.icon.button
                        +icon name='good-quality'
                    .ui.icon.button
                        +icon name='poor-quality'
                    .ui.icon.button
                        +icon name='checkmark'
            .ui.bottom.attached.menu
                .item
                    +iconsmall name='comments' classes='spaced'
                    | Comment
                .item
                    +iconsmall name='user-engagement-female' classes='spaced'
                    | Assignments
                .item
                    +iconsmall name='rss' classes='spaced'
                    | Events
                .item 1

            // .content
            //     +assignment_pane
            // .content
            //     +comment_pane
            // .content
            //     +subscribe_pane
        // .ui.bottom.attached.icon.compact.button
        //     i.chevron.down.icon

