template(name='delta')
    .ui.stackable.padded.grid
        if currentUser
            .centered.nav_bar.row
                .three.wide.column.pointer.toggle_leftbar
                    .ui.inverted.header
                        if current_type.icon
                            +icon name=current_type.icon classes='spaced mini'
                        | #{current_type.title}
                .ten.wide.column.pointer.toggle_topbar
                    img.ui.small.centered.image(src='https://jan-pro.com/wp-content/themes/underboot/img/jan-pro-white.svg')
                .one.wide.column.toggle_topbar.pointer
                    +icon name='mailbox-with-letter' classes='mini centered'
                .one.wide.column.toggle_topbar.pointer
                    +icon name='appointment-reminders' classes='mini centered'
                .one.wide.column.toggle_rightbar.pointer
                    if currentUser.image_id
                        img.ui.mini.centered.image(src="{{c.url currentUser.image_id width=50 height=50 gravity='face' crop='fill'}}")
                    else
                        +icon name='gender-neutral-user' classes='mini centered'
            if delta.viewing_topbar
                +topbar
        if currentUser
            unless delta
                .row
                    .sixteen.wide.column
                        if currentUser
                            .create_delta.ui.button(title='Create Session')
                                i.green.plus.icon
                                | Session
            if delta
                // .row
                //     .sixteen.wide.column
                //         .ui.breadcrumb
                //             a.section Home
                //             i.right.chevron.icon.divider
                //             a.section Registration
                //             i.right.arrow.icon.divider
                //             .active.section Personal Information
                .row
                    if delta.viewing_leftbar
                        +leftbar
                    if delta.viewing_delta
                        .four.wide.column.scrolling
                            each delta_fields
                                +facet
                                .ui.hidden.divider
                    // unless delta.viewing_leftbar
                    //     unless delta.viewing_detail
                    //         unless delta.viewing_rightbar
                    //             unless delta.viewing_page
                    .center_column(class=center_column_class)
                        if delta.viewing_page
                            +Template.dynamic template=delta.page_template
                        else
                            +delta_results
                    if delta.viewing_rightbar
                        +rightbar









template(name='toggle_delta_config')
    if boolean_true
        .ui.active.icon.button.disable_key(title=label)
            +iconsmall name=icon
            // | #{label}
    else
        .ui.icon.button.enable_key(title=label)
            +iconsmall name=icon
            // | #{label}


template(name='children_view')
    if axon_schema
        .ui.header #{axon_schema.title}
    else
        |No schema found.

template(name='set_page_size')
    .one.wide.center.aligned.pointer.column.rounded.set_page_size(class=page_size_class title='Page Size')
        strong #{value}

template(name='set_delta_key')
    .ui.button.set_delta_key(class=set_delta_key_class)
        |#{label}

template(name='facet')
    // .ui.compact.segment
    .ui.accordion
        .active.title
            .ui.header
                if icon
                    i.icon
                        +iconsmall name=icon
                |#{title}
        .active.content
            // .ui.equal.width.grid.facet_class
            each values
                +selector

template(name='selector')
    if name
        // .column.toggle_value.pointer(class=toggle_value_class)
        .ui.compact.margined.toggle_value.button(class=toggle_value_class)
            | #{name}
            small #{count}
    else
        // .column.toggle_value.pointer(class=toggle_value_class)
        .ui.compact.margined.toggle_value.button(class=toggle_value_class)
            .large110 [none]
                small #{count}



template(name='delta_card')
    div(class=delta_card_class)
        with local_doc
            +Template.dynamic template=card_template


template(name='default_card')
    .ui.fluid.segment.delta_card(class=default_card_class)
        if doc_header_fields
            .content
                h3.ui.header
                    if icon
                        +icon name=icon
                    each doc_header_fields
                        |#{value}
                        |&nbsp;
        // if delta.view_full
        .content
            .ui.list
                each field_docs
                    if value
                        .item
                            if field_template
                                +Template.dynamic template=field_template
                            else
                                .content
                                    if icon
                                        i.large.icon
                                            +icon name=icon
                                    | #{title}
                                    |&nbsp;
                                    if is_array
                                        each value
                                            .ui.basic.label #{this}
                                    else
                                        strong #{value}
        if actions
            .content
                each actions
                    +Template.dynamic template=action_button_template data=detail_doc

