template(name='delta')
    .ui.stackable.padded.grid
        if currentUser
            unless delta
                .row
                    .sixteen.wide.column
                        if currentUser
                            .create_delta.ui.button(title='Create Session')
                                i.green.plus.icon
                                | Session
            if delta
                // .row
                //     .sixteen.wide.column
                //         .ui.breadcrumb
                //             a.section Home
                //             i.right.chevron.icon.divider
                //             a.section Registration
                //             i.right.arrow.icon.divider
                //             .active.section Personal Information
                .row
                    if delta.viewing_delta
                        unless delta.viewing_detail
                            .four.wide.column.scrolling
                                .ui.large.header
                                    if current_type.icon
                                        +icon name=current_type.icon classes='spaced mini'
                                    if current_type.plural
                                        | #{current_type.plural}
                                    else
                                        | #{current_type.title}
                                if is_dev
                                    +toggle_delta_config key='config_mode' title='Schema Configuration' label='Configure' icon='settings'
                                if can_add
                                    .ui.fluid.small.button.add_doc
                                        i.plus.icon
                                        | #{current_type.title}

                                each delta_fields
                                    .ui.hidden.divider
                                    +facet
                    // unless delta.viewing_leftbar
                    //     unless delta.viewing_detail
                    //         unless delta.viewing_rightbar
                    //             unless delta.viewing_page
                    .center_column(class=center_column_class)
                        if delta.viewing_page
                            +Template.dynamic template=delta.page_template
                        else
                            +delta_results


template(name='toggle_delta_config')
    if boolean_true
        .ui.active.icon.button.disable_key(title=label)
            +iconsmall name=icon
            // | #{label}
    else
        .ui.icon.button.enable_key(title=label)
            +iconsmall name=icon
            // | #{label}



template(name='set_page_size')
    .one.wide.center.aligned.pointer.column.rounded.set_page_size(class=page_size_class title='Page Size')
        strong #{value}

template(name='set_delta_key')
    .ui.button.set_delta_key(class=set_delta_key_class)
        |#{label}

template(name='facet')
    // .ui.compact.segment
    .ui.accordion
        .active.title
            .ui.header
                if icon
                    i.icon
                        +iconsmall name=icon
                |#{title}
        .active.content
            // .ui.equal.width.grid.facet_class
            each values
                +selector

template(name='selector')
    if name
        // .column.toggle_value.pointer(class=toggle_value_class)
        .ui.compact.margined.toggle_value.small.button(class=toggle_value_class)
            .large110 #{name}
                small #{count}
    else
        // .column.toggle_value.pointer(class=toggle_value_class)
        .ui.compact.margined.toggle_value.button(class=toggle_value_class)
            .large110 [none]
                small #{count}



