template(name='delta')
    .ui.stackable.padded.grid
        unless delta_doc
            .row
                .sixteen.wide.column
                    if currentUser
                        .create_delta.ui.button(title='Create Session')
                            i.plus.icon
                            |Create Session
        if delta_doc
            .four.wide.column.scrolling
                if current_type
                    .ui.stackable.grid
                        unless viewing_schemas
                            .three.wide.column
                                .ui.large.icon.button.view_schamas(title='Data')
                                    i.left.chevron.icon
                        .thirteen.wide.column
                            h1.ui.header
                                if current_type.icon
                                    +icon name=current_type.icon classes='spaced'
                                strong #{current_type.title}
                // else
                //     .ui.large.center.aligned.header
                //         +icon name='database'
                //         |Data
                .ui.compact.icon.button.delete_delta(title='Clear Session')
                    i.remove.icon
                    // |Clear
                .ui.compact.icon.button.run_fo(title='Reload Session')
                    i.refresh.icon
                    // |Reset
                if is_dev
                    .ui.icon.compact.button.show_delta
                        i.code.icon
                .ui.vertical.segments
                    each delta_fields
                        +facet

            .twelve.wide.column
                .ui.equal.width.stackable.grid
                    +delta_results



template(name='delta_results')
    .column
        if is_calculating
            .ui.hidden.divider
            .ui.active.indeterminate.massive.centered.inline.loader
        else
            if is_dev
                +toggle_delta_config key='config_mode' title='Schema Configuration' label='Configure' icon='administrative-tools'
            +toggle_delta_config key='view_full' title='View Full' icon='resize-diagonal' label='Expand'
            if can_add
                .ui.button.add_doc
                    i.green.plus.icon
                    |#{current_type.title}
            if delta_doc.config_mode
                .scrolling
                    .ui.header
                        +icon name='administrative-tools'
                        | Edit Schema '#{current_type.title}'
                    .ui.accordion
                        .active.title
                            .ui.small.header
                                +icon name='rename'
                                |Fields
                        .active.content
                            .ui.button.add_field
                                i.plus.icon
                                | Field
                            each schema_fields
                                +delta_card data=_id
                    .ui.hidden.divider
                    .ui.accordion
                        .active.title
                            .ui.small.header
                                +icon name='action'
                                | Actions
                        .active.content
                            .ui.button.add_action
                                i.plus.icon
                                | Action
                            each schema_actions
                                +delta_card data=_id
            else if delta_doc.result_ids
                if delta_doc.result_ids.length
                    .ui.horizontal.list
                        .item
                            .ui.compact.buttons
                                +set_page_size value=10
                                +set_page_size value=20
                                +set_page_size value=50
                        .item
                            if delta_doc.page_amount
                                .ui.icon.compact.buttons
                                    a.ui.page_down.button(title='Previous Page')
                                        i.left.chevron.grey.icon
                                    a.ui.page_up.button(title='Next Page')
                                        i.right.chevron.grey.icon
                                .ui.small.label
                                    | #{delta_doc.current_page}/#{delta_doc.page_amount}
                                // if show_increment
                        .item
                            .ui.label #{delta_doc.total} Results
                    .scrolling.delta_cards
                        .ui.stackable.cards
                            each delta_doc.result_ids
                                +delta_card
            else
                |No results
    if delta_doc.viewing_detail
        .column.scrolling
            +detail_pane



template(name='toggle_delta_config')
    if boolean_true
        .ui.blue.button.disable_key(title=title)
            i.icon
                +icon name=icon
            | #{label}
    else
        .ui.button.enable_key
            i.icon
                +icon name=icon
            | #{label}


template(name='detail_pane')
    .ui.fluid.small.icon.button.close_details
        i.right.chevron.icon
    .ui.fluid.card
        .content
            unless delta_doc.editing_mode
                .ui.header
                    if detail_doc.icon
                        i.icon
                            +icon name=detail_doc.icon
                    |#{detail_doc.title} Details
            if delta_doc.editing_mode
                .ui.header
                    if detail_doc.icon
                        i.icon
                            +icon name=detail_doc.icon
                    else
                        i.icon
                            +icon name='pencil'
                    |Edit #{detail_doc.title}
            .ui.hidden.divider
            .ui.form
                if delta_doc.editing_mode
                    each edit_fields
                        .field
                            +field_edit
                else
                    each fields
                        .field
                            +field_view
            if delta_doc.editing_mode
                .ui.hidden.divider
                .ui.grid
                    .thirteen.wide.column
                        .ui.green.fluid.icon.button.disable_editing(title='Save')
                            i.checkmark.icon
                            // |Save
                    .three.wide.column
                        .ui.red.fluid.icon.button.remove_doc
                            i.remove.icon
                            // |Delete
            unless delta_doc.editing_mode
                if can_edit
                    .ui.hidden.divider
                    .ui.icon.fluid.button.enable_editing
                        i.pencil.blue.icon
                        // |Edit

template(name='children_view')
    if axon_schema
        .ui.header #{axon_schema.title}
    else
        |No schema found.

template(name='set_page_size')
    .ui.small.button.set_page_size(class=page_size_class title='Set Page Size') #{value}

template(name='set_delta_key')
    .ui.button.set_delta_key(class=set_delta_key_class)
        |#{label}

template(name='facet')
    .ui.secondary.compact.segment
        .ui.accordion
            .active.title
                .ui.header
                    if icon
                        i.icon
                            +iconsmall name=icon
                    |#{title}
            .active.content
                each values
                    +selector

template(name='selector')
    .ui.toggle_value.compact.button(class=toggle_value_class)
        | #{name}
        small #{count}

template(name='edit_field_text')
    .ui.labeled.fluid.input
        .ui.basic.label(title=key) #{label}
        input.text_val(type='text' value=field_value)

template(name='edit_field_number')
    .ui.labeled.fluid.input
        .ui.basic.label(title=key) #{label}
        input.number_val(type='number' value=field_value)


template(name='delta_card')
    with local_doc
        .ui.card(class=delta_card_class)
            if doc_header_fields
                a.content.delta_card(href='#')
                    h3.ui.header
                        if icon
                            +icon name=icon
                        each doc_header_fields
                            |#{value}
                            |&nbsp;
            if delta_doc.view_full
                .content
                    .ui.list
                        each field_docs
                            if value
                                .item
                                    if field_template
                                        +Template.dynamic template=field_template
                                    else
                                        .content
                                            if icon
                                                i.icon(title=title)
                                                    +icon name=icon
                                            // strong #{title}
                                            |&nbsp;
                                            if is_array
                                                each value
                                                    .ui.basic.label #{this}
                                            else
                                                | #{value}
            if actions
                .content
                    each actions
                        +action

template(name='action')
    .ui.basic.button.fire_action
        |#{title}
        +iconsmall name=icon classes=''
