template(name='delta')
    .ui.stackable.padded.grid
        if currentUser
            .centered.nav_bar.row
                .three.wide.column.pointer.toggle_leftbar
                    .ui.inverted.header
                        if current_type.icon
                            +icon name=current_type.icon classes='spaced mini'
                        | #{current_type.title}
                .eleven.wide.column.pointer.toggle_topbar
                    img.ui.small.centered.image(src='https://jan-pro.com/wp-content/themes/underboot/img/jan-pro-white.svg')
                .one.wide.column.add_doc.pointer(title="Add #{current_type.title}")
                    if current_type
                        // if can_add
                        +icon name='plus' classes='mini centered'
                .one.wide.column.toggle_rightbar.pointer
                    if currentUser.image_id
                        img.ui.mini.centered.image(src="{{c.url currentUser.image_id width=50 height=50 gravity='face' crop='fill'}}")
                    else
                        +icon name='gender-neutral-user' classes='mini centered'
            if delta_doc.viewing_topbar
                +topbar
        if currentUser
            .row
                unless delta_doc
                    .sixteen.wide.column
                        if currentUser
                            .create_delta.ui.button(title='Create Session')
                                i.green.plus.icon
                                | Session
                if delta_doc
                    if delta_doc.viewing_leftbar
                        +leftbar
                    unless delta_doc.viewing_leftbar
                        unless delta_doc.viewing_detail
                            unless delta_doc.viewing_rightbar
                                .four.wide.column.scrolling
                                    each delta_fields
                                        +facet
                                        .ui.hidden.divider
                    if delta_doc.viewing_page
                        .twelve.wide.column
                            +Template.dynamic template=delta_doc.page_template
                    else
                        +delta_results
                    if delta_doc.viewing_rightbar
                        +rightbar






template(name='delta_results')
    .column(class=results_class)
        // if is_dev
        //     unless delta_doc.viewing_detail
        //         +toggle_delta_config key='config_mode' title='Schema Configuration' label='Configure' icon='settings'
        // +toggle_delta_config key='view_full' title='View Full' icon='resize-diagonal' label='Expand Cards'
        if delta_doc.config_mode
            .scrolling
                .ui.header
                    +icon name='administrative-tools'
                    | Edit Schema '#{current_type.title}'
                .ui.accordion
                    .active.title
                        .ui.small.header
                            +icon name='rename'
                            |Fields
                    .active.content
                        .ui.button.add_field
                            i.plus.icon
                            | Field
                        each schema_fields
                            +delta_card data=_id
                .ui.hidden.divider
                .ui.accordion
                    .active.title
                        .ui.small.header
                            +icon name='action'
                            | Actions
                    .active.content
                        .ui.button.add_action
                            i.plus.icon
                            | Action
                        each schema_actions
                            +delta_card data=_id
        else
            if delta_doc.result_ids
                if delta_doc.result_ids.length
                    unless delta_doc.viewing_detail
                        .ui.middle.aligned.grid
                            .row
                                +set_page_size value=10
                                +set_page_size value=20
                                +set_page_size value=50
                                .three.wide.column
                                    if multiple_pages
                                        .ui.basic.label
                                            | #{delta_doc.current_page}/#{delta_doc.page_amount}
                                    | #{delta_doc.total} Results
                                .three.wide.column
                                    if show_page_down
                                        a.page_down.pointer(title='Previous Page')
                                            +icon name='chevron-left' classes='mini'
                                    if show_page_up
                                        a.page_up.pointer(title='Next Page')
                                            +icon name='chevron-right' classes='mini'
                                .two.wide.column
                                    +icon name='grid' classes='mini'
                                .two.wide.column
                                    +icon name='list' classes='mini'
                                .two.wide.column
                                    +icon name='double-down' classes='mini'
                        .ui.hidden.divider
                    if is_calculating
                        .ui.hidden.divider
                        .ui.active.indeterminate.massive.centered.inline.loader
                    else
                        if delta_doc.viewing_detail
                            with delta_doc.detail_id
                                +delta_card
                        else
                            .scrolling.delta_cards
                                each delta_doc.result_ids
                                    +delta_card
                                    .ui.hidden.divider
            else
                |No results
    // if delta_doc.viewing_detail
    //     .column.scrolling
    //         +detail_pane



template(name='toggle_delta_config')
    if boolean_true
        .ui.active.icon.button.disable_key(title=label)
            +iconsmall name=icon
            // | #{label}
    else
        .ui.icon.button.enable_key(title=label)
            +iconsmall name=icon
            // | #{label}


template(name='children_view')
    if axon_schema
        .ui.header #{axon_schema.title}
    else
        |No schema found.

template(name='set_page_size')
    .one.wide.center.aligned.pointer.column.rounded.set_page_size(class=page_size_class title='Set Page Size')
        | #{value}

template(name='set_delta_key')
    .ui.button.set_delta_key(class=set_delta_key_class)
        |#{label}

template(name='facet')
    // .ui.compact.segment
    .ui.accordion
        .active.title
            .ui.header
                if icon
                    i.icon
                        +iconsmall name=icon
                |#{title}
        .active.content
            .ui.equal.width.grid.facet_class
                each values
                    +selector

template(name='selector')
    if name
        .column.toggle_value.pointer(class=toggle_value_class)
            | #{name}
            small #{count}
    else
        .column.toggle_value.pointer(class=toggle_value_class)
            .large110 [none]
                small #{count}



template(name='delta_card')
    .column(class=delta_card_class)
        with local_doc
            +Template.dynamic template=card_template


template(name='default_card')
    .ui.fluid.segment.delta_card(class=delta_card_class)
        if doc_header_fields
            .content
                h3.ui.header
                    if icon
                        +icon name=icon
                    each doc_header_fields
                        |#{value}
                        |&nbsp;
        if delta_doc.view_full
            .content
                .ui.list
                    each field_docs
                        if value
                            .item
                                if field_template
                                    +Template.dynamic template=field_template
                                else
                                    .content
                                        if icon
                                            i.large.icon
                                                +icon name=icon
                                        | #{title}
                                        |&nbsp;
                                        if is_array
                                            each value
                                                .ui.basic.label #{this}
                                        else
                                            strong #{value}
        if actions
            .content
                each actions
                    +Template.dynamic template=action_button_template data=detail_doc

