template(name='detail_pane')
    .ui.fluid.small.icon.button.close_details
        i.right.chevron.icon
    .ui.fluid.card
        .content
            unless delta_doc.editing_mode
                .ui.header
                    if detail_doc.icon
                        i.icon
                            +icon name=detail_doc.icon
                    |#{detail_doc.title} Details
            // unless delta_doc.editing_mode
            if delta_doc.editing_mode
                .ui.header
                    if detail_doc.icon
                        i.icon
                            +icon name=detail_doc.icon
                    else
                        i.icon
                            +icon name='pencil'
                    |Edit #{detail_doc.title} #{current_type.title}
            .ui.hidden.divider
            // .ui.form
            if delta_doc.editing_mode
                .ui.grid
                    .thirteen.wide.column
                        .ui.green.fluid.icon.button.disable_editing(title='Save')
                            i.checkmark.icon
                            // |Save
                    .three.wide.column
                        .ui.red.icon.button.remove_doc(title='Title')
                            i.remove.icon
                            // |Delete

                each edit_fields
                    +field_edit
                    // .ui.hidden.divider
            else
                each fields
                    .field
                        +field_view
            if delta_doc.editing_mode
                .ui.hidden.divider
                .ui.grid
                    .twelve.wide.column
                        .ui.green.fluid.icon.button.disable_editing(title='Save')
                            i.checkmark.icon
                            // |Save
                    .four.wide.column
                        .ui.red.icon.button.remove_doc(title='Delete')
                            i.remove.icon
                            // |Delete
                        // |Edit
        .content
            if can_edit
                .ui.icon.button.enable_editing(title="Edit")
                    +iconsmall name='edit'
            each actions
                +Template.dynamic template=action_button_template data=detail_doc
        each actions
            .content
                +Template.dynamic template=action_pane_template data=detail_doc

