template(name='dev')
    .ui.padded.stackable.grid
        .centered.middle.aligned.row
            .three.wide.center.aligned.column
                if is_admin
                    +link_button link='/p/admin' icon='user-shield' label='Admin'
            .ten.wide.column
                h2.ui.center.aligned.grey.header 
                    +icon name='code'
                    |Dev
            .three.wide.right.aligned.column
        .centered.row
            .four.wide.column
                .ui.header Cell Phone Test
                .ui.labeled.input
                    .ui.label Number
                    input#recipient_number(type='text')
                .ui.labeled.input
                    .ui.label Message
                    input#sms_message(type='text')
                #send_sms.ui.button Send Test SMS
            .four.wide.column
                .ui.header Email Test
                .ui.labeled.input
                    .ui.label Address
                    input#recipient_email(type='text')
                .ui.labeled.input
                    .ui.label Message
                    input#email_body(type='text')
                #send_email.ui.button Send Email
            .four.wide.column
                .ui.header Events
                each events
                    .ui.comment
                        .content
                            .author 
                                +author_info
                            .metadata
                                span.date #{when}
                            .text #{text}
            .four.wide.column
                .ui.header Pages
                +add_button type='page'
                each pages
                    .ui.header #{title} (#{slug})
                    a(href='/p/#{slug}') go



template(name='page_view')
    with page_doc
        if editing_mode
            .ui.fluid.tertiary.segment.editing_segment
                .ui.header 
                    +icon name='user-shield'
                    |Edit Page
                .ui.form
                    .fields
                        +edit_page_text_field key='title' label='Title'
                        +edit_page_text_field key='icon' label='Icon'
                        +edit_page_text_field key='slug' label='Slug'
                if icon 
                    +icon name=icon
                +edit_array_field key='tags'
                +set_page_key_value key='admin_nav' value=true label='Admin Nav Visible'
                +set_page_key_value key='admin_nav' value=false label='Hidden'
                // +edit_page_text_field key='root_grid_classes' label='Root Grid Classes'
                // #add_row.ui.button add row
                // .ui.header Rows
                // .ui.vertical.segments
                //     each rows
                //         .segment
                //             |#{number} 
                //             input.row_class(type='text' value=row_class placeholder='row class')
                //             .add_column.ui.button add column
                //             each columns
                //                 |#{number} 
                //                 input.column_class(type='text' value=column_class)
                //             i.remove_row.remove.icon
        .ui.padded.stackable.grid
            .centered.middle.aligned.row
                .three.wide.center.aligned.column
                    if is_admin
                        +link_button link='/p/admin' icon='user-shield' label='Admin'
                .ten.wide.column
                    h2.ui.center.aligned.grey.header 
                        +icon name=icon
                        | #{title}
                .three.wide.right.aligned.column
            .centered.row
        +blocks parent_id=_id
        
        
template(name='page')
    with page_doc
        if editing_mode
            .ui.fluid.tertiary.segment.editing_segment
                .ui.header 
                    if icon 
                        +icon name=icon
                    |Edit Page
                .ui.form
                    .fields
                        +edit_page_text_field key='title' label='Title'
                        +edit_page_text_field key='icon' label='Icon'
                        +edit_page_text_field key='slug' label='Slug'
                        +edit_number_field key='number' label='Rank'
                +edit_array_field key='tags'
                +set_page_key_value key='admin_nav' value=true label='Admin Nav Visible'
                +set_page_key_value key='admin_nav' value=false label='Admin Hidden'
                +set_page_key_value key='office_nav' value=true label='Office Nav Visible'
                +set_page_key_value key='office_nav' value=false label='Office Hidden'
                +set_page_key_value key='customer_nav' value=true label='Customer Nav Visible'
                +set_page_key_value key='customer_nav' value=false label='Customer Hidden'
                // +edit_page_text_field key='root_grid_classes' label='Root Grid Classes'
                // #add_row.ui.button add row
                // .ui.header Rows
                // .ui.vertical.segments
                //     each rows
                //         .segment
                //             |#{number} 
                //             input.row_class(type='text' value=row_class placeholder='row class')
                //             .add_column.ui.button add column
                //             each columns
                //                 |#{number} 
                //                 input.column_class(type='text' value=column_class)
                //             i.remove_row.remove.icon
        // .ui.padded.stackable.grid
        //     .centered.middle.aligned.row
        //         .three.wide.center.aligned.column
        //             if is_admin
        //                 +link_button link='/p/admin' icon='user-shield' label='Admin'
        //         .ten.wide.column
        //             h2.ui.center.aligned.grey.header 
        //                 +icon name=icon
        //                 | #{title}
        //         .three.wide.right.aligned.column
        //     .centered.row
        +blocks