template(name='doc')
    with local_doc
        .ui.header #{title}
        .ui.vertical.segments
            each fields
                .ui.segment
                    // if icon
                    //     +icon name=icon
                    strong #{title}
                    // s:#{slug} k:#{key}
                    |&nbsp;
                    if is_array
                        each value
                            .ui.margined.label #{this}
                    else
                        | #{value}