template(name='doc_edit')
    with doc
        +Template.dynamic template=type_edit




template(name='doc_view')
    with doc
        +Template.dynamic template=type_view


template(name='doc_card')
    .ui.card
        if title
            .content
                a.grey.header(href="/v/#{_id}")
                    if icon
                        +icon name=icon
                    |#{title}
        .content
            if is_dev
                .item Type: #{type}
            with schema_doc
                .ui.list
                    each fields
                        .item
                            small #{title}
                            | #{slug_value}
        .content
            +edit_button
            +view_button

