template(name='children_widget')
    .ui.card
        .content
            a.ui.center.aligned.icon.header(href=link)
                i.icon(class=icon)
                .content
                    |#{label}
            .ui.list
                each children
                    a.item(href="/view/#{_id}") #{name} #{title} !{html}
    
template(name='jpid_view')
    .ui.padded.stackable.centered.grid
        .centered.middle.aligned.row
            .three.wide.column
                +link_button link='/jpids' icon='hashtag' label='JP Ids'
            .ten.wide.column
                h1.ui.center.aligned.grey.header ##{jpid} JP Id
            .three.wide.column
                .refresh_jpid.ui.icon.button(title='Refresh JP ID Doc')
                    i.refresh.icon
        .centered.row
            .sixteen.wide.column
                +jsonView json=ev
            
            
template(name='jpids')
    .ui.padded.stackable.grid
        .row
            .three.wide.column
                +link_button link='/admin' icon='user-shield' label='Admin'
            .eight.wide.column
                .ui.center.aligned.header
                    i.hashtag.icon
                    | JP Id's
            .four.wide.column
                .ui.icon.input
                    i.search.icon  
                    input#jp_lookup(type='text' placeholder='Lookup Jan-Pro Id')
                // .ui.icon.input
                //     i.search.icon  
                //     input#ev_search(type='text' placeholder='Search EV')
        .row
            .sixteen.wide.column
                // +tabular table=TabularTables.Jpids selector=selector class="ui sortable fluid striped table"
                table.ui.celled.very.basic.table
                    thead
                        tr
                            th jpid
                            th Customer
                            th Franchisee
                            th Assigned To
                            th Office
                            th Status
                            th Area
                            th
                    tbody
                        each jpid_docs
                            tr
                                td #{jpid}
                                td #{ev.CUSTOMER}
                                td #{ev.FRANCHISEE}
                                td #{ev.ASSIGNED_TO}
                                td #{ev.MASTER_LICENSEE}
                                td #{ev.ACCOUNT_STATUS}
                                td #{ev.AREA}
                                td 
                                    +view_button

                    
template(name='history')
    .ui.padded.stackable.grid
        .row
            .three.wide.column
                +link_button link='/admin' icon='user-shield' label='Admin'
            .eight.wide.column
                .ui.center.aligned.header
                    i.hashtag.icon
                    | EV History
            .four.wide.column
                // .refresh_history.ui.icon.button(title='Run History API Call')
                //     i.refresh.icon
                .run_timestamp_search.ui.icon.button(title='Run Search Update')
                    i.refresh.icon
            
        .row
            .sixteen.wide.column
                .ui.header Search API Results
                table.ui.celled.table
                    thead
                        tr
                            th JPID
                            th Area
                            th Timestamp
                            th Last Change User
                            th Project
                            th Franchisee
                            th
                    tbody
                        each search_history_docs
                            tr
                                td #{ev.ID}
                                td #{ev.AREA}
                                td #{ev.TIMESTAMP}
                                td #{ev.LAST_CHANGE_USER}
                                td #{ev.PROJECT}
                                td #{ev.FRANCHISEE}
                                td 
                                    +view_button

                // +tabular table=TabularTables.Search_history selector=search_history_selector class="ui sortable fluid striped table"
                .ui.header History API Results
                table.ui.celled.table
                    thead
                        tr
                            th JPID
                            th Area
                            th Timestamp
                            th Last Change User
                            th Project
                            th Franchisee
                            th
                    tbody
                        each history_docs
                            tr
                                td #{ev.ID}
                                td #{ev.AREA}
                                td #{ev.TIMESTAMP}
                                td #{ev.LAST_CHANGE_USER}
                                td #{ev.PROJECT}
                                td #{ev.FRANCHISEE}
                                td 
                                    +view_button

                    
template(name='history_view')
    .ui.padded.stackable.grid
        .row
            .three.wide.column
                +link_button link='/ev' icon='database' label='EV Dash'
            .eight.wide.column
                .ui.center.aligned.header
                    i.hashtag.icon
                    | EV History
            .four.wide.column
                .refresh_history.ui.icon.button(title='Refresh History')
                    i.refresh.icon
            
        .row
            .sixteen.wide.column
                .ui.list
                    with ev
                        .item ID: #{ID}
                        .item AREA: #{AREA}
                        .item PROJECT: #{PROJECT}
                        .item TIMESTAMP: #{TIMESTAMP}
                        .item LAST_CHANGE_USER: #{LAST_CHANGE_USER}
                        .item DATE_CREATED: #{DATE_CREATED}
                        .item ORIGINATOR: #{ORIGINATOR}
                        .item MASTER_LICENSEE: #{MASTER_LICENSEE}
                        .item MASTER_COUNTRY: #{MASTER_COUNTRY}
                        .item CUSTOMER: #{CUSTOMER}
                        .item FRANCHISEE: #{FRANCHISEE}
                        .item SUBCONTRACTOR: #{SUBCONTRACTOR}
                        .item SERV_TYPE: #{SERV_TYPE}
                        .item EXTRA_PRICE: #{EXTRA_PRICE}
                        .item EXTRA_TAX: #{EXTRA_TAX}
                        .item EXTRA_SERV_DESC: #{EXTRA_SERV_DESC}
                        .item FULL_TIMESTAMP: #{FULL_TIMESTAMP}

template(name='search_history_doc_view')
    .ui.padded.stackable.centered.grid
        .centered.middle.aligned.row
            .three.wide.column
                +link_button link='/history' icon='calendar' label='history'
            .ten.wide.column
                h1.ui.center.aligned.grey.header Search History Doc View #{ev.ID}
            .three.wide.column
                // +edit_button
        .centered.row
            .sixteen.wide.column
                +jsonView json=ev
            
template(name='franchisees')
    .ui.padded.stackable.grid
        .middle.aligned.row
            .four.wide.column
                +link_button link='/admin' label='Admin' icon='user-shield'
            .eight.wide.column
                h1.ui.center.aligned.header
                    +icon name='collaborator-female'
                    | Franchisees
            .four.wide.column
                // if is_dev
                //     .get_all_franchisees
                //         +icon name='refresh'
        .row
            .sixteen.wide.column
                +reactiveTable settings=settings class="ui celled striped sortable table"
                    
                    
template(name='franchisee_view')
    .ui.padded.stackable.grid
        .centered.row
            +office_by_franchisee
        .centered.middle.aligned.row
            .three.wide.column
                +link_button link='/franchisees' icon='collaborator-female' label='Franchisees'
            .ten.wide.column
                h1.ui.center.aligned.grey.header #{ev.FRANCHISEE} Franchisee
            .three.wide.right.aligned.column
                +edit_button
        .centered.row
            .twelve.wide.column
                .ui.secondary.segment
                    .ui.large.list
                        .item JPID #
                            strong #{ev.ID}
                        .item Email: 
                            strong #{ev.FRANCH_EMAIL}
                        .item Short Name: 
                            strong #{ev.FRANCH_NAME}
                        .item Cell: 
                            strong #{ev.TELE_CELL}
                        // .item Master Licensee: 
                        //     strong #{ev.MASTER_LICENSEE}
        .centered.row
            .fifteen.wide.column
                +franchisee_customers

    
template(name='office_by_franchisee')
    a.ui.center.aligned.button(href="/view/#{parent_office._id}" title="#{ev.FRANCHISEE}'s Office")
        // .ui.dividing.header 
        i.large.icon
            +icon name='link-company-parent'
        with parent_office
            | #{ev.MASTER_LICENSEE}