template(name='ticket_facet')
    .ui.stackable.grid
        .row
            .right.floated.three.wide.column
                .set_view_cards.ui.button(class=view_cards_class)
                    +iconsmall name='activity-grid-2'
                .set_view_segments.ui.button(class=view_segments_class)
                    +iconsmall name='menu'
        .row
            .four.wide.column
                +ticket_type_facet
                +level_facet
                +status_facet
                +office_facet
                +customer_facet
                +timestamp_facet
            .twelve.wide.column
                .row
                    if view_segments
                        each tickets
                            +facet_segment
                    if view_cards
                        .ui.four.stackable.cards
                            each tickets
                                +facet_card

template(name='facet_card')
    .card
        .content
            .right.floated
                +level_icon
            .header
                +status_template
                a(href="/p/ticket_admin_view?doc_id=#{_id}")
                    |##{ticket_number}
        .content
            +ticket_type_label
        .content
            p #{ticket_details}
            .ui.list
                .item
                    i.building.grey.icon(title='Office')
                    |#{ticket_office_name}
                .item
                    i.money.grey.icon(title='Customer')
                    |#{customer_name}
                .item
            // each timestamp_tags
            //     .ui.compact.label #{this}
            +when_template


template(name='facet_segment')
    .ui.segment
        .content
            .ui.header
                +status_template
                a(href="/p/ticket_admin_view?doc_id=#{_id}")
                    |##{ticket_number}
                +level_icon
        .content
            +ticket_type_label
            p #{ticket_details}
            .ui.list
                .item
                    i.building.grey.icon(title='Office')
                    |#{ticket_office_name}
                .item
                    i.money.grey.icon(title='Customer')
                    |#{customer_name}
                .item
            // each timestamp_tags
            //     .ui.compact.label #{this}
            +when_template



template(name='boolean_facet')
    .ui.small.header filter #{key}
    .pick_yes.ui.button yes
    .pick_no.ui.button no


template(name='tag_facet')
    // |&nbsp;
    .ui.small.header
        |Tags
    if selected_tags
        #clear_tags.ui.icon.primary.button
            i.remove.icon
        each selected_tags
            .unselect_tag.ui.primary.button
                strong #{this}
    each tags
        .ui.button.select_tag(class=tag_class)
            | #{this.name}
            small #{this.count}



template(name='customer_facet')
    div
    +icon name='headset' classes='inline spaced' title='Customer'
    if selected_customers
        // #clear_customers.ui.icon.primary.button
        //     i.remove.icon
        each selected_customers
            .unselect_customer.ui.primary.compact.small.button
                | #{this}
    each customers
        .ui.compact.small.button.select_customer(class=customer_class)
            | #{name}
            small #{count}



template(name='office_facet')
    div
    +icon name='building' classes='inline spaced' title='Office'
    if selected_offices
        // #clear_offices.ui.icon.primary.button
        //     i.remove.icon
        each selected_offices
            .unselect_office.ui.primary.small.compact.button
                | #{this}
    each offices
        .ui.compact.small.button.select_office(class=office_class)
            | #{this.name}
            small #{this.count}


template(name='ancestor_facet')
    // |&nbsp;
    // .ui.header ancestors
    // if selected_ancestor_ids
    //     #clear_ancestor_ids.ui.icon.button
    //         i.remove.icon
    //     each selected_ancestor_ids
    //         .unselect_ancestor_id.ui.button
    //             strong #{this}
    each ancestors
        // a.ui.button.select_ancestor_id(class=ancestor_id_class)
        .ui.button.select_ancestor_id
            // strong #{this.name}
            strong #{title}


template(name='location_facet')
    .ui.small.header
        +icon name='marker'
        | Location
    if selected_location_tags
        #clear_location_tags.ui.icon.primary.button
            i.remove.icon
        each selected_location_tags
            .unselect_location_tag.ui.primary.button
                strong #{this}
    each location_tags
        .ui.compact.button.select_location_tag(class=location_tag_class)
            strong #{this.name}
            // if isInRole 'admin'
            //     small #{this.count}
    // .ui.divider


template(name='timestamp_facet')
    div
    +icon name='timer' classes='inline spaced' title='Created'
    if selected_timestamp_tags
        // #clear_timestamp_tags.ui.icon.primary.button
        //     i.remove.icon
        each selected_timestamp_tags
            .unselect_timestamp_tag.ui.primary.compact.button
                strong #{this}
    each timestamp_tags
        .ui.compact.button.select_timestamp_tag(class=timestamp_tag_class)
            | #{this.name}
            small #{this.count}


template(name='username_facet')
    .ui.small.header
        i.users.icon
        | Authors
    if selected_author_ids
        #clear_authors.ui.icon.button
            i.remove.icon
        each selected_author_ids
            .unselect_author.ui.button
                strong #{this}
    each author_tags
        .ui.button.select_author(class=cloud_tag_class)
            img.ui.avatar.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
            strong #{username}
            // if isInRole 'admin'
            //     small #{this.count}
    // .ui.divider


template(name='parent_facet')
    .ui.small.header
        // img(src="https://png.icons8.com/color/100/000000/couple-man-woman.png")
        | parent docs
    if selected_parent_ids
        #clear_parents.ui.icon.button
            i.remove.icon
        each selected_parent_ids
            .unselect_parent.ui.button
                strong #{this}
    each available_parent_docs
        .ui.button.select_author(class=cloud_tag_class)
            | #{title}
            // if isInRole 'admin'
            //     small #{this.count}
    // .ui.divider




template(name='level_facet')
    div
    +icon name='positive-dynamic' title='Level' classes='inline spaced'
    if selected_levels
        // #clear_levels.ui.icon.button
        //     i.remove.icon
        each selected_levels
            .unselect_level.ui.primary.button
                strong #{this}
    each levels
        .ui.button.select_level(class=cloud_tag_class)
            strong #{name}
            small #{count}

template(name='status_facet')
    div
    if selected_status
        // #clear_status.ui.icon.button
        //     i.remove.icon
        each selected_status
            .unselect_status.ui.primary.button
                if this
                    +iconsmall name='ok' classes='inline spaced'
                    |Open
                else
                    +iconsmall name='inactive-state' classes='inline spaced'
                    |Closed
    each status
        .ui.button.select_status(class=cloud_tag_class)
            if name
                +iconsmall name='ok' classes='inline spaced'
                |Open
            else
                +iconsmall name='inactive-state' classes='inline spaced'
                |Closed
            // | #{name}
            small #{count}

template(name='ticket_type_facet')
    div
    +icon name='clone' title='Ticket Type' classes='inline spaced'
    if selected_ticket_types
        // #clear_ticket_types.ui.icon.button
        //     i.remove.icon
        each selected_ticket_types
            .unselect_ticket_type.ui.primary.small.compact.button
                | #{this}
    each ticket_types
        .ui.small.compact.button.select_ticket_type(class=cloud_tag_class)
            | #{name}
            small #{count}


template(name='tag_result')
    .three.wide.column #{title} #{office_name} #{name}