template(name='ticket_facet')
    .ui.stackable.grid
        .row
            .four.wide.column

            .five.wide.column
            .right.floated.three.wide.column
                .set_view_cards.ui.button(class=view_cards_class)
                    +iconsmall name='activity-grid-2'
                .set_view_segments.ui.button(class=view_segments_class)
                    +iconsmall name='menu'
                .set_view_table.ui.button(class=view_table_class)
                    +iconsmall name='data-sheet-filled'
        .row
            .twelve.wide.column
                .row
                    if view_segments
                        each tickets
                            +facet_segment
                    if view_table
                        +facet_table
                    if view_cards
                        .ui.four.stackable.cards
                            each tickets
                                +facet_card

template(name='facet_table')
    table.ui.striped.table(class=table_classes)
        thead
            tr
                each th_field_docs
                    +table_column_header
        // tbody
        //     each children
        //         tr
        //             each children_field_docs
        //                 if visible
        //                     if display_field_template
        //                         td(style="overflow:visible;")
        //                             +Template.dynamic template=display_field_template data=..
        //                     else
        //                         td(class=table_cell_class) #{child_schema_field_value}
        //                     // td(class=table_cell_class) #{child_schema_field_value}

        tbody
            each facet_doc.result_ids
                +dao_table_row

template(name='table_column_header')
    if visible
        if sortable
            th.sort_key.single.line
                |#{label}
                if is_sorting
                    i.loading.refresh.icon
                else if sort_descending
                    i.chevron.down.link.icon
                else if sort_ascending
                    i.chevron.up.link.icon
                else
                    i.sort.link.grey.icon
        else
            th.single.line
                |#{label}


template(name='dao_table_row')
    with local_doc
        tr
            td #{ticket_number}
            td
                +status_template
            td #{ticket_office_name}
            td #{ticket_franchisee}
            td #{customer_name}
            td
                +ticket_type_label
            td
                +level_icon
            td #{ticket_details}
            td
                a.ui.icon.button(href="/p/ticket_admin_view?doc_id=#{_id}")
                    i.right.chevron.icon



template(name='facet_card')
    with local_doc
        .card(class=ticket_color_class)
            .content
                .right.floated
                    +level_icon
                .header
                    +status_template
                    a(href="/p/ticket_admin_view?doc_id=#{_id}")
                        |##{ticket_number}
            .content
                p
                    strong #{ticket_details}
            .content
                .ui.list
                    .item
                        +ticket_type_label
                    .item
                        i.building.grey.icon(title='Office')
                        |#{ticket_office_name}
                    .item
                        i.suitcase.grey.icon(title='Franchisee')
                        |#{ticket_franchisee}
                    .item
                        i.money.grey.icon(title='Customer')
                        |#{customer_name}
                // each timestamp_tags
                //     .ui.compact.label #{this}
                +when_template


template(name='facet_segment')
    with local_doc
        .ui.segment(class=ticket_color_class)
            .content
                .ui.header
                    |#{ticket_details}
            .content
                .ui.horizontal.list
                    .item
                        a(href="/p/ticket_admin_view?doc_id=#{_id}")
                            |##{ticket_number}
                    .item
                        +status_template
                    .item
                        +level_icon
                    .item
                        +ticket_type_label
                    .item
                        i.building.grey.icon(title='Office')
                        |#{ticket_office_name}
                    .item
                        i.money.grey.icon(title='Customer')
                        |#{customer_name}
                    .item
                // each timestamp_tags
                //     .ui.compact.label #{this}
                +when_template



template(name='boolean_facet')
    .ui.small.header filter #{key}
    .pick_yes.ui.button yes
    .pick_no.ui.button no




template(name='tag_result')
    .three.wide.column #{title} #{office_name} #{name}