template(name='boolean_facet')
    .ui.header filter #{key}
    .pick_yes.ui.button yes
    .pick_no.ui.button no


template(name='tag_facet')
    // |&nbsp;
    .ui.header
        |Tags
    if selected_tags
        #clear_tags.ui.icon.active.button
            i.remove.icon
        each selected_tags
            .unselect_tag.ui.active.button
                strong #{this}
    each tags
        .ui.button.select_tag(class=tag_class)
            | #{this.name}
            small #{this.count}

template(name='customer_facet')
    .ui.header
        +icon name='headset'
        |Customers
    if selected_customers
        #clear_customers.ui.icon.active.button
            i.remove.icon
        each selected_customers
            .unselect_customer.ui.active.button
                strong #{this}
    each customers
        .ui.compact.small.button.select_customer(class=customer_class)
            | #{this.name} #{this.count}

template(name='office_facet')
    .ui.header
        +icon name='building'
        |Offices
    if selected_offices
        #clear_offices.ui.icon.active.button
            i.remove.icon
        each selected_offices
            .unselect_office.ui.active.button
                strong #{this}
    each offices
        .ui.compact.small.button.select_office(class=office_class)
            | #{this.name} #{this.count}


template(name='ancestor_facet')
    // |&nbsp;
    // .ui.header ancestors
    // if selected_ancestor_ids
    //     #clear_ancestor_ids.ui.icon.button
    //         i.remove.icon
    //     each selected_ancestor_ids
    //         .unselect_ancestor_id.ui.large.button
    //             strong #{this}
    each ancestors
        // a.ui.button.select_ancestor_id(class=ancestor_id_class)
        .ui.button.select_ancestor_id
            // strong #{this.name}
            strong #{title}
            // if isInRole 'admin'
            //     small #{this.count}
    // .ui.divider
template(name='location_facet')
    .ui.header
        +icon name='marker'
        | Location
    if selected_location_tags
        #clear_location_tags.ui.icon.active.button
            i.remove.icon
        each selected_location_tags
            .unselect_location_tag.ui.active.button
                strong #{this}
    each location_tags
        .ui.compact.button.select_location_tag(class=location_tag_class)
            strong #{this.name}
            // if isInRole 'admin'
            //     small #{this.count}
    // .ui.divider


template(name='timestamp_facet')
    .ui.header
        +icon name='timer'
        | Created
    if selected_timestamp_tags
        #clear_timestamp_tags.ui.icon.active.button
            i.remove.icon
        each selected_timestamp_tags
            .unselect_timestamp_tag.ui.active.button
                strong #{this}
    each timestamp_tags
        .ui.compact.button.select_timestamp_tag(class=timestamp_tag_class)
            strong #{this.name}
            // if isInRole 'admin'
            //     small #{this.count}
    // .ui.divider

template(name='username_facet')
    .ui.header
        i.users.icon
        | Authors
    if selected_author_ids
        #clear_authors.ui.icon.button
            i.remove.icon
        each selected_author_ids
            .unselect_author.ui.large.button
                strong #{this}
    each author_tags
        .ui.button.select_author(class=cloud_tag_class)
            img.ui.avatar.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
            strong #{username}
            // if isInRole 'admin'
            //     small #{this.count}
    // .ui.divider
template(name='parent_facet')
    .ui.header
        // img(src="https://png.icons8.com/color/100/000000/couple-man-woman.png")
        | parent docs
    if selected_parent_ids
        #clear_parents.ui.icon.button
            i.remove.icon
        each selected_parent_ids
            .unselect_parent.ui.large.button
                strong #{this}
    each available_parent_docs
        .ui.button.select_author(class=cloud_tag_class)
            | #{title}
            // if isInRole 'admin'
            //     small #{this.count}
    // .ui.divider


template(name='ticket_facet')
    .ui.grid
        .four.wide.column
            +office_facet
            +customer_facet
            +timestamp_facet
        .twelve.wide.column
            .ui.header Tickets
            .ui.four.cards
                each tickets
                    .card
                        .content
                            .right.floated
                                +level_icon
                            .header
                                +status_template
                                |##{ticket_number}
                        .content
                            p #{ticket_details}
                            .ui.list
                                .item
                                    i.building.grey.icon(title='Office')
                                    |#{ticket_office_name}
                                .item
                                    i.money.grey.icon(title='Customer')
                                    |#{customer_name}
                                .item
                            // each timestamp_tags
                            //     .ui.compact.label #{this}
                            +when_template


template(name='level_facet')
    .ui.header
        |Levels
    if levels
        #clear_levels.ui.icon.button
            i.remove.icon
        each levels
            .unselect_level.ui.large.button
                strong #{this}
    each levels
        .ui.button.select_level(class=cloud_tag_class)
            | #{this.title}
            small #{this.count}


template(name='tag_result')
    .three.wide.column #{title} #{office_name} #{name}