template(name='oasis')
    .ui.padded.stackable.grid
        .centered.row
            .ten.wide.column
                h1.ui.center.aligned.header
                    +icon name='rss'
                    | Global Feed
        .row
            .sixteen.wide.column
                #set_table_view.ui.icon.button(class=table_mode_button_class)
                    i.table.icon
                #set_list_view.ui.icon.button(class=list_mode_button_class)
                    i.list.icon
        .row
            .four.wide.column
                +timestamp_facet
                +username_facet
                .ui.header Stats
                |Total
                +view_stat stat_type='total' doc_type='event'
            .twelve.wide.column
                if viewing_list
                    +feed
                if viewing_table
                    +table doc_type='event'
                        
                        
template(name='event_view')
    .ui.padded.stackable.grid
        .centered.row
            .three.wide.center.aligned.column
                +link_button link='/feed' label='Feed' icon='rss'
            .ten.wide.column
                h1.ui.header
                    +iconlarge name='rss'
                    | Event View
        .centered.row
            .ten.wide.column
                .event
                    .label
                        img.ui.avatar.image(src="{{c.url author.profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                    .content
                        .summary
                            a.user #{author.username}
                            |#{action} #{text}
                            a(href="/view/#{parent._id}") #{parent.title}
                            .date #{when}
                        .meta
                            +mark_read_link
                            if is_dev
                                i.remove_event.remove.link.icon
                                
                    
template(name='users_feed')
    h1.ui.header
        +icon name='rss'
        | Users Feed
    .ui.comments
        each feed_events
            +doc_history_event
                        
                        
template(name='users_feed_event')
    .event
        .label
            img.ui.avatar.image(src="{{c.url author.profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
        .content
            .summary
                a.user #{author.username}
                |#{action} #{text}
                a(href="/view/#{parent._id}") #{parent.title}
                .date #{when}
            .meta
                +mark_read_link
                if is_dev
                    i.remove_event.remove.link.icon
                    
                    
template(name='feed')
    .ui.header
        if icon
            +icon name=icon
        | #{title}
    .ui.comments
        each event_docs
            +doc_history_event
                        
                        
template(name='office_feed')
    .ui.header
        +icon name='activity-feed'
        | Activity
    // .ui.button escalation    
    // .ui.button message    
    // .ui.button assignment    
    // .ui.button alert    
    // .ui.button submission    
    
    .ui.comments
        each event_docs
            +doc_history_event
                        
                        

template(name='event')
    // .event
    //     .label
    //         img.ui.avatar.image(src="{{c.url author.profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
    //     .content
    //         .summary
    //             a.user #{author.username}
    //             |#{action} #{text}
    //             a(href="/view/#{parent._id}") #{parent.title}
    //             .date #{when}
    //         .meta
    //             // +mark_read_link
    .comment
        .avatar
            // img.ui.avatar.image(src="{{c.url author.profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
            +icon name=event_icon_name
        .content
            if show_author
                a.user #{author.username}
            .metadata
                .date {{ reg_format timestamp }}
            .text #{action} #{text}
            .actions
                if is_dev
                    i.remove_event.remove.link.icon


template(name='full_doc_history')
    .ui.secondary.segment
        .ui.header 
            +icon name='activity-feed'
            |Events
            // if is_admin
            //     small#clear_events (x)
        .ui.comments
            each doc_history_events
                +doc_history_event
                
template(name='doc_history_event')
    .comment
        .avatar
            // img.ui.avatar.image(src="{{c.url author.profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
            +icon name=event_icon_name
        .content
            if show_author
                a.user #{author.username}
            .metadata
                .date {{ reg_format timestamp }}
                .rating #{event_type}
            .text #{action} #{text}
            .actions
                if is_dev
                    i.remove_event.remove.link.icon
        
                
                
template(name='small_doc_history')
    // .ui.header History
    .ui.feed
        each doc_history_events
            +small_history_event
                
template(name='small_history_event')
    .event
        .content
            .extra.text
                |#{action} #{text}
            .summary
                .date {{reg_format timestamp}}
                
