template(name='feed')
    .ui.padded.stackable.grid
        .row
            .four.wide.column
                h1.ui.header
                    +officeicon name='rss'
                    | Feed
                h5.ui.header Global Events
            .twelve.wide.column
                .ui.feed
                    each feed_events
                        +feed_event
                        
                        
template(name='feed_event')
    .event
        .label
            img.ui.avatar.image(src="{{c.url author.profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
        .content
            .summary
                a.user #{author.username}
                |#{action} #{text}
                a(href="/view/#{parent._id}") #{parent.title}
                .date #{when}
            .meta
                +mark_read_link
                if is_dev
                    i.remove_event.remove.link.icon