template(name='edit_text_field')
    .ui.form
        .field(class=field_class)
            label
                if icon
                    i.icon(class=icon)
                |#{label}
            .ui.input
                input#text_field(type='text' value=page_key_value )


template(name='edit_text')
    .ui.fluid.input
        input.text_val(type='text' value=local_value )
        
        
template(name='edit_int')
    .ui.fluid.input
        input.int_val(type='number' min='0' value=local_value )
        
        
template(name='edit_boolean')
    if is_true
        #turn_off.ui.primary.compact.icon.button
            i.checkmark.icon
    else
        #turn_on.ui.compact.icon.button
            i.checkmark.icon
        
        
        
        
        
        
        
        
        
        

template(name='edit_page_text_field')
    .ui.form
        .field(class=field_class)
            label
                if icon
                    i.icon(class=icon)
                |#{label}
            .ui.input
                input.text_field(type='text' value=page_slug_key_value )

        
template(name='edit_profile_text_field')
    .ui.form
        .inline.field(class=field_class)
            label
                if icon
                    i.icon(class=icon)
                |#{label}
        input#text_field(type='text' value=profile_key_value )

        
template(name='edit_user_text_field')
    .ui.form
        .inline.field(class=field_class)
            label
                if icon
                    i.icon(class=icon)
                |#{label}
        input#text_field(type='text' value=user_key_value )

        
template(name='view_text_field')
    h4.ui.header #{title}: #{slug_value}
        
// template(name='edit_html_field')
//     .field
//         .froala-container
//             +froalaReactive getFEContext
        
template(name='edit_html')
    .field
        .froala-container
            +froalaReactive getFEContext
        
        
template(name='edit_date_field')            
    .ui.dividing.header 
        +icon name='calendar'
        |#{label}
    .field
        .ui.icon.fluid.input
            if icon
                i.icon(class=icon)
            input#date_field(type='date' value=key_value)        

template(name='view_date_field')            
    .ui.dividing.header 
        +icon name='calendar'
        |#{label}
    h4.ui.header
        if icon
            i.icon(class=icon)
        |#{key_value}


template(name='edit_datetime_field')       
    h3 
        i.big.icon
            +icon name='calendar'
        |#{label}
    #semcal.ui.calendar
        .ui.left.icon.fluid.input
            i.clock.icon
            input#datetime_field(type='text' value=key_value)        

template(name='edit_timerange_field') 
    // h3
    //     |Time Range
        // i.clock.icon
    .ui.form
        .field
            // label Start
            #time_start.ui.calendar
                .ui.left.icon.input
                    i.hourglass.start.icon
                    input#time_start_input(type='text' value=time_start)        
        // .field
        //     // label End
        //     #time_end.ui.calendar
        //         .ui.left.icon.input
        //             i.hourglass.end.icon
        //             input#time_end_input(type='text' value=time_end)        


template(name='edit_number_field')
    .ui.form
        .field(class=field_class)
            label 
                if icon
                    i.icon
                        +icon name=icon 
                |#{label}
            .ui.input
                input#number_field(type='number' min=min max=max value=page_slug_key_value)


template(name='block_edit_number')
    .ui.form
        .field(class=field_class)
            label #{label}
            .ui.input
                input#number_field(type='number' min='0' max='24' value=block_field_value)


template(name='block_boolean_toggle')      
    .ui.icon.button.toggle_field_boolean(class=block_field_value title=title)
        if block_field_value
            i.green.checkmark.icon
        else
            i.circle.outline.icon



template(name='block_edit_text_field')
    .ui.form
        .field(class=field_class)
            label
                if icon
                    i.icon(class=icon)
                |#{label}
            .ui.input
                input.block_text_field(type='text' value=block_field_value )



template(name='block_list_dropdown')
    .ui.compact.menu
        .ui.dropdown.item
            |#{block_field_value}
            .menu
                each incident_types
                    .select_dropdown_item.item #{title}






template(name='view_numeric_field')
    .ui.form
        .field
            label #{label}
            | {{key_value}}


template(name='edit_textarea')
    .ui.header 
        if icon
            +icon name=icon
        |#{label}
    .ui.form
        .field
            textarea.textarea(rows='5') #{page_key_value}


        
template(name='view_array_field')
    if field_value
        .ui.segment
            each field_value
                .ui.large.label #{this}
    
    
template(name='edit_array_field')
    .ui.header 
        // i.tags.icon
        |#{label}
    .ui.input
        input.new_entry(type='text' maxlength='50' placeholder='add tag')
        // .ui.icon.button
        //     i.right.arrow.icon
    // .ui.mini.input
    //     +inputAutocomplete settings=theme_select_settings id="theme_tag_select" class="" autocomplete="off"
    // each field_value
    each ../tags
        // a.ui.circular.button.doc_tag #{this}
        a.ui.button.doc_tag
            i.remove.icon
            |#{this}


template(name='edit_image_field')
    .ui.secondary.segment
        .ui.header 
            +icon name='picture'
            |Image
        if image_id
            .ui.image
                img(src="{{c.url image_id }}")
                a#remove_photo.ui.top.left.attached.link.label remove
                // .ui.bottom.right.attached.label Image Id: #{image_id}
        else
            input(type='file' name='upload_picture' accept='image/*')
        // if isInRole 'admin'
        //     .field
        //         label or Choose Cloudinary Image Id
        //         input#input_image_id(type='text')
        


template(name='cell_text_edit')
    if editing_cell
        .ui.fluid.icon.input
            input.cell_val(type='text' value=cell_value )
            i.save_field.link.checkmark.icon
    else
        |#{cell_value}
        &nbsp;
        if editing_mode
            i.edit_field.link.small.pencil.icon
            
            
template(name='user_cell_text_edit')
    if editing_cell
        .ui.fluid.icon.input
            input.cell_val(type='text' value=cell_value )
            i.save_field.link.checkmark.icon
    else
        |#{cell_value}
        &nbsp;
        i.edit_field.link.small.pencil.icon
            
            
            
            
            