template(name='block_edit')
    +Template.dynamic template=edit_template

template(name='boolean_edit')
    .ui.small.header
        if icon
            i.icon
                +icon name=icon
        |#{title}
    .ui.compact.margined.button.toggle_block(class=bool_switch_class title=key)
        if icon
            i.icon
                +icon name=icon
        |#{title}



template(name='array')
    .ui.small.header
        if icon
            +icon name=icon classes='mini spaced'
        |#{title}
    unless editing
        if value
            each value
                .ui.large.basic.label
                    |#{this}
    if editing
        .ui.fluid.labeled.right.icon.input
            input.add_array_element(type='text' placholder='add')
            i.plus.icon
        if value
            each value
                .ui.large.basic.label
                    i.pull_element.remove.link.icon
                    |#{this}
    if full_mode
        .edit.ui.compact.icon.button
            i.pencil.icon




template(name='multiref_edit')
    .ui.small.header
        if icon
            +icon name=icon classes='inline spaced'
        |#{title}
    each choices
        .ui.compact.margined.button.toggle_element(class=element_class)
            if icon
                i.icon
                    +icon name=icon
            |#{title}



template(name='ref_edit')
    .ui.small.header
        if icon
            +icon name=icon classes='inline spaced'
        |#{title}
    each choices
        .ui.compact.margined.button.choose_element(class=element_class)
            if icon
                i.icon
                    +icon name=icon
            |#{title}




template(name='string_edit')
    .ui.small.header
        if icon
            +icon name=icon classes='inline spaced'
        |#{title}
    .ui.fluid.input
        input.string_val(type='text' value=value)
    if is_slug
        .ui.button.slugify
            +icon name='slug' classes='mini'


template(name='header')
    if editing
        .ui.form
            .field
                label Title
                input.string_val(type='text' value=value)
    else
        .ui.header #{title}
    if full_mode
        .edit.ui.small.compact.icon.button
            i.pencil.icon


template(name='textarea')
    if editing
        .ui.form
            .field
                label Description
                textarea.text_val(rows='3') #{text}
    else
        .large120 #{text}
    if full_mode
        .edit.ui.small.compact.icon.button
            i.pencil.icon



template(name='edit_block_text')
    .ui.labeled.fluid.input
        .ui.basic.label(title=key) #{label}
        input.text_val(type='text' value=block_value)

template(name='edit_block_number')
    .ui.labeled.fluid.input
        .ui.basic.label(title=key) #{label}
        input.number_val(type='number' value=block_value)

template(name='textarea_edit')
    .ui.small.header
        if icon
            +icon name=icon classes='inline spaced'
        |#{title}
    .ui.form
        .field
            textarea.textarea_val(rows='10')
                |#{value}




template(name='number_edit')
    .ui.small.header
        if icon
            +icon name=icon classes='inline spaced'
        |#{title}
    .ui.fluid.input
        input.number_val(type='number' value=value)


template(name='date_edit')
    .ui.small.header
        if icon
            +icon name=icon classes='inline spaced'
        |#{title}
    .ui.fluid.input
        input.date_val(type='date' value=value)


template(name='block_view')
    if value
        .item
            if template
                +Template.dynamic template=template
            else
                if icon
                    i.icon
                        +icon name=icon
                |&nbsp;
                |#{title}:
                |&nbsp;
                if is_array
                    each value
                        .ui.basic.label #{this}
                else
                    strong &nbsp; #{value}





