template(name='edit_number_field')
    .field
        label #{label}
        input#number_field(type='number' min='0' val=key)


template(name='edit_type')
    .field
        label Type
        .ui.left.icon.input
            i.red.configure.icon
            input#type(type='text' value=type)

template(name='edit_text_field')
    .field
        label #{label}
        input#text_field(type='text' value=key)

        
        
template(name='edit_date_field')            
    .field
        label #{label}
        input#date_field(type='date' value=key)        
        
        
template(name='complete')            
    .field
        label Completed
        #mark_complete.ui.button(class=complete_class) Yes 
        #mark_incomplete.ui.button(class=incomplete_class) No 

template(name='staff_field')            
    .field
        label Staff
        input#staff(type='text' value=staff)        
