template(name='field_edit')
    if can_edit
        if is_boolean
            .ui.button.toggle_field(class=bool_switch_class title=key)
                if icon
                    i.icon
                        +icon name=icon
                |#{title}
        else if is_array
            .ui.fluid.labeled.right.icon.input
                .ui.basic.label #{title}
                input.add_array_element(type='text' placholder='add')
                i.plus.icon
            if value
                each value
                    .ui.basic.label
                        i.pull_element.remove.link.icon
                        |#{this}
            div
        else
            .ui.fluid.labeled.input
                .ui.basic.label #{title}
                input.text_field_val(type='text' value=value)


template(name='field_view')
    .item
        if field_template
            +Template.dynamic template=field_template
        else
            |#{title}:
            if is_array
                each value
                    .ui.basic.label #{this}
            else
                strong &nbsp; #{value}
