template(name='edit_text_field')
    .ui.basic.segment
        .ui.labeled.fluid.input
            .ui.label 
                if icon
                    i.icon(class=icon)
                |#{label}
            input#text_field(type='text' value=key_value)

        
template(name='edit_html_field')
    .field
        .froala-container
            +froalaReactive getFEContext
        
        
template(name='edit_date_field')            
    .field
        label #{label}
        .ui.left.icon.input
            if icon
                i.icon(class=icon)
            input#date_field(type='date' value=key_value)        
template(name='edit_number_field')
    .field
        label #{label}
        .ui.left.icon.input
            if icon
                i.icon(class=icon)
            input#number_field(type='number' min='0' value=key_value)


template(name='edit_textarea')
    .field
        label #{label}
        textarea#textarea(rows='10') #{key_value}


        