template(name='edit_text_field')
    .ui.labeled.fluid.input
        .ui.label 
            if icon
                i.icon(class=icon)
            |#{label}
        input#text_field(type='text' value=key_value )

        
template(name='edit_profile_text_field')
    .ui.labeled.fluid.input
        .ui.label 
            if icon
                i.icon(class=icon)
            |#{label}
        input#text_field(type='text' value=profile_key_value )

        
template(name='view_text_field')
    h4.ui.header #{title}: #{key_value}

        
template(name='edit_html_field')
    .field
        .froala-container
            +froalaReactive getFEContext
        
template(name='edit_html')
    .field
        .froala-container
            +froalaReactive getFEContext
        
        
template(name='edit_date_field')            
    .ui.dividing.header 
        +officeicon name=icon
        |#{label}
    .field
        .ui.icon.fluid.transparent.input
            if icon
                i.icon(class=icon)
            input#date_field(type='date' value=key_value)        


template(name='edit_datetime_field')       
    h3 #{label}
    #semcal.ui.calendar
        .ui.left.icon.input
            i.clock.icon
            input#datetime_field(type='text' value=key_value)        

template(name='edit_timerange_field') 
    // h3
    //     |Time Range
        // i.clock.icon
    .ui.form
        .field
            // label Start
            #time_start.ui.calendar
                .ui.left.icon.input
                    i.hourglass.start.icon
                    input#time_start_input(type='text' value=time_start)        
        // .field
        //     // label End
        //     #time_end.ui.calendar
        //         .ui.left.icon.input
        //             i.hourglass.end.icon
        //             input#time_end_input(type='text' value=time_end)        


template(name='edit_number_field')
    .ui.form
        .inline.field
            label #{label}
            if icon
                i.icon(class=icon)
            .ui.input
                // if icon
                //     +officeicon name=icon
                input#number_field(type='number' min='0' value=key_value)

template(name='view_numeric_field')
    .ui.form
        .field
            label #{label}
            | {{key_value}}


template(name='edit_textarea')
    .ui.dividing.header 
        +officeicon name=icon
        |#{label}
    .ui.form
        .field
            textarea#textarea(rows='10') #{key_value}


        
template(name='view_array_field')
    if field_value
        .ui.segment
            each field_value
                .ui.large.label #{this}
    
    
template(name='edit_array_field')
    .ui.header 
        // i.tags.icon
        |#{label}
    .ui.fluid.input
        input.new_entry(type='text' maxlength='50' placeholder='add tag')
        // .ui.icon.button
        //     i.right.arrow.icon
    // .ui.mini.input
    //     +inputAutocomplete settings=theme_select_settings id="theme_tag_select" class="" autocomplete="off"
    // each field_value
    each ../tags
        // a.ui.circular.button.doc_tag #{this}
        a.ui.button.doc_tag
            i.remove.icon
            |#{this}
