template(name='footer')
    .ui.bottom.fixed.inverted.footer.menu.grid
        if delta.expand_footer
            .row
                .sixteen.wide.column
                    .ui.stackable.padded.grid
                        .four.wide.inverted.column
                            img.ui.small.image(src='https://jan-pro.com/wp-content/themes/underboot/img/jan-pro-white.svg')
                            .ui.list
                                .sitemap_list.item Why JAN-PRO
                                .sitemap_list.item Commercial Cleaning
                                .sitemap_list.item About Us
                            .ui.list
                                .sitemap_list.item Contact Us
                                .sitemap_list.item Legal/ Privacy Policy
                        .four.wide.column
                            .ui.inverted.header
                                +icon name='comments'
                                | Chat
                            .ui.inverted.list
                                each chat_messages
                                    .item
                                        .content
                                            .ui.small.header #{message}
                                            small #{author_username} #{when}
                            .ui.transparent.inverted.input
                                input#new_chat(type='text' placeholder='add...')
                        .four.wide.column
                            .ui.inverted.header
                                +icon name='globe'
                                | Online Users
                            each online_users
                                .ui.inverted.header #{username}
                        .four.wide.column
                            +tasks
        .middle.aligned.row
            if delta.expand_footer
                a.four.wide.column.minimize_footer(href='#')
                    .ui.white.header
                        +icon name='bars'
                        | Menu
            else
                a.four.wide.column.expand_footer(href='#')
                    .ui.grey.header
                        +icon name='bars'
                        | Menu
            .twelve.wide.column
                if is_eric
                    +role_switcher
                else
                    .ui.inverted.grey.header
                        +ricon name='copyright'
                        | 2018 JAN-PRO Franchising, Inc.



template(name='role_switcher')
    each role_docs
        .change_role.ui.margined.compact.button(class=role_button_class)
            |#{title}
