template(name='jp_footer')
    img.ui.small.image(src='https://jan-pro.com/wp-content/themes/underboot/img/jan-pro-white.svg')
    .ui.list
        .item Why JAN-PRO
        .item Commercial Cleaning
        .item About Us
    .ui.list
        .item Contact Us
        .item Legal/ Privacy Policy


template(name='footer')
    .ui.bottom.fixed.inverted.footer.big.menu
        .item
            +icon name='bars'
        .item
            +icon name='bookmark'
        .item
            +icon name='users'
        .item
            +icon name='calendar'
        .item
            +icon name='tasks'

        .item.item
            .mobile.hidden
                .ui.inverted.grey.header
                    +ricon name='copyright'
                    | 2018 JAN-PRO Franchising, Inc.



template(name='role_switcher')
    each role_docs
        .change_role.ui.margined.small.compact.button(class=role_button_class)
            |#{title}

template(name='online_users')
    .ui.header
        +icon name='globe'
        | Online Users
    .ui.list
        each online_users
            .item #{username}


template(name='chat')
    .ui.header
        +icon name='comments'
        | Chat
    .ui.list
        each chat_messages
            .item
                .content
                    .ui.small.header #{message}
                    small #{author_username} #{when}
    .ui.input
        input#new_chat(type='text' placeholder='add...')