template(name='franchisees')
    .ui.padded.stackable.grid
        .middle.aligned.row
            .four.wide.column
                +link_button link='/admin' label='Admin' icon='user-shield'
            .eight.wide.column
                h1.ui.center.aligned.header
                    +icon name='collaborator-female'
                    | Franchisees
            .four.wide.column
                // if is_dev
                // .ui.icon.button.get_all_franchisees
                //     i.refresh.icon
        .row
            .sixteen.wide.column
                +query_input
                table.ui.striped.selectable.fixed.fluid.sortable.table
                    thead
                        tr
                            +sort_column_header key='ev.ID' label='JPID'
                            +sort_column_header key='ev.FRANCHISEE' label='Name'
                            +sort_column_header key='ev.FRANCH_EMAIL' label='Email'
                            +sort_column_header key='ev.FRANCH_NAME' label='Short Name'
                            +sort_column_header key='ev.TELEPHONE' label='Phone'
                            +sort_column_header key='ev.ADDR_STREET' label='Office'
                            th.one.wide View
                    tbody
                        each all_franchisees
                            tr
                                td #{ev.ID}
                                td #{ev.FRANCHISEE}
                                td #{ev.FRANCH_EMAIL}
                                td #{ev.FRANCH_NAME}
                                td #{ev.TELE_CELL}
                                td #{ev.MASTER_LICENSEE}
                                td
                                    +view_button
                    +table_footer columns='7'
     
                    
template(name='franchisee_view')
    .ui.padded.stackable.grid
        // .centered.row
        //     +office_by_franchisee
        .centered.middle.aligned.row
            .three.wide.center.aligned.column
                if is_admin
                    +link_button link='/franchisees' icon='collaborator-female' label='Franchisees'
            .ten.wide.column
                h1.ui.center.aligned.grey.header #{ev.FRANCHISEE} Franchisee
            .three.wide.right.aligned.column
                // +edit_button
        .centered.row
            .twelve.wide.column
                .ui.secondary.segment
                    .ui.large.list
                        .item JPID #
                            strong #{ev.ID}
                        .item Email: 
                            strong #{ev.FRANCH_EMAIL}
                        .item Short Name: 
                            strong #{ev.FRANCH_NAME}
                        .item Cell: 
                            strong #{ev.TELE_CELL}
                        // .item Master Licensee: 
                        //     strong #{ev.MASTER_LICENSEE}
        .centered.row
            .fifteen.wide.column
                .ui.center.aligned.header 
                    +icon name='customer-support'
                    if ev.FRANCH_NAME
                        |#{ev.FRANCH_NAME}
                    else if ev.FRANCHISEE
                        |#{ev.FRANCHISEE}
                    |Customers
                +franchisee_customers


template(name='franchisee_customers')
    table.ui.celled.striped.sortable.fluid.fixed.table
        thead
            +sort_column_header key='ev.CUST_NAME' label='Customer Name'
            +sort_column_header key='ev.ID' label='JPID' classes='two wide'
            +sort_column_header key='ev.FRANCHISEE' label='Franchisee'
            +sort_column_header key='ev.CUST_CONT_PERSON' label='Contact Person'
            +sort_column_header key='ev.CUST_CONTACT_EMAIL' label='Contact Email'
            +sort_column_header key='ev.TELEPHONE' label='Telephone'
            +sort_column_header key='ev.ADDR_STREET' label='Address'
            // +sort_column_header key='ev.TIMESTAMP' label='Timestamp'
            th.one.wide View
        tbody
            each franchisee_customers_docs
                tr
                    td #{ev.CUST_NAME}
                    td #{ev.ID}
                    td #{ev.FRANCHISEE}
                    td #{ev.CUST_CONT_PERSON}
                    td #{ev.CUST_CONTACT_EMAIL}
                    td #{ev.TELEPHONE}
                    td #{ev.ADDR_STREET}
                    // td #{ev.TIMESTAMP}
                    td 
                        +view_button
