template(name='franchisees')
    .ui.padded.stackable.grid
        .middle.aligned.row
            .four.wide.column
                +link_button link='/admin' label='Admin' icon='user-shield'
            .eight.wide.column
                h1.ui.center.aligned.header
                    +icon name='housekeeper-male'
                    | Franchisees
            .four.wide.column
                // if is_dev
                // .ui.icon.button.get_all_franchisees
                //     i.refresh.icon
        .row
            .sixteen.wide.column
                +query_input
                table.ui.striped.fixed.table
                    thead
                        tr
                            +sort_column_header key='ev.ID' label='JPID' classes='two wide'
                            +sort_column_header key='ev.FRANCHISEE' label='Name'
                            +sort_column_header key='ev.FRANCH_NAME' label='Short Name'
                            th Contact
                            +sort_column_header key='ev.ADDR_STREET' label='Office'
                            // th.one.wide View
                    tbody
                        each all_franchisees
                            tr
                                td.selectable 
                                    a(href="/view/#{_id}") #{ev.ID}
                                td.selectable 
                                    a(href="/view/#{_id}") #{ev.FRANCHISEE}
                                td.selectable 
                                    a(href="view/#{_id}") #{ev.FRANCH_NAME}
                                td
                                    div #{ev.FRANCH_EMAIL}
                                    div #{ev.TELE_CELL}
                                td #{ev.MASTER_LICENSEE}
                                // td
                                //     +view_button
                    +table_footer columns='5' doc_type='franchisee' stat_type='total'
     
                    
template(name='franchisee_view')
    .ui.padded.stackable.grid
        // .centered.row
        //     +office_by_franchisee
        .centered.middle.aligned.row
            .three.wide.center.aligned.column
                if is_admin
                    +link_button link='/franchisees' icon='housekeeper-male' label='Franchisees'
            .ten.wide.column
                h1.ui.center.aligned.grey.header 
                    +icon name='housekeeper-male'
                    |#{ev.FRANCHISEE} Franchisee
            .three.wide.right.aligned.column
                // +edit_button
        .centered.row
            .fifteen.wide.column
                .ui.secondary.segment
                    .ui.horizontal.large.list
                        .item #
                            strong #{ev.ID}
                        .item 
                            i.grey.message.icon
                            strong #{ev.FRANCH_EMAIL}
                        .item Short Name
                            strong #{ev.FRANCH_NAME}
                        .item 
                            i.grey.phone.icon
                            strong #{ev.TELE_CELL}
                        // .item Master Licensee: 
                        //     strong #{ev.MASTER_LICENSEE}
        .centered.row
            .fifteen.wide.column
                .ui.header 
                    +icon name='error'
                    |Incidents
                +incident_table franchisee_jpid=ev.ID
        // +customers_events_panel
        // +customers_service_requests_panel
        // +customers_consumables_panel
        // +customers_users_panel
        // +customers_quickbooks_panel
        .centered.row
            .fifteen.wide.column
                .ui.header 
                    +icon name='customer-support'
                    if ev.FRANCH_NAME
                        |#{ev.FRANCH_NAME}
                    else if ev.FRANCHISEE
                        |#{ev.FRANCHISEE}
                    |Customers
                +franchisee_customers


template(name='franchisee_customers')
    table.ui.striped.fixed.table
        thead
            th.two.wide JPID
            th Customer Name
            th Contact Person
            th Contact Email
            th Telephone
            th.three.wide Address
            // +sort_column_header key='ev.TIMESTAMP' label='Timestamp'
        tbody
            each franchisee_customers_docs
                tr
                    td.selectable(title='View')
                        a(href="/view/#{_id}") #{ev.ID}
                    td.selectable(title='View')
                        a(href="/view/#{_id}") #{ev.CUST_NAME}
                    // td #{ev.FRANCHISEE}
                    td #{ev.CUST_CONT_PERSON}
                    td #{ev.CUST_CONTACT_EMAIL}
                    td #{ev.TELEPHONE}
                    td #{ev.ADDR_STREET} #{ev.ADDR_CITY} #{ADDR_STATE}
                    // td #{ev.TIMESTAMP}
