template(name='incidents')
    .ui.stackable.padded.centered.grid
        .middle.aligned.centered.row
            .three.wide.column
                +add_incident_button
            .ten.wide.column
                h2.ui.center.aligned.header 
                    +icon name='error'
                    | All Incidents
            .three.wide.column
        .row
            .sixteen.wide.column
                +reactiveTable settings=settings class="ui celled striped sortable table"


                
template(name='incident_view')
    .ui.padded.stackable.centered.grid
        .centered.middle.aligned.row
            .three.wide.center.aligned.column
                a.ui.icon.button(href='/customer_incidents' title='Save')
                    i.icon
                        +icon name='checkmark'
            .ten.wide.column
                h1.ui.center.aligned.grey.header Incident #{incident_number}
            .three.wide.column
                unless submitted
                    a.ui.icon.button#delete(href='#' title='Delete Incident')
                        i.icon
                            +icon name='cancel'
        .row
            .four.wide.column
                // if is_dev
                //     +edit_author
                    // +edit_number_field key='incident_number' label='Number' icon='hashtag'
                unless submitted
                    +edit_datetime_field key='service_date' label='Service Date/Time' icon='leave'
                else
                    .ui.secondary.segment
                        .ui.header 
                            +icon name='leave'
                            |Date
                        h5 #{service_date}
                // unless is_customer
                +single_doc_view type='customer' key='customer_jpid' label='Customer' icon='customer-support'
                if submitted
                    .ui.secondary.segment
                        .ui.header Status
                        +toggle_key key='status' value='closed' label='Closed'
                        +toggle_key key='status' value='open' label='Open'
                    if is_closed
                        .ui.button 
                            i.reply.icon
                            |Create Related Ticket

            .eight.wide.column
                unless submitted
                    +edit_textarea label='Incident Details' key='incident_details' icon='view-details'
                else
                    .ui.basic.segment
                        // +icon name='view-details'
                        .large130 #{incident_details}
                unless submitted
                    +edit_image_field
                else
                    if image_id
                        img.ui.centered.image(src="{{c.url image_id height=500 crop='fit'}}")
                if submitted
                    +comments
                    +full_doc_history
                +incident_sla_widget
            .four.wide.column
                if can_submit
                    +toggle_boolean key='submitted' yes_label='Submitted' no_label='Submit'
                else
                    .ui.secondary.segment Fill Date, Details, and Type to Submit
                if submitted
                    +incident_type_label
                else
                    .ui.secondary.segment
                        .ui.header 
                            +icon name='category'
                            |Type
                        each incident_type_docs
                            +toggle_key key='incident_type' value=slug label=name
                unless is_customer
                    // if submitted
                    //     .ui.secondary.segment
                    //         +incident_tasks
                    +notify_button
                    +multiple_user_select key='assigned_to' label='Assigned To' icon='user-shield'


template(name='edit_priority_field')
    .ui.secondary.segment
        h4 #{label}
        +toggle_key key='priority' value='low' label='Low'
        +toggle_key key='priority' value='medium' label='Medium'
        +toggle_key key='priority' value='high' label='High'
        +toggle_key key='priority' value='emergency' label='Emergency'

                            
template(name='incident_level_set')
    .set_level.ui.compact.button(title='Set Level')
        // i.checkmark.icon
        |#{level}
                        
                        
template(name='incident_type_label')      
    if incident_type_label
        .ui.basic.label(class=type_label_class) #{incident_type_label}


template(name='incident_status')


template(name='incident_tasks')
    .ui.header
        +icon name='to-do'
        |Incident Tasks
    a#add_incident_task(title='Add Task' href='#')
        +icon name='plus'
    .ui.list
        each incident_tasks
            .item
                .content
                    a.header(href="/view/#{_id}") 
                        if complete
                            i.green.checkmark.icon
                        |#{title}
                    
                    

template(name='incident_task_edit')
    .ui.padded.stackable.centered.grid
        .centered.row
            .three.wide.center.aligned.column
                +save_button
            .ten.wide.center.aligned.column
                h1.ui.center.aligned.grey.header Edit Incident Task
            .three.wide.center.aligned.column
                #delete.ui.icon.button
                    i.trash.icon
        .centered.row
            .twelve.wide.column
                +edit_text_field key='title' label='Title' 
                .ui.hidden.divider
                +edit_textarea label='Task Details' key='text' icon='view-details'
            .four.wide.column
                +edit_date_field label='Due Date' key='due_date'
                // +edit_array_field key='tags' label='Tags'
                +multiple_user_select
                .ui.secondary.segment
                    .ui.header Action Type
                    each action_docs
                        +toggle_key key='task_type' value=slug label=title
    
template(name='incident_task_view')
    .ui.padded.stackable.centered.grid
        .centered.row
            .three.wide.center.aligned.column
                +parent_link
            .ten.wide.center.aligned.column
                h1.ui.center.aligned.grey.header View Incident Task
            .three.wide.center.aligned.column
                +edit_button
        .row
            .four.wide.column
                +author_info
                .ui.hidden.divider
                if complete
                    #turn_off.ui.icon.button
                        i.large.toggle.on.green.icon
                    .ui.header Complete
                else
                    #turn_on.ui.icon.button
                        i.large.toggle.off.icon
                    .ui.header Incomplete
            .eight.wide.column
                +parent_segment
                .ui.header #{title}
                |#{text}
                +comments
                +full_doc_history
            // .four.wide.column
            //      +mark_read_button   
            
            
template(name='customer_incidents')
    .ui.stackable.padded.centered.grid
        .middle.aligned.centered.row
            .three.wide.column
                +add_incident_button
            .ten.wide.column
                h2.ui.center.aligned.header 
                    +icon name='error'
                    | My Incidents
            .three.wide.column
        .row
            .sixteen.wide.column
                +reactiveTable settings=settings collection=customer_incidents class="ui celled striped sortable table"
        
        
template(name='add_incident_button')
    if has_user_customer_jpid
        a#add_incident(href='#')
            +icon name='plus'
    else
        .ui.secondary.segment Add Office to Profile to Add Incident


template(name='incident_sla_widget')
    .ui.header Incident SLA Rules List (Current Level: #{incident_doc.level})
    .ui.cards
        each sla_rule_docs
            .ui.fluid.card(class=escalation_level_card_class)
                .content
                    .right.floated.meta(title='Automatic Escalation Time')
                        i.icon
                            +icon name='clock'
                        strong #{hours_value}
                    .header 
                        if is_level
                            i.green.checkmark.icon
                        |#{name}
                .content
                    .ui.sub.header Primary Contact
                    .item Office #{primary_contact_value} 
                    if my_office.primary_franchisee_toggle_key
                        .item Franchisee #{primary_franchisee_toggle_value}
                .content
                    .ui.sub.header Secondary Contact
                    .item Office #{secondary_contact_value} 
                    if my_office.primary_franchisee_toggle_key
                        .item Franchisee #{secondary_franchisee_toggle_value}
                .content
                    .right.floated.meta
                        // |#{number}
                        unless is_level
                            .set_level.ui.button Set #{number}
                        // else
                        //     .ui.disabled.button Can't Set #{number}
            
    .ui.incident.modal
        h1.ui.center.aligned.header
            | Confirm Change Incident Level from #{level}
        .actions
            .ui.cancel.basic.button
                // i.remove.icon
                | Cancel
            // if can_submit_bug
            .ui.green.ok.ok_button.button
                // i.checkmark.icon
                // +icon24 name='checkmark' classes='ui avatar image'
                | Confirm
