template(name='incidents')
    .ui.stackable.padded.centered.grid
        .middle.aligned.centered.row
            .three.wide.column
                if has_user_customer_jpid
                    a#add_incident(href='#')
                        +icon name='plus'
                else
                    .ui.secondary.segment Add Office to Profile to Add Incident
            .ten.wide.column
                h2.ui.center.aligned.header 
                    // +iconlarge name='error'
                    | Incidents
            .three.wide.column
        .row
            .sixteen.wide.column
                // {{> tabular table=TabularTables.Incidents selector=selector class="ui sortable striped fluid very basic table"}}
                table.ui.celled.table
                    thead
                        tr
                            // th Ticket Number
                            th Type
                            th Logged
                            th Details
                            th Customer JPID
                            th Level
                            th Assigned To
                            th Actions Taken
                            th 
                    tbody
                        each incident_docs
                            tr
                                // td #{incident_number}
                                td #{incident_type}
                                td #{when}
                                td #{incident_details}
                                td #{current_level}
                                td 
                                    +associated_users
                                td 
                                    +small_doc_history
                                td 
                                    +view_button


                
template(name='incident_view')
    .ui.padded.stackable.centered.grid
        .centered.middle.aligned.row
            .three.wide.center.aligned.column
                unless submitted
                    a#delete(href='#' title='Delete Incident')
                        +icon name='cancel'
            .ten.wide.column
                h1.ui.center.aligned.grey.header Incident #{incident_number}
            .three.wide.column
                // +save_button
        .row
            .four.wide.column
                // if is_dev
                //     +edit_author
                    // +edit_number_field key='incident_number' label='Number' icon='hashtag'
                unless submitted
                    +edit_date_field key='service_date' label='Service Date' icon='leave'
                else
                    .ui.dividing.header 
                        +icon name='leave'
                        |Date
                    |#{service_date}
                        
                +multiple_user_select key='assigned_to' label='Assigned To' icon='user-shield'
                +single_doc_view type='customer' key='customer_jpid' label='Customer' icon='customer-support'
                if submitted
                    .ui.dividing.header Level #{current_level}
                    unless is_closed
                        if can_set_to_one
                            .set_level_one.ui.button Set 1
                        else
                            .ui.disabled.button Set 1
                        if can_set_to_two
                            .set_level_two.ui.button Set 2
                        else
                            .ui.disabled.button Set 2
                        if can_set_to_three
                            .set_level_three.ui.button Set 3
                        else
                            .ui.disabled.button Set 3
                        if can_set_to_four
                            .set_level_four.ui.button Set 4
                        else
                            .ui.disabled.button Set 4
                    .ui.dividing.header Status
                    +toggle_key key='status' value='closed' label='Closed'
                    +toggle_key key='status' value='open' label='Open'
                    if is_closed
                        .ui.button 
                            i.reply.icon
                            |Create Related Ticket

            .eight.wide.column
                unless submitted
                    +edit_textarea label='Incident Details' key='incident_details' icon='view-details'
                else
                    .ui.basic.segment
                        // +icon name='view-details'
                        .large130 #{incident_details}
                unless submitted
                    +edit_image_field
                else
                    if image_id
                        img.ui.centered.image(src="{{c.url image_id height=500 crop='fit'}}")
                if submitted
                    +comments
                    .ui.dividing.header 
                        +icon name='order-history'
                        |History
                    +full_doc_history
            .four.wide.column
                if can_submit
                    +toggle_boolean key='submitted' yes_label='Submitted' no_label='Submit'
                else
                    .ui.secondary.segment Fill Date, Details, and Type to Submit
                if submitted
                    +incident_type_label
                else
                    .ui.dividing.header 
                        +icon name='category'
                        |Type
                    each incident_type_docs
                        +toggle_key key='incident_type' value=slug label=name
                if submitted
                    +incident_tasks
                +notify_button
        

template(name='edit_priority_field')
    .ui.secondary.segment
        h4 #{label}
        +toggle_key key='priority' value='low' label='Low'
        +toggle_key key='priority' value='medium' label='Medium'
        +toggle_key key='priority' value='high' label='High'
        +toggle_key key='priority' value='emergency' label='Emergency'

                            
template(name='incident_level_set')
    .set_level.ui.compact.button(title='Set Level')
        // i.checkmark.icon
        |#{level}
                        
                        
template(name='incident_type_label')      
    if incident_type_label
        .ui.basic.label(class=type_label_class) #{incident_type_label}


template(name='incident_status')


template(name='incident_tasks')
    .ui.dividing.header
        +icon name='to-do'
        |Incident Tasks
    a#add_incident_task(title='Add Task' href='#')
        +icon name='plus'
    .ui.list
        each incident_tasks
            .item
                .content
                    a.header(href="/view/#{_id}") 
                        if complete
                            i.green.checkmark.icon
                        |#{title}
                    
                    

template(name='incident_task_edit')
    .ui.padded.stackable.centered.grid
        .centered.row
            .three.wide.center.aligned.column
                +save_button
            .ten.wide.center.aligned.column
                h1.ui.center.aligned.grey.header Edit Incident Task
            .three.wide.center.aligned.column
                #delete.ui.icon.button
                    i.trash.icon
        .centered.row
            .twelve.wide.column
                +edit_text_field key='title' label='Title' 
                .ui.hidden.divider
                +edit_textarea label='Task Details' key='text' icon='view-details'
            .four.wide.column
                +edit_date_field label='Due Date' key='due_date'
                // +edit_array_field key='tags' label='Tags'
                +multiple_user_select
                .ui.secondary.segment
                    .ui.header Action Type
                    each action_docs
                        +toggle_key key='task_type' value=slug label=title
    
template(name='incident_task_view')
    .ui.padded.stackable.centered.grid
        .centered.row
            .three.wide.center.aligned.column
                +parent_link
            .ten.wide.center.aligned.column
                h1.ui.center.aligned.grey.header View Incident Task
            .three.wide.center.aligned.column
                +edit_button
        .row
            .four.wide.column
                +author_info
                .ui.hidden.divider
                if complete
                    #turn_off.ui.icon.button
                        i.large.toggle.on.green.icon
                    .ui.header Complete
                else
                    #turn_on.ui.icon.button
                        i.large.toggle.off.icon
                    .ui.header Incomplete
            .eight.wide.column
                +parent_segment
                .ui.header #{title}
                |#{text}
                +comments
                +full_doc_history
            // .four.wide.column
            //      +mark_read_button   