template(name='incidents')
    .ui.stackable.padded.centered.grid
        .middle.aligned.centered.row
            .three.wide.center.aligned.column
                +add_incident_button
            .ten.wide.column
                h2.ui.center.aligned.header 
                    +icon name='error'
                    | All Incidents
            .three.wide.center.aligned.column
                unless is_customer
                    +call_method name='update_escalation_statuses' label='Run Escalation Check'
        .row
            .sixteen.wide.column
                +query_input
                table.ui.striped.selectable.fixed.sortable.table
                    thead
                        tr
                            +sort_column_header key='number' label='Number' classes='collapsing'
                            +sort_column_header key='customer_name' label='Customer'
                            +sort_column_header key='incident_office_name' label='Office'
                            +sort_column_header key='incident_type' label='Type' classes='one wide'
                            +sort_column_header key='timestamp' label='Logged'
                            +sort_column_header key='service_date' label='Incident Date'
                            +sort_column_header key='incident_details' label='Details' classes='two wide'
                            // +sort_column_header key='level' label='Level'
                            +sort_column_header key='open' label='Status' classes='one wide'
                            +sort_column_header key='submitted' label='Submitted'
                            th Assignment
                            th.two.wide Last Event
                            th.one.wide View
                    tbody
                        each all_incidents
                            tr
                                td #{incident_number}
                                td #{customer_name}
                                td #{incident_office_name}
                                td
                                    +incident_type_label
                                td {{ reg_format timestamp }}
                                td #{service_date}
                                td #{incident_details}
                                // td #{level}
                                td 
                                    +status_template
                                td
                                    +submitted_template
                                +incident_assigment_cell
                                td
                                    +small_doc_history
                                td
                                    +view_button
                    +table_footer columns='12' doc_type='incident' stat_type='total'            


                
template(name='incident_view')
    .ui.padded.stackable.centered.grid
        .centered.middle.aligned.row
            .three.wide.center.aligned.column
                if is_customer
                    a.ui.button(href='/customer_incidents')
                        i.left.chevron.icon
                        | My Incidents    
                if is_office
                    a.ui.button(href="/office/#{my_office._id}/incidents")
                        i.left.chevron.icon
                        | Office Incidents    
                if is_admin
                    +link_button link='/incidents' icon='user-shield' label='All Incidents'
            .nine.wide.column
                h1.ui.center.aligned.grey.header #{customer_name} Incident #{incident_number}
            .four.wide.column
                .ui.icon.remove_incident.button(data-content='Delete Incident')
                    i.remove.icon
                unless is_customer
                    #run_single_escalation_check.ui.button 
                        i.user.shield.icon
                        |Check Escalation
        .row
            .three.wide.column
                // if is_dev
                //     +edit_author
                    // +edit_number_field key='incident_number' label='Number' icon='hashtag'
                h4.ui.header Incident #
                    if incident_number
                        |#{incident_number}
                    else
                        +call_method name='update_incident_number' argument=_id                
                if can_edit_core
                    // +edit_datetime_field key='service_date' label='Service Time' icon='leave'
                    +edit_datetime_field key='service_date' label='Service Time'
                else
                    .ui.secondary.segment
                        .ui.header 
                            +icon name='leave'
                            |Date
                        h4 #{service_date}
                unless is_customer
                    +single_doc_view type='customer' key='customer_jpid' label='Customer' icon='customer-support'
                    +user_card
                if submitted
                    .ui.secondary.segment
                        .ui.header Type
                        +incident_type_label
                .ui.secondary.segment
                    .ui.header Last Updated
                    |{{ reg_format updated }}

            .nine.wide.column
                unless open
                    if feedback_doc
                        with feedback_doc
                            .ui.secondary.segment
                                .ui.header 
                                    +icon name='feedback'
                                    |Feedback
                                if positive
                                    i.green.thumbs.up.icon
                                else
                                    i.red.thumbs.down.icon
                                |#{text}
                    else
                        #submit_feedback.ui.button Submit Feedback
                if can_edit_core
                    +edit_textarea label='Details' key='incident_details' icon='view-details'
                else
                    .ui.basic.segment
                        // +icon name='view-details'
                        .large130 #{incident_details}
                if can_edit_core
                    +edit_image_field
                else
                    if image_id
                        img.ui.centered.image(src="{{c.url image_id height=500 crop='fit'}}")
                unless can_edit_core
                    +comments
                    +full_doc_history
                else
                    .ui.secondary.segment
                        .ui.header 
                            +icon name='category'
                            |Type
                        each incident_type_docs
                            +toggle_key key='incident_type' value=slug label=name
            .four.wide.column
                if submitted
                    .ui.secondary.segment
                        .ui.header Status
                            if open
                                .ui.basic.label Open
                            else
                                .ui.label Closed
                        unless is_customer
                            if open
                                .close_incident.ui.fluid.button
                                    i.calendar.times.icon
                                    | Close Incident
                            else
                                .reopen_incident.ui.fluid.button
                                    i.user.shield.icon
                                    | Reopen Incident
                                .ui.button 
                                    i.reply.icon
                                    |Create Related Ticket
                if submitted
                    .ui.disabled.button
                        | Submitted {{reg_format submitted_datetime}}
                    unless is_customer
                        .unsubmit.ui.fluid.button
                            i.user.shield.icon
                            |Unsubmit
                else
                    if is_customer
                        .ui.secondary.segment Fill Date, Details, and Type to Submit
                if can_submit
                    .submit.ui.fluid.large.button
                        i.green.checkmark.icon
                        |Submit
                unless is_customer
                    if submitted
                        .ui.secondary.segment
                            +incident_tasks
                    // +notify_button
                    +multiple_user_select key='assigned_to' label='Assigned To' icon='user-shield'
                    .ui.secondary.segment
                        .ui.header Level: #{level}
                // +incident_sla_widget

    .ui.confirm_close.modal
        h3.ui.center.aligned.header
            | Confirm Close Incident
        .content
            p This will stop automatic escalations.
        .actions
            .ui.cancel.icon.button
                i.remove.icon
            // if can_submit_bug
            .ui.green.ok.ok_button.large.icon.button
                i.checkmark.large.icon

    // .ui.delete_incident.basic.modal
    //     h3.ui.center.aligned.header
    //         | Confirm Delete Incident
    //     .actions
    //         .ui.cancel.icon.button
    //             i.cancel.icon
    //             |Cancel
    //         // if can_submit_bug
    //         .ui.red.ok.ok_button.large.button
    //             i.checkmark.large.icon
    //             | Remove




template(name='edit_priority_field')
    .ui.secondary.segment
        h4 #{label}
        +toggle_key key='priority' value='low' label='Low'
        +toggle_key key='priority' value='medium' label='Medium'
        +toggle_key key='priority' value='high' label='High'
        +toggle_key key='priority' value='emergency' label='Emergency'

                            
template(name='level_icon')
    if is_level_one
        img.ui.mini.image(src="/level1icon.png" data-content='Level 1')
    if is_level_two
        img.ui.mini.image(src="/level2icon.png" data-content='Level 2')
    if is_level_three
        img.ui.mini.image(src="/level3icon.png" data-content='Level 3')
    if is_level_four
        img.ui.mini.image(src="/level4icon.png" data-content='Level 4')
                        
template(name='incident_type_label')      
    if incident_type_label
        +icon name=incident_type_icon popup=incident_type_label
        // .ui.label(class=type_label_class) #{incident_type_label}



template(name='incident_tasks')
    .ui.header
        +icon name='to-do'
        |&nbsp;
        |Tasks
        |&nbsp;
        small 
            a#add_incident_task(href='#') add
    .ui.divided.list
        each incident_tasks
            .large.item
                .content
                    a.header(href="/view/#{_id}") 
                        if complete
                            i.green.checkmark.icon
                        |#{title}

template(name='incident_task_edit')
    .ui.padded.stackable.centered.grid
        .centered.row
            .three.wide.center.aligned.column
                +save_button
            .ten.wide.center.aligned.column
                h1.ui.center.aligned.grey.header Edit Task
            .three.wide.center.aligned.column
                #delete.ui.icon.button
                    i.trash.icon
        .centered.row
            .twelve.wide.column
                +edit_text_field key='title' label='Title' 
                .ui.hidden.divider
                +edit_textarea label='Task Details' key='text' icon='view-details'
            .four.wide.column
                +edit_date_field label='Due Date' key='due_date'
                // +edit_array_field key='tags' label='Tags'
                +multiple_user_select key='assigned_to' label='Assigned To' icon='user-shield'
                .ui.secondary.segment
                    .ui.header Action Type
                    each action_docs
                        +toggle_key key='task_type' value=slug label=title
    
template(name='incident_task_view')
    .ui.padded.stackable.centered.grid
        .centered.row
            .three.wide.center.aligned.column
                +parent_link
            .ten.wide.center.aligned.column
                h1.ui.center.aligned.grey.header View Task
            .three.wide.center.aligned.column
                +edit_button
        .row
            .four.wide.column
                +author_info
                .ui.hidden.divider
                if complete
                    #turn_off.ui.icon.button
                        i.large.toggle.on.green.icon
                    .ui.header Complete
                else
                    #turn_on.ui.icon.button
                        i.large.toggle.off.icon
                    .ui.header Incomplete
            .eight.wide.column
                // +parent_segment
                .ui.header #{title}
                |#{text}
                +comments
                +full_doc_history
            // .four.wide.column
            //      +mark_read_button   
            
            
template(name='customer_incidents')
    .ui.stackable.padded.centered.grid
        .middle.aligned.centered.row
            .three.wide.center.aligned.column
            .ten.wide.column
                h2.ui.center.aligned.header 
                    +icon name='error'
                    |#{currentUser.users_customer.ev.CUST_NAME} Incidents
            .three.wide.center.aligned.column
                +add_incident_button label='Log New Incident'
        .row
            .sixteen.wide.column
                +query_input
                table.ui.striped.selectable.fixed.fluid.sortable.table
                    thead
                        tr
                            +sort_column_header key='number' label='#' classes='one wide'
                            +sort_column_header key='incident_type' label='Type' classes='one wide'
                            +sort_column_header key='service_date' label='Service Date'
                            +sort_column_header key='incident_details' label='Details' classes='three wide'
                            // +sort_column_header key='level' label='Level'
                            +sort_column_header key='open' label='Status' classes='one wide'
                            +sort_column_header key='submitted' label='Submitted'
                            th.two.wide Assignment
                            th.one.wide View
                    tbody
                        each customer_incidents
                            tr
                                td #{incident_number}
                                td
                                    +incident_type_label
                                td #{service_date}
                                td #{incident_details}
                                // td #{level}
                                td 
                                    +status_template
                                td
                                    +submitted_template
                                +incident_assigment_cell
                                td
                                    +view_button
                    +table_footer columns='8'        
        
template(name='add_incident_button')
    if has_user_customer_jpid
        a.ui.button#add_incident(href='#' data-content='Create New Incident')
            i.large.green.plus.icon
            |Log New Incident
    else
        if is_customer
            .ui.secondary.segment Add Office to Profile to Add Incident


template(name='incident_sla_widget')
    .ui.secondary.segment
        .ui.header 
            i.user.shield.icon
            |SLA Rules List for #{incident_doc.incident_type}
        each sla_rule_docs
            +sla_rule_doc
            
template(name='sla_rule_doc')            
    .ui.dividing.header 
        // if is_level
        //     i.green.checkmark.icon(data-content="Current Level: #{incident_doc.level}")
        unless is_level
            .set_level.ui.small.compact.button(data-content="Simulate Escalation to #{number}.") Set Level #{number}
        |#{name}
    .content
        unless is_initial
            strong Hours: #{hours_value}
        if franchisee_toggle_value
            .item Franchisee
    .content
        | Primary Contact
        strong #{primary_contact_value} 
    .content
        | Secondary Contact
        strong #{secondary_contact_value} 
            //     .ui.disabled.button Can't Set #{number}
            
    // .ui.incident.modal
    //     h1.ui.center.aligned.header
    //         | Confirm Change Incident Level from #{level}
    //         p This will notify
    //         h5 #{primary_contact_value}
    //         if primary_franchisee_toggle_value
    //             .item Franchisee
    //         h5 #{secondary_contact_value}
    //         if secondary_franchisee_toggle_value
    //             .item Franchisee
    //     .actions
    //         .ui.cancel.basic.button
    //             // i.remove.icon
    //             | Cancel
    //         .ui.green.ok.ok_button.button
    //             // i.checkmark.icon
    //             // +icon24 name='checkmark' classes='ui avatar image'
    //             | Confirm
