template(name='incidents')
    .ui.stackable.padded.centered.grid
        .middle.aligned.centered.row
            .three.wide.column
                +add_incident_button
            .ten.wide.column
                h2.ui.center.aligned.header 
                    +icon name='error'
                    | All Incidents
            .three.wide.column
        .row
            .sixteen.wide.column
                +reactiveTableFilter id="myFilter" label="Filter"
                +reactiveTable settings=settings class="ui celled striped sortable table"


                
template(name='incident_view')
    .ui.padded.stackable.centered.grid
        .centered.middle.aligned.row
            .three.wide.center.aligned.column
                if is_customer
                    a.ui.button(href='/customer_incidents' title='Save')
                        i.left.chevron.icon
                        | My Incidents    
                else
                    +link_button link='/incidents' icon='user-shield' label='All Incidents'
            .ten.wide.column
                h1.ui.center.aligned.grey.header #{customer_name} Incident #{incident_number}
            .three.wide.column
                unless submitted
                    a.ui.icon.button#delete(href='#' title='Delete Incident')
                        i.icon
                            +icon name='cancel'
        .row
            .four.wide.column
                // if is_dev
                //     +edit_author
                    // +edit_number_field key='incident_number' label='Number' icon='hashtag'
                if can_edit_core
                    // +edit_datetime_field key='service_date' label='Service Time' icon='leave'
                    +edit_datetime_field key='service_date' label='Service Time'
                else
                    .ui.secondary.segment
                        .ui.header 
                            +icon name='leave'
                            |Date
                        h5 #{service_date}
                unless is_customer
                    // +single_doc_view type='customer' key='customer_jpid' label='Customer' icon='customer-support'
                    +single_doc_view type='customer' key='customer_jpid' label='Customer'
                    +user_card
                if submitted
                    .ui.secondary.segment
                        .ui.header Status
                        +toggle_key key='status' value='closed' label='Closed'
                        +toggle_key key='status' value='open' label='Open'
                    if is_closed
                        .ui.button 
                            i.reply.icon
                            |Create Related Ticket

            .eight.wide.column
                if can_edit_core
                    +edit_textarea label='Incident Details' key='incident_details' icon='view-details'
                else
                    .ui.basic.segment
                        // +icon name='view-details'
                        .large130 #{incident_details}
                if can_edit_core
                    +edit_image_field
                else
                    if image_id
                        img.ui.centered.image(src="{{c.url image_id height=500 crop='fit'}}")
                unless can_edit_core
                    +comments
                    +full_doc_history
                else
                    .ui.secondary.segment
                        .ui.header 
                            +icon name='category'
                            |Type
                        each incident_type_docs
                            +toggle_key key='incident_type' value=slug label=name
                unless is_customer
                    .ui.header Incident SLA Rules List 
                        // small (Current Level: #{level})
                    +incident_sla_widget
            .four.wide.column
                if can_edit_core
                    if submitted
                        .ui.disabled.button
                            |Submitted {{reg_format submitted_datetime}}
                        if is_admin
                            .unsubmit.ui.fluid.button
                                i.user.shield.icon
                                |Unsubmit
                    else
                        .submit.ui.fluid.large.button
                            i.green.checkmark.icon
                            |Submit
                else
                    if is_customer
                        .ui.secondary.segment Fill Date, Details, and Type to Submit
                if submitted
                    .ui.secondary.segment
                        .ui.dividing.header Incident Type
                        +incident_type_label
                unless is_customer
                    if submitted
                        .ui.secondary.segment
                            +incident_tasks
                    +notify_button
                    +multiple_user_select key='assigned_to' label='Assigned To' icon='user-shield'


template(name='edit_priority_field')
    .ui.secondary.segment
        h4 #{label}
        +toggle_key key='priority' value='low' label='Low'
        +toggle_key key='priority' value='medium' label='Medium'
        +toggle_key key='priority' value='high' label='High'
        +toggle_key key='priority' value='emergency' label='Emergency'

                            
template(name='incident_level_set')
    .set_level.ui.compact.button(title='Set Level')
        // i.checkmark.icon
        |#{level}
                        
                        
template(name='incident_type_label')      
    if incident_type_label
        .ui.basic.label(class=type_label_class) #{incident_type_label}


template(name='incident_status')


template(name='incident_tasks')
    .ui.header
        +icon name='to-do'
        |Incident Tasks
        |&nbsp;
        small 
            a#add_incident_task(href='#') add
    .ui.divided.list
        each incident_tasks
            .large.item
                .content
                    a.header(href="/view/#{_id}") 
                        if complete
                            i.green.checkmark.icon
                        |#{title}
                    
                    

template(name='incident_task_edit')
    .ui.padded.stackable.centered.grid
        .centered.row
            .three.wide.center.aligned.column
                +save_button
            .ten.wide.center.aligned.column
                h1.ui.center.aligned.grey.header Edit Incident Task
            .three.wide.center.aligned.column
                #delete.ui.icon.button
                    i.trash.icon
        .centered.row
            .twelve.wide.column
                +edit_text_field key='title' label='Title' 
                .ui.hidden.divider
                +edit_textarea label='Task Details' key='text' icon='view-details'
            .four.wide.column
                +edit_date_field label='Due Date' key='due_date'
                // +edit_array_field key='tags' label='Tags'
                +multiple_user_select
                .ui.secondary.segment
                    .ui.header Action Type
                    each action_docs
                        +toggle_key key='task_type' value=slug label=title
    
template(name='incident_task_view')
    .ui.padded.stackable.centered.grid
        .centered.row
            .three.wide.center.aligned.column
                +parent_link
            .ten.wide.center.aligned.column
                h1.ui.center.aligned.grey.header View Incident Task
            .three.wide.center.aligned.column
                +edit_button
        .row
            .four.wide.column
                +author_info
                .ui.hidden.divider
                if complete
                    #turn_off.ui.icon.button
                        i.large.toggle.on.green.icon
                    .ui.header Complete
                else
                    #turn_on.ui.icon.button
                        i.large.toggle.off.icon
                    .ui.header Incomplete
            .eight.wide.column
                // +parent_segment
                .ui.header #{title}
                |#{text}
                +comments
                +full_doc_history
            // .four.wide.column
            //      +mark_read_button   
            
            
template(name='customer_incidents')
    .ui.stackable.padded.centered.grid
        .middle.aligned.centered.row
            .three.wide.column
                +add_incident_button
            .ten.wide.column
                h2.ui.center.aligned.header 
                    +icon name='error'
                    | My Incidents
            .three.wide.column
        .row
            .sixteen.wide.column
                +reactiveTable settings=settings collection=customer_incidents class="ui celled striped sortable table"
        
        
template(name='add_incident_button')
    if has_user_customer_jpid
        a.ui.icon.button#add_incident(href='#')
            i.large.green.plus.icon
    else
        .ui.secondary.segment Add Office to Profile to Add Incident


template(name='incident_sla_widget')
    .ui.cards
        each sla_rule_docs
            +sla_rule_doc
            
template(name='sla_rule_doc')            
    .ui.fluid.card(class=escalation_level_card_class)
        .content
            .right.floated.meta(title='Automatic Escalation Time')
                i.icon
                    +icon name='clock'
                strong #{hours_value}
            .header 
                if is_level
                    i.green.checkmark.icon
                |#{name}
        .content
            .ui.sub.header Primary Contact
            .item #{primary_contact_value} 
            if primary_franchisee_toggle_value
                .item Franchisee
        .content
            .ui.sub.header Secondary Contact
            .item #{secondary_contact_value} 
            if secondary_franchisee_toggle_value
                .item Franchisee
        .content
            .right.floated.meta
                // |#{number}
                unless is_level
                    .set_level.ui.button Set #{number}
                // else
                //     .ui.disabled.button Can't Set #{number}
            
    // .ui.incident.modal
    //     h1.ui.center.aligned.header
    //         | Confirm Change Incident Level from #{level}
    //         p This will notify
    //         h5 #{primary_contact_value}
    //         if primary_franchisee_toggle_value
    //             .item Franchisee
    //         h5 #{secondary_contact_value}
    //         if secondary_franchisee_toggle_value
    //             .item Franchisee
    //     .actions
    //         .ui.cancel.basic.button
    //             // i.remove.icon
    //             | Cancel
    //         .ui.green.ok.ok_button.button
    //             // i.checkmark.icon
    //             // +icon24 name='checkmark' classes='ui avatar image'
    //             | Confirm
