template(name='level_icon')
    if is_level_one
        img.ui.mini.image(src="/level1icon.png" data-content='Level 1')
    if is_level_two
        img.ui.mini.image(src="/level2icon.png" data-content='Level 2')
    if is_level_three
        img.ui.mini.image(src="/level3icon.png" data-content='Level 3')
    if is_level_four
        img.ui.mini.image(src="/level4icon.png" data-content='Level 4')
                        
template(name='incident_type_label')    
    if incident_type_label
        +icon name=incident_type_icon popup=incident_type_label
        // .ui.label(class=type_label_class) #{incident_type_label}



template(name='add_incident_button')
    if has_user_customer_jpid
        a.ui.button#add_incident(href='#' data-content='Create New Incident')
            i.large.green.plus.icon
            |Log New Incident
    else
        if is_customer
            .ui.secondary.segment Add Office to Profile to Add Incident


template(name='incident_sla_widget')
    .ui.secondary.segment
        .ui.header 
            i.user.shield.icon
            |SLA Rules List for #{incident_doc.incident_type}
        each sla_rule_docs
            +sla_rule_doc
            
template(name='sla_rule_doc')            
    .ui.dividing.header 
        // if is_level
        //     i.green.checkmark.icon(data-content="Current Level: #{incident_doc.level}")
        unless is_level
            .set_level.ui.small.compact.button(data-content="Simulate Escalation to #{number}.") Set Level #{number}
        |#{name}
    .content
        unless is_initial
            strong Hours: #{hours_value}
        if franchisee_toggle_value
            .item Franchisee
    .content
        | Primary Contact
        strong #{primary_contact_value} 
    .content
        | Secondary Contact
        strong #{secondary_contact_value} 
            //     .ui.disabled.button Can't Set #{number}
            
            
            
template(name='submit_incident')
    .ui.header 
        +icon name='category'
        |Type
    each incident_type_docs
        +toggle_key key='incident_type' value=slug label=title icon=icon
    +edit_textarea label='Details' key='incident_details' icon='view-details'
    // +edit_datetime_field key='service_date' label='Service Time' icon='leave'
    +edit_datetime_field key='service_date' label='Service Time'
    .ui.hidden.divider
    .submit.ui.fluid.green.button
        |Submit
    // if can_submit
    // else
    //     .ui.fluid.green.disabled.button
    //         |Submit



template(name='sla_tester')
    .ui.small.icon.check_escalation.button(title='Manually Check Escalation')
        i.refresh.link.icon
    .ui.small.icon.escalate_incident.button(title='Manually Escalate')
        i.sort.numeric.down.link.icon
    each sla_docs
        strong Level #{escalation_number}
            span(title='Escalation Hours') (#{escalation_hours} hours)
        .ui.small.icon.set_level.button(title="Set level to #{escalation_number}")
            i.link.left.arrow.icon
        .ui.secondary.segment
            | Owner
            +view_sla_contact username=incident_owner
            if contact_customer
                i.money.large.icon(title='Contact Customer')
            if contact_franchisee
                i.truck.large.icon(title='Contact Franchisee')
            // .item Type #{incident_type}
            if email_owner
                i.mail.large.icon(title='Email Owner')
            if sms_owner
                i.phone.large.icon(title='SMS Owner')
        .ui.secondary.segment
            |Secondary
            +view_sla_contact username=secondary_contact
            if email_secondary
                i.mail.large.icon(title='Email secondary')
            if sms_secondary
                i.phone.large.icon(title='SMS secondary')
        .ui.divider                

template(name='view_sla_contact')
    // .ui.header SLA Contact #{key}
    with user_ob
        strong
            |#{first_name} #{last_name}
            small @#{username}
        div #{ev.EMAIL}
        div #{ev.WORK_TELEPHONE}
        div #{ev.HOME_TELEPHONE}
        div #{phone}
              
                    