template(name='set_schema_part')
    .ui.right.labeled.icon.button.set_schema
        | View Section
        +icon name='chevron-right'


template(name='bookmark_button')
    if bookmarked
        .ui.blue.button.toggle_bookmark(title='Unbookmark' class=bookmark_class)
            +icon name='bookmark'
            |Bookmarked
    else
        .ui.button.toggle_bookmark(title='Bookmark' class=bookmark_class)
            +icon name='bookmark'
            |Bookmark
    .ui.list
        each bookmark_users
            +user_list_view

template(name='bookmark')
    .ui.header.set_bookmarks
        i.bookmark.outline.icon
        | Bookmarks





template(name='notifications')
    .ui.header
        i.bell.outline.icon
        | Notifications

template(name='messages')
    a.ui.header(href='#')
        i.envelope.outline.icon
        | Messages
    .ui.button
        i.inbox.icon
        |Inbox
    .ui.button
        i.sent.icon
        |Sent
    .ui.button
        i.draft.icon
        |Drafs
    .ui.button
        i.setting.icon
        |Settings
        


template(name='todo')
    .ui.header
        i.tasks.icon
        | Tasks
    .ui.fluid.icon.input
        input(type='text')
        i.plus.icon
    each todos
        .ui.rounded.segment(class=todo_segment_class)
            .ui.small.header #{title}
            .ui.horizontal.list
                .item
                    .content
                        .description
                            |#{author.first_name} #{author.last_name} #{when} 
                .item
                    if complete
                        .ui.circular.icon.button.mark_incomplete
                            i.green.check.icon
                            // | Complete
                    else
                        .ui.circular.icon.button.mark_complete
                            i.square.outline.icon
                            // |Incomplete
                .item
                    .ui.icon.compact.small.button
                        i.remove.icon

template(name='mark_read_part')
    if read
        .ui.blue.button.toggle_read
            i.envelope.open.outline.icon
            | Read
    else
        .ui.button.toggle_read
            i.envelope.icon
            | Mark Read
    .ui.list
        each read_users
            +user_list_view



template(name='complete_part')
    if block_parent.complete
        .ui.green.margined.button.mark_incomplete
            i.check.icon
            | Complete
    else
        .ui.margined.button.mark_complete
            i.unchecked.checkbox.icon
            | Incomplete


template(name='subscribe_part')
    if subscribed
        .ui.blue.button.toggle_subscribe(class=subscription_class)
            +icon name='renew-subscription'
            | Subscribed
    else
        .ui.button.toggle_subscribe(class=subscription_class)
            +icon name='renew-subscription'
            | Subscribe
    if subscribed
        .ui.two.buttons
            .ui.button(title='Immediate')
                +icon name='internal'
            .ui.button(title='Daily')
                +icon name='present'
        .ui.two.buttons
            .ui.button(title='SMS')
                +icon name='cell-phone'
            .ui.button(title='Email')
                +icon name='email'
    .ui.list
        each subscribers
            +user_list_view

template(name='voting_part')
    .ui.icon.button.upvote(class=upvote_class)
        i.thumbs.up.outline.icon
    .ui.icon.button.downvote(class=downvote_class)
        i.thumbs.down.outline.icon
    if upvoters
        i.thumbs.up.outline.icon
        // .ui.small.inline_header.header
            // |Upvoters
        each upvoters
            .ui.label #{username}
            // +user_list_view
    if downvoters
        i.thumbs.down.outline.icon
        // .ui.small.inline_header.header
            // |Downvoters
        each downvoters
            // +user_list_view
            .ui.label #{username}

template(name='users')
    .ui.header
        i.address.book.outline.icon
        |Users
    each users
        .ui.segment
            .ui.small.header
                if author.image_id
                    img.ui.avatar.image(src="{{c.url author.image_id width=100 height=100 gravity='face' crop='fill'}}")
                else
                    i.user.icon
                |#{first_name} #{last_name}
            .description
                |@#{username}
            .ui.horizontal.list
                .item
                    +icon name='shield-alt'
                    each roles
                        .ui.basic.label #{this}
                .item
                    +icon name='at'
                    |#{email}
                .item
                    if status.online
                        i.green.globe.icon
                    




template(name='approval_part')
    .ui.small.dividing.header
        +icon name='approval' classes='mini spaced'
        | Approval
    .ui.form
        .field
            .ui.icon.input
                if user_results
                    i.link.remove.icon.clear_results
                else
                    i.search.icon
                input#multiple_user_select_input(type='text' placeholder='Search Office User')
        if user_results
            .ui.segment
                .ui.middle.aligned.selection.animated.list
                    each user_results
                        .select_user.item
                            h5.ui.header
                                img.ui.avatar.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='fill'}}")
                                |#{username}
        .field
            .ui.list
                each assigned_users
                    .item
                        .right.floated.content
                            i.pull_user.remove.link.icon
                        .image
                            img.ui.avatar.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='fill'}}")
                        .content
                            h4.ui.header
                                |#{first_name} #{last_name}
                                small @#{username}



template(name='online_users')
    .ui.header
        +icon name='globe'
        | Online Users
    .ui.list
        each online_users
            .item #{username}

template(name='calendar')
    .ui.header
        i.calendar.outline.icon
        | Calendar
    .ui.button
        | Day
    .ui.button
        | List
    .ui.button
        |Week
    .ui.button
        +icon name='plus'
        | Event


template(name='chat')
    .ui.header
        i.comment.outline.icon
        | Chat
    .ui.fluid.input
        // +icon name='plus'
        input#new_chat(type='text' placeholder='Add Message...')
    each chat_messages
        .ui.rounded.segment(class=comment_class)
            .large130 #{message}
            .ui.hidden.fitted.divider
            .content
                .ui.horizontal.list
                    .item
                        if author.image_id
                            img.ui.avatar.image(src="{{c.url author.image_id width=100 height=100 gravity='face' crop='fill'}}")
                        else
                            i.user.icon
                        | #{author_username}
                    .item
                        |#{when}
                    .item
                        .ui.icon.compact.button.delete
                            i.remove.icon
                    .item
                        if has_read
                            .ui.icon.blue.compact.button.mark_unread(title='Mark Unread')
                                i.envelope.link.icon
                        else
                            .ui.icon.compact.button.mark_read(title='Mark Read')
                                i.envelope.icon
                    .item
                        .ui.small.horizontal.list
                            each read_users
                                .item(title='Read by') #{username}
                
        
template(name='user_view')
    with target_user
        .ui.header #{first_name} #{last_name}
        .ui.header #{username}
        .ui.list
            .item Customer: #{customer_name}
            .item Customer JPID: #{customer_jpid}
            .item Office: #{office_name}
            .item Office JPID: #{office_jpid}
        img.ui.medium.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='fill'}}")
        .ui.button
            +icon name='bell'
            |Subscribe
        .ui.button
            +icon name=''
            |Message
        
template(name='ideas')
    with target_user
        .ui.header #{first_name} #{last_name}
        .ui.header #{username}
        .ui.list
            .item Customer: #{customer_name}
            .item Customer JPID: #{customer_jpid}
            .item Office: #{office_name}
            .item Office JPID: #{office_jpid}
        img.ui.medium.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='fill'}}")
        .ui.button
            +icon name='bell'
            |Subscribe
        .ui.button
            +icon name=''
            |Message