template(name='set_schema_part')
    .ui.fluid.right.labeled.icon.button.set_schema
        | View Section
        +icon name='chevron-right'


template(name='bookmark_button')
    if bookmarked
        .ui.blue.fluid.button.toggle_bookmark(title='Unbookmark' class=bookmark_class)
            +icon name='bookmark'
            |Bookmarked
    else
        .ui.fluid.button.toggle_bookmark(title='Bookmark' class=bookmark_class)
            +icon name='bookmark'
            |Bookmark
    .ui.list
        each bookmark_users
            +user_list_view

template(name='bookmark')
    .ui.header.set_bookmarks
        i.bookmark.outline.icon
        | Bookmarks





template(name='notifications')
    .ui.header
        i.bell.outline.icon
        | Notifications

template(name='messages')
    a.ui.header(href='#')
        i.envelope.outline.icon
        | Messages

    // +iconsmall name='compose' title='Compose' classes='pointer'


template(name='todo')
    .ui.large.header
        i.tasks.icon
        | Tasks
    .ui.fluid.icon.input
        input(type='text' placeholder='New Task...')
        i.plus.icon
    each todos
        .ui.rounded.segment(class=todo_segment_class)
            .ui.small.header #{title}
            .ui.horizontal.list
                .item
                    .content
                        .description
                            |#{author.first_name} #{author.last_name} #{when} 
                .item
                    if complete
                        .ui.rounded.button.mark_incomplete
                            i.green.check.icon
                            | Complete
                    else
                        .ui.rounded.button.mark_complete
                            i.circle.outline.icon
                            |Incomplete
                .item
                    .ui.rounded.icon.button
                        i.remove.icon

template(name='mark_read_part')
    if read
        .ui.blue.fluid.button.toggle_read
            +icon name='envelope-open-text'
            | Read
    else
        .ui.fluid.button.toggle_read
            +icon name='envelope'
            | Mark Read
    .ui.list
        each read_users
            +user_list_view



template(name='complete_part')
    if block_parent.complete
        +icon name='checkmark' classes='spaced mini'
        | Complete
        div
        .ui.fluid.button.mark_incomplete
            +icon name='clock'
            | Mark Incomplete
    else
        +icon name='clock' classes='spaced mini'
        | Incomplete
        div
        .ui.fluid.button.mark_complete
            +icon name='check'
            | Mark Complete


template(name='subscribe_part')
    if subscribed
        .ui.blue.fluid.button.toggle_subscribe(class=subscription_class)
            +icon name='renew-subscription'
            | Subscribed
    else
        .ui.button.fluid.toggle_subscribe(class=subscription_class)
            +icon name='renew-subscription'
            | Subscribe
    if subscribed
        .ui.two.buttons
            .ui.button(title='Immediate')
                +icon name='internal'
            .ui.button(title='Daily')
                +icon name='present'
        .ui.two.buttons
            .ui.button(title='SMS')
                +icon name='cell-phone'
            .ui.button(title='Email')
                +icon name='email'
    .ui.list
        each subscribers
            +user_list_view

template(name='voting_part')
    .ui.small.dividing.header
        +icon name='leaderboard' classes='mini spaced'
        | Priority (#{block_parent.points})
    .ui.icon.button.upvote(class=upvote_class)
        +icon name='thumbs-up'
    .ui.icon.button.downvote(class=downvote_class)
        +icon name='thumbs-down'
    if upvoters
        .ui.small.dividing.header
            +icon name='collapse-arrow' classes='mini spaced'
            |Upvoters
        .ui.list
            each upvoters
                +user_list_view
    if downvoters
        .ui.small.dividing.header
            +icon name='expand-arrow' classes='mini spaced'
            |Downvoters
        .ui.list
            each downvoters
                +user_list_view

template(name='users')
    .ui.header
        i.address.book.outline.icon
        |Users
    each users
        .ui.segment
            .ui.small.header
                if author.image_id
                    img.ui.avatar.image(src="{{c.url author.image_id width=100 height=100 gravity='face' crop='fill'}}")
                else
                    i.user.icon
                |#{first_name} #{last_name}
            .description
                |@#{username}
            .ui.horizontal.list
                .item
                    +icon name='shield-alt'
                    each roles
                        .ui.basic.label #{this}
                .item
                    +icon name='at'
                    |#{email}
                .item
                    if status.online
                        i.green.globe.icon
                    




template(name='approval_part')
    .ui.small.dividing.header
        +icon name='approval' classes='mini spaced'
        | Approval
    .ui.form
        .field
            .ui.icon.input
                if user_results
                    i.link.remove.icon.clear_results
                else
                    i.search.icon
                input#multiple_user_select_input(type='text' placeholder='Search Office User')
        if user_results
            .ui.segment
                .ui.middle.aligned.selection.animated.list
                    each user_results
                        .select_user.item
                            h5.ui.header
                                img.ui.avatar.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='fill'}}")
                                |#{username}
        .field
            .ui.list
                each assigned_users
                    .item
                        .right.floated.content
                            i.pull_user.remove.link.icon
                        .image
                            img.ui.avatar.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='fill'}}")
                        .content
                            h4.ui.header
                                |#{first_name} #{last_name}
                                small @#{username}



template(name='online_users')
    .ui.header
        +icon name='globe'
        | Online Users
    .ui.list
        each online_users
            .item #{username}

template(name='calendar')
    .ui.header
        i.calendar.outline
        | Calendar
    .ui.button
        | Day
    .ui.button
        | List
    .ui.button
        |Week
    .ui.fluid.button
        +icon name='plus'
        | Event


template(name='chat')
    .ui.header
        i.comment.outline.icon
        | Chat
    .ui.fluid.input
        // +icon name='plus'
        input#new_chat(type='text' placeholder='Add Message...')
    each chat_messages
        .ui.rounded.segment(class=comment_class)
            .large120 #{message}
            .ui.hidden.fitted.divider
            .content
                if author.image_id
                    img.ui.avatar.image(src="{{c.url author.image_id width=100 height=100 gravity='face' crop='fill'}}")
                else
                    i.user.icon
                .ui.horizontal.list
                    .item
                        | #{author_username}
                    .item
                        |#{when}
                    .item
                        i.link.delete.icon
                    .item
                        if has_read
                            i.envelope.mark_unread.link.icon(title='Mark Unread')
                        else
                            i.mark_read.link.envelope.icon(title='Mark Read')
                    .item
                        .ui.small.horizontal.list
                            each read_users
                                .item(title='Read by') #{username}
                
        
template(name='user_view')
    with target_user
        .ui.header #{first_name} #{last_name}
        .ui.header #{username}
        .ui.list
            .item Customer: #{customer_name}
            .item Customer JPID: #{customer_jpid}
            .item Office: #{office_name}
            .item Office JPID: #{office_jpid}
        img.ui.medium.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='fill'}}")
        .ui.button
            +icon name='bell'
            |Subscribe
        .ui.button
            +icon name=''
            |Message
        
template(name='add')
    .ui.rounded.button
        |Ticket
    .ui.rounded.button        
        |Request
    .ui.rounded.button        
        |Request
    .ui.rounded.button        
        |Request
    .ui.rounded.button        
        |Request
    .ui.rounded.button        
        |Request
    .ui.rounded.button        
        |Request
        