template(name='nav')
    #dash_header.ui.masthead.inverted.blue.big.menu
        .item
            img.ui.small.centered.image(src='https://jan-pro.com/wp-content/themes/underboot/img/jan-pro-white.svg')
        a.item(href="/dashboard" class="{{ isActiveRoute 'dashboard' }}")
            i.dashboard.icon
            .mobile.hidden Dashboard
        a.item(href="/data" class="{{ isActiveRoute 'data' }}")
            i.database.icon
            .mobile.hidden Data
        a.item(href='/messaging' class="{{ isActiveRoute 'messaging' }}")
            i.chat.icon
            .mobile.hidden Messaging
        a.item(href='/feed' class="{{ isActiveRoute 'feed' }}" )
            i.feed.icon
            .mobile.hidden Feed
        a.item(href='/tasks' class="{{ isActiveRoute 'tasks' }}")
            i.tasks.icon
            .mobile.hidden Tasks
        .ui.search.item
            .ui.transparent.icon.inverted.large.disabled.input
                i.search.icon
                input(type='text' placeholder='Search')
            // | Search
        .right.menu
            if currentUser
                a.ui.item(href='/account/settings' class="{{ isActiveRoute 'account' }}" )
                    if currentUser.image_id
                        img.ui.avatar.image(src="{{c.url currentUser.image_id width=50 height=50 gravity='face' crop='fill'}}")
                    else
                        i.user.icon
                    |#{currentUser.username}
                a#logout.ui.icon.item(href='#')
                    if signing_out
                        i.notched.circle.loading.icon
                    else
                        i.sign.out.alternate.icon
            else
                a.ui.icon.item(href='/login')
                    i.sign.in.alternate.icon
                    | &nbsp; Log In







template(name='left_sidebar')
    .ui.left.vertical.sidebar.inverted.nav_bar.thin.menu
        if currentUser
            a.toggle_left_sidebar.header.item(href="/user/#{currentUser.username}")
                img.ui.centered.mini.image(src="{{c.url currentUser.image_id width=50 height=50 gravity='face' crop='fill'}}")
                |#{currentUser.username}
        if is_customer
            a.header.toggle_left_sidebar.item(href='/')
                |Dashboard
        if is_admin
            each admin_nav_items
                a.toggle_left_sidebar.item(href="/p/#{slug}" class="{{ active_route slug }}" title=title)
                    |#{title}
        else if is_office
            // with currentUser.users_customer.parent_franchisee.parent_office
            each office_nav_items
                a.toggle_left_sidebar.item(href="/p/#{slug}/#{my_office.ev.ID}" class="{{ active_route slug }}" title=title)
                    // i.icon
                    //     +icon name=icon
                    | #{title}
            // a.toggle_sidebar.item(href="/profile/edit/#{currentUser._id}")
            //     if currentUser.profile.first_name
            //         | #{currentUser.profile.first_name}
            //     else
            //         | #{currentUser.username}
            //     if currentUser.profile.image_id
            //         img.ui.avatar.image(src="{{c.url currentUser.profile.image_id width=50 height=50 gravity='face' crop='fill'}}" )
            //     else
            //         i.user.icon
            // a#logout.ui.toggle_sidebar.item(href='#')
            //     i.large.icon
            //         +mini_sprite name='edit'
            //     | Sign Out
        if currentUser
            a#logout.ui.item(href='#')
                | Sign Out
                i.sign.out.alternate.icon
        else
            a.ui.toggle_sidebar.item(href='/login')
                // i.large.icon
                //     +mini_sprite name='enter'
                | Log In
