template(name='nav')
    .ui.inverted.blue.top.attached.menu
        a.toggle_left_sidebar.icon.item 
            i.bars.icon
        if is_customer
            a.item(href='/')
                // img.ui.tiny.compact.inline.image(src='https://jan-pro.com/wp-content/themes/underboot/img/jan-pro-white.svg')
                i.icon
                    +icon name='dashboard'
                .mobile.hidden &nbsp; Dashboard
            a.mobile.hidden.item(href='/customer_incidents' class="{{ isActiveRoute 'customer_incidents'}}")
                i.icon
                    +icon name='error'
                .mobile.hidden &nbsp; My Incidents
            a.mobile.hidden.item(href='/store' class="{{ isActiveRoute 'store'}}")
                i.icon
                    +icon name='small-business'
                .mobile.hidden &nbsp; Consumables
            a.mobile.hidden.item(href='/services' class="{{ isActiveRoute 'services'}}")
                i.icon
                    +icon name='broom'
                .mobile.hidden Services
        if is_office
            // with currentUser.users_customer.parent_franchisee.parent_office
            if my_office
                a.item(href="/office/#{my_office._id}/" class="{{ isActiveRoute 'office_dashboard'}}")
                    i.icon
                        +icon name='building'
                    | &nbsp; #{my_office.ev.MASTER_LICENSEE}
            a.item(href="/office/#{my_office._id}/incidents" class="{{ isActiveRoute 'office_incidents'}}")
                i.icon
                    +icon name='error'
                .large.monitor.only &nbsp; Incidents
            a.item(href="/office/#{my_office._id}/employees" class="{{ isActiveRoute 'office_employees'}}")
                i.icon
                    +icon name='groups'
                .large.monitor.only &nbsp; Employees
            a.item(href="/office/#{my_office._id}/franchisees" class="{{ isActiveRoute 'office_franchisees'}}")
                i.icon
                    +icon name='housekeeper-male'
                .large.monitor.only &nbsp; Franchisees
            a.item(href="/office/#{my_office._id}/customers" class="{{ isActiveRoute 'office_customers'}}")
                i.icon
                    +icon name='customer-support'
                .large.monitor.only &nbsp; Customers
            a.item(href="/office/#{my_office._id}/settings" class="{{ isActiveRoute 'office_settings'}}")
                i.icon
                    +icon name='settings'
                .large.monitor.only &nbsp; Settings
        if is_admin
            a.item(href='/admin' data-content='Admin Dashboard' class="{{ isActiveRoute 'admin'}}")
                i.icon
                    +icon name='user-shield'
                .large.monitor.only &nbsp; Admin
            a.mobile.hidden.item(href='/incidents' data-content='All Incidents' class="{{ isActiveRoute 'incidents'}}")
                i.icon
                    +icon name='error'
                .large.monitor.only &nbsp; Incidents
            a.mobile.hidden.item(href='/users' data-content='All Users' class="{{ isActiveRoute 'users'}}")
                i.icon
                    +icon name='groups'
                .large.monitor.only &nbsp; Users
            a.mobile.hidden.item(href='/offices' data-content='All Offices' class="{{ isActiveRoute 'offices'}}")
                i.icon
                    +icon name='skyscrapers'
                .large.monitor.only Offices
            a.mobile.hidden.item(href='/franchisees' data-content='All Franchisees' class="{{ isActiveRoute 'franchisees'}}")
                i.icon
                    +icon name='housekeeper-male'
                .large.monitor.only Franchisees
            a.mobile.hidden.item(href='/customers' data-content='All Customers' class="{{ isActiveRoute 'customers'}}")
                i.icon
                    +icon name='customer-support'
                .large.monitor.only Customers
            a.mobile.hidden.item(href='/services' data-content='All Services' class="{{ isActiveRoute 'services'}}")
                i.icon
                    +icon name='broom'
                .large.monitor.only Services
        .right.menu
            if is_dev
                // a.item(href='/alfred' data-content='alfred')
                //     i.code.black.icon
                // a.item(href='/blog' data-content='blog')
                //     i.newspaper.black.icon
                // a.item(href='/databank' data-content='Databank')
                //     i.icon
                //         +icon name='database'
                a.item(href='/tasks' data-content='Tasks' class="{{ isActiveRoute 'tasks'}}")
                    i.icon
                        +icon name='realtime-protection'
                a.item(href='/stats' data-content='Stats' class="{{ isActiveRoute 'stats'}}")
                    i.icon
                        +icon name='bar-chart'
                a.item(href='/feed' data-content='Site Events' class="{{ isActiveRoute 'global_feed'}}")
                    i.icon
                        +icon name='rss'
            if currentUser
                a.item(href='/mail' data-content='Mail' class="{{ isActiveRoute 'mail'}}")
                    if unread_mail
                        i.icon
                            +icon name='open-envelope'
                    else
                        i.icon
                            +icon name='secured-letter'
                a.item(href='/notifications' data-content="Notifications")
                    if unread_notifications
                        i.icon
                            +icon name='appointment-reminders'
                    else
                        i.icon
                            img.ui.image(src="https://png.icons8.com/ios/80/000000/appointment-reminders.png")
                            
                if is_customer    
                    a.item(href='/cart' data-content='Shopping Cart')
                        i.icon
                            +icon name='shopping-cart'
                a.item(href="/user/#{currentUser.username}" data-content='View Profile' class="{{ isActiveRoute 'user_view'}}")
                    if currentUser.profile.image_id
                        i.icon
                            img.ui.image(src="{{c.url currentUser.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
                    else
                        i.user.icon
                    .mobile.hidden &nbsp; #{currentUser.username}
                a#logout.ui.item(href='#' data-content='Log Out') 
                    i.icon
                        +icon name='logout-rounded'
            else
                a.ui.icon.item(href='/login')
                    // i.icon
                    //     +icon name='enter-2'
                    // i.sign.in.alternate.icon
                    | &nbsp; Log In



template(name='left_sidebar')
    .ui.left.vertical.sidebar.inverted.blue.thin.menu
        if currentUser
            a.toggle_left_sidebar.header.item(href="/user/#{currentUser.username}")
                img.ui.centered.mini.image(src="{{c.url currentUser.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
                |#{currentUser.username}
        if is_customer
            a.header.toggle_left_sidebar.item(href='/') 
                |Dashboard
            a.toggle_left_sidebar.item(href='/store')
                i.shopping.cart.icon
                | Store
            // a.toggle_left_sidebar.item(href='/front')
            //     i.globe.icon
            //     | Sales Page
        if is_admin
            a.toggle_left_sidebar.item(href='/users') 
                |Users
            a.toggle_left_sidebar.item(href='/incidents') 
                |Incidents
            a.toggle_left_sidebar.item(href='/offices') 
                |Offices
            // a.toggle_left_sidebar.item(href='/schedule')
            //     | Schedule
            a.toggle_left_sidebar.item(href='/services')
                // +tiny_sprite name='duster'
                | Services
            a.toggle_left_sidebar.item(href='/special_services')
                // +tiny_sprite name='duster'
                | Special Services
            a.toggle_left_sidebar.item(href='/franchisees') 
                |Franchisees
            a.toggle_left_sidebar.item(href='/customers') 
                |Customers
            .divider
            a.toggle_left_sidebar.item(href='/admin') 
                |Admin
            a.toggle_left_sidebar.item(href='/feed') 
                |Feed
            .ui.divider
            a.toggle_left_sidebar.item(href='/roles') 
                |Roles
            a.toggle_left_sidebar.item(href='/rules') SLA Rules
    
                // a.icon.item(href='/dashboard')
                //     i.line.chart.icon
            a.toggle_left_sidebar.item(href='/feedback_responses')
                i.chat.icon
                | Feedback Responses
        if is_office
            a.toggle_left_sidebar.item(href="/office/#{my_office._id}/" class="{{ isActiveRoute 'office_dashboard'}}")
                i.icon
                    +icon name='building'
                | &nbsp; #{my_office.ev.MASTER_LICENSEE}
            a.toggle_left_sidebar.item(href="/office/#{my_office._id}/incidents" class="{{ isActiveRoute 'office_incidents'}}")
                i.icon
                    +icon name='error'
                | &nbsp; Incidents
            a.toggle_left_sidebar.item(href="/office/#{my_office._id}/employees" class="{{ isActiveRoute 'office_employees'}}")
                i.icon
                    +icon name='groups'
                | &nbsp; Employees
            a.toggle_left_sidebar.item(href="/office/#{my_office._id}/franchisees" class="{{ isActiveRoute 'office_franchisees'}}")
                i.icon
                    +icon name='housekeeper-male'
                | &nbsp; Franchisees
            a.toggle_left_sidebar.item(href="/office/#{my_office._id}/customers" class="{{ isActiveRoute 'office_customers'}}")
                i.icon
                    +icon name='customer-support'
                | &nbsp; Customers
            a.toggle_left_sidebar.item(href="/office/#{my_office._id}/settings" class="{{ isActiveRoute 'office_settings'}}")
                i.icon
                    +icon name='settings'
                | &nbsp; Settings

        // a.icon.toggle_left_sidebar.item(href='/admin')
        //     i.shield.icon
        //     | Admin
            // a.toggle_sidebar.item(href="/profile/edit/#{currentUser._id}")
            //     if currentUser.profile.first_name
            //         | #{currentUser.profile.first_name}
            //     else
            //         | #{currentUser.username}
            //     if currentUser.profile.image_id
            //         img.ui.avatar.image(src="{{c.url currentUser.profile.image_id width=50 height=50 gravity='face' crop='fill'}}" )
            //     else
            //         i.user.icon
            // a#logout.ui.toggle_sidebar.item(href='#') 
            //     i.icon
            //         +mini_sprite name='edit'
            //     | Sign Out
        if currentUser
            a#logout.ui.item(href='#') 
                | Sign Out
                i.right.chevron.large.icon
        else
            a.ui.toggle_sidebar.item(href='/login') 
                // i.icon
                //     +mini_sprite name='enter'
                | Log In
