template(name='nav')
    #nav.ui.inverted.top.attached.large.menu
        a.toggle_left_sidebar.item 
            +icon name='menu'
        a.item(href='/')
            // img.ui.tiny.compact.inline.image(src='https://jan-pro.com/wp-content/themes/underboot/img/jan-pro-white.svg')
            +icon name='dashboard'
            | &nbsp; Dashboard
        a.mobile.hidden.item(href='/users')
            +icon name='groups'
            | &nbsp; Users
        a.mobile.hidden.item(href='/incidents')
            +icon name='error'
            | &nbsp; Incidents
        if is_admin
            a.mobile.hidden.item(href='/offices')
                i.large.icon
                    +icon name='link-company-parent'
                | Offices
            a.mobile.hidden.item(href='/franchisees')
                i.large.icon
                    +icon name='collaborator-female'
                | Franchisees
            a.mobile.hidden.item(href='/customers')
                i.large.icon
                    +icon name='customer-support'
                | Customers
            a.mobile.hidden.item(href='/services')
                i.large.icon
                    +icon name='broom'
                | Services
            a.mobile.hidden.large.icon.icon.item(href='/schedule' data-position="bottom center" data-content='Schedule')
                i.calendar.large.icon
                | Schedule
            .mobile.hidden.icon.item
                .ui.large.icon.transparent.inverted.disabled.input
                    input(type='text' placeholder='Search...')
                    i.search.large.icon
        .right.menu
            a.item(href='/admin')
                +icon name='user-shield'
                | &nbsp; Admin
            // a.mobile.hidden.icon.item(href='/dev' data-position="bottom center" data-content='Dev')
            //     i.terminal.large.icon
                // | Dev
            // a.mobile.hidden.icon.item(href='/admin' data-position="bottom center" data-content='Admin')
            //     i.shield.alternate.large.icon
                // | Admin
            // a.large.icon.mobile.hidden.item(href='/chat' data-position="bottom center" data-content='Chat')
            //     i.comments.large.icon
            // .icon.mobile.hidden.disabled.item(data-position="bottom center" data-content='Cart')
            //     i.shopping.cart.icon
            // a.ui.simple.dropdown.icon.mobile.hidden.item(href='/alerts')
            //     i.bell.icon
            //     .menu
            //         .item No alerts
            if currentUser
                a.item(href="/user/#{currentUser.username}")
                    if currentUser.profile.image_id
                        img.ui.avatar.image(src="{{c.url currentUser.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
                    else
                        i.user.icon
                    //  |#{currentUser.username}
                // if currentUser.name
                //      #{currentUser.name}
                // else
            else
                a.ui.item(href='/login') 
                    +icon name='login-rounded-right'
                    | &nbsp; Log In



template(name='left_sidebar')
    #nav.ui.left.vertical.sidebar.inverted.menu
        if currentUser
            a.toggle_left_sidebar.header.item(href="/user/#{currentUser.username}")
                img.ui.avatar.image(src="{{c.url currentUser.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
                |#{currentUser.username}
    
        a.header.toggle_left_sidebar.item(href='/') Dashboard
        // a.toggle_left_sidebar.item(href='/front')
        //     i.globe.icon
        //     | Sales Page
        a.toggle_left_sidebar.item(href='/users') Users
        a.toggle_left_sidebar.item(href='/incidents') Incidents
        a.toggle_left_sidebar.item(href='/offices') Offices
        // a.toggle_left_sidebar.item(href='/schedule')
        //     | Schedule
        // a.toggle_left_sidebar.item(href='/services')
        //     i.clock.icon
        //     // +tiny_sprite name='duster'
        //     | Services
        a.toggle_left_sidebar.item(href='/franchisees') Franchisees
        a.toggle_left_sidebar.item(href='/customers') Customers
        a.toggle_left_sidebar.item(href='/ev') ExtraView
        .ui.divider
        a.toggle_left_sidebar.item(href='/roles') Roles
        a.toggle_left_sidebar.item(href='/feed') Feed

        //     // a.icon.item(href='/dashboard' data-position="right center" data-content='Charts')
        //     //     i.line.chart.icon
        // a.toggle_left_sidebar.item(href='/store' data-position="bottom center" data-content='Store')
        //     i.shopping.cart.icon
        //     | Store
            
        // a.icon.toggle_left_sidebar.item(href='/admin' data-position="right center" data-content='Admin')
        //     i.shield.icon
        //     | Admin
            // a.toggle_sidebar.item(href="/profile/edit/#{currentUser._id}" data-position="right center" data-content='Charts')
            //     if currentUser.profile.first_name
            //         | #{currentUser.profile.first_name}
            //     else
            //         | #{currentUser.username}
            //     if currentUser.profile.image_id
            //         img.ui.avatar.image(src="{{c.url currentUser.profile.image_id width=50 height=50 gravity='face' crop='fill'}}" data-position="right center" data-content='Charts')
            //     else
            //         i.user.icon
            // a#logout.ui.toggle_sidebar.item(href='#') 
            //     i.icon
            //         +mini_sprite name='edit'
            //     | Sign Out
        if currentUser
            a#logout.ui.item(href='#') 
                | Sign Out
                i.right.chevron.icon
        else
            a.ui.toggle_sidebar.item(href='/login') 
                // i.icon
                //     +mini_sprite name='enter'
                | Log In
