template(name='nav')
    .ui.inverted.blue.top.attached.borderless.menu
        a.toggle_left_sidebar.icon.item 
            i.bars.icon
        if is_admin
            each admin_nav_items
                a.item(href="/p/#{slug}" class="{{ isActiveRoute slug }}" title=title)
                    i.large.icon
                        +icon name=icon
                    // .mobile.hidden &nbsp; Admin
        else if is_customer
            each customer_nav_items
                a.item(href="/p/#{slug}" class="{{ isActiveRoute slug }}" title=title)
                    i.large.icon
                        +icon name=icon
                    .mobile.hidden &nbsp; #{title}
        else if is_office
            // with currentUser.users_customer.parent_franchisee.parent_office
            each office_nav_items
                a.item(href="/p/#{slug}/#{my_office.ev.ID}" class="{{ isActiveRoute slug }}" title=title)
                    i.large.icon
                        +icon name=icon
        .right.menu
            if is_admin
                a.item(href='/p/pages' data-content='Pages')
                    i.large.icon
                        +icon name='layout'
            if is_dev
                a.item(href='/p/pages' data-content='Pages')
                    i.large.icon
                        +icon name='layout'
                a#toggle_editing.item(href='#')
                    i.large.icon
                        if editing_mode
                            +icon name='toggle-on'
                        else
                            +icon name='toggle-off'
                a.item(href='/p/schemas' data-content='Schemas')
                    i.large.icon
                        +icon name='database'
            if currentUser
                a.item(href="/user/#{currentUser.username}" data-content='View Profile' class="{{ isActiveRoute 'user_view'}}")
                    if currentUser.profile.image_id
                        i.large.icon
                            img.ui.image(src="{{c.url currentUser.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
                    else
                        i.user.icon
                    .mobile.hidden &nbsp; #{currentUser.username}
                a#logout.ui.item(href='#') 
                    i.large.icon
                        +icon name='logout-rounded'
            else
                a.item(href='/login')
                    i.large.icon
                        +icon name='internal'
                    // i.sign.in.alternate.icon
                    | &nbsp; Log In



template(name='left_sidebar')
    .ui.left.vertical.sidebar.inverted.blue.thin.menu
        if currentUser
            a.toggle_left_sidebar.header.item(href="/user/#{currentUser.username}")
                img.ui.centered.mini.image(src="{{c.url currentUser.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
                |#{currentUser.username}
        if is_customer
            a.header.toggle_left_sidebar.item(href='/') 
                |Dashboard
            // a.toggle_left_sidebar.item(href='/front')
            //     i.globe.icon
            //     | Sales Page
        if is_admin
            a.toggle_left_sidebar.item(href='/p/users') 
                |Users
            a.toggle_left_sidebar.item(href='/p/admin_incidents') 
                |Incidents
            a.toggle_left_sidebar.item(href='/p/admin_offices') 
                |Offices
            a.toggle_left_sidebar.item(href='/p/services')
                // +tiny_sprite name='duster'
                | Services
            // a.toggle_left_sidebar.item(href='/special_services')
            //     // +tiny_sprite name='duster'
            //     | Special Services
            a.toggle_left_sidebar.item(href='/p/admin_franchisees') 
                |Franchisees
            a.toggle_left_sidebar.item(href='/p/admin_customers') 
                |Customers
            .divider
            a.toggle_left_sidebar.item(href='/p/admin') 
                |Admin
        if is_office
            a.toggle_left_sidebar.item(href="/office/#{my_office._id}/" class="{{ isActiveRoute 'office_dashboard'}}")
                i.large.icon
                    +icon name='building'
                // | &nbsp; #{my_office.ev.MASTER_LICENSEE}
            a.toggle_left_sidebar.item(href="/office/#{my_office._id}/incidents" class="{{ isActiveRoute 'office_incidents'}}")
                i.large.icon
                    +icon name='error'
                // | &nbsp; Incidents
            a.toggle_left_sidebar.item(href="/office/#{my_office._id}/employees" class="{{ isActiveRoute 'office_employees'}}")
                i.large.icon
                    +icon name='groups'
                // | &nbsp; Employees
            a.toggle_left_sidebar.item(href="/office/#{my_office._id}/franchisees" class="{{ isActiveRoute 'office_franchisees'}}")
                i.large.icon
                    +icon name='business'
                // | &nbsp; Franchisees
            a.toggle_left_sidebar.item(href="/office/#{my_office._id}/customers" class="{{ isActiveRoute 'office_customers'}}")
                i.large.icon
                    +icon name='headset'
                // | &nbsp; Customers
            a.toggle_left_sidebar.item(href="/office/#{my_office._id}/settings" class="{{ isActiveRoute 'office_settings'}}")
                i.large.icon
                    +icon name='settings'
                // | &nbsp; Settings

        // a.icon.toggle_left_sidebar.item(href='/p/admin')
        //     i.shield.icon
        //     | Admin
            // a.toggle_sidebar.item(href="/profile/edit/#{currentUser._id}")
            //     if currentUser.profile.first_name
            //         | #{currentUser.profile.first_name}
            //     else
            //         | #{currentUser.username}
            //     if currentUser.profile.image_id
            //         img.ui.avatar.image(src="{{c.url currentUser.profile.image_id width=50 height=50 gravity='face' crop='fill'}}" )
            //     else
            //         i.user.icon
            // a#logout.ui.toggle_sidebar.item(href='#') 
            //     i.large.icon
            //         +mini_sprite name='edit'
            //     | Sign Out
        if currentUser
            a#logout.ui.item(href='#') 
                | Sign Out
                i.right.chevron.large.icon
        else
            a.ui.toggle_sidebar.item(href='/login') 
                // i.large.icon
                //     +mini_sprite name='enter'
                | Log In
