template(name='oasis')
    .ui.padded.stackable.grid
        .centered.row
            .ten.wide.column
                h1.ui.center.aligned.header
                    +icon name='rss'
                    | Global Feed
            .three.wide.column
                #set_table_view.ui.icon.button(class=table_mode_button_class)
                    i.table.icon
                #set_list_view.ui.icon.button(class=list_mode_button_class)
                    i.list.icon
        .row
            .four.wide.column
                +doc_type_facet doc_type='event_type' label="Event Types" icon='hashtag-activity-feed'
                +timestamp_facet
                +username_facet
                .ui.header Stats
            .eight.wide.column
                if viewing_list
                    +feed
                if viewing_table
                    +table type='event' collection='Docs' fields=oasis_table_fields
            .four.wide.column
                .ui.header Stats
                .ui.list
                    |Total
                    +view_stat stat_type='total' doc_type='event'
                    each event_types
                        .item
                            |#{title}: 
                            +view_event_stat event_type=this.slug
                 
                 
template(name='view_event_stat')
    |#{stat_value}
                        
