template(name='office_messages')
    .ui.stackable.padded.grid
        .sixteen.wide.column
            .row.ui.secondary.segment
                .ui.grid
                    .five.wide.column
                        +edit_textarea key='customer_message' label='Customer Dashboard Message' icon='dashboard'
                        // +edit_text_field key='customer_special_services' label='Customer Dashboard Special Services'
                    .five.wide.column
                        +edit_textarea key='customer_promotions' label='Customer Dashboard Promotions Message' icon='megaphone'
                    .five.wide.column
                        +edit_textarea key='help_policy' label='Customer Dashboard Help Policy' icon='info'
                        
                        
template(name='office_sla')
    each incident_types
        .select_incident_type.ui.button(class=select_incident_type_button_class) 
            if icon
                i.icon  
                    +icon name=icon
            |#{title}
    if selected_incident_type
        table.ui.celled.table
            thead
                tr  
                    th Level
                    th Escalation Hours
                    th Contact Customer/Franchisee
                    th Owner
                    th Secondary Contact
            tbody
                each rule_docs
                    tr  
                        td #{title}
                        if sla_settings_doc
                            with sla_settings_doc
                                if is_initial
                                    td
                                else 
                                    td 
                                        // +edit_number_field key=hours_key label='Escalation Hours' field_class='inline' min=0 max=24
                                        +set_sla_key_value key=hours_key value=1 label='1'
                                        +set_sla_key_value key=hours_key value=2 label='2'
                                        +set_sla_key_value key=hours_key value=4 label='4'
                                        +set_sla_key_value key=hours_key value=12 label='12'
                                td
                                    if is_initial
                                        +toggle_sla_boolean key='contact_customer' label='Customer' icon='headset'
                                    +toggle_sla_boolean key='contact_franchisee' label='Franchisee' icon='business'
                                if is_initial
                                    td
                                        +incident_owner_select
                                        div
                                        +toggle_sla_boolean key='email_owner' label='Email' icon='envelope'
                                        +toggle_sla_boolean key='sms_owner' label='SMS' icon='comment'
                                else
                                    td
                                        if incident_owner
                                            .ui.large.basic.label #{incident_owner}
                                td 
                                    +secondary_contact_widget
                                    div
                                    +toggle_sla_boolean key='email_secondary' label='Email' icon='envelope'
                                    +toggle_sla_boolean key='sms_secondary' label='SMS' icon='comment'
                        else
                            td No settings file
                                .add_sla_setting_doc.ui.button Create


template(name='office_service_settings')
    // h5.ui.header Select which to offer customers.
    each services
        if title
            .select_service.ui.button(class=select_service_button_class) 
                // if icon
                //     +icon name=icon classes='ui spaced image'
                |#{title}
            
            
            
template(name='set_sla_key_value')
    .set_page_key_value.ui.compact.button(class=set_value_button_class) 
        |#{label}
        
        
template(name='incident_owner_select')
    unless incident_owner
        .ui.form
            .field
                .ui.icon.input
                    i.search.icon
                    input#query_owner(type='text' placeholder='Select Owner...')
            if user_results
                .ui.secondary.segment
                    .ui.middle.aligned.selection.animated.list
                        each user_results
                            .select_owner.basic.large.label.item 
                                if profile.image_id
                                    img.ui.avatar.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                                strong #{profile.first_name} #{profile.last_name}
                                |#{username}
    if incident_owner
        a(href="/user/#{incident_owner}") 
            h3.ui.header #{incident_owner}
        i.pull_user.remove.link.icon(title="Clear #{incident_owner}")


// template(name='view_sla_contact')
//     // .ui.header SLA Contact #{key}
//     with selected_contact
//         .ui.header
//             |#{profile.first_name} #{profile.last_name}
//         .description
//             | @#{username}
//             div #{ev.EMAIL}

template(name='secondary_contact_widget')
    unless secondary_contact
        // h5.ui.header 
        //     i.user.grey.icon
        //     |#{label}
        .ui.form
            .field
                .ui.icon.input
                    i.search.icon
                    input#secondary_input(type='text' placeholder=label)
            if user_results
                .ui.secondary.segment
                    .ui.middle.aligned.selection.animated.list
                        each user_results
                            .select_secondary.basic.large.label.item 
                                if profile.image_id
                                    img.ui.avatar.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                                strong #{profile.first_name} #{profile.last_name}
                                |#{username}
    if secondary_contact
        a(href="/user/#{secondary_contact}") 
            h3.ui.header #{secondary_contact}
        i.remove.link.pull_secondary.icon(title="Clear #{secondary_contact}")
        // div(title="@#{username}")
        //     if profile.image_id
        //         img.ui.avatar.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
        //     |#{profile.first_name} #{profile.last_name}
