template(name='office_messages')
    .ui.stackable.padded.grid
        .sixteen.wide.column
            .row.ui.secondary.segment
                .ui.grid
                    .five.wide.column
                        +edit_textarea key='customer_message' label='Customer Dashboard Message' icon='dashboard'
                        // +edit_text_field key='customer_special_services' label='Customer Dashboard Special Services'
                    .five.wide.column
                        +edit_textarea key='customer_promotions' label='Customer Dashboard Promotions Message' icon='megaphone'
                    .five.wide.column
                        +edit_textarea key='help_policy' label='Customer Dashboard Help Policy' icon='info'


template(name='office_sla')
    each ticket_types
        .select_ticket_type.ui.button(class=select_ticket_type_button_class)
            if icon
                i.icon
                    +icon name=icon
            |#{title}
    if selected_ticket_type
        table.ui.celled.table
            thead
                tr
                    th Level
                    th Escalation Hours
                    th Contact Customer/Franchisee
                    th Owner
                    th Secondary Contact
            tbody
                each rule_docs
                    tr
                        td #{title}
                        if sla_settings_doc
                            with sla_settings_doc
                                if is_initial
                                    td
                                else
                                    td
                                        // +edit_number_field key=hours_key label='Escalation Hours' field_class='inline' min=0 max=24
                                        +set_sla_key_value key='escalation_hours' value=1 label='1'
                                        +set_sla_key_value key='escalation_hours' value=2 label='2'
                                        +set_sla_key_value key='escalation_hours' value=4 label='4'
                                        +set_sla_key_value key='escalation_hours' value=12 label='12'
                                td
                                    if is_initial
                                        +toggle_sla_boolean key='contact_customer' label='Customer' icon='headset' title='Contact Customer'
                                    +toggle_sla_boolean key='contact_franchisee' label='Franchisee' icon='business' title='Contact Franchisee'
                                td
                                    if is_initial
                                        +ticket_owner_select
                                    else
                                        if ticket_owner
                                            .ui.large.basic.label #{ticket_owner}
                                    +toggle_sla_boolean key='email_owner' label='Email' icon='open-envelope' title='Email Owner'
                                    +toggle_sla_boolean key='sms_owner' label='SMS' icon='comment' title='Text Owner'
                                td
                                    +secondary_contact_widget
                                    if secondary_contact
                                        div
                                        +toggle_sla_boolean key='email_secondary' label='Email' icon='open-envelope' title='Email Secondary'
                                        +toggle_sla_boolean key='sms_secondary' label='SMS' icon='comment' title='Text Secondary'
                        else
                            td No settings file
                                .add_sla_setting_doc.ui.button Create


template(name='office_service_settings')
    a(href='/p/services')
        i.external.icon
        |Services
    div
    // h5.ui.header Select which to offer customers.
    each services
        if title
            .select_service.ui.button(class=select_service_button_class)
                // if icon
                //     +icon name=icon classes='ui spaced image'
                |#{title}



template(name='set_sla_key_value')
    .set_page_key_value.ui.compact.button(class=set_value_button_class)
        |#{label}


template(name='ticket_owner_select')
    unless ticket_owner
        .ui.form
            .field
                .ui.icon.input
                    if user_results
                        i.link.remove.icon.clear_results
                    else
                        i.search.icon
                    input#query_owner(type='text' placeholder='Select Owner...')
            if user_results
                .ui.segment
                    .ui.middle.aligned.selection.animated.list
                        each user_results
                            .select_owner.basic.large.label.item
                                if image_id
                                    img.ui.avatar.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='fill'}}")
                                strong #{first_name} #{last_name}
                                small #{username}
    if ticket_owner
        // a(href="/user/#{ticket_owner}" title='View Profile')
        .ui.items
            .item
                if owner.image_id
                    img.ui.avatar.image(src="{{c.url owner.image_id width=100 height=100 gravity='face' crop='fill'}}")
                .content
                    .ui.small.header
                        | #{owner.first_name} #{owner.last_name}
                    |#{ticket_owner}
                .content
                    i.pull_user.remove.link.icon(title="Remove #{ticket_owner}")



template(name='secondary_contact_widget')
    unless secondary_contact
        // h5.ui.header
        //     i.user.grey.icon
        //     |#{label}
        .ui.form
            .field
                .ui.icon.input
                    if user_results
                        i.link.remove.icon.clear_results
                    else
                        i.search.icon
                    input#secondary_input(type='text' placeholder=label)
            if user_results
                .ui.segment
                    .ui.middle.aligned.selection.animated.list
                        each user_results
                            .select_secondary.basic.large.label.item
                                if image_id
                                    img.ui.avatar.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='fill'}}")
                                strong #{first_name} #{last_name}
                                small #{username}
    if secondary_contact
            .ui.item
                .content
                    if secondary.image_id
                        img.ui.tiny.circular.image(src="{{c.url secondary.image_id width=100 height=100 gravity='face' crop='fill'}}")
                    a(href="/user/#{secondary_contact}" title='View Profile')
                        .ui.small.header #{secondary.first_name} #{secondary.last_name}
                    | #{secondary_contact}
            // .ui.small.header
            //     if secondary.image_id
            //         img.ui.avatar.image(src="{{c.url secondary.image_id width=100 height=100 gravity='face' crop='fill'}}")
            //     |#{secondary.first_name} #{secondary.last_name}
            // | #{secondary_contact}
        i.remove.link.pull_secondary.icon(title="Clear #{secondary_contact}")
