template(name='offices')
    .ui.stackable.centered.padded.grid
        .middle.aligned.row
            .three.wide.column
            .ten.wide.column
                h1.ui.center.aligned.header
                    +officeiconlarge name='building'
                    |Offices
            .three.wide.column
                // if is_dev
                //     .ui.header upload office list
                //     unless uploading
                //         input(type="file" name="upload_csv")
                //     else
                //         |Uploading files...
        .row
            .sixteen.wide.column
                |{{> tabular table=TabularTables.Offices selector=selector class="ui sortable striped fluid very basic table"}}

                    
                    
template(name='office_view')
    .ui.padded.stackable.grid
        .centered.middle.aligned.row
            .three.wide.column
                +link_button link='/offices' icon='building' label='Offices'
            .ten.wide.column
                h1.ui.center.aligned.grey.header #{office_name} Office
            .three.wide.right.aligned.column
                +edit_button
        .row
            .sixteen.wide.column
                .ui.secondary.segment
                    .ui.header Office Name: #{office_name}
                    // .ui.header Display Name: #{display_name}
                    .ui.header Cell: #{telephone}
                    .ui.header Address: #{address}
                +users_by_office
                +customers_by_office


template(name='customers_by_office')
    .ui.horizontal.divider.header 
        |#{office_name}'s Customers
    |{{> tabular table=TabularTables.Related_customers selector=selector class="ui sortable fluid striped table"}}

template(name='users_by_office')
    .ui.horizontal.divider.header 
        i.users.icon
        |#{office_name}'s Users
    |{{> tabular table=TabularTables.Users selector=selector class="ui sortable fluid striped table"}}





template(name='office_edit')
    .ui.padded.stackable.centered.grid
        .centered.row
            .three.wide.column
                #delete.ui.basic.button
                    i.trash.icon
                    | Delete
            .ten.wide.column
                h1.ui.center.aligned.grey.header Edit Office ##{jan_office_id}
            .three.wide.column
                +save_button
        .five.wide.column
            +office_map
        .five.wide.column
            .ui.form
                +edit_text_field key='jan_office_id' label='Jan Pro Office ID' icon='building'
                +edit_text_field key='office_name' label='Office Name' icon='code'
                +edit_text_field key='phone_number' label='Phone Number' icon='phone'
                +edit_text_field key='email_address' label='Email Address' icon='envelope'
        .five.wide.column
            .ui.form
                +edit_text_field key='level_1_user_ud' label='Level 1 User Id' icon='user' 
                +edit_text_field key='level_2_user_ud' label='Level 2 User Id' icon='user'
                +edit_text_field key='level_3_user_ud' label='Level 3 User Id' icon='user'
        
        
// template(name='office_view')
//     .ui.padded.stackable.centered.grid
//         .centered.row
//             .three.wide.column
//                 +link_button link='/offices' icon='left chevron' label='Offices'
//             .ten.wide.column
//                 h1.ui.center.aligned.grey.header Office ##{jan_office_id}
//             .three.wide.column
//                 +edit_button
//         .row
//             .five.wide.column
//                 +associated_users
//                 +associated_incidents
//                 +comments
//                 // +jsonView(json=location_ob)
//             .six.wide.column
//                 +office_map
//             .five.wide.column
//                 +call_phone_button
//                 .ui.large.relaxed.list
//                     +list_item key='jan_office_id' label='Jan Pro Office ID' icon='building'
//                     +list_item key='office_name' label='Office Name' icon='code'
//                     with geocode
//                         +list_item key='formatted_address' label='Office Address' icon='compass'
//                     +list_item key='phone_number' label='Phone Number' icon='phone'
//                     +list_item key='email_address' label='Email Address' icon='envelope'
//                     +list_item key='level_1_user_ud' label='Level 1 User Id' icon='user'
//                     +list_item key='level_2_user_ud' label='Level 2 User Id' icon='user'
//                     +list_item key='level_3_user_ud' label='Level 3 User Id' icon='user'
                
                
