template(name='offices')
    .ui.stackable.centered.padded.grid
        .middle.aligned.row
            .three.wide.column
                +link_button link='/admin' icon='user-shield' label='Admin'
            .ten.wide.column
                h1.ui.center.aligned.header
                    +icon name='building'
                    |Offices
            .three.wide.column
                // if is_dev
                +call_method name='sync_offices'
        .row
            .sixteen.wide.column
                +reactiveTable settings=settings class="ui celled striped sortable table"


                    
template(name='office_view')
    .ui.padded.stackable.grid
        .centered.middle.aligned.row
            .three.wide.column
                unless is_customer
                    +link_button link='/offices' icon='building' label='Offices'
            .ten.wide.column
                h1.ui.center.aligned.grey.header #{ev.MASTER_LICENSEE} Office
            .three.wide.right.aligned.column
                // +edit_button
        .row
            .sixteen.wide.column
                .ui.secondary.segment
                    .ui.list
                        .item ID
                            strong #{ev.ID}
                        .item Office Name
                            strong #{ev.MASTER_LICENSEE}
                        .item Office Manager
                            strong #{ev.MASTER_OFFICE_MANAGER}
                        .item Office Owner
                            strong #{ev.MASTER_OFFICE_OWNER}
                        .item Last Updated
                            strong #{ev.TIMESTAMP}
                        .item Phone
                            strong #{ev.TELEPHONE}
                        .item Address 
                            strong #{ev.ADDR_STREET} #{ev.ADDR_STREET_2} #{ev.ADDR_CITY} #{ev.ADDR_STATE} #{ev.ADDR_POSTAL_CODE} #{ev.MASTER_COUNTRY}
                unless is_customer 
                    +office_admin_section


template(name='office_admin_section')
    .ui.top.attached.tabular.five.item.stackable.menu
        a.active.item(data-tab='incidents') 
            +icon name='error'
            | &nbsp; Incidents
        a.item(data-tab='employees') 
            +icon name='groups'
            | &nbsp; Employees
        a.item(data-tab='franchisees') 
            +icon name='conference'
            | &nbsp; Franchisees
        a.item(data-tab='customers') 
            +icon name='customer-support'
            | &nbsp; Customers
        a.item(data-tab='office_settings') 
            +icon name='settings'
            | &nbsp; Settings
    .ui.bottom.attached.tab.segment(data-tab='franchisees')
        .ui.center.aligned.header #{current_office.ev.MASTER_LICENSEE}'s Franchisees
        +office_franchisees
    .ui.bottom.attached.active.tab.segment(data-tab='incidents')
        .ui.center.aligned.header #{current_office.ev.MASTER_LICENSEE}'s Incidents
        +office_incidents

    .ui.bottom.attached.tab.segment(data-tab='employees')
        .ui.center.aligned.header #{current_office.ev.MASTER_LICENSEE}'s Employees
        +office_employees
    .ui.bottom.attached.tab.segment(data-tab='customers')
        .ui.center.aligned.header #{current_office.ev.MASTER_LICENSEE}'s Customers
        +office_customers
    .ui.bottom.attached.tab.segment(data-tab='office_settings')
        h2.ui.header 
            +icon name='sms'
            | Customer Message
        // .ui.sub.header Shown on customer dashboard
        +edit_text_field key='customer_message' label='Customer Dashboard Message'
        // p #{customer_message}
        // h2.ui.header 
        //     +icon name='checked-user-male'
        //     |Office Roles
        // .ui.two.column.stackable.grid
        //     .column
        //         +single_user_select key='office_owner' label='Office Owner'
        //     .column
        //         +single_user_select key='operations_manager' label='Operations Manager'
        h2.ui.header 
            +icon name='administrative-tools'
            |SLA Settings
        // h3.ui.header Initial
        // p ie type=level2
        each rule_docs
            .ui.segment
                h3.ui.header #{name}
                .ui.two.column.divided.padded.grid
                    .row
                        +edit_number_field key=hours_key label='Escalation Hours' field_class='inline' min=0 max=24
                    .row
                        .column
                            h4.ui.header Primary Contact
                            .ui.two.column.stackable.grid
                                .row
                                    .column
                                        .ui.form
                                            .grouped.fields
                                                +toggle_boolean_checkbox key=primary_franchisee_toggle_key label='Franchisee'
                                                +radio_item key=primary_contact_key label='Office Owner' value='office_owner'
                                                +radio_item key=primary_contact_key label='Operations Manager' value='operations_manager'
                                                +single_user_select key=primary_contact_key label="Primary Contact Employee Select"
                                    .column
                                        +view_sla_contact key=primary_contact_key
                                        .ui.hidden.divider
                                        if escalation_one_primary_contact_franchisee
                                            p Franchisee will be contacted.
                                        else
                                            p Franchisee will not be contacted.
                        .column
                            h4.ui.header Secondary Contact
                            .ui.two.column.stackable.grid
                                .row
                                    .column
                                        .ui.form
                                            .grouped.fields
                                                +toggle_boolean_checkbox key=secondary_franchisee_toggle_key label='Franchisee'
                                                +radio_item key=secondary_contact_key label='Office Owner' value='office_owner'
                                                +radio_item key=secondary_contact_key label='Operations Manager' value='operations_manager'
                                                +single_user_select key=secondary_contact_key label='Secondary Contact Employee Select'
                                    .column
                                        +view_sla_contact key=secondary_contact_key
                                        .ui.hidden.divider
                                        if escalation_secondary_contact_franchisee     
                                            p Franchisee will be contacted.
                                        else
                                            p Franchisee will not be contacted.


template(name='office_customers')
    +reactiveTable settings=settings collection=office_customers class="ui celled striped sortable table"

template(name='office_incidents')
    +reactiveTable settings=settings collection=office_incidents class="ui celled striped sortable table"


template(name='office_employees')
    +reactiveTable settings=settings collection=collection class="ui celled striped sortable table"

template(name='office_franchisees')
    +reactiveTable settings=settings collection=office_franchisees_obs class="ui celled striped sortable table"
