template(name='office_header')
    with office_doc
        .ui.padded.stackable.middle.aligned.grid
            .centered.middle.aligned.row
                .three.wide.center.aligned.column
                    if is_admin
                        +link_button link='/offices' icon='building' label='Offices'
                .ten.wide.column
                    h1.ui.center.aligned.header 
                        +icon name='building'
                        |#{ev.MASTER_LICENSEE} #{current_name}
                .three.wide.right.aligned.column
                    // #calc_office_stats.ui.button Calc Office Stats
            .centered.row
                .sixteen.wide.column
                    unless is_customer
                        +office_nav

template(name='office_nav')
    .ui.six.item.stackable.menu
        a.item(href="/office/#{_id}" class="{{ isActiveRoute 'office_dashboard'}}")
            i.large.icon
                +iconsmall name='dashboard'
            | &nbsp; Dashboard
        a.item(href="/office/#{_id}/incidents" class="{{ isActiveRoute 'office_incidents'}}")
            i.large.icon
                +iconsmall name='error'
            // +view_stat doc_type='incident' stat_type='office_incidents'
            | Incidents
        a.item(href="/office/#{_id}/employees" class="{{ isActiveRoute 'office_employees'}}")
            i.large.icon
                +iconsmall name='groups'
            // +view_stat stat_type='office_employees'
            | Employees
        a.item(href="/office/#{_id}/franchisees" class="{{ isActiveRoute 'office_franchisees'}}")
            i.large.icon
                +icon name='housekeeper-male'
            // +view_stat stat_type='office_franchisees' doc_type='franchisee'
            | Franchisees
        a.item(href="/office/#{_id}/customers" class="{{ isActiveRoute 'office_customers'}}")
            i.large.icon
                +iconsmall name='customer-support'
            // +view_stat stat_type='office_customers' doc_type='customer'
            | Customers
        a.item(href="/office/#{_id}/settings" class="{{ isActiveRoute 'office_settings'}}")
            i.large.icon
                +iconsmall name='settings'
            | &nbsp; Settings


template(name='office_dashboard')
    +office_header
    .ui.padded.grid
        .row
            with office_doc
                .four.wide.column
                    .ui.secondary.segment
                        .ui.list
                            .item ##{ev.ID}
                            // .item Office Name
                            //     strong #{ev.MASTER_LICENSEE}
                            .item Owner
                                strong #{ev.MASTER_OFFICE_OWNER}
                            .item Manager
                                strong #{ev.MASTER_OFFICE_MANAGER}
                            // .item Last Updated
                            //     strong #{ev.TIMESTAMP}
                            .item #{ev.TELEPHONE}
                            .item 
                                |#{ev.ADDR_STREET} #{ev.ADDR_STREET_2} #{ev.ADDR_CITY} #{ev.ADDR_STATE} #{ev.ADDR_POSTAL_CODE} #{ev.MASTER_COUNTRY}
                                a(href=office_map_address target='_blank')
                                    i.external.icon
    
                    .ui.secondary.segment
                        .ui.header
                            +icon name='bar-chart'
                            |Stats
                        .ui.list
                            .item Incidents
                                +view_stat doc_type='incident' stat_type='office_incidents' 
                            .item Franchisees
                                +view_stat doc_type='franchisee' stat_type='office_franchisees' 
                            .item Customers
                                +view_stat doc_type='customer' stat_type='office_customers' 
                            .item Employees
                                +view_stat stat_type='office_employees' 
                .twelve.wide.column
                    +office_feed

template(name='office_customers')
    +office_header
    .ui.padded.grid
        .middle.aligned.row
            +table_header doc_type='customer' stat_type='office_customers'
        .centered.row
            .sixteen.wide.column
                table.ui.striped.fixed.table
                    thead
                        +sort_column_header key='ev.ID' label='JPID' classes='one wide'
                        +sort_column_header key='ev.CUST_NAME' label='Customer Name'
                        +sort_column_header key='ev.CUST_CONT_PERSON' label='Contact Person'
                        th Contact
                        +sort_column_header key='ev.FRANCHISEE' label='Franchisee'
                        +sort_column_header key='ev.ADDR_STREET' label='Address'
                        // +sort_column_header key='ev.TIMESTAMP' label='Timestamp'
                        // th.one.wide View
                    tbody
                        each office_customers
                            tr
                                td.selectable(title="View #{ev.CUST_NAME} Customer")
                                    a(href="/view/#{_id}") #{ev.ID}
                                td.selectable(title="View #{ev.CUST_NAME} Customer")
                                    a(href="/view/#{_id}") #{ev.CUST_NAME}
                                td 
                                    div #{ev.CUST_CONT_PERSON}
                                td 
                                    div #{ev.CUST_CONTACT_EMAIL}
                                    div #{ev.TELEPHONE}
                                td #{ev.FRANCHISEE}
                                td #{ev.ADDR_STREET}
                                // td #{ev.TIMESTAMP}
                                // td 
                                //     +view_button
                    +table_footer columns='6' doc_type='customer' stat_type='office_customers'


template(name='office_incidents')
    +office_header
    .ui.padded.grid
        .middle.aligned.row
            +table_header doc_type='incident' stat_type='office_incidents'    
        .centered.row
            .sixteen.wide.column
                table.ui.striped.fixed.table
                    thead
                        +sort_column_header key='incident_number' label='#' classes='one wide'
                        +sort_column_header key='customer_name' label='Customer'
                        +sort_column_header key='service_date' label='Service Date'
                        +sort_column_header key='incident_type' label='Type' classes='one wide'
                        th.three.wide Details
                        +sort_column_header key='level' label='Level' classes='one wide'
                        +sort_column_header key='submitted' label='Submitted'
                        +sort_column_header key='open' label='Open' classes='one wide'
                        th.two.wide Assignment
                        th.three.wide Last Event
                        th.one.wide View
                    tbody
                        each office_incidents
                            tr
                                td #{incident_number}
                                td #{customer_name}
                                td #{service_date}
                                td 
                                    +incident_type_label
                                td.selectable(title='View Full Incident')
                                    a(href="/view/#{_id}") #{incident_details}
                                // td.one.wide(class=level_cell_class) 
                                td.one.wide
                                    +level_icon
                                td
                                    +submitted_template
                                td 
                                    +status_template
                                +incident_assigment_cell
                                td
                                    +small_doc_history

                                td 
                                    +view_button
                    +table_footer columns='11' doc_type='incident' stat_type='office_incidents'    



template(name='office_employees')
    +office_header
    .ui.padded.grid
        .middle.aligned.row
            +table_header stat_type='office_employees'   
        .centered.row
            .sixteen.wide.column
                table.ui.striped.fixed.single.line.table
                    thead
                        +sort_column_header key='username' label='Username'
                        +sort_column_header key='profile.first_name' label='First Name'
                        +sort_column_header key='profile.last_name' label='Last Name'
                        +sort_column_header key='profile.title' label='Title'
                        +sort_column_header key='profile.function' label='Function'
                        +sort_column_header key='ev.WORK_TELEPHONE' label='Phone'
                        +sort_column_header key='email' label='Email' classes='three wide'
                        th.one.wide(title="Show profile on customer's Dashboard") Public
                        // th.one.wide Edit
                        // th.one.wide View
                    tbody
                        each office_employees
                            tr
                                td.selectable
                                    a(href="/user/#{username}" title="View #{username} Profile") 
                                        if profile.image_id
                                            img.ui.avatar.spaced.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                                        |#{username}
                                td.selectable(title="View #{username} Profile") 
                                    a(href="/user/#{username}") 
                                        |#{profile.first_name} 
                                td.selectable(title='View Profile')
                                    a(href="/user/#{username}") 
                                        |#{profile.last_name}
                                td #{profile.title}
                                td #{profile.function}
                                td #{ev.WORK_TELEPHONE}
                                td #{email}
                                td 
                                    +toggle_user_published
                                // td 
                                //     +edit_user_button 
                                // td 
                                //     +view_user_button
                    +table_footer columns='8' stat_type='office_employees'   


template(name='office_franchisees')
    +office_header
    .ui.padded.grid
        .middle.aligned.row
            +table_header doc_type='franchisee' stat_type='office_franchisees'     
        .centered.row
            .sixteen.wide.column
                table.ui.striped.fixed.table
                    thead
                        +sort_column_header key='ev.ID' label='JPID' classes='two wide'
                        +sort_column_header key='ev.FRANCHISEE' label='Name'
                        +sort_column_header key='ev.FRANCH_EMAIL' label='Email'
                        +sort_column_header key='ev.FRANCH_NAME' label='Short Name'
                        +sort_column_header key='ev.TELE_CELL' label='Phone'
                        // th.one.wide View
                    tbody
                        each office_franchisees
                            tr
                                td.selectable(title="View #{ev.FRANCHISEE} Franchisee")
                                    a(href="/view/#{_id}") #{ev.ID}
                                td.selectable(title="View #{ev.FRANCHISEE} Franchisee")
                                    a(href="/view/#{_id}") #{ev.FRANCHISEE}
                                td #{ev.FRANCH_EMAIL}
                                td #{ev.FRANCH_NAME}
                                td #{ev.TELE_CELL}
                                // td 
                                //     +view_button
                    +table_footer columns='5' doc_type='franchisee' stat_type='office_franchisees'     

                    
                    

template(name='office_settings')
    .ui.stackable.padded.grid
        .sixteen.wide.column
            .row
                +office_header
            .row.ui.secondary.segment
                .ui.grid
                    .five.wide.column
                        +edit_textarea key='customer_message' label='Customer Dashboard Message' icon='dashboard'
                        // +edit_text_field key='customer_special_services' label='Customer Dashboard Special Services'
                    .five.wide.column
                        +edit_textarea key='customer_promotions' label='Customer Dashboard Promotions Message' icon='megaphone'
                    .five.wide.column
                        +edit_textarea key='help_policy' label='Customer Dashboard Help Policy' icon='info'
            .row
                .sixteen.wide.column
                    .ui.secondary.segment
                        h3.ui.header
                            +icon name='broom'
                            | &nbsp; Offered Services
                        +office_service_settings
            .ui.fitted.hidden.divider
            .row
                .sixteen.wide.column
                    .ui.secondary.segment
                        h3.ui.header
                            +icon name='administrative-tools'
                            | &nbsp; SLA Settings
                        h5.ui.header Select Incident Types
                        each incident_types
                            .select_incident_type.ui.compact.button(class=select_incident_type_button_class) #{name}
                        if selected_incident_type
                            // .ui.header Default Contact for #{selected_incident_type}
                            each rule_docs
                                .ui.secondary.segment
                                    h4.ui.header #{name} for #{selected_incident_type} Rules
                                    .ui.equal.width.grid
                                        .column
                                            unless is_initial
                                                +edit_number_field key=hours_key label='Escalation Minutes' field_class='inline' min=0 max=24
                                                .ui.hidden.divider
                                            else 
                                                +toggle_boolean_checkbox key=customer_toggle_key label='Customer'
                                                .ui.hidden.divider
                                            +toggle_boolean_checkbox key=franchisee_toggle_key label='Franchisee'
                                        .column
                                            h4.ui.dividing.header Incident Owner
                                            if is_initial
                                                +office_username_query key=incident_type_owner_key label='Select Incident Type Owner'
                                                +toggle_boolean_checkbox key=primary_email_key label='Send Email' icon='envelope'
                                                .ui.hidden.fitted.divider
                                                +toggle_boolean_checkbox key=primary_sms_key label='Send SMS' icon='comment'
                                            else
                                                |#{incident_type_owner_value}
                                            //     h5.ui.header Using Default Primary Contact
                                            // else
                                            //     .ui.hidden.fitted.divider
                                            //     +office_username_query key=primary_contact_key label='Select Primary Contact'
                                        .column
                                            h4.ui.dividing.header Secondary
                                            +office_username_query key=secondary_contact_key label='Select Secondary Contact'
                                            .ui.hidden.fitted.divider
                                            +toggle_boolean_checkbox key=secondary_email_key label='Send Email' icon='envelope'
                                            .ui.hidden.fitted.divider
                                            +toggle_boolean_checkbox key=secondary_sms_key label='Send SMS' icon='comment'
            
template(name='office_service_settings')
    // h5.ui.header Select which to offer customers.
    each services
        .select_service.ui.button(class=select_service_button_class) #{title}