template(name='offices')
    .ui.stackable.centered.padded.grid
        .middle.aligned.row
            .three.wide.column
            .ten.wide.column
                h1.ui.center.aligned.header
                    +officeiconlarge name='building'
                    |Offices
            .three.wide.column
                // if is_dev
                //     .ui.header upload office list
                //     unless uploading
                //         input(type="file" name="upload_csv")
                //     else
                //         |Uploading files...
        .row
            .sixteen.wide.column
                |{{> tabular table=TabularTables.Offices selector=selector class="ui sortable striped fluid very basic table"}}

                    
                    
template(name='office_view')
    .ui.padded.stackable.grid
        .centered.middle.aligned.row
            .three.wide.column
                +link_button link='/offices' icon='building' label='Offices'
            .ten.wide.column
                h1.ui.center.aligned.grey.header #{office_name} Office
            .three.wide.right.aligned.column
                // +edit_button
        .row
            .sixteen.wide.column
                .ui.secondary.segment
                    .ui.header Office Name: #{office_name}
                    // .ui.header Display Name: #{display_name}
                    .ui.header Cell: #{telephone}
                    .ui.header Address: #{address}
                .ui.top.attached.tabular.five.item.stackable.menu
                    a.active.item(data-tab='sla') 
                        +officeicon name='checked-user-male'
                        | &nbsp; SLA
                    a.item(data-tab='incidents') 
                        +officeicon name='error'
                        | &nbsp; Incidents
                    a.item(data-tab='users') 
                        +officeicon name='groups'
                        | &nbsp; Users
                    a.item(data-tab='franchisees') 
                        +officeicon name='collaborator-female'
                        | &nbsp; Franchisees
                    a.item(data-tab='customers') 
                        +officeicon name='customer-support'
                        | &nbsp; Customers
                .ui.bottom.attached.active.tab.segment(data-tab='sla')
                    h2.ui.dividing.header 
                        |Office Roles
                    +single_user_select key='office_owner' label='Office Owner' icon='users'
                    +single_user_select key='operations_manager' label='Operations Manager' icon='users'
                    h2.ui.dividing.header 
                        +officeiconlarge name='administrative-tools'
                        |SLA Settings
                    .ui.secondary.segment
                        h3.ui.dividing.header Initial
                        h3.ui.dividing.header Escalation 1
                        +edit_number_field key='escalation_one_hours' label='Escalation 1 Hours' icon='expired'
                        .ui.secondary.segment
                            h4.ui.header Primary Contact
                            +toggle_key key='escalation_one_primary_contact' value='office_owner' label='Office Owner'
                            +toggle_key key='escalation_one_primary_contact' value='operations_manager' label='Operations Manager'
                            +toggle_key key='escalation_one_primary_contact' value='franchisee' label='Franchisee'
                            +view_sla_contact key='escalation_one_primary_contact'
                        .ui.secondary.segment
                            h4.ui.header Secondary Contact
                            +toggle_key key='escalation_one_secondary_contact' value='office_owner' label='Office Owner'
                            +toggle_key key='escalation_one_secondary_contact' value='operations_manager' label='Operations Manager'
                            +toggle_key key='escalation_one_secondary_contact' value='franchisee' label='Franchisee'
                            +view_sla_contact key='escalation_one_secondary_contact'
                    .ui.secondary.segment
                        h3.ui.dividing.header Escalation 2
                        +edit_number_field key='escalation_two_hours' label='Escalation 2 Hours' icon='expired'
                        .ui.secondary.segment
                            h4.ui.header Primary Contact
                            +toggle_key key='escalation_two_primary_contact' value='office_owner' label='Office Owner'
                            +toggle_key key='escalation_two_primary_contact' value='operations_manager' label='Operations Manager'
                            +toggle_key key='escalation_two_primary_contact' value='franchisee' label='Franchisee'
                            +view_sla_contact key='escalation_two_primary_contact'
                        .ui.secondary.segment
                            h4.ui.header Secondary Contact
                            +toggle_key key='escalation_two_secondary_contact' value='office_owner' label='Office Owner'
                            +toggle_key key='escalation_two_secondary_contact' value='operations_manager' label='Operations Manager'
                            +toggle_key key='escalation_two_secondary_contact' value='franchisee' label='Franchisee'
                            +view_sla_contact key='escalation_two_secondary_contact' label=''
                    .ui.secondary.segment
                        h3.ui.dividing.header Escalation 3
                        +edit_number_field key='escalation_three_hours' label='Escalation 3 Hours' icon='expired'
                        .ui.secondary.segment
                            h4.ui.header Primary Contact
                            +toggle_key key='escalation_three_primary_contact' value='office_owner' label='Office Owner'
                            +toggle_key key='escalation_three_primary_contact' value='operations_manager' label='Operations Manager'
                            +toggle_key key='escalation_three_primary_contact' value='franchisee' label='Franchisee'
                            +view_sla_contact key='escalation_three_primary_contact'
                        .ui.secondary.segment
                            h4.ui.header Secondary Contact
                            +toggle_key key='escalation_three_secondary_contact' value='office_owner' label='Office Owner'
                            +toggle_key key='escalation_three_secondary_contact' value='operations_manager' label='Operations Manager'
                            +toggle_key key='escalation_three_secondary_contact' value='franchisee' label='Franchisee'
                            +view_sla_contact key='escalation_three_secondary_contact'
                .ui.bottom.attached.tab.segment(data-tab='franchisees')
                    .ui.center.aligned.header #{office_name}'s Franchisees
                    +tabular table=TabularTables.Related_franchisees selector=office_franchisees_selector class="ui sortable fluid striped table"
                .ui.bottom.attached.tab.segment(data-tab='incidents')
                    .ui.center.aligned.header #{office_name}'s Incidents
                    +tabular table=TabularTables.Incidents selector=office_incidents_selector class="ui sortable fluid striped table"
                .ui.bottom.attached.tab.segment(data-tab='users')
                    .ui.center.aligned.header #{office_name}'s Users
                    +tabular table=TabularTables.Users selector=office_users_selector class="ui sortable fluid striped table"
                .ui.bottom.attached.tab.segment(data-tab='customers')
                    .ui.center.aligned.header #{office_name}'s Customers
                    +tabular table=TabularTables.Related_customers selector=office_customers_selector class="ui sortable fluid striped table"
                