template(name='office_dashboard')
    .ui.padded.stackable.grid
        .row
            with office_doc
                .four.wide.column
                    .ui.secondary.segment
                        .ui.list
                            .item ##{ev.ID}
                            // .item Office Name
                            //     strong #{ev.MASTER_LICENSEE}
                            .item Owner
                                strong #{ev.MASTER_OFFICE_OWNER}
                            .item Manager
                                strong #{ev.MASTER_OFFICE_MANAGER}
                            // .item Last Updated
                            //     strong #{ev.TIMESTAMP}
                            .item #{ev.TELEPHONE}
                            .item 
                                |#{ev.ADDR_STREET} #{ev.ADDR_STREET_2} #{ev.ADDR_CITY} #{ev.ADDR_STATE} #{ev.ADDR_POSTAL_CODE} #{ev.MASTER_COUNTRY}
                                a(href=office_map_address target='_blank')
                                    i.external.icon
                    +blocks tags='office,dashboard,finance'
                    +blocks tags='office,dashboard,service_requests'
                    .ui.secondary.segment
                        .ui.header
                            +icon name='bar-chart'
                            |Stats
                        .ui.list
                            .item Incidents
                                +view_stat doc_type='incident' stat_type='office_incidents' 
                            .item Franchisees
                                +view_stat doc_type='franchisee' stat_type='office_franchisees' 
                            .item Customers
                                +view_stat doc_type='customer' stat_type='office_customers' 
                            .item Employees
                                +view_stat stat_type='office_employees' 
                .eight.wide.column
                    +blocks tags='office,dashboard,feed'
                    +blocks tags='office,dashboard,incidents'
                    +blocks tags='office,dashboard,incident_feedback'
                .four.wide.column
                    +blocks tags='office,dashboard,messages'
                    +blocks tags='office,dashboard,comments'




template(name='office_messages')
    .ui.stackable.padded.grid
        .sixteen.wide.column
            .row.ui.secondary.segment
                .ui.grid
                    .five.wide.column
                        +edit_textarea key='customer_message' label='Customer Dashboard Message' icon='dashboard'
                        // +edit_text_field key='customer_special_services' label='Customer Dashboard Special Services'
                    .five.wide.column
                        +edit_textarea key='customer_promotions' label='Customer Dashboard Promotions Message' icon='megaphone'
                    .five.wide.column
                        +edit_textarea key='help_policy' label='Customer Dashboard Help Policy' icon='info'
                        
                        
template(name='office_sla')
    each incident_types
        .select_incident_type.ui.button(class=select_incident_type_button_class) 
            if icon
                i.icon  
                    +icon name=icon
            |#{title}
    if selected_incident_type
        // .ui.header Default Contact for #{selected_incident_type}
        each rule_docs
            .ui.secondary.segment
                h4.ui.header #{title} 
                    // for #{selected_incident_type} Rules
                with sla_settings_doc
                    .ui.three.column.stackable.grid
                        .column
                            if is_initial
                                +toggle_boolean_checkbox key=customer_toggle_key label='Customer' icon='headset'
                            else 
                                strong Escalation Hours &nbsp;
                                // +edit_number_field key=hours_key label='Escalation Hours' field_class='inline' min=0 max=24
                                +set_sla_key_value key=hours_key value=1 label='1'
                                +set_sla_key_value key=hours_key value=2 label='2'
                                +set_sla_key_value key=hours_key value=4 label='4'
                                +set_sla_key_value key=hours_key value=12 label='12'
                                .ui.hidden.divider
                            +toggle_boolean_checkbox key=franchisee_toggle_key label='Franchisee' icon='business'
                        .column
                            strong Owner
                            if is_initial
                                +incident_owner_select

                                +toggle_boolean_checkbox key='email_owner' label='Email' icon='envelope'
                                +toggle_boolean_checkbox key='sms_owner' label='SMS' icon='comment'
                            else
                                if incident_owner
                                    .ui.large.basic.label #{incident_owner}
                            //     h5.ui.header Using Default Primary Contact
                            // else
                            //     .ui.hidden.fitted.divider
                            //     +office_username_query key=primary_contact_key label='Select Primary Contact'
                        .column
                            strong Secondary
                            +office_username_query key=secondary_contact_key label='Select Secondary Contact'
                            +toggle_boolean_checkbox key='email_secondary' label='Email' icon='envelope'
                            +toggle_boolean_checkbox key='sms_secondary' label='SMS' icon='comment'
            
template(name='office_service_settings')
    // h5.ui.header Select which to offer customers.
    each services
        if title
            .select_service.ui.button(class=select_service_button_class) 
                // if icon
                //     +icon name=icon classes='ui spaced image'
                |#{title}
            
            
            
template(name='set_sla_key_value')
    .set_page_key_value.ui.compact.button(class=set_value_button_class) 
        |#{label}
        
        
template(name='incident_owner_select')
    unless incident_owner
        .ui.form
            .field
                .ui.icon.input
                    i.search.icon
                    input#office_username_query(type='text' placeholder='Select employee...')
            .ui.middle.aligned.selection.animated.list
                each user_results
                    .select_office_user.basic.large.label.item 
                        if profile.image_id
                            img.ui.avatar.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                        strong #{profile.first_name} #{profile.last_name}
                        |#{username}
        // h5.ui.header 
        //     i.user.grey.icon
        //     |#{label}
    // with selected_user
    //     div(title="@#{username}")
    //         if profile.image_id
    //             img.ui.avatar.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
    //         |#{profile.first_name} #{profile.last_name}
    if incident_owner
        strong #{incident_owner}
        .ui.icon.compact.button.pull_user
            i.remove.icon


