template(name='office_customers')
    +office_header
    // h2.ui.center.aligned.header Office Customers
    //     i#refresh_ny_customers.refresh.icon
    +reactiveTable settings=settings class="ui celled striped sortable table"

template(name='office_incidents')
    +office_header
    h2.ui.center.aligned.header Office Incidents
    +reactiveTable settings=settings class="ui celled striped sortable table"


template(name='office_employees')
    +office_header
    h2.ui.center.aligned.header Office Employees
    +reactiveTable settings=settings collection=collection class="ui celled striped sortable table"

template(name='office_franchisees')
    +office_header
    h2.ui.center.aligned.header Office Franchisees
    +reactiveTable settings=settings class="ui celled striped sortable table"

template(name='office_header')
    with office_doc
        .ui.padded.stackable.grid
            .centered.middle.aligned.row
                .three.wide.column
                    if is_admin
                        +link_button link='/offices' icon='building' label='Offices'
                .ten.wide.column
                    h1.ui.center.aligned.grey.header #{ev.MASTER_LICENSEE} Office
                .three.wide.right.aligned.column
                    // +edit_button
            .centered.row
                .sixteen.wide.center.aligned.column
                    .ui.horizontal.list
                        .item ##{ev.ID}
                        // .item Office Name
                        //     strong #{ev.MASTER_LICENSEE}
                        .item Owner
                            strong #{ev.MASTER_OFFICE_OWNER}
                        .item Manager
                            strong #{ev.MASTER_OFFICE_MANAGER}
                        // .item Last Updated
                        //     strong #{ev.TIMESTAMP}
                        .item #{ev.TELEPHONE}
                        .item 
                            |#{ev.ADDR_STREET} #{ev.ADDR_STREET_2} #{ev.ADDR_CITY} #{ev.ADDR_STATE} #{ev.ADDR_POSTAL_CODE} #{ev.MASTER_COUNTRY}
                            a(href=office_map_address target='_blank')
                                i.external.icon
            .centered.row
                unless is_customer
                    +office_nav

template(name='office_nav')
    .ui.six.item.stackable.menu
        a.item(href="/view/#{_id}" isActivePath="/view/#{_id}")
            i.large.icon
                +iconsmall name='link-company-parent'
            | &nbsp; #{ev.MASTER_LICENSEE}
        a.item(href="/office/#{_id}/incidents" isActivePath="/office/#{_id}/incidents")
            i.large.icon
                +iconsmall name='error'
            | &nbsp; Incidents
        a.item(href="/office/#{_id}/employees" isActivePath="/office/#{_id}/employees")
            i.large.icon
                +iconsmall name='groups'
            | &nbsp; Employees
        a.item(href="/office/#{_id}/franchisees" isActivePath="/office/#{_id}/franchisees")
            i.large.icon
                +iconsmall name='conference'
            | &nbsp; Franchisees
        a.item(href="/office/#{_id}/customers" isActivePath="/office/#{_id}/customers")
            i.large.icon
                +iconsmall name='customer-support'
            | &nbsp; Customers
        a.item(href="/office/#{_id}/settings" isActivePath="/office/#{_id}/settings")
            i.large.icon
                +iconsmall name='settings'
            | &nbsp; Settings



template(name='office_view')
    +office_header

template(name='office_settings')
    .ui.padded.stackable.grid
        .row
            +office_header
        with current_office
            .row
                .sixteen.wide.column
                    h1.ui.center.aligned.header 
                        +icon name='settings'
                        |Office Settings
                    .ui.top.attached.tabular.three.item.menu
                        a.active.item(data-tab='services')
                            +icon name='broom'
                            | &nbsp; Services
                        a.item(data-tab='messages') 
                            +icon name='sms'
                            | &nbsp; Notices
                        a.item(data-tab='sla')
                            +icon name='administrative-tools'
                            | &nbsp; SLA Settings
                    .ui.bottom.attached.active.tab.segment(data-tab='services')
                        h5.ui.header Select which to offer customers.
                        each services
                            .select_service.ui.button(class=select_service_button_class) #{title}
                    .ui.bottom.attached.tab.segment(data-tab='messages')
                            +edit_text_field key='customer_message' label='Customer Dashboard Message'
                            +edit_text_field key='customer_promotions' label='Customer Dashboard Promotions Message'
                            +edit_text_field key='customer_special_services' label='Customer Dashboard Special Services'
                    .ui.bottom.attached.tab.segment(data-tab='sla')
                        // p #{customer_message}
                        // h2.ui.header 
                        //     +icon name='checked-user-male'
                        //     |Office Roles
                        // .ui.two.column.stackable.grid
                        //     .column
                        //         +single_user_select key='office_owner' label='Office Owner'
                        //     .column
                        //         +single_user_select key='operations_manager' label='Operations Manager'
                        .ui.header Select Incident Types
                        each incident_types
                            .select_incident_type.ui.small.compact.button(class=select_incident_type_button_class) #{name}
                        if selected_incident_type
                            each rule_docs
                                .ui.secondary.segment
                                    h3.ui.header #{name} for #{selected_incident_type} Settings
                                    .ui.equal.width.grid
                                        unless is_initial
                                            .column
                                                +edit_number_field key=hours_key label='Escalation Hours' field_class='inline' min=0 max=24
                                        .column
                                            +toggle_boolean_checkbox key=franchisee_toggle_key label='Franchisee'
                                        .column
                                            // h4.ui.dividing.header Primary Contact
                                            +single_user_select key=primary_contact_key label="Primary Contact Employee Select"
                                        .column
                                            // h4.ui.dividing.header Secondary Contact
                                            +single_user_select key=secondary_contact_key label='Secondary Contact Employee Select'
                
            
        
    
