template(name='office_by_franchisee')
    a.ui.center.aligned.button(href="/view/#{parent_office._id}" title="#{ev.FRANCHISEE}'s Office")
        // .ui.dividing.header 
        i.big.icon
            +icon name='link-company-parent'
        with parent_office
            | #{ev.MASTER_LICENSEE}
            
template(name='offices')
    .ui.stackable.centered.padded.grid
        .middle.aligned.row
            .three.wide.center.aligned.column
                +link_button link='/admin' icon='user-shield' label='Admin'
            .ten.wide.column
                h1.ui.center.aligned.header
                    +icon name='building'
                    |Offices
            .three.wide.center.aligned.column
                // if is_dev
                // +call_method name='sync_offices'
        .row
            .sixteen.wide.column
                +query_input placeholder='Filter Office Name'
                table.ui.striped.selectable.fixed.fluid.sortable.table
                    thead
                        tr
                            +sort_column_header key='ev.ID' label='JPID' classes='one wide'
                            +sort_column_header key='ev.MASTER_LICENSEE' label='Name' show_search=true
                            +sort_column_header key='ev.MASTER_OFFICE_MANAGER' label='Manager'
                            +sort_column_header key='ev.MASTER_OFFICE_OWNER' label='Owner'
                            +sort_column_header key='ev.TELEPHONE' label='Phone'
                            +sort_column_header key='ev.ADDR_STREET' label='Address'
                            th.one.wide View
                    tbody
                        each all_offices
                            tr
                                td #{ev.ID}
                                td #{ev.MASTER_LICENSEE}
                                td #{ev.MASTER_OFFICE_MANAGER}
                                td #{ev.MASTER_OFFICE_OWNER}
                                td #{ev.TELEPHONE}
                                td #{ev.ADDR_STREET}
                                td
                                    +view_button
                    +table_footer columns='7' type='office'