template(name='dev')
    .ui.padded.stackable.grid
        .centered.middle.aligned.row
            .three.wide.center.aligned.column
                if is_admin
                    +link_button link='/p/admin' icon='user-shield' label='Admin'
            .ten.wide.column
                h2.ui.center.aligned.grey.header
                    +icon name='code'
                    |Dev
            .three.wide.right.aligned.column
        .centered.row
            .four.wide.column
                .ui.header Cell Phone Test
                .ui.labeled.input
                    .ui.label Number
                    input#recipient_number(type='text')
                .ui.labeled.input
                    .ui.label Message
                    input#sms_message(type='text')
                #send_sms.ui.button Send Test SMS
            .four.wide.column
                .ui.header Email Test
                .ui.labeled.input
                    .ui.label Address
                    input#recipient_email(type='text')
                .ui.labeled.input
                    .ui.label Message
                    input#email_body(type='text')
                #send_email.ui.button Send Email
            .four.wide.column
                .ui.header Events
                each events
                    .ui.comment
                        .content
                            .author
                                +author_info
                            .metadata
                                span.date #{when}
                            .text #{text}
            .four.wide.column
                .ui.header Pages
                +add_button type='page'
                each pages
                    .ui.header #{title} (#{slug})
                    a(href='/p/#{slug}') go



template(name='page')
    if page_doc
        with page_doc
            if editing_mode
                +page_edit data=page_doc
            .ui.padded.stackable.grid
                if show_header
                    if header_template
                        +Template.dynamic template=header_template
                    else
                        .centered.middle.aligned.row
                            .center.aligned.three.wide.column
                                if left_link
                                    a.ui.button(href=left_link_url)
                                        // i.icon(class=icon)
                                        if left_link_icon
                                            i.icon
                                                +icon name=left_link_icon classes='centered'
                                        // i.left.chevron.icon
                                        | #{left_link_label}
                            .center.aligned.ten.wide.column
                                h2.ui.center.aligned.header
                                    if icon
                                        +icon name=icon
                                    |#{title}
                            .center.aligned.three.wide.column
                if left_column
                    .four.wide.column
                        +blocks position='left'
                    unless right_column
                        .ui.twelve.wide.column
                            +blocks position='center'
                    if right_column
                        .ui.eight.wide.column
                            +blocks position='center'
                        .ui.four.wide.column
                            +blocks position='right'
                else
                    .ui.sixteen.wide.column
                        +blocks position='center'
    else
        if editing_mode
            .ui.basic.center.aligned.segment
                h3.ui.header No Page with #{current_page_slug}.
                #create_page.ui.button Create


template(name='page_edit')
    with page_doc
        .ui.fluid.tertiary.segment.editing_segment.accordion
            .ui.header.title
                a(href='/p/pages' title='Admin Pages')
                    i.clone.link.icon
                if icon
                    +icon name=icon
                |Edit '#{title}' Page
            .content
                .ui.form
                    .fields
                        +edit_page_text_field key='title' label='Title'
                        +edit_page_text_field key='icon' label='Icon'
                        +edit_page_text_field key='slug' label='Slug'
                        +edit_number_field key='number' label='Rank'
                        if show_header
                            +edit_page_text_field key='header_template' label='Header Template'
                // +edit_array_field key='tags'
                +toggle_boolean key='show_header' yes_label='Header' icon='ellipsis horizontal'
                +toggle_boolean key='admin_nav' yes_label='Admin Nav' icon='user shield'
                +toggle_boolean key='office_nav' yes_label='Office Nav' icon='building'
                +toggle_boolean key='customer_nav' yes_label='Customer Nav' icon='money'
                +toggle_boolean key='left_column' yes_label='Left Column' icon='outdent'
                if left_column
                    +toggle_boolean key='right_column' yes_label='Right Column' icon='indent'
                +toggle_boolean key='left_link' yes_label='Left Link' icon='linkify'
                if left_link
                    h5 Left Link
                    .ui.form
                        .fields
                            +edit_page_text_field key='left_link_url' label='Url' icon='linkify'
                            +edit_page_text_field key='left_link_icon' label='Icon' icon='image'
                            +edit_page_text_field key='left_link_label' label='Label' icon='code'
