template(name='databank_role')
    .ui.padded.stackable.centered.grid
        .centered.row
            .three.wide.center.aligned.column
                +link_button link='/admin' icon='user-shield' label='Admin'
            .ten.wide.column
                h1.ui.center.aligned.grey.header 
                    +icon name='reviewer-female'
                    | Roles
            .three.wide.center.aligned.column
                +add_button type='role'
        .row 
            .ui.sixteen.wide.column
                .ui.centered.stackable.cards
                    each roles
                        +role_card

template(name='role_card')
    .ui.card
        .content
            a.grey.header(href="/v/#{_id}")
                |#{name} 
        .content
            |!{description}
        .content
            +edit_button
            +view_button
        
        
        
template(name='role_edit')
    .ui.padded.stackable.centered.grid
        .centered.row
            .three.wide.center.aligned.column
                #delete.ui.icon.button
                    i.trash.icon
            .ten.wide.column
                h1.ui.center.aligned.grey.header Edit Role #{name}
            .three.wide.center.aligned.column
                +save_button
        .eight.wide.column
            .ui.form
                +edit_text_field key='name' label='Role Name'
                +edit_number_field key='number' label='Number'
                +edit_textarea name='description' label='Description' icon='details'
        
        
template(name='role_view')
    .ui.padded.stackable.centered.grid
        .centered.row
            .three.wide.center.aligned.column
                +link_button link='/roles' icon='reviewer-female' label='Roles'
            .ten.wide.column
                h1.ui.center.aligned.grey.header Role: #{name}
            .three.wide.center.aligned.column
                +edit_button
        .row
            .eight.wide.column
                .ui.header Name: #{name}
                .ui.header Description: !{description}
                +associated_users
                +comments
                
                
template(name='role_selector')
    each user_roles
        .toggle_role.ui.button #{name}            