template(name='rules')
    .ui.padded.stackable.middle.aligned.centered.grid
        .centered.row
            .three.wide.center.aligned.column
                +link_button link='/admin' icon='user-shield' label='Admin'
            .ten.wide.column
                h1.ui.center.aligned.grey.header 
                    +icon name='reviewer-female'
                    | Rules
            .three.wide.center.aligned.column
                +add_button type='rule'
        .row 
            .ui.sixteen.wide.column
                .ui.centered.stackable.cards
                    each rules
                        +rule_card

template(name='rule_card')
    .ui.card
        .content
            a.grey.header(href="/view/#{_id}")
                |#{name} 
        .content
            |!{description}
            .ui.header ##{number}
        .content
            +edit_button
            +view_button
        
        
        
template(name='rule_edit')
    .ui.padded.stackable.middle.aligned.centered.grid
        .centered.row
            .three.wide.center.aligned.column
                #delete.ui.icon.button
                    i.trash.icon
            .ten.wide.column
                h1.ui.center.aligned.grey.header Edit Rule #{name}
            .three.wide.center.aligned.column
                +save_button
        .eight.wide.column
            .ui.form
                +edit_text_field key='name' label='Rule Name'
                +edit_number_field key='number' label='Number'
                +edit_textarea name='description' label='Description' icon='details'
        
        
template(name='rule_view')
    .ui.padded.stackable.middle.aligned.centered.grid
        .centered.row
            .three.wide.center.aligned.column
                +link_button link='/rules' icon='rules' label='Rules'
            .ten.wide.column
                h1.ui.center.aligned.grey.header Rule: #{name}
            .three.wide.center.aligned.column
                +edit_button
        .row
            .eight.wide.column
                .ui.header Name: #{name}
                .ui.header Number: #{number}
                .ui.header Description: !{description}
                +associated_users
                +comments
                
                