template(name='schemas')
    .ui.stackable.padded.grid
        .row 
            .three.wide.column
            .ten.wide.column
                h1.ui.center.aligned.header 
                    +icon name='database'
                    | Schemas
            .three.wide.column
                +add_button type='schema'
        .row 
            .four.wide.column
                +tag_facet
            .twelve.wide.column
                .ui.centered.stackable.cards
                    each schemas
                        +schema_card

template(name='schema_card')
    .ui.card
        .content
            a.grey.header(href="/v/#{_id}")
                if icon
                    +icon name=icon
                |#{title} 
        .content
            h5 Slug: #{slug}
            |!{html}
            // each tags
            //     .ui.label #{this}
        // .content
        //     .ui.list
        //         each fields
        //             .item #{title} (#{slug}) [#{type}]
        .content
            +edit_button
            +view_button
        
        
        
template(name='schema_edit')
    .ui.padded.stackable.centered.grid
        .centered.row
            .three.wide.column
                +save_button
            .ten.wide.column
                h1.ui.center.aligned.grey.header 
                    if icon
                        +icon name=icon
                    |Edit '#{title}' Schema
            .three.wide.column
                #delete.ui.icon.button
                    i.trash.icon
        .centered.row
            .four.wide.column
                .ui.form
                    +edit_text_field key='title' label='Title'
                    +edit_text_field key='name' label='Name (old)'
                    +edit_text_field key='slug' label='Slug'
                    +edit_text_field key='icon' label='Icon'
                    +edit_array_field key='tags'
                    // +reference_type_multiple key='field_ids' label='Fields' type='field'
            .twelve.wide.column
                #add_field.ui.button
                    i.plus.icon
                    | field
                .ui.vertical.segments
                    each fields
                        +field_edit
                    
                    
template(name='field_edit')
    .ui.segment
        .ui.form
            .field
                .ui.labeled.fluid.input
                    .ui.label Title
                    input.field_title(type='text' value=title)
            .field
                .ui.labeled.fluid.input
                    .ui.label slug
                    input.field_slug(type='text' value=slug)

        // +edit_text_field key='key' label='Slug (lowercase title)'
        // +edit_text_field key='type' label='Type'
        +select_field_type key='field_type' value='date' label='Date'
        +select_field_type key='field_type' value='text' label='Text'
        +select_field_type key='field_type' value='multiple_reference' label='Multiple References'
        +select_field_type key='field_type' value='single_reference' label='Single Reference'
        +select_field_type key='field_type' value='number' label='Number'
        +select_field_type key='field_type' value='address' label='Address'
        +select_field_type key='field_type' value='phone' label='Phone'
        +select_field_type key='field_type' value='html' label='HTML'
        +select_field_type key='field_type' value='file' label='File'
        +select_field_type key='field_type' value='user_reference' label='User Reference'
        +select_field_type key='field_type' value='email' label='Email'
        .remove_field.ui.icon.large.button
            i.remove.icon


template(name='select_field_type')
    .select_field_type.ui.small.compact.button(class=select_field_type_button_class) #{label}

        
template(name='schema_view')
    .ui.padded.stackable.centered.grid
        .centered.row
            .three.wide.column
                +link_button link='/schemas' icon='database' label='Schemas'
            .ten.wide.column
                h1.ui.center.aligned.grey.header 
                    if icon
                        +icon name=icon
                    |#{title} Schema
            .three.wide.column
                +edit_button
        .row
            .four.wide.column
                .ui.header Name: #{title}
                .ui.header Slug: #{slug}
                each tags
                    .ui.label #{this}
                +comments
            .twelve.wide.column
                | !{html}
                .ui.header Fields
                .ui.list
                    each fields
                        .item #{title} (#{slug}) [#{type}]
                .ui.segment
                    .ui.header #{title} Docs
                    +add_button type=slug
                    .ui.stackable.cards
                        each schema_docs
                            +Template.dynamic template=single_view

                            // +schema_doc
                
                
template(name='schema_selector')
    each user_schemas
        .toggle_schema.ui.button #{title}            
        
        
template(name='schema_doc')
    .ui.card
        .content
            .header #{_id}
            each ../fields
                +Template.dynamic template=view_field_template
                // |{{ key_value key=slug}}
                // .ui.label slug:#{slug}