template(name='services')
    .ui.stackable.centered.padded.grid
        .middle.aligned.row
            .three.wide.center.aligned.column
                +link_button link='/admin' icon='user-shield' label='Admin'
            .ten.wide.column
                h1.ui.center.aligned.header
                    +iconlarge name='housekeeping'
                    | Services
            .three.wide.center.aligned.column
                +add_button type='service'
        .row
            .fourteen.wide.column
                .ui.centered.four.cards
                    each services
                        +service_card
                
template(name='service_card')
    .ui.card
        if image_id
            a.image(href="/view/#{_id}")
                img.ui.fluid.image.item(src="{{c.url image_id width=200 height=150 crop='scale'}}")
        .content
            .right.floated.meta $#{price}
            a.header(href="/view/#{_id}") #{title}
            if is_admin
                .meta #{slug}
            .description
                p #{description}
        if request_count
            .content
                | #{request_count} requests
        .content
            +request_service_button
            a.ui.button(href="/view/#{_id}") 
                i.large.icon
                    +iconsmall name='view-details'
                |Details
    
template(name='request_service_button')                    
    .request_service.ui.button 
        i.large.icon
            +iconsmall name='service-bell'
        | Request
                    
template(name='service_view')
    .ui.padded.stackable.grid
        .centered.middle.aligned.row
            .three.wide.center.aligned.column
                +link_button link='/services' icon='building' label='Services'
            .ten.wide.column
                h1.ui.center.aligned.grey.header '#{title}' Service
            .three.wide.right.aligned.column
                +edit_button
        .centered.row
            .ten.wide.column
                .ui.secondary.segment
                    .large130 #{description}
                    if is_admin
                        .ui.header Slug: #{slug}
                    img.ui.image.item(src="{{c.url image_id width=200 height=200 gravity='face' crop='fill'}}")

            .three.wide.column
                .ui.header Price: $#{price}
                +request_service_button
        .two.column.row
            .column
                +service_child_requests
            .column
                +full_doc_history
                
                
template(name='service_child_requests')
    .ui.secondary.segment
        .ui.header 
            +icon name='service-bell'
            |Requests
        .ui.cards
            each child_requests
                .card
                    .content
                        .meta.right.floated 
                            +author_info
                        .header #{service_title}
                        .meta #{service_date}
                    .content
                        .meta Requested #{when}
                        .large130 #{request_details}
                    .content
                        +view_button
                        
template(name='service_edit')
    .ui.padded.stackable.centered.grid
        .centered.row
            .three.wide.center.aligned.column
                #delete.ui.icon.button
                    i.trash.icon
            .ten.wide.column
                h1.ui.center.aligned.grey.header Edit '#{title}' Service
            .three.wide.center.aligned.column
                +save_button
        .centered.row
            .ten.wide.column
                .ui.form
                    +edit_text_field key='title' label='Title' icon='code'
                    +edit_text_field key='slug' label='Slug' icon='code'
                    +edit_number_field key='price' label='Price' icon='money'
                    +edit_image_field
                    +edit_textarea key='description' label='Description' icon='details'
                    
                    
template(name='service_request_view')
    .ui.padded.stackable.grid
        .centered.middle.aligned.row
            .three.wide.center.aligned.column
                +link_button link='/services' icon='building' label='Services'
            .ten.wide.column
                h1.ui.center.aligned.grey.header Service Request for #{service_title}
            .three.wide.center.aligned.column
                +edit_button
        .row
            .sixteen.wide.column
                .ui.secondary.segment
                    .ui.header Date: #{request_date}
                    .ui.header Details: #{request_details}
        .centered.row
            .twelve.wide.column
                +full_doc_history
                    
template(name='service_request_edit')
    .ui.padded.stackable.centered.grid
        .centered.row
            .three.wide.center.aligned.column
                #delete.ui.icon.button
                    i.trash.icon
            .ten.wide.column
                h1.ui.center.aligned.header Service Request for #{service_title}
            .three.wide.center.aligned.column
                if submitted
                    .ui.disabled.button Submitted #{submit_date}
                    +save_button
                else
                    if can_submit
                        #submit_request.ui.button Submit
                    else
                        .ui.disabled.button Can't Submit
        .centered.row
            .ten.wide.column
                .ui.form
                    +edit_date_field key='request_date' label='Request Date' icon='calendar'
                    +edit_textarea key='request_details' label='Request Details' icon='details'
                    
                    