template(name='services')
    .ui.stackable.centered.padded.grid
        .middle.aligned.row
            .three.wide.column
                +link_button link='/admin' icon='user-shield' label='Admin'
            .ten.wide.column
                h1.ui.center.aligned.header
                    +icon name='broom'
                    | Services
            .three.wide.column
                +add_button type='service'
        .row
            .fourteen.wide.column
                .ui.centered.cards
                    each services
                        +service_card
                
template(name='service_card')
    .ui.card
        if image_id
            .image
                img.ui.image.item(src="{{c.url image_id width=200 height=200 gravity='face' crop='fill'}}")
        .content
            .right.floated.meta $#{price}
            .header #{title}
            // a.author #{author.username}
            .description
                p #{description}
        .content
            .ui.button 
                i.large.icon
                    +iconsmall name='service-bell'
                | Request
            .ui.button 
                i.large.icon
                    +iconsmall name='view-details'
                |Details
    
                    
                    
template(name='service_view')
    .ui.padded.stackable.grid
        .centered.middle.aligned.row
            .three.wide.column
                +link_button link='/services' icon='building' label='Services'
            .ten.wide.column
                h1.ui.center.aligned.grey.header View '#{title}' Service
            .three.wide.right.aligned.column
                +edit_button
        .row
            .sixteen.wide.column
                .ui.secondary.segment
                    .ui.header Title: #{title}
                    // .ui.header Display Name: #{display_name}
                    .ui.header Slug: #{slug}
                    .ui.header Price: $#{price}

template(name='service_edit')
    .ui.padded.stackable.centered.grid
        .centered.row
            .three.wide.column
                #delete.ui.basic.button
                    i.trash.icon
                    | Delete
            .ten.wide.column
                h1.ui.center.aligned.grey.header Edit '#{title}' Service
            .three.wide.column
                +save_button
        .centered.row
            .ten.wide.column
                .ui.form
                    +edit_text_field key='title' label='Title' icon='code'
                    +edit_text_field key='slug' label='Slug (lowercase computer version)' icon='code'
                    +edit_number_field key='price' label='Price' icon='money'
                    +edit_image_field