template(name='special_services')
    .ui.stackable.centered.middle.aligned.padded.grid
        .middle.aligned.row
            .three.wide.center.aligned.column
                +link_button link='/admin' icon='user-shield' label='Admin'
            .ten.wide.column
                h1.ui.center.aligned.header
                    +icon name='broom'
                    | Special Services
            .three.wide.center.aligned.column
                // .sync_services.ui.icon.button 
                //     i.refresh.icon
        .row
            .sixteen.wide.column
                // +reactiveTable settings=settings class="ui celled striped sortable table"
            +table_footer columns='7'                
                    
                    
template(name='special_service_view')
    .ui.padded.stackable.middle.aligned.grid
        .centered.middle.aligned.row
            .three.wide.center.aligned.column
                +link_button link='/services' icon='building' label='services'
            .ten.wide.column
                h1.ui.center.aligned.grey.header #{service_name} service
            .three.wide.right.aligned.column
                +edit_button
        .row
            .sixteen.wide.column
                .ui.secondary.segment
                    .ui.header service Name: #{service_name}
                    // .ui.header Display Name: #{display_name}
                    .ui.header Cell: #{telephone}
                    .ui.header Address: #{address}
                +users_by_service
                +customers_by_service


template(name='customers_by_special_service')
    .ui.horizontal.divider.header 
        |#{service_name}'s Customers
    // |{{> tabular table=TabularTables.Related_customers selector=selector class="ui sortable fluid striped table"}}

template(name='users_by_special_service')
    .ui.horizontal.divider.header 
        i.users.icon
        |#{service_name}'s Users
    // |{{> tabular table=TabularTables.Users selector=selector class="ui sortable fluid striped table"}}





template(name='special_service_edit')
    .ui.padded.stackable.centered.grid
        .centered.row
            .three.wide.center.aligned.column
                #delete.ui.basic.button
                    i.trash.icon
                    | Delete
            .ten.wide.column
                h1.ui.center.aligned.grey.header Edit service ##{jan_service_id}
            .three.wide.center.aligned.column
                +save_button
        .five.wide.column
            +service_map
        .five.wide.column
            .ui.form
                +edit_text_field key='jan_service_id' label='Jan Pro service ID' icon='building'
                +edit_text_field key='service_name' label='service Name' icon='code'
                +edit_text_field key='phone_number' label='Phone Number' icon='phone'
                +edit_text_field key='email_address' label='Email Address' icon='envelope'
        .five.wide.column
            .ui.form
                +edit_text_field key='level_1_user_ud' label='Level 1 User Id' icon='user' 
                +edit_text_field key='level_2_user_ud' label='Level 2 User Id' icon='user'
                +edit_text_field key='level_3_user_ud' label='Level 3 User Id' icon='user'
        
        
// template(name='service_view')
//     .ui.padded.stackable.centered.grid
//         .centered.row
//             .three.wide.center.aligned.column
//                 +link_button link='/services' icon='left chevron' label='services'
//             .ten.wide.column
//                 h1.ui.center.aligned.grey.header service ##{jan_service_id}
//             .three.wide.center.aligned.column
//                 +edit_button
//         .row
//             .five.wide.column
//                 +associated_users
//                 +associated_incidents
//                 +comments
//                 // +jsonView(json=location_ob)
//             .six.wide.column
//                 +service_map
//             .five.wide.column
//                 +call_phone_button
//                 .ui.large.relaxed.list
//                     +list_item key='jan_service_id' label='Jan Pro service ID' icon='building'
//                     +list_item key='service_name' label='service Name' icon='code'
//                     with geocode
//                         +list_item key='formatted_address' label='service Address' icon='compass'
//                     +list_item key='phone_number' label='Phone Number' icon='phone'
//                     +list_item key='email_address' label='Email Address' icon='envelope'
//                     +list_item key='level_1_user_ud' label='Level 1 User Id' icon='user'
//                     +list_item key='level_2_user_ud' label='Level 2 User Id' icon='user'
//                     +list_item key='level_3_user_ud' label='Level 3 User Id' icon='user'
                
                