template(name='table_footer')
    if no_query
        tfoot
            tr
                th(colspan=columns)
                    if pages
                        .ui.right.floated.pagination.small.menu
                            if show_decrement
                                a.icon.item.decrement_page
                                    i.left.chevron.grey.icon
                            .ui.simple.dropdown.item
                                | #{current_page}
                                .menu
                                    each pages
                                        a.set_page_number.item(class=pagination_item_class) #{number}
                            if show_increment
                                a.icon.item.increment_page
                                    i.right.chevron.grey.icon
                    if pages
                        .table_stats #{skip_amount} - #{end_result} / #{count_amount}
                    .ui.compact.buttons
                        if show_10
                            .set_10.ui.button(class="{{page_size_button_class '10'}}" title='View 10 per page') 10
                        if show_20
                            .set_20.ui.button(class="{{page_size_button_class '20'}}" title='View 20 per page') 20
                        if show_50
                            .set_50.ui.button(class="{{page_size_button_class '50'}}" title='View 50 per page') 50
                        if show_100
                            .set_100.ui.button(class="{{page_size_button_class '100'}}" title='View 100 per page') 100

template(name='table_header')
    .ui.middle.aligned.stackable.grid
        .four.wide.column
            +query_input
        if no_query
            .four.wide.column
                .table_stats #{skip_amount}-#{end_result} / #{count_amount}
            .four.wide.column
                .ui.compact.buttons
                    if show_10
                        .set_10.ui.button(class="{{page_size_button_class '10'}}" title='View 10') 10
                    if show_20
                        .set_20.ui.button(class="{{page_size_button_class '20'}}" title='View 20') 20
                    if show_50
                        .set_50.ui.button(class="{{page_size_button_class '50'}}" title='View 50') 50
                    if show_100
                        .set_100.ui.button(class="{{page_size_button_class '100'}}" title='View 100') 100
            .four.wide.column
                if pages
                    .ui.right.floated.pagination.small.menu
                        if show_decrement
                            a.icon.item.decrement_page
                                i.left.chevron.grey.icon
                        .ui.simple.dropdown.item
                            | #{current_page}
                            .menu
                                each pages
                                    a.set_page_number.item(class=pagination_item_class) #{number}
                        if show_increment
                            a.icon.item.increment_page
                                i.right.chevron.grey.icon



template(name='status_template')
    if open
        // +icon name='open-sign'
        +icon name='open-sign' title='Open'
        // i.lock.open.large.icon(title='Open')
    else
        // +icon name='closed-sign'
        +icon name='close_sign' title='Closed'
        // i.lock.large.icon(title='Closed')

template(name='submitted_template')
    if submitted
        // .ui.basic.label Submitted
        div {{ long_format submitted_datetime }}
    // else
        // .ui.label Not Submitted

template(name='search_key')
    .ui.small.icon.input
        i.small.search.icon
        input.search_key(type='text')


template(name='sort_column_header')
    th.sort_by(class=classes)
        |#{label}
        if sort_descending
            i.chevron.down.link.blue.icon
        else if sort_ascending
            i.chevron.up.link.blue.icon
        else
            i.sort.link.grey.icon

template(name='query_input')
    .ui.icon.fluid.input
        if current_query
            i.clear_search.link.remove.icon
        else
            i.link.search.icon
        input#query(type='text' placeholder=placeholder value=current_query)
