template(name='tasks')
    .ui.padded.stackable.grid
        .row
            .four.wide.column
                .ui.large.header
                    +icon name='tasks'
                    | Tasks
                .ui.fluid.button
                    i.icon
                        +icon name='plus'
                    |Add Task
                .ui.hidden.divider
                .ui.large.fluid.button.toggle_incomplete(class=incomplete_class)
                    i.icon
                        +icon name='unchecked-checkbox'
                    |Incomplete
                .ui.large.fluid.button.toggle_complete(class=complete_class)
                    i.icon
                        +icon name='checkmark'
                    |Complete
                .ui.large.fluid.button.toggle_by_me(class=by_me_class)
                    i.icon
                        +icon name='login-rounded-right'
                    |Assigned by Me
                .ui.large.fluid.button.toggle_to_me(class=to_me_class)
                    i.icon
                        +icon name='login-rounded'
                    | Assigned to Me
            .twelve.wide.column
                .ui.equal.width.grid
                    .column.scrolling
                        each task_docs
                            +task_card
                    if viewing_task_id
                        .column
                            with viewing_task
                                .ui.fluid.card
                                    .content
                                        .right.floated
                                            if complete
                                                +icon name='checkmark'
                                            else
                                                +icon name='unchecked-checkbox'
                                        .header #{title}
                                        .meta #{when} by #{author_username}

                                    .content
                                        .description #{details}
                                    .content
                                        .ui.list
                                            .item
                                                .content
                                                    i.icon
                                                        +icon name='user-male'
                                                    |Assigned to
                                                    strong #{assigned_to}
                                            .item
                                                .content
                                                    i.icon
                                                        +icon name='user-shield'
                                                    |Assigned by
                                                    strong #{assigned_by}
                                            if due_date
                                                .item
                                                    .content
                                                        i.icon
                                                            +icon name='clock'
                                                        |Due Date
                                                        strong #{due_date}
                                            if tags
                                                .item
                                                    .content
                                                        i.icon
                                                            +icon name='tags'
                                                        each tags
                                                            .ui.basic.label #{this}

                                    .content
                                        if complete
                                            .ui.button.mark_incomplete
                                                +icon name='unchecked-checkbox'
                                        else
                                            .ui.button.mark_complete
                                                +icon name='checkmark'
                                        .ui.button
                                            +icon name='good-quality'
                                        .ui.button
                                            +icon name='poor-quality'
                                        .ui.button
                                            +icon name='add-user-male'
                                        .ui.button
                                            +icon name='chat'
                                        .ui.button
                                            +icon name='open-envelope'
                            .ui.fluid.button.close_pane
                                // |Viewing Task
                                i.right.chevron.icon

template(name='task_card')
    .ui.fluid.link.card.task_card(class=task_card_class)
        .content
            .right.floated
                if complete
                    +icon name='checkmark'
                else
                    +icon name='unchecked-checkbox'
            .header #{title}
            .meta #{when} by #{author_username}
        .content
            .description #{details}
