template(name='tasks')
    .ui.padded.stackable.grid
        .row
            .four.wide.column
                h1.ui.center.aligned.header
                    +icon name='tasks'
                    | Tasks
                .ui.fluid.button
                    i.plus.icon
                    |Add Task
                .ui.vertical.large.fluid.menu
                    a.item.toggle_incomplete(class=incomplete_class)
                        i.icon
                            +icon name='unchecked-checkbox'
                        |Incomplete Tasks
                    a.item.toggle_by_me(class=by_me_class)
                        i.icon
                            +icon name='login-rounded-right'
                        |Assigned by Me
                    a.item.toggle_to_me(class=to_me_class)
                        i.icon
                            +icon name='login-rounded'
                        | Assigned to Me
            .twelve.wide.column
                .ui.equal.width.grid
                    .column.scrolling
                        each task_docs
                            +task_card
                    if viewing_task_id
                        .column
                            .ui.large.fluid.button.close_pane
                                |Viewing Task
                                i.right.arrow.icon
                                // +icon name='close-pane'
                            with viewing_task
                                .content
                                    .ui.header #{title}
                                    .description #{details}
                                    .ui.list
                                        .item by #{author_username}
                                        .item #{when}
                                        .item {{ long_format updated }}
                                        .item long2 #{long_timestamp}
                                        .item assigned_to #{assigned_to}
                                        .item assigned_by #{assigned_by}
                                        .item due_date #{due_date}

template(name='task_card')
    .ui.fluid.link.card.task_card(class=task_card_class)
        .content
            .header #{title}
            .meta #{when} by #{author_username}
        .content
            .ui.list
                // .item {{ long_format updated }}
                // .item long2 #{long_timestamp}
                .item assigned_to #{assigned_to}
                .item assigned_by #{assigned_by}
                .item due_date #{due_date}
        .content
            .description #{details}
        if tags
            .content
                each tags
                    .ui.label #{this}
