template(name='task_card')
    .ui.stackable.equal.width.celled.padded.grid
        .row
            .fourteen.wide.column.expand.pointer
                +header
            .one.wide.column.expand.pointer(class=expand_class)
                if expanded
                    +icon name='collapse-arrow' title='Collapse' classes='centered mini'
                else
                    +icon name='expand-arrow' title='Expand' classes='centered mini'
            .one.wide.column.toggle_full.pointer(class=maximize_class)
                if delta_doc.viewing_detail
                    +icon name='compress' title='Compress' classes='centered mini'
                else
                    +icon name='resize-diagonal' title='Enlarge' classes='centered mini'
        .row
            .sixteen.wide.column
                +textarea
        if expanded
            .row
                .column
                    .ui.small.header
                        +icon name='quill-with-ink'
                        | Author
                    +author_info
                    +when_template
                    |#{long_time}
                if customer_jpid
                    .column
                        .ui.small.header
                            +icon name='headset'
                            | Customer
                        .ui.small.header ##{customer_jpid}
                        .ui.small.header #{customer_name}
                if franchisee_jpid
                    .column
                        .ui.small.header
                            +icon name='business'
                            | Franchisee
                        .ui.small.header ##{franchisee_jpid}
                        .ui.small.header #{franchisee_name}
                if office_jpid
                    .column
                        .ui.small.header
                            +icon name='building'
                            | Office
                        .ui.small.header ##{office_jpid}
                        .ui.small.header #{office_name}
                .column
                    +array icon='tags' title='Tags'
                .column
                    if complete
                        +icon name='checked-checkbox' classes='spaced mini'
                        | Complete
                        if full_mode
                            div
                            .ui.compact.button.mark_incomplete
                                +iconsmall name='unchecked-checkbox'
                                | Mark Incomplete
                    else
                        +icon name='unchecked-checkbox' classes='spaced mini'
                        | Incomplete
                        if full_mode
                            div
                            .ui.compact.button.mark_complete
                                +iconsmall name='checkmark'
                                | Mark Complete
                .column
                    +mark_read_button
                    if full_mode
                        +mark_read_pane

            .row
                .column
                    .ui.small.header
                        +icon name='calendar'
                        | Due Date
                .column
                    .ui.small.header
                        +icon name='calendar'
                        | Assigned Date
                .column
                    .ui.small.header
                        +icon name='calendar'
                        | Completion Date
                .column
                    .ui.small.header
                        +icon name='calendar'
                        | Estimated Time
            .row
                .column
                    +bookmark_widget
                .column
                    .ui.header
                        +icon name='tree-structure'
                        |Relations
                    if parent
                        .ui.small.header #{parent.title}
                    else
                        .ui.small.header No parent
                    if children.length
                        .ui.list
                            each children
                                .item #{title}
                    else
                        .ui.small.header No children
                    if full_mode
                        .ui.small.compact.button.add_child
                            +iconsmall name='tree-structure' classes='spaced'
                            | Add Sub Task
                .column
                    +voting
                .column
                    +subscribe
            .row
                .column
                    +comments
                .column
                    +approval
                .column
                    +assignments
                .column
                    .ui.header
                        +icon name='rss' classes='spaced'
                        | Events
                    if full_mode
                        +global_feed



