template(name='tasks')
    .ui.stackable.padded.grid
        .middle.aligned.row 
            .three.wide.center.aligned.column
            .ten.wide.column
                h1.ui.center.aligned.header 
                    +icon name='realtime-protection'
                    | Tasks
            .three.wide.center.aligned.column
                +add_button type='task'
        .row 
            .four.wide.column
                +complete_facet
                +tag_facet
                +timestamp_facet
                
                +username_facet
                .ui.header Total
                    +view_stat doc_type='task' stat_type='total' 
                .ui.header Complete #{complete_task_count}
                .ui.header Incomplete #{incomplete_task_count}
                .ui.indicating.progress
                    .bar
                    .label Completion
            .eight.wide.column
                each tasks
                    +task_segment
            .four.wide.column
                +feed doc_type='task' icon='overview-pages-4' title='Task Events'

template(name='task_segment')
    .ui.segment
        h5.ui.header
            a(href="/view/#{_id}")
                if complete
                    i.green.checkmark.icon
                |#{title} 
        if assigned_to_user
            | Assigned To
            with assigned_to_user
                if profile.image_id
                    img.ui.avatar.spaced.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                |&nbsp;
                a(href="/user/#{username}") #{username} 
        div
        each tags
            .ui.small.label(class=tag_class) #{this}
        div
        if due_date
            |Due #{due_date} ({{ from_now due_date }})
            div
        |created by 
        +author_info 
        |#{when} {{ reg_format timestamp }}
        div
        +mark_doc_complete_button
        +vote_up_button
        +edit_button
        +view_button
        
        
        
template(name='task_edit')
    .ui.padded.stackable.middle.aligned.centered.grid
        .centered.row
            .three.wide.center.aligned.column
                #delete.ui.icon.button
                    i.trash.icon
            .ten.wide.column
                h1.ui.center.aligned.grey.header Edit Task
            .three.wide.center.aligned.column
                +save_button
        .four.wide.column
            +multiple_user_select key='assigned_to' label='Assigned To' icon='user-shield'
        .eight.wide.column
            .ui.form
                +edit_text_field key='title' label='title'
                +edit_textarea label='Details' key='incident_details' icon='view-details'
                +edit_array_field label='Tags' key='tags'
        .four.wide.column
            +edit_author
            +edit_date_field label='Due Date' key='due_date'
    
        
template(name='task_view')
    .ui.padded.stackable.middle.aligned.centered.grid
        .centered.middle.aligned.row
            .three.wide.center.aligned.column
                a.ui.button(href="/tasks")
                    i.left.chevron.icon
                    | Tasks
            .ten.wide.column
                h1.ui.center.aligned.grey.header View Task
            .three.wide.center.aligned.column
                +edit_button
        .row
            .four.wide.column
                if complete
                    .ui.green.label Complete
                else
                    .ui.basic.label Incomplete
                div
                if assigned_to_user
                    .ui.header Assigned To
                    with assigned_to_user
                        if profile.image_id
                            img.ui.avatar.spaced.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                        |&nbsp;
                        a(href="/user/#{username}") #{username} 
            .eight.wide.column
                .ui.header #{title}
                +comments
                +full_doc_history
            .four.wide.column
                |created by 
                +author_info 
                div #{when} {{ reg_format timestamp }}
                +view_date_field label='Due Date' key='due_date'
                .ui.header 
                    i.tags.icon
                    |Tags
                each tags
                    .ui.label #{this}


template(name='mark_doc_complete_button')
    .mark_complete.ui.icon.button(class=complete_button_class) 
        if complete
            i.check.circle.green.outline.icon
        else
            i.circle.outline.icon
