
template(name='level_small')
    +level_icon
template(name='level_big')
    .ui.header
        |Level
        +level_icon

template(name='level_icon')
    .ui.small.header
        | Level
        if is_level_one
            img.ui.image(src="/level1icon.png" data-content='Level 1')
        if is_level_two
            img.ui.image(src="/level2icon.png" data-content='Level 2')
        if is_level_three
            img.ui.image(src="/level3icon.png" data-content='Level 3')
        if is_level_four
            img.ui.image(src="/level4icon.png" data-content='Level 4')

template(name='ticket_type_big')
    if ticket_type_big
        +iconsmall name=ticket_type_icon popup=ticket_type_big classes='inline'
        | &nbsp; #{ticket_type_big}

template(name='ticket_type_small')
    if ticket_type_label
        .ui.small.header
            +iconsmall name=ticket_type_icon classes='inline'
            | #{ticket_type_label}

template(name='submit_big')
    .ui.header
        +icon name='category'
        |Type
    each ticket_type_docs
        +toggle_key key='ticket_type' value=slug label=title icon=icon
    +textarea_edit label='Details' key='ticket_details' icon='view-details'
    +date_edit key='service_date' label='Service Time'
    .ui.hidden.divider
    .submit.ui.fluid.jpgreen.inverted.button
        | Submit

template(name='view_sla_contact')
    // .ui.header SLA Contact #{key}
    with user_ob
        strong
            |#{first_name} #{last_name}
            small @#{username}
        div #{ev.EMAIL}
        div #{ev.WORK_TELEPHONE}
        div #{ev.HOME_TELEPHONE}
        div #{phone}

template(name='complete_ticket_task')
    .ui.form
        .field
            label Task Notes
            textarea#completion_details(rows='3')
        .field
            .ui.submit_note.fluid.jpgreen.inverted.button
                |Submit
        .field
            .ui.submit_and_complete_task.fluid.jpgreen.inverted.button
                |Submit and Complete Task

template(name='ticket_status')
    .ui.header
        with ticket
            +status_template
        |Status:
        if ticket.open
            |open
        else
            |closed
    if ticket.open
        .start_closing.ui.small.compact.fluid.button(title='Close' class=closing_class)
            +iconsmall name='checkmark'
            // |&nbsp; Close
    with ticket
        if is_closing
            .ui.form
                .field
                    label Reason
                    select.ui.fluid.reason.dropdown
                        each close_ticket_types
                            option(value=slug) #{title}
                .field
                    label Details
                    textarea#close_details(rows='2')
            .finish_closing.ui.fluid.jpgreen.inverted.button
                |Submit
        unless open
            if close_timestamp
                strong Closed {{ long_format close_timestamp }} by #{close_author} with note:
                p
                p #{close_details}
        unless open
            if editing
                i.reopen.link.undo.icon(title='Reopen')

template(name='feedback_widget')
    with page_context
        unless page_context.open
            .ui.header
                +icon name='feedback'
                |Feedback
            unless feedback_doc
                .add_feedback.ui.button Add Feedback
    if feedback_doc
        with feedback_doc
            if submitted
                .ui.center.aligned.header Thank you for your feedback.
            else
                .ui.basic.center.aligned.segment
                    i.big.thumbs.up.link.icon(class=good_class)
                    i.big.thumbs.down.link.icon(class=bad_class)
                .ui.fluid.action.input
                    input.feedback_details(type='text' placeholder='Details...')
                    .ui.jpgreen.inverted.submit_feedback.button
                        | Submit

template(name='ticket_close_user_info')
    with completing_user
        .ui.header #{ev.FIRST_NAME} #{ev.LAST_NAME} @#{username}

template(name='ticket_notes')
    if adding_note
        .ui.form
            .field
                textarea#note_val(rows='2')
            .field
                #submit_note.ui.small.fluid.jpgreen.inverted.button
                    |Add Note
    else
        #start_adding_note.ui.small.fluid.button
            |Add Note


