template(name='level_icon')
    if is_level_one
        img.ui.mini.image(src="/level1icon.png" data-content='Level 1')
    if is_level_two
        img.ui.mini.image(src="/level2icon.png" data-content='Level 2')
    if is_level_three
        img.ui.mini.image(src="/level3icon.png" data-content='Level 3')
    if is_level_four
        img.ui.mini.image(src="/level4icon.png" data-content='Level 4')


template(name='ticket_type_label')
    if ticket_type_label
        +icon name=ticket_type_icon popup=ticket_type_label classes='inline'
        | &nbsp; #{ticket_type_label}



template(name='add_ticket_button')
    if has_user_customer_jpid
        a.ui.button#add_ticket(href='#' data-content='Create New ticket')
            i.large.green.plus.icon
            |Log New ticket
    else
        if is_customer
            .ui.secondary.segment Add Office to Profile to Add ticket


template(name='submit_ticket')
    .ui.header
        +icon name='category'
        |Type
    each ticket_type_docs
        +toggle_key key='ticket_type' value=slug label=title icon=icon
    +edit_textarea label='Details' key='ticket_details' icon='view-details'
    +edit_datetime_field key='service_date' label='Service Time'
    .ui.hidden.divider
    .submit.ui.fluid.jpgreen.inverted.button
        |SUBMIT



// template(name='sla_tester')
//     .ui.small.icon.check_escalation.button(title='Manually Check Escalation')
//         i.refresh.link.icon
//     .ui.small.icon.escalate_ticket.button(title='Manually Escalate')
//         i.sort.numeric.down.link.icon
//     each sla_docs
//         strong Level #{escalation_number}
//             span(title='Escalation Hours') (#{escalation_hours} hours)
//         .ui.small.icon.set_level.button(title="Set level to #{escalation_number}")
//             i.link.left.arrow.icon
//         .ui.secondary.segment
//             | Owner
//             +view_sla_contact username=ticket_owner
//             if contact_customer
//                 i.money.icon(title='Contact Customer')
//             if contact_franchisee
//                 i.truck.icon(title='Contact Franchisee')
//             if email_owner
//                 i.mail.icon(title='Email Owner')
//             if sms_owner
//                 i.phone.icon(title='SMS Owner')
//         .ui.secondary.segment
//             |Secondary
//             +view_sla_contact username=secondary_contact
//             if email_secondary
//                 i.mail.icon(title='Email secondary')
//             if sms_secondary
//                 i.phone.icon(title='SMS secondary')
//         .ui.divider

template(name='view_sla_contact')
    // .ui.header SLA Contact #{key}
    with user_ob
        strong
            |#{first_name} #{last_name}
            small @#{username}
        div #{ev.EMAIL}
        div #{ev.WORK_TELEPHONE}
        div #{ev.HOME_TELEPHONE}
        div #{phone}



template(name='complete_ticket_task')
    .ui.form
        .field
            label Task Completion Notes
            textarea#completion_notes(rows='5')
        .field
            .ui.fluid.jpgreen.inverted.button
                |Submit
