template(name='level_icon')
    if is_level_one
        img.ui.mini.image(src="/level1icon.png" data-content='Level 1')
    if is_level_two
        img.ui.mini.image(src="/level2icon.png" data-content='Level 2')
    if is_level_three
        img.ui.mini.image(src="/level3icon.png" data-content='Level 3')
    if is_level_four
        img.ui.mini.image(src="/level4icon.png" data-content='Level 4')


template(name='ticket_type_label')
    if ticket_type_label
        +iconsmall name=ticket_type_icon popup=ticket_type_label classes='inline'
        | &nbsp; #{ticket_type_label}

template(name='ticket_type_small')
    if ticket_type_label
        +iconsmall name=ticket_type_icon title=ticket_type_label classes='inline'



template(name='add_ticket_button')
    if has_user_customer_jpid
        a.ui.button#add_ticket(href='#' data-content='Create New ticket')
            i.large.green.plus.icon
            |Log New ticket
    else
        if is_customer
            .ui.secondary.segment Add Office to Profile to Add ticket


template(name='submit_ticket')
    .ui.header
        +icon name='category'
        |Type
    each ticket_type_docs
        +toggle_key key='ticket_type' value=slug label=title icon=icon
    +edit_textarea label='Details' key='ticket_details' icon='view-details'
    +edit_datetime_field key='service_date' label='Service Time'
    .ui.hidden.divider
    .submit.ui.fluid.jpgreen.inverted.button
        | Submit



template(name='view_sla_contact')
    // .ui.header SLA Contact #{key}
    with user_ob
        strong
            |#{first_name} #{last_name}
            small @#{username}
        div #{ev.EMAIL}
        div #{ev.WORK_TELEPHONE}
        div #{ev.HOME_TELEPHONE}
        div #{phone}



template(name='complete_ticket_task')
    .ui.form
        .field
            label Task Notes
            textarea#completion_details(rows='3')
        .field
            .ui.submit_note.fluid.jpgreen.inverted.button
                |Submit
        .field
            .ui.submit_and_complete_task.fluid.jpgreen.inverted.button
                |Submit and Complete Task



template(name='ticket_status')
    .ui.header
        with ticket
            +status_template
        |Status:
        if ticket.open
            |open
        else
            |closed
    if ticket.open
        .start_closing.ui.small.compact.fluid.button(title='Close' class=closing_class)
            +iconsmall name='checkmark'
            // |&nbsp; Close
    with ticket
        if is_closing
            .ui.form
                .field
                    label Reason
                    select.ui.fluid.reason.dropdown
                        each close_ticket_types
                            option(value=slug) #{title}
                .field
                    label Details
                    textarea#close_details(rows='2')
            .finish_closing.ui.fluid.jpgreen.inverted.button
                |Submit
        unless open
            if close_timestamp
                strong Closed {{ long_format close_timestamp }} by #{close_author} with note:
                p
                p #{close_details}
        unless open
            if editing_mode
                i.reopen.link.undo.icon(title='Reopen')





template(name='feedback_widget')
    with page_context
        unless page_context.open
            .ui.header
                +icon name='feedback'
                |Feedback
            unless feedback_doc
                .add_feedback.ui.button Add Feedback
    if feedback_doc
        with feedback_doc
            if submitted
                .ui.center.aligned.header Thank you for your feedback.
            else
                .ui.basic.center.aligned.segment
                    i.big.thumbs.up.link.icon(class=good_class)
                    i.big.thumbs.down.link.icon(class=bad_class)
                .ui.fluid.action.input
                    input.feedback_details(type='text' placeholder='Details...')
                    .ui.jpgreen.inverted.submit_feedback.button
                        | Submit




template(name='ticket_close_user_info')
    with completing_user
        .ui.header #{ev.FIRST_NAME} #{ev.LAST_NAME} @#{username}



template(name='office_ticket_widget')
    with page_office
        .ui.header #{ev.MASTER_LICENSEE} Ticket Overview
    // each rules
    //     .select_type.ui.button #{title}
    .ui.list
        .item Total Customers
            +count_view name='office_total_active_customers'
        .item Total Franchisees
            +count_view name='office_total_active_franchisees'
        .item Level 1 Tickets
            +count_view name='office_level_1_tickets'
        .item Level 2 Tickets
            +count_view name='office_level_2_tickets'
        .item Level 3 Tickets
            +count_view name='office_level_3_tickets'
        .item Level 4 Tickets
            +count_view name='office_level_4_tickets'



template(name='ticket_notes')
    if adding_note
        .ui.form
            .field
                textarea#note_val(rows='2')
            .field
                #submit_note.ui.small.fluid.jpgreen.inverted.button
                    |Add Note
    else
        #start_adding_note.ui.small.fluid.button
            |Add Note




template(name='task_card')
    .ui.fluid.card(class=delta_card_class)
        .content
            .ui.divided.stackable.grid
                .fifteen.wide.column
                    +task_text
                a.one.wide.center.aligned.column.toggle_size(class=size_column_class)
                    +icon name='resize-diagonal' title='Maximize'
        .content
            .ui.equal.width.divided.stackable.grid
                .column
                    .ui.header
                        +icon name='quill-with-ink'
                        | Author
                    +author_info
                    +when_template
                    |#{long_time}
                .column
                    .ui.header
                        +icon name='headset'
                        | Customer
                    .ui.small.header ##{customer_jpid}
                    .ui.small.header #{customer_name}
                .column
                    .ui.header
                        +icon name='business'
                        | Franchisee
                    .ui.small.header ##{franchisee_jpid}
                    .ui.small.header #{franchisee_name}
                .column
                    .ui.header
                        +icon name='building'
                        | Office
                    .ui.small.header ##{office_jpid}
                    .ui.small.header #{office_name}
                .column
                    .ui.header
                        +icon name='tags'
                        |Tags
                    each tags
                        .ui.basic.label #{this}
                .column
                    if complete
                        +icon name='checked-radio-button' classes='spaced'
                        | Complete
                        if full_mode
                            div
                            .ui.compact.button.mark_incomplete
                                +iconsmall name='unchecked-checkbox'
                                | Mark Incomplete
                    else
                        +icon name='unchecked-radio-button' classes='spaced'
                        | Incomplete
                        if full_mode
                            div
                            .ui.compact.button.mark_complete
                                +iconsmall name='checkmark'
                                | Mark Complete
        if actions
            .content
                .ui.equal.width.divided.stackable.grid
                    .column
                        +bookmark_widget
                    .column
                        .ui.header
                            +icon name='tree-structure'
                            |Relations
                        if parent
                            .ui.small.header #{parent.title}
                        else
                            .ui.small.header No parent
                        .ui.small.compact.button.add_child
                            +iconsmall name='add-subnode' classes='spaced'
                            | Add Sub Task
                    .column
                        +voting
                    .column
                        +subscribe
                    .column
                        +mark_read_button
                        if full_mode
                            +mark_read_pane
        .content
            .ui.equal.width.divided.stackable.grid
                .column
                    +comments
                .column
                    +approval
                .column
                    +assignments
                .column
                    .ui.header
                        +icon name='rss' classes='spaced'
                        | Events
                    if full_mode
                        +global_feed



template(name='task_text')
    if editing
        .ui.form
            .field
                textarea.text_val(rows='3') #{text}
    else
        .large120 #{text}

