template(name='user_view')
    with user
        .ui.padded.stackable.grid
            .middle.aligned.row
                .four.wide.column
                    if is_admin
                        +link_button link='/p/users' icon='groups' label='Users' classes='centered'
                .eight.wide.center.aligned.column
                    h1.ui.header
                        if ev.FIRST_NAME
                            |#{ev.FIRST_NAME}
                        if ev.LAST_NAME
                            |#{ev.LAST_NAME}
                        else
                            |#{first_name} #{last_name}
                        small @
                            if ev.USERNAME
                                |#{ev.USERNAME}
                            else
                                |#{username}
                .four.wide.right.aligned.column
                    .get_user_info.ui.icon.button(title='Refresh ExtraView Info')
                        i.refresh.icon
                    a.ui.icon.button(href="/user/edit/#{_id}" title="Edit #{username}")
                        i.pencil.icon
            .row
                .four.wide.column
                    if image_id
                        img.ui.medium.image.item(src="{{c.url image_id width=500 height=500 gravity='face' crop='fill'}}")
                    if is_user
                        a.ui.fluid.button(href='/account/settings')
                            i.cog.icon
                            |Account Settings
                .eight.wide.column
                    // +edit_profile_text_field key='customer_jpid' label='Connected Customer Account'
                    .ui.list
                        if customer_jpid
                            .item
                                strong Customer JPID
                                | #{customer_jpid}
                    +user_events
                    // +users_docs
                .four.wide.column


template(name='user_ev_info')
    .ui.secondary.segment
        .ui.header
            +icon name='database'
            | ExtraView Info
        .ui.list
            with ev
                if LOGIN_ID
                    .item Username:
                        strong #{LOGIN_ID}
                if LAST_NAME
                    .item Last:
                        strong #{LAST_NAME}
                if FIRST_NAME
                    .item First:
                        strong #{FIRST_NAME}
                if JOB_TITLE
                    .item Job Title:
                        strong #{JOB_TITLE}
                if WORK_TELEPHONE
                    .item Work Tel:
                        strong #{WORK_TELEPHONE}
                if HOME_TELEPHONE
                    .item Home Tel:
                        strong #{HOME_TELEPHONE}
                if CELL_PHONE
                    .item Cell:
                        strong #{CELL_PHONE}
                if COMPANY_NAME
                    .item Company:
                        strong #{COMPANY_NAME}
                if ADDRESS_LINE1
                    .item Address:
                        strong #{ADDRESS_LINE1}
                if ADDRESS_LINE2
                    .item
                        strong #{ADDRESS_LINE2}
                if CITY
                    .item
                        strong #{CITY}
                if STATE
                    .item
                        strong #{STATE}
                if POSTAL_CODE
                    .item
                        strong #{POSTAL_CODE}
                if COUNTRY
                    .item Country
                        strong #{COUNTRY}
                if EMAIL
                    .item Email:
                        strong #{EMAIL}
                if TIMEZONE
                    .item Timezone:
                        strong #{TIMEZONE}
                if ALPHA_TIMEZONE
                    .item Alpha Timezone:
                        strong #{ALPHA_TIMEZONE}
                if REGION
                    .item Region:
                        strong #{REGION}
                if VARIANT
                    .item Variant:
                        strong #{VARIANT}
                if AREA_ID
                    .item Area ID:
                        strong #{AREA_ID}
                // if EMAIL_ON
                //     .item EMAIL_ON:
                //         strong #{EMAIL_ON}
                if LANGUAGE
                    .item Language:
                        strong #{LANGUAGE}
template(name='users_docs')
    .ui.header Users Docs
    table.ui.striped.selectable.fixed.fluid.table
        tbody
            each user_docs
                tr
                    td #{type}
                    td #{title}
                    td
                        +view_button


template(name='user_events')
    .ui.feed
        each user_events
            +event




template(name='user_view_office_card')
    .ui.secondary.segment
        with office_doc
            .content
                if is_customer
                    .ui.header
                        +icon name='building'
                        |Office
                else
                    a(href="/p/office_tickets/#{ev.ID}")
                        .ui.header
                            +icon name='building'
                            |Office
            .content
                if is_customer
                    h4.ui.header #{ev.MASTER_LICENSEE}
                else
                    a(href="/p/office_tickets/#{ev.ID}")
                        h4.ui.header #{ev.MASTER_LICENSEE}
                // div ##{ev.ID}
                div #{ev.ADDR_STREET} #{ev.ADDR_STREET_2}
                div #{ev.ADDR_CITY} #{ev.ADDR_STATE}
                div #{ev.ADDR_POSTAL_CODE} #{ev.MASTER_COUNTRY}
                div
                    a(href="tel:#{ev.TELEPHONE}") #{ev.TELEPHONE}




template(name='user_view_comments')
    .ui.comments
        each comment_docs
            .comment
                a.avatar(href="/user/#{author.username}")
                    if author.image_id
                        img.ui.avatar.spaced.image(src="{{c.url author.image_id width=50 height=50 gravity='face' crop='fill'}}")
                    else
                        i.user.icon
                .content
                    a.author(href="/user/#{author.username}") #{author.username}
                    .text
                        p #{text}
                    .metadata
                        span.date #{when}
                        // a.reply Reply
                        unless is_customer
                            a.delete_comment
                                i.trash.link.icon
                        if customer_jpid
                            a(href="/p/office?jpid=#{customer_jpid}")
                                i.money.icon(title="Customer #{customer_jpid}")
                                |#{customer.EV.CUST_NAME}
                        if office_jpid
                            a(href="/p/office?jpid=#{office_jpid}")
                                i.building.icon(title="Office #{office_jpid}")
                                |#{office.EV.MASTER_LICENSEE}
                        if editing_mode
                            i.remove_event.remove.link.icon
