template(name='my_customer_account_card')
    .ui.card
        with currentUser.users_customer
            .content
                a.ui.header(href="/v/#{_id}")
                    +icon name='headset'
                    |Customer Account
            .content
                div Customer Owner: #{customer_owner}
                div Billing Contact: #{customer_billing_contact}
                div HR Contact: #{customer_hr_contact}
            .content
                a(href="/v/#{_id}")
                    h4.ui.header #{ev.CUST_NAME}
            .content
                .ui.list
                    .item ##{ev.ID}
                    .item #{ev.CUST_CONT_PERSON}
                    .item #{ev.CUST_CONTACT_EMAIL}
                    .item #{ev.TELEPHONE}
                    .item #{ev.ADDR_STREET}
                    .item #{ev.ADDR_STREET_2}
                    .item #{ev.ADDR_CITY} #{ev.ADDR_STATE}
            // .content
            //     div Franchisee
            //         strong #{ev.FRANCHISEE}
            //     div Office
            //         strong #{ev.MASTER_LICENSEE}

template(name='franchisee_view')
    .ui.padded.stackable.grid
        // .centered.row
        //     +office_by_franchisee
        .centered.middle.aligned.row
            .three.wide.center.aligned.column
                if is_admin
                    +link_button link='/p/admin_franchisees' icon='business' label='Franchisees'
            .ten.wide.column
                h1.ui.center.aligned.grey.header
                    +icon name='business'
                    if ev.FRANCHISEE
                        |#{ev.FRANCHISEE}
                    else if ev.FRANCH_NAME
                        |#{ev.FRANCH_NAME}
                    |Franchisee
            .three.wide.right.aligned.column
                // +edit_button
        .centered.row
            .four.wide.column
                .ui.secondary.segment
                    .ui.large.list
                        .item ##{ev.ID}
                        if ev.FRANCH_EMAIL
                            .item
                                i.grey.envelope.icon
                                |#{ev.FRANCH_EMAIL}
                        if ev.FRANCH_NAME
                            .item(title='Short Name')
                                | #{ev.FRANCH_NAME}
                        if ev.TELE_CELL
                            .item
                                i.grey.phone.icon
                                |#{ev.TELE_CELL}

                        // .item Master Licensee:
                        //     strong #{ev.MASTER_LICENSEE}
                +blocks tags='franchisee,tickets'
                +blocks tags='franchisee,ticket,feedback_response'
            .twelve.wide.column
                +blocks tags='franchisee,page,parent_office'
                +blocks tags='tickets,franchisee_page'
            // .four.wide.column
            //     +blocks tags='franchisee,message'
            //     +blocks tags='franchisee,comment'


template(name='combined_address_template')
    td #{ev.ADDR_STREET} #{ev.ADDR_CITY} #{ADDR_STATE}
    // td #{ev.TIMESTAMP}





template(name='select_field_key_value')
    .select_field_key_value.ui.compact.button(class=select_field_key_value_button_class)
        if icon
            i.icon
                +icon name=icon
        |#{label}


template(name='toggle_field_boolean')
    .toggle_field_boolean.ui.small.compact.button(class=field_boolean_class) #{label}


template(name='schema_selector')
    each user_schemas
        .toggle_schema.ui.button #{title}


template(name='schema_doc')
    .ui.card
        .content
            .header #{_id}
            each ../fields
                +Template.dynamic template=view_field_template
                |{{ key_value key=slug}}
                .ui.label slug:#{slug}



template(name='message_type')
    // |#{message_type}
    if is_sms
        +icon name='cell-phone' title='SMS'
    if is_email
        +icon name='new-post' title='Email'

template(name='recipient_type')
    if is_owner
        +icon name='user-shield' title='Owner'
    if is_secondary
        +icon name='user-male-circle' title='Secondary'
    if is_franchisee
        +icon name='business' title='Franchisee'
    if is_customer
        +icon name='headset' title='Customer'
    // |#{recipient_type}



template(name='ticket_cell')
    with ticket
        .ui.list
            .item ##{ticket_number}
            .item #{ticket_type}
            .item #{level}
        a.ui.compact.icon.button(href="/p/ticket_admin_view?doc_id=#{_id}")
            i.right.chevron.icon




