template(name='my_customer_account_card')
    .ui.card
        with currentUser.users_customer
            .content
                a.ui.header(href="/v/#{_id}")
                    +icon name='headset'
                    |Customer Account
            .content
                div Customer Owner: #{customer_owner}
                div Billing Contact: #{customer_billing_contact}
                div HR Contact: #{customer_hr_contact}
            .content
                a(href="/v/#{_id}")
                    h4.ui.header #{ev.CUST_NAME}
            .content
                .ui.list
                    .item ##{ev.ID}
                    .item #{ev.CUST_CONT_PERSON}
                    .item #{ev.CUST_CONTACT_EMAIL}
                    .item #{ev.TELEPHONE}
                    .item #{ev.ADDR_STREET}
                    .item #{ev.ADDR_STREET_2}
                    .item #{ev.ADDR_CITY} #{ev.ADDR_STATE}
            // .content
            //     div Franchisee
            //         strong #{ev.FRANCHISEE}
            //     div Office
            //         strong #{ev.MASTER_LICENSEE}

template(name='franchisee_view')
    .ui.padded.stackable.grid
        // .centered.row
        //     +office_by_franchisee
        .centered.middle.aligned.row
            .three.wide.center.aligned.column
                if is_admin
                    +link_button link='/p/admin_franchisees' icon='business' label='Franchisees'
            .ten.wide.column
                h1.ui.center.aligned.grey.header
                    +icon name='business'
                    if ev.FRANCHISEE
                        |#{ev.FRANCHISEE}
                    else if ev.FRANCH_NAME
                        |#{ev.FRANCH_NAME}
                    |Franchisee
            .three.wide.right.aligned.column
                // +edit_button
        .centered.row
            .four.wide.column
                .ui.secondary.segment
                    .ui.large.list
                        .item ##{ev.ID}
                        if ev.FRANCH_EMAIL
                            .item
                                i.grey.envelope.icon
                                |#{ev.FRANCH_EMAIL}
                        if ev.FRANCH_NAME
                            .item(title='Short Name')
                                | #{ev.FRANCH_NAME}
                        if ev.TELE_CELL
                            .item
                                i.grey.phone.icon
                                |#{ev.TELE_CELL}

                        // .item Master Licensee:
                        //     strong #{ev.MASTER_LICENSEE}
                +blocks tags='franchisee,tickets'
                +blocks tags='franchisee,ticket,feedback_response'
            .twelve.wide.column
                +blocks tags='franchisee,page,parent_office'
                +blocks tags='tickets,franchisee_page'
            // .four.wide.column
            //     +blocks tags='franchisee,message'
            //     +blocks tags='franchisee,comment'


template(name='combined_address_template')
    td #{ev.ADDR_STREET} #{ev.ADDR_CITY} #{ADDR_STATE}
    // td #{ev.TIMESTAMP}

template(name='schema_edit')
    .ui.padded.stackable.centered.grid
        .centered.row
            .three.wide.column
                +save_button
            .ten.wide.column
                h1.ui.center.aligned.grey.header
                    if icon
                        +icon name=icon
                    |Edit '#{title}' Schema
            .three.wide.right.aligned.column
                #delete.ui.icon.button
                    i.trash.icon
        .centered.row
            .four.wide.column
                #add_field.ui.button
                    i.plus.icon
                    | Field
            .twelve.wide.column
                each fields
                    +schema_field_edit
                #add_action.ui.button
                    i.plus.icon
                    | Action
                .ui.vertical.segments
                    each actions
                        +action_edit


template(name='schema_field_edit')
    .ui.segment
        i.remove_field.link.remove.icon
        .ui.form
            .two.fields
                .field
                    .ui.labeled.input
                        .ui.basic.label Title
                        input.field_title(type='text' value=title)
                .field
                    .ui.labeled.input
                        .ui.basic.label Slug
                        input.field_slug(type='text' value=slug)
                .field
                    .ui.labeled.input
                        .ui.basic.label Template
                        input.field_template(type='text' value=field_template)
        +toggle_field_boolean key='ev_subset' label='EV Subset'
        div
        strong Type
        each fields
            +select_field_key_value key='field_type' value=slug icon=icon label=title


template(name='action_edit')
    .ui.segment
        .ui.form
            .three.fields
                .field
                    .ui.labeled.fluid.input
                        .ui.label Title
                        input.action_title(type='text' value=title)
                .field
                    .ui.labeled.two.wide.input
                        .ui.label Slug
                        input.action_slug(type='text' value=slug)
                .field
                    .ui.labeled.two.wide.input
                        .ui.label Description
                        input.action_description(type='text' value=description)

        // +edit_text_field key='key' label='Slug (lowercase title)'
        // +edit_text_field key='type' label='Type'
        // div Table Cell Class
        //     +select_field_key_value key='table_cell_class' value='active' label='Active'
        //     +select_field_key_value key='table_cell_class' value='' label='None'


template(name='select_field_key_value')
    .select_field_key_value.ui.compact.button(class=select_field_key_value_button_class)
        if icon
            i.icon
                +icon name=icon
        |#{label}


template(name='toggle_field_boolean')
    .toggle_field_boolean.ui.small.compact.button(class=field_boolean_class) #{label}




template(name='schema_view')
    .ui.padded.stackable.centered.grid
        .centered.row
            .three.wide.column
                +link_button link='/p/schemas' icon='database' label='Schemas'
            .ten.wide.column
                .ui.center.aligned.header View '#{title}' Schema
            .three.wide.column
                +edit_button
        .row
            .two.wide.column
                +add_button type=slug
                h3.ui.header Title: #{title}
                h3.ui.header Slug: #{slug}
                each tags
                    .ui.label #{this}
                .ui.header Fields
                .ui.list
                    each fields
                        .item #{title} (#{slug}) [#{type}]
            .fourteen.wide.column
                each field_instances
                    .add_field_instance.ui.button #{title}
                each referenced_field_instances
                    .ui.card
                        .content
                            .header #{title}
                .ui.stackable.five.cards
                    each schema_docs
                        +doc_card

template(name='schema_selector')
    each user_schemas
        .toggle_schema.ui.button #{title}


template(name='schema_doc')
    .ui.card
        .content
            .header #{_id}
            each ../fields
                +Template.dynamic template=view_field_template
                |{{ key_value key=slug}}
                .ui.label slug:#{slug}


template(name='comments_view')
    .ui.comments
        each children
            +doc_history_event
