template(name='doc_sentiment') 
    .ui.dividing.header 
        |sentiment
    .ui.small.progress(data-percent=sentiment_score_percent class=sentiment_bar_class)
        .bar
        .progress
        .label
            |{{ to_percent doc_sentiment_score }}%
            if is_positive
                | positive
            else
                | negative

        // |#{doc_sentiment_label}
        // |#{sentiment_score_percent}



template(name='doc_emotion') 
    .ui.dividing.header 
        | emotion
    with watson.emotion.document.emotion
        .ui.blue.small.progress(data-percent=sadness_percent)
            .bar
            .progress
            .label {{to_percent sadness}}% sadness 
        .ui.green.small.progress(data-percent=joy_percent)
            .bar
            .progress
            .label {{to_percent joy}}% joy 
        .ui.black.small.progress(data-percent=fear_percent)
            .bar
            .progress
            .label {{to_percent fear}}% fear 
        .ui.yellow.small.progress(data-percent=disgust_percent)
            .bar
            .progress
            .label {{to_percent disgust}}% disgust 
        .ui.red.small.progress(data-percent="{{to_percent anger}}")
            .bar
            .progress
            .label {{to_percent anger}}% anger 
            
template(name='call_watson')
    #call_watson.ui.button 
        i.chess.knight.icon
        |analyze
        
        
template(name='call_personality')
    #call_personality.ui.button 
        i.sun.icon
        |personality
template(name='call_tone')
    #call_tone.ui.button 
        i.sun.icon
        |tone

template(name='call_visual_analysis')
    #call_visual.ui.button 
        i.image.icon
        |tag image

template(name='keywords')
    .ui.fluid.styled.accordion
        .title
            .ui.header 
                |#{watson.keywords.length} keywords
                i.dropdown.icon
        .content
            .ui.three.stackable.cards
                each watson.keywords
                    .ui.card
                        .content
                            h4
                                |#{text}
                                |{{ to_percent relevance }}%
                            // .meta
                            //     |Sentiment: #{sentiment.score}
                            .description
                                with emotion
                                    .ui.list
                                        .ui.blue.small.progress(data-percent=sadness_percent title="{{to_percent sadness}}% sadness")
                                            .bar
                                            // .progress
                                            // .label #{sadness_percent}% sadness
                                        .ui.green.small.progress(data-percent=joy_percent title="{{to_percent joy}}% joy")
                                            .bar
                                            // .progress
                                            // .label #{joy_percent}% joy 
                                        .ui.black.small.progress(data-percent=fear_percent title="{{to_percent fear}}% fear")
                                            .bar
                                            // .progress
                                            // .label #{fear_percent}% fear
                                        .ui.yellow.small.progress(data-percent=disgust_percent title="{{to_percent joy}}% joy")
                                            .bar
                                            // .progress
                                            // .label #{disgust_percent}% disgust 
                                        .ui.red.small.progress(data-percent=anger_percent title="{{to_percent joy}}% joy")
                                            .bar
                                            // .progress
                                            // .label #{anger_percent}% anger 


template(name='entities')
    .ui.segment
        .ui.header 
            |#{watson.entities.length} entities
        .ui.list
            each watson.entities
                .item
                    |#{type}: #{text}

template(name='concepts')
    .ui.segment
        .ui.header 
            |#{watson.concepts.length} concepts
        .ui.list
        each watson.concepts
            .item
                a(href=dbpedia_resource target='_blank') #{text}
                | {{to_percent relevance}}%




template(name='categories')
    .ui.segment
        .ui.header 
            |#{watson.categories.length} categories
        .ui.list
            each watson.categories
                .item
                    strong #{label}
                    |{{ to_percent score }}%


template(name='semantic_roles')
    .ui.styled.accordion
        .title
            |#{watson.semantic_roles.length} semantic_roles
        .content
            +jsonView(json=watson.semantic_roles)
            .ui.list
                each watson.semantic_roles
                    .item
                        strong #{label}
                        |{{ to_percent score }}%


template(name='relations')
    .ui.styled.accordion
        .title
            |#{watson.relations.length} relations
        .content    
            +jsonView(json=watson.relations)
            .ui.list
                each watson.relations
                    .item
                        strong #{label}
                        |{{ to_percent score }}%

template(name='personality')
    .ui.styled.accordion
        .title
            |#{personality.length} personality
        .content    
            +jsonView(json=personality)
            // .ui.list
            //     each watson.personality
            //         .item
            //             strong #{label}
            //             |{{ to_percent score }}%


template(name='tone')
    .ui.styled.accordion
        .title
            |#{tone.length} tone
        .content    
            +jsonView(json=tone)
            // .ui.list
            //     each watson.tone
            //         .item
            //             strong #{label}
            //             |{{ to_percent score }}%


