template(name='doc_sentiment') 
    .ui.dividing.header 
        |Sentiment
    .ui.progress(data-percent=sentiment_score_percent class=sentiment_bar_class)
        .bar
        .progress
        .label
            if is_positive
                |#{sentiment_score_percent}% Positive
            else
                |#{sentiment_score_percent}% Negative

        // |#{doc_sentiment_label}
        // |#{sentiment_score_percent}

template(name='watson_keywords') 
    // .ui.dividing.header 
    //     |Analyzed Keywords

template(name='doc_emotion') 
    .ui.dividing.header 
        | Emotion
    with watson.emotion.document.emotion
        .ui.blue.small.progress(data-percent=sadness_percent)
            .bar
            .progress
            .label #{sadness_percent}% Sadness 
        .ui.green.small.progress(data-percent=joy_percent)
            .bar
            .progress
            .label #{joy_percent}% Joy 
        .ui.black.small.progress(data-percent=fear_percent)
            .bar
            .progress
            .label #{fear_percent}% Fear 
        .ui.yellow.small.progress(data-percent=disgust_percent)
            .bar
            .progress
            .label #{disgust_percent}% Disgust 
        .ui.red.small.progress(data-percent=anger_percent)
            .bar
            .progress
            .label #{anger_percent}% Anger 
            
template(name='call_watson')
    #call_watson.ui.button 
        i.chess.knight.icon
        |Analyze

template(name='call_visual_analysis')
    #call_visual.ui.button 
        i.image.icon
        |Tag Image

template(name='analyzed_watson_keywords')
    .ui.fluid.styled.accordion
        .title
            .ui.header 
                |#{watson.keywords.length} Analyzed Keywords
                i.dropdown.icon
        .content
            .ui.two.stackable.cards
                each watson.keywords
                    .ui.card
                        .content
                            .header 
                                |#{text}
                            .meta
                                |#{relevance_percent}% Relevant
                            // .meta
                            //     |Sentiment: #{sentiment.score}
                            .description
                                with emotion
                                    .ui.list
                                        .ui.blue.tiny.progress(data-percent=sadness_percent)
                                            .bar
                                            .progress
                                            .label #{sadness_percent}% Sadness
                                        .ui.green.tiny.progress(data-percent=joy_percent)
                                            .bar
                                            .progress
                                            .label #{joy_percent}% Joy 
                                        .ui.black.tiny.progress(data-percent=fear_percent)
                                            .bar
                                            .progress
                                            .label #{fear_percent}% Fear
                                        .ui.yellow.tiny.progress(data-percent=disgust_percent)
                                            .bar
                                            .progress
                                            .label #{disgust_percent}% Disgust 
                                        .ui.red.tiny.progress(data-percent=anger_percent)
                                            .bar
                                            .progress
                                            .label #{anger_percent}% Anger 
