template(name='tasks')
    .ui.stackable.centered.padded.grid
        .centered.row
            .four.wide.column
                +add_button type='task'
                div
                +set_session_button key='view_complete' value=true label='complete'
                +set_session_button key='view_complete' value=false label='incomplete'
                div
                +tag_facet
            .twelve.wide.column
                .ui.centered.cards
                    each tasks
                        +task_card
                        
                        
template(name='task_item')
    .ui.item
        if image_id
            a.image(href="/view/#{_id}")
                img.ui.rounded.image(src="{{c.url image_id  width=175 height=175 crop='fill' gravity='face' }}")
                // each visual
                //     .ui.small.label #{class}
        .content
            a.grey.header(href="/view/#{_id}") 
                |##{task_number}
            .description
                .ui.grid
                    .twelve.wide.column
                        .large130 {{nl2br task_details}}
                        +tone
                        // .meta 
                        //     .ui.horizontal.list
                        //         each watson_keywords
                        //             .item #{this}
                    .four.wide.column
                        .meta #{when}
                        .meta #{formal_when}
                        // .ui.horizontal.list
                        //     each date_array
                        //         .item #{this}
                        if office.office_name
                            .ui.label #{office.office_name}
                        if current_level
                            .ui.label Level #{current_level}
                        .meta by #{author.username}
                        if comment_count
                            a.meta(href="/view/#{_id}")
                                i.comments.icon
                                |#{comment_count} comments
                        +view_button
                        if watson
                            +doc_sentiment
                            +doc_emotion
                        // each tone.document_tone.tones
                        //     h4.ui.header #{tone_id} {{ to_percent score }}%
        

                
template(name='task_card')
    .ui.card
        if image_id
            a.image(href="/view/#{_id}")
                img.ui.rounded.image(src="{{c.url image_id  width=300 height=300 crop='fill' }}")
        .content
            // .right.floated.meta
            //     // .ui.circular.label(title='task Number') #{task_number}
            //     | #{when}
            a(href="/view/#{_id}") 
                |#{title}
        .content    
            if complete
                #turn_off.ui.icon.button
                    i.large.toggle.on.green.icon
            else
                #turn_on.ui.icon.button
                    i.large.toggle.off.icon
            .right.floated 
                |#{when}
                +author_info
        // .content
        //     // .ui.accordion
        //     //     .title 
        //     //         |html
        //         //     i.dropdown.icon
        //         // .content
        //     .description
        //         |!{html}
        // .content
        //     each tags
        //         .ui.large.label #{this}
        if watson
            .content
                +doc_sentiment
        .content
            // +call_method name='tagify_timestamp'
            // if date_array
            //     each date_array
            //         .ui.label #{this}
            | #{comment_count}
            i.comments.icon
            +edit_button
            +view_button


template(name='task_table')
    table.ui.celled.selectable.table
        tbody
            each tasks
                +task_row
                
                
template(name='task_row')                
    tr
        // td #{_id}
        td 
            a(href="/view/#{_id}") #{text}
            |#{title}
            // if editing_this_task
            //     .ui.fluid.input
            //         input.task_text(type='text' value=text placeholder='Task Text')
        td #{when}
        // td #{due_date_when}
        td 
            +edit_button
            +view_full_button
        // td
            // if editing_this_task
            //     .save_task.ui.icon.button
            //         i.checkmark.icon
            // else
            //     .edit_task.ui.icon.button
            //         i.edit.icon
            
            
template(name='task_view')
    .ui.padded.stackable.centered.grid
        .centered.row
            .three.wide.column
                +link_button link='/tasks' icon='tasks' label='Tasks'
            .ten.wide.column
                h1.ui.center.aligned.grey.header view #{title}
            .three.wide.column
                +edit_button
        .row
            .three.wide.column
                .ui.header tags
                each tags
                    .ui.label #{this}
            .thirteen.wide.column
                .ui.heade #{title}
                |!{html}
                +comments
            
        
template(name='task_edit')
    .ui.padded.stackable.centered.grid
        .centered.row
            .three.wide.column
                +save_button
            .ten.wide.column
                h1.ui.center.aligned.grey.header edit '#{title}' task
            .three.wide.column
                #delete.ui.icon.button
                    i.trash.icon
        .centered.row
            .twelve.wide.column
                +edit_text_field key='title' label='title' icon=''
                +edit_html
            .four.wide.column
                +edit_array_field key='tags'
        
            