template(name='bookmarks')
    .ui.stackable.centered.padded.grid
        .centered.row
            .three.wide.column
            .ten.wide.column
                h1.ui.center.aligned.grey.header 
                    +icon name='bookmark'
                    | Bookmarks
            .three.wide.column
        .centered.row
            .four.wide.column
                +tag_facet
                +timestamp_facet
                .ui.hidden.divider
            .twelve.wide.column
                each bookmarks
                    .ui.header #{_id}

            
template(name='bookmark')
    .ui.segment.bookmark_segment(class=bookmark_segment_class)
        .ui.feed
            .event
                .label
                    img.ui.avatar.image(src="{{c.url author.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
                .content
                    .summary
                        // a.user(href="/profile/#{subject.username}")
                        //     | #{subject_name}
                        // | #{predicate}
                        a.user(href="/profile/#{author.username}")
                            | #{author.username}.
                        .date
                            | #{when}
                    .extra.text
                        p !{content}
                    .meta
                        // +mark_read_button
                        // +session_delete_button                
