template(name='charts')
    .ui.container
        h1.ui.center.aligned.grey.header 
            +icon name='combo-chart'
            |Charts
        // +cloud filter='chart'
        
        +highchartsHelper(chartId="test" chartWidth="100%" charHeight="100%" chartObject=pie)
        +highchartsHelper(chartId="area" chartWidth="100%" charHeight="100%" chartObject=area)
        +highchartsHelper(chartId="gauge" chartWidth="100%" charHeight="100%" chartObject=gauge)
        +highchartsHelper(chartId="threed" chartWidth="100%" charHeight="100%" chartObject=threed)
        // +highmapsHelper(chartId="test-map" chartWidth="100%" charHeight="100%" chartObject=maps)

            