template(name='comments')
    .ui.hidden.divider
    .ui.fluid.large.styled.accordion
        .active.title
            h3
                +mini_sprite name='comments'
                |#{comment_count} Comments
                i.dropdown.icon
        .active.content
            .ui.comments
                each comments
                    .comment
                        a.avatar(href="/profile/#{author._id}")
                            if author.profile.image_id
                                img.ui.avatar.spaced.image(src="{{c.url author.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
                            else
                                i.user.icon
                        .content
                            a.author(href="/profile/#{author._id}") #{author.username}
                            .metadata
                                span.date #{when}
                            .text
                                p #{text}
                            .actions
                                // a.reply Reply
                                a.delete_comment delete
            .ui.large.fluid.left.icon.input
                i.plus.icon
                input#new_comment(type='text')