template(name='dashboard')
    .ui.padded.stackable.divided.grid
        // +dashboard_header
        // .centered.row
        //     .sixteen.wide.column
        //         .ui.center.aligned.header Customer Portal
        .row
            .four.wide.column
                .ui.center.aligned.header Welcome
                .ui.button Sign In
                .ui.button Register
            .twelve.wide.column
                +my_cleaning_crew
        .row
            .sixteen.wide.column
                +my_cleaning_schedule
        .row
            .sixteen.wide.column
                +my_office_contacts

        .row
            .four.wide.column
                +general_account_info
            .eight.wide.column
                +incident_widget
                
            .four.wide.column
                +local_office_information
        .row
            .five.wide.column
                .ui.disabled.segment
                    .ui.header
                        i.building.icon
                        | Home Office Permissions
            .five.wide.column
                .ui.disabled.segment
                    .ui.header 
                        i.dollar.icon
                        |Billing and Payment History
            .five.wide.column
                .ui.disabled.segment
                    .ui.header
                        i.clock.icon
                        |Scheduled Services


    
template(name='customer_menu')
    .ui.large.top.attached.menu
        .right.menu
            a.item(href='/account/settings') Account
            .disabled.item Log a Ticket
            .disabled.item Schedule Cleaning
            .disabled.item Consumables
            .disabled.item Service Request
            .disabled.item Help
            
            
template(name='my_cleaning_schedule')
    .ui.accordion
        .active.title
            .ui.center.aligned.header 
                |My Cleaning Schedule
                i.dropdown.icon
        .active.content
            #cleaning_schedule
                +fullcalendar cal_options
            
template(name='my_office_contacts')
    .ui.center.aligned.header My Office Contacts
    table.ui.sortable.striped.table
        tbody
            tr
                td.header Service and Quality Control
                td Service Manager Name
                td Contact Number
                td Email Address
                td
                    i.mail.icon
            tr
                td.header Accounts Payable
                td Accounts Payable Name
                td Contact Number
                td Email Address
                td
                    i.mail.icon
            tr
                td.header Account Manager
                td Account Manager Name
                td Contact Number
                td Email Address
                td
                    i.mail.icon
            
            
        
        
template(name='incident_widget')
    .ui.dividing.header
        i.clipboard.icon
        |Incidents
    .ui.divided.link.items    
        each incidents
            a.item(href="/view/#{_id}")
                .ui.tiny.rounded.image
                    img(src="{{c.url image_id  height=100 width=100 crop='crop' gravity='face' }}")
                    +small_sentiment
                .content
                    .header ##{incident_number}
                        +incident_type_label
                    .meta #{when}
                    .description #{incident_details}
                    .extra
                        if customer
                            .ui.label 
                                i.user.icon
                                |#{customer.first_name} #{customer.last_name}
                        if office
                            .ui.label 
                                i.building.icon
                                |#{office.office_name}
        
        
        
template(name='general_account_info')
    .ui.dividing.header
        i.info.icon
        |Account
    with person
        +person_card
        
        
        
template(name='local_office_information')
    .ui.dividing.header
        i.building.icon
        | Office
    with office
        +office_card
        
        
        
        
template(name='dashboard_header')
    h1.ui.center.aligned.header Jan Pro Customer Portal
    // img(src="{{c.url 'night' height='300'  width='1000' overlay='text:Arial_80:Flowers' crop='crop'}}")

        
        
        
template(name='my_cleaning_crew')
    .ui.center.aligned.header My Cleaning Crew
    .ui.four.stackable.cards
        each crew
            .ui.card
                +crew_card

template(name='crew_card')
    .ui.card
        .image
            a(href="/view/#{_id}")
                img.ui.fluid.image(src="{{c.url image_id height=200 width=200 crop='fill' gravity='face'}}")
        .content
            a(href="/view/#{_id}")
                .ui.center.aligned.header #{first_name} #{last_name}
            each five_tags
                .ui.compact.small.circular.button.person_tag(class=tag_class) 
                    strong #{this}
        // .content
        //   .ui.list
        //         +list_item key='email' label='Email'
        //         +list_item key='phone' label='Phone'
        //         +list_item key='company' label='Company'
        //         +list_item key='position' label='Position'
        // +view_button
