template(name='incidents')
    .ui.stackable.padded.centered.grid
        .centered.row
            .three.wide.column
                +add_button type='incident' label='Incident'
                +toggle_view_mode_button
                +timestamp_facet
                +location_facet
                // .ui.dividing.header Level
                // +set_session_button key='level' value='all' label='All'
                // +set_session_button key='level' value=1 label='1'
                // +set_session_button key='level' value=2 label='2'
                // +set_session_button key='level' value=3 label='3'
                // +set_session_button key='level' value=4 label='4'
                // .ui.dividing.header Type
                // +set_session_button key='type' value='missed_service' label='Missed Service'
                // +set_session_button key='type' value='poor_service' label='Poor Service'
                // +set_session_button key='type' value='employee_issue' label='Employee Issue'
                // +set_session_button key='type' value='other' label='Other'
                // .ui.dividing.header 
                //     i.building.icon
                //     |Office
                // +set_session_button key='level' value=1 label='Denver'
                // +set_session_button key='level' value=2 label='Chicago'
                // +set_session_button key='level' value=3 label='NYC'
            .thirteen.wide.column
                if viewing_list
                    .ui.divided.items
                        each incidents
                            +incident_item
                else
                    .ui.centered.stackable.cards
                        each incidents
                            +incident_card


template(name='incident_item')
    .ui.item
        a.image(href="/view/#{_id}")
            img.ui.rounded.image(src="{{c.url image_id  width=175 height=175 crop='fill' gravity='face' }}")
        .content
            a.header(href="/view/#{_id}") 
                |##{incident_number}
                +incident_type_label
                .ui.label #{office.office_name}
                .ui.label Level #{current_level}
            .description
                .large130 #{incident_details}
            .meta by #{author.username}
            .meta 
                |Logged #{when}
                // +incident_level_set level=1
                // +incident_level_set level=2
                // +incident_level_set level=3
                // +incident_level_set level=4
                +view_button
            if comment_count
                a.meta(href="/view/#{_id}")
                    i.comments.icon
                    |#{comment_count} Comments
            // .right.floated
                
template(name='incident_card')
    .ui.card
        a.image(href="/view/#{_id}")
            img.ui.rounded.image(src="{{c.url image_id  width=300 height=300 crop='fill' }}")
        .content
            .right.floated.meta
                // .ui.circular.label(title='Incident Number') #{incident_number}
                .ui.label #{office.office_name}
                .ui.label Level #{current_level}
            a.header(href="/view/#{_id}") ##{incident_number}
        .content    
            .right.floated 
                |Logged #{when}
            i.user.icon
            | #{author.username}
        .content    
            .description
                |#{incident_details}
        .content
            +doc_sentiment
        .content
            +call_method name='tagify_timestamp'
            if date_array
                each date_array
                    .ui.label #{this}
            .right.floated
                +incident_type_label
            i.comment.icon
            | #{comment_count} Comments
                
                
template(name='incident_edit')
    .ui.padded.stackable.centered.grid
        .centered.row
            .three.wide.center.aligned.column
                #delete.ui.basic.circular.icon.big.button
                    i.red.trash.icon
            .ten.wide.column
                h1.ui.center.aligned.header Edit Incident #{incident_number}
            .three.wide.column
                +save_button
        .row
            .four.wide.column
                .ui.large.form
                    +edit_number_field key='incident_number' label='Number' icon='hashtag'
                    +edit_date_field key='incident_date' label='Date' icon='calendar'
                    +reference_customer key='referenced_customer_id' search_field='first_name' label='Change Customer' type='person'
                    if customer
                        with customer
                            +person_card
                    
            .eight.wide.column
                .ui.large.form
                    +edit_textarea key='incident_details' label='Details'
                    +edit_image_field
                    .field
                        label Type
                        +toggle_key key='incident_type' value='missed_service' label='Missed Service'
                        +toggle_key key='incident_type' value='poor_service' label='Poor Service'
                        +toggle_key key='incident_type' value='employee_issue' label='Employee Issue'
                        +toggle_key key='incident_type' value='other' label='Other'
            .four.wide.column
                +reference_office key='referenced_office_id' search_field='office_name' label='Change Office' type='office'
                if office
                    with office
                        +office_card
            

        
template(name='incident_view')
    .ui.padded.stackable.centered.grid
        .centered.row
            .three.wide.center.aligned.column
                +link_button link='/incidents' label='Incidents' icon='clipboard'
            .ten.wide.center.aligned.column
                h1.ui.header Incident #{incident_number}
            .three.wide.center.aligned.column
                +edit_button

        .row
            .four.wide.column
                .ui.segment
                    .ui.header
                        | Logged
                        +author_info
                    h2.ui.sub.header #{when}
                    .ui.large.relaxed.list
                        +list_item key='customer_id' label='Customer ID' icon='user'
                        +list_item icon='hashtag' label='Number' key='incident_number'
                        +list_item icon='calendar' label='Date' key='incident_date'
                        +list_item icon='file.image' label='Associated Documents'
                    .ui.header
                        +incident_type_label
                    .ui.header #{formal_when}
                if watson
                    +doc_sentiment
                    +doc_emotion
                    +entities
                    +concepts
                    +categories
            .eight.wide.column
                .ui.segment
                    if image_id
                        img.ui.centered.image(src="{{c.url image_id height=500 crop='fit'}}")
                    +call_visual_analysis
                    if visual
                        each visual
                            .ui.label(title=type_hierarchy)
                                | #{class} {{to_percent score }}%
                // .ui.dividing.header 
                //     i.align.left.icon
                //     |Details
                .large130 {{nl2br incident_details}}
                +semantic_roles
                +relations
                +personality
                +tone
                .ui.styled.accordion
                    .title 
                        i.code.icon
                        |full analysis data
                        i.dropdown.icon
                    .content
                        +jsonView(json=watson)
                +call_watson
                +keywords
                +comments
                .ui.header 
                    i.tasks.icon
                    |Status (current level: #{current_level})
                .ui.styled.accordion
                    .title
                        h3
                            i.edit.icon
                            | Submit
                            i.dropdown.icon
                    .content    
                        .description
                            .ui.segment
                                h4.ui.header
                                    .ui.toggle.checkbox
                                        input(type="checkbox" checked="checked")
                                        // label 2

                                    |Fields Completed
                                |Fill in required fields to submit for processing
                            .ui.segment
                                h4.ui.header
                                    .ui.toggle.checkbox
                                        input(type="checkbox" checked="checked")
                                        // label 2

                                    |Processed
                            .ui.segment
                                h4.ui.header
                                    .ui.toggle.checkbox
                                        input(type="checkbox" checked="checked")
                                        // label 2

                                    |Completed within SLA
                        +incident_level_set level=1
                    .title
                        h3
                            i.circle.outline.icon
                            | Level 2
                            i.dropdown.icon
                    .content    
                        .description
                            .ui.segment
                                h4.ui.header
                                    .ui.toggle.checkbox
                                        input(type="checkbox" checked="checked")
                                        // label 2

                                    |Processed
                            .ui.segment
                                h4.ui.header
                                    .ui.toggle.checkbox
                                        input(type="checkbox" checked="checked")
                                        // label 2

                                    |Completed within SLA
                        +incident_level_set level=2
                    .title
                        h3
                            i.dot.circle.outline.icon
                            | Level 3
                            i.dropdown.icon
                    .content
                        .description
                            .ui.segment
                                h4.ui.header
                                    .ui.toggle.checkbox
                                        input(type="checkbox" checked="checked")
                                        // label 2

                                    |Processed
                            .ui.segment
                                h4.ui.header
                                    .ui.toggle.checkbox
                                        input(type="checkbox" checked="checked")
                                        // label 2

                                    |Completed within SLA
                        +incident_level_set level=3
                    .title
                        h3
                            i.checkmark.icon
                            | Satisfaction Survey
                            i.dropdown.icon
                    .content
                        .description
                            .ui.segment
                                h4.ui.header
                                    .ui.toggle.checkbox
                                        input(type="checkbox" checked="checked")
                                        // label 2

                                    |Processed
                            .ui.segment
                                h4.ui.header
                                    .ui.toggle.checkbox
                                        input(type="checkbox" checked="checked")
                                        // label 2

                                    |SLA
                        +incident_level_set level=4
            .four.wide.column
                with office
                    +office_card
                .ui.hidden.divider
                if customer
                    with customer
                        +person_card
                            
template(name='incident_level_set')
    .set_level.ui.compact.button(title='Set Level')
        // i.checkmark.icon
        |#{level}
                        
                        
template(name='incident_type_label')                    
    .ui.label(class=type_label_class) #{incident_type_label}
