template(name='nav')
    .ui.inverted.top.attached.labeled.icon.menu
        .mobile.only.ui.dropdown.icon.link.item
            i.th.large.icon
            .ui.menu
                a.item(href='/people' class="{{isActivePath '/people'}}")
                    i.users.icon
                    | Users
                a.item(href='/incidents' class="{{isActivePath '/incidents'}}")
                    i.clipboard.icon
                    | Incidents
                a.item(href='/offices' class="{{isActivePath '/offices'}}")
                    i.building.icon
                    | Offices
                a.item(href='/services' class="{{isActivePath '/services'}}")
                    i.shipping.fast.icon
                    | Services
        a.header.item(href='/' class="{{isActivePath '/'}}") 
            i.line.chart.icon
            | Home
        a.mobile.hidden.item(href='/people' class="{{isActivePath '/people'}}")
            i.users.icon
            | Users
        a.mobile.hidden.item(href='/incidents' class="{{isActivePath '/incidents'}}")
            i.clipboard.icon
            | Incidents
        a.mobile.hidden.item(href='/offices' class="{{isActivePath '/offices'}}")
            i.building.icon
            | Offices
        a.mobile.hidden.item(href='/services' class="{{isActivePath '/services'}}")
            i.shipping.fast.icon
            | Services
        .right.menu
            a.mobile.hidden.item(href='/admin' class="{{isActivePath '/admin'}}")
                i.shield.alternate.icon
                | Admin
            // .ui.simple.dropdown.icon.item
            //     i.bell.icon
            //     .menu
            //         if notifications
            //             each notifications
            //                 .item #{text}
            //         else
            //             | No Notifications
            if currentUser
                a.ui.dropdown.item(href="/account/profile/edit/#{currentUser._id}" class="{{isActivePath '/account/profile/edit/#{currentUser._id}'}}")
                    if currentUser.profile.image_id
                        img.ui.avatar.spaced.image(src="{{c.url currentUser.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
                    else
                        i.user.icon
                    |#{currentUser.username}
                    // if currentUser.name
                    //     .mobile.hidden #{currentUser.name}
                    // else
                    //     | Profile
                    .ui.inverted.menu
                        a.item(href="/notifications")
                            i.bell.icon
                            | Notifications
                        a.item(href='/mail')
                            i.envelope.icon
                            | Mail
                        a.item(href="/account/profile/edit/#{currentUser._id}" class="{{isActivePath '/account/profile/edit/#{currentUser._id}'}}")
                            i.user.icon
                            | Profile
                        a.item(href='/account/settings' class="{{isActivePath '/account/settings'}}") 
                            i.cog.icon
                            | Settings
                        .divider
                        a#logout.ui.item(href='#') 
                            | Sign Out
                            
            else
                a.ui.item(href='/sign-in') 
                    i.right.chevron.icon
                    | Sign In
