template(name='offices')
    .ui.stackable.centered.padded.grid
        .centered.row
            .two.wide.column
                +add_button type='office' label='Office'
                // +location_facet type='office'
            .fourteen.wide.column
                .ui.centered.stackable.cards
                    each offices
                        +office_card

template(name='office_card')
    .ui.card
        // iframe(src="{{location_ob.url}}" width="290" height="250" frameborder="0" style="border:0" allowfullscreen)
        .map-card
            +googleMap(name="exampleMap" options=exampleMapOptions)

        .content
            a.header(href="/view/#{_id}")
                i.building.icon
                |#{office_name} ##{jan_office_id}
        .content
            .ui.list
                // +list_item key='jan_office_id' icon='building'
                with geocode
                    +list_item key='formatted_address' label='Office Address' icon='compass'
                +list_item key='phone_number' icon='phone'
                +list_item key='email_address' icon='envelope'
                +list_item key='level_1_user_ud' icon='user'
                +list_item key='level_2_user_ud' icon='user'
                +list_item key='level_3_user_ud' icon='user'
                // +list_item key='jan_office_id' label='Jan Pro Office ID' icon='building'
                // +list_item key='office_address' label='Office Address' icon='compass'
                // +list_item key='phone_number' label='Phone Number' icon='phone'
                // +list_item key='email_address' label='Email Address' icon='envelope'
                // +list_item key='level_1_user_ud' label='Level 1 User Id' icon='user'
                // +list_item key='level_2_user_ud' label='Level 2 User Id' icon='user'
                // +list_item key='level_3_user_ud' label='Level 3 User Id' icon='user'
        .content
            +view_button
        
        
        
template(name='office_edit')
    h1.ui.center.aligned.header Edit Office #{jan_office_id}
    .ui.padded.stackable.centered.grid
        .six.wide.column
            +office_map
        .six.wide.column
            .ui.form
                +edit_text_field key='jan_office_id' label='Jan Pro Office ID' icon='building'
                +edit_text_field key='office_name' label='Office Name' icon='code'
                +edit_text_field key='phone_number' label='Phone Number' icon='phone'
                +edit_text_field key='email_address' label='Email Address' icon='envelope'
                +edit_text_field key='level_1_user_ud' label='Level 1 User Id' icon='user' 
                +edit_text_field key='level_2_user_ud' label='Level 2 User Id' icon='user'
                +edit_text_field key='level_3_user_ud' label='Level 3 User Id' icon='user'
        .four.wide.column
            +save_button
            .ui.hidden.divider
            #delete.ui.basic.fluid.button
                i.trash.icon
                | Delete
        
        
template(name='office_view')
    .ui.padded.stackable.centered.grid
        .centered.row
            .three.wide.column
                +link_button link='/offices' icon='left chevron' label='Offices'
            .ten.wide.column
                h1.ui.center.aligned.header Office #{jan_office_id}
            .three.wide.column
                +edit_button
        .row
            .five.wide.column
                +associated_users
                +comments
                // +jsonView(json=location_ob)
            .six.wide.column
                +office_map
            .five.wide.column
                +call_phone_button
                .ui.large.relaxed.list
                    +list_item key='jan_office_id' label='Jan Pro Office ID' icon='building'
                    +list_item key='office_name' label='Office Name' icon='code'
                    with geocode
                        +list_item key='formatted_address' label='Office Address' icon='compass'
                    +list_item key='phone_number' label='Phone Number' icon='phone'
                    +list_item key='email_address' label='Email Address' icon='envelope'
                    +list_item key='level_1_user_ud' label='Level 1 User Id' icon='user'
                    +list_item key='level_2_user_ud' label='Level 2 User Id' icon='user'
                    +list_item key='level_3_user_ud' label='Level 3 User Id' icon='user'
                
                
