template(name='tasks')
    .ui.stackable.centered.padded.grid
        .centered.row
            .three.wide.column
            .ten.wide.column
                h1.ui.center.aligned.header 
                    i.tasks.icon
                    | Tasks
            .three.wide.column
        .centered.row
            .sixteen.wide.column
                #new_task.ui.icon.button
                    i.plus.icon
                // .ui.multiple.dropdown
                //     input(type='hidden', name='fields')
                //     i.filter.icon
                //     span.text Select Columns
                //     .menu
                //         .ui.icon.search.input
                //             i.search.icon
                //             input(type='text', placeholder='Search fields...')
                //         .divider
                //         .ui.header Choose Fields
                //         .scrolling.menu
                //             .item(data-value='id') id
                //             .item(data-value='number') Number
                //             .item(data-value='current_level') Level
                //             .item(data-value='date') Date

                table.ui.celled.selectable.table
                    tbody
                        each tasks
                            +task
                
                
template(name='task')                
    tr
        // td #{_id}
        td 
            a(href="/view/#{_id}") #{text}
            // if editing_this_task
            //     .ui.fluid.input
            //         input.task_text(type='text' value=text placeholder='Task Text')
            if complete
                i.large.green.checkmark.icon
        td #{when}
        // td #{due_date_when}
        td 
            if complete
                #turn_off.ui.basic.icon.button
                    i.toggle.on.large.icon
            else
                #turn_on.ui.basic.icon.button
                    i.toggle.off.large.icon
        // td
            // if editing_this_task
            //     .save_task.ui.icon.button
            //         i.checkmark.icon
            // else
            //     .edit_task.ui.icon.button
            //         i.edit.icon
        td 
            +edit_button
            +view_full_button
            
            
template(name='task_view')
    .ui.padded.stackable.centered.grid
        .centered.row
            .three.wide.column
                +link_button link='/admin/tasks' icon='tasks' label='Tasks'
            .ten.wide.column
                h1.ui.center.aligned.header 
                    i.task.icon
                    |Task
            .three.wide.column
                +edit_button
        .row
            .three.wide.column
                .ui.header tags
                each tags
                    .ui.label #{this}
            .thirteen.wide.column
                .ui.heade #{title}
                |!{html}
                +comments
            
        
template(name='task_edit')
    .ui.padded.stackable.centered.grid
        .centered.row
            .three.wide.column
                +save_button
            .ten.wide.column
                h1.ui.center.aligned.header Edit Task
            .three.wide.column
                #delete.ui.fluid.button
                    i.trash.icon
                    | Delete
        .centered.row
            .eight.wide.column
                .ui.form
                    +edit_text_field key='title' label='title' icon=''
                    +edit_html
                    +edit_array_field key='tags'
                
                    // +edit_text_field key='jan_pro_office_id' label='Jan Pro Office ID' icon='building'
                    // +edit_text_field key='customer_id' label='Customer ID' icon='user'
            .eight.wide.column
                .ui.form
                    // +edit_text_field key='service_type' label='Service Type' icon='clone'
                    // +edit_date_field key='service_date' label='Service Date' icon='calendar'
                    // +edit_text_field key='service_status' label='Service Status' icon='checkmark'
                    // +edit_number_field key='service_fee' label='Service Fee' icon='dollar'
        
            