template(name='dashboard')
    .ui.padded.three.column.stackable.grid
        .centered.row
            .three.wide.column
            .ten.wide.column
                h1.ui.center.aligned.header 
                    i.line.chart.icon
                    | Dashboard
            .three.wide.column
        .row
            .column
                .ui.styled.accordion
                    .active.title
                        h3
                            i.edit.icon
                            |Incidents
                            i.dropdown.icon
                    .active.content
                        .ui.divided.link.items    
                            each incidents
                                a.item(href="/view/#{_id}")
                                    .ui.tiny.rounded.image
                                        img(src="{{c.url image_id  height=100 width=100 crop='crop' gravity='face' }}")
                                    .content
                                        .header ##{incident_number}
                                            +incident_type_label
                                        .meta #{when}
                                        .description #{incident_details}
                                        .extra
                                            if customer
                                                .ui.label 
                                                    i.user.icon
                                                    |#{customer.first_name} #{customer.last_name}
                                            if office
                                                .ui.label 
                                                    i.building.icon
                                                    |#{office.office_name}
            .column
                .ui.styled.accordion
                    .active.title
                        h3
                            i.info.icon
                            |General Account Info
                            i.dropdown.icon
                    .active.content
                        with person
                            +person_card
            .column
                .ui.styled.accordion
                    .active.title
                        h3
                            i.building.icon
                            | Local Office Information
                            i.dropdown.icon
                    .active.content
                        with office
                            +office_card
        .row
            .column
                .ui.disabled.segment
                    .ui.header
                        i.building.icon
                        | Home Office Permissions
            .column
                .ui.disabled.segment
                    .ui.header 
                        i.dollar.icon
                        |Billing and Payment History
            .column
                .ui.disabled.segment
                    .ui.header
                        i.clock.icon
                        |Scheduled Services


    
