template(name='edit_key')
    with key
        .ui.text.container.segment
            h1.ui.center.aligned.header Edit Key
            .ui.form
                .fields
                    .field
                        label Tag Number
                        input#tag_number(type='number' min='0' value=tag_number)
                    .field
                        label Key Exists
                        #mark_true.ui.green.button(class=mark_true_class) Yes 
                        #mark_false.ui.red.button(class=mark_false_class) No 
                    .field
                        label Fowler
                        .ui.slider.checkbox
                            input#fpm(type='checkbox' checked=fpm)
                            label(for='fpm')  
                .fields
                    .field
                        label 
                            |Lock Building Code: #{building_code}
                        // select.ui.search.dropdown
                        select#select_building_code
                            option Change Building Code
                            each buildings
                                option(value=building_code) 
                                    |#{building_code}: 
                                    |#{building_street}
                    if building_code
                        .field
                            label Lock Building Number: #{building_number}
                            // input#building_number(type='text' value=building_number)
                            select#select_building_number
                                option Change Building Number
                                each building_numbers
                                    option(value=this) #{this}
                    if building_number
                        .field
                            label Lock Apartment Number: #{apartment_number}
                            input#apartment_number(type='text' value=apartment_number)

                +notes
                .ui.basic.center.aligned.segment
                    a.ui.green.big.button(href='/key/view/#{_id}') Save Key
                    #delete_key.ui.red.icon.button
                        i.trash.icon            
            
            
            
template(name='keys') 
    .ui.container
        h1.ui.center.aligned.header Gold Run Keys
            i#add_key.green.plus.link.small.icon 
        .ui.dividing.center.aligned.header Buildings
        each buildings
             .toggle_view_building.ui.button(class=selected_building_class)
                |#{building_code}
        // if selected_buildings
        table.ui.sortable.striped.unstackable.table
                thead
                    tr
                        th Tag #
                        th Status
                        th Building
                        th Apt #
                        th Notes
                        th Actions
                tbody
                    each keys
                        tr
                            td #{tag_number}
                            td 
                                if key_exists
                                    i.green.large.check.icon
                                // else
                                //     i.remove.icon
                                if checked_out
                                    .ui.blue.label Checked Out
                            td 
                                |#{building_code}: #{building_number} 
                            td 
                                ##{apartment_number}
                            td 
                                if fpm
                                    .ui.basic.black.label FPM
                                |#{notes}
                            // td #{author.username} #{when}
                            td 
                                a.ui.basic.button(href="/key/edit/#{_id}")
                                    i.pencil.icon
                                    | Edit
                                a.ui.basic.button(href="/key/view/#{_id}")
                                    i.right.arrow.icon
                                    | View
                                a.add_next_key.ui.basic.button
                                    | Add Next

