template(name='incidents')
    .ui.container
        .ui.stackable.divided.grid
            .eight.wide.column
                .ui.relaxed.divided.items
                    each incidents
                        +incident_item
            .eight.wide.column
                .ui.center.aligned.dividing.header Add Incident
                // #add_incident.ui.compact.basic.fluid.button
                //     i.large.icons
                //         i.sticky.note.outline.icon
                //         i.green.plus.corner.icon
                //     |Add Incident
                |{{> quickForm collection="Incidents" doc=incident id="updateBookForm" type="insert"}}



template(name='my_incidents')
    .ui.fluid.card
        .content
            .ui.header My Docs
            .ui.divided.list
                each my_incidents
                    .item 
                        a(href="/incident/view/#{_id}") #{title}


template(name='incident')
    .ui.fluid.card
        .ui.centered.image
            a(href="/incident/view/#{_id}")
                img(src="{{c.url image_id  height=300 crop='fill' gravity='face' }}")
        .content
            h1.ui.header
                a(href="/incident/view/#{_id}") #{title}
            if publish_date
                .meta
                    | Published #{publish_when}
            .description
                |{{nl2br body}}
        .content
            each tags
                .ui.compact.button.incident_tag(class=tag_class) #{this}
            .edit_incident.ui.primary.basic.right.floated.button
                i.pencil.icon
                |Edit Incident    
            
            
template(name='incident_item')
    .ui.item
        a.image(href="/incident/view/#{_id}")
            img.ui.rounded.image(src="{{c.url image_id  width=175 height=175 crop='fill' gravity='face' }}")
        .content
            a.header(href="/incident/view/#{_id}") #{title}
            .meta Created by #{createdBy}
            .meta Type #{type}
            .meta Number #{number}
            .description
                .ui.header Body
                |!{body}
            a.ui.button(href="/incident/view/#{_id}") 
                |View
                i.chevron.right.icon