template(name='home')
    .ui.three.column.grid.stackable.container
        .column
            .ui.segment
                h3.ui.header
                    |Pool
                h4.ui.header Status: 
                    .ui.basic.green.label Operational
                h4.ui.header Most Recent Reading: 
                with last_pool_reading
                    .ui.list
                        .item
                            | pH:
                            .ui.basic.label #{ph}
                        .item
                            | Chlorine/Br:
                            .ui.basic.label #{chlorine}
                        .item
                            | Temperature:
                            .ui.basic.label #{temperature}
                
            .ui.segment
                h3.ui.header 
                    |Outdoor Hot Tub
                h4.ui.header Status: 
                    .ui.basic.green.label Operational
                h4.ui.header Most Recent Reading: 
                with last_outdoor_hot_tub_reading
                    .ui.list
                        .item
                            | pH:
                            .ui.basic.label #{ph}
                        .item
                            | Chlorine/Br:
                            .ui.basic.label #{chlorine}
                        .item
                            | Temperature:
                            .ui.basic.label #{temperature}
                
            .ui.segment
                h3.ui.header
                    |Indoor Hot Tub
                h4.ui.header Status: 
                    .ui.basic.green.label Operational
                h4.ui.header Most Recent Reading: 
                with last_indoor_hot_tub_reading
                    .ui.list
                        .item
                            | pH:
                            .ui.basic.label #{ph}
                        .item
                            | Chlorine/Br:
                            .ui.basic.label #{chlorine}
                        .item
                            | Temperature:
                            .ui.basic.label #{temperature}
        .column
            .ui.segment
                .ui.dividing.header Notices
                .ui.divided.items
                    each featured_posts
                        .ui.item
                            .content
                                .header #{title}
                                .description !{description}
                    
        .column
            .ui.segment
                .ui.dividing.header Health Club Hours
                .ui.list
                    .item
                        .header Sunday
                        .content 8am-10pm
                    .item
                        .header Monday
                        .content 7am-10pm
                    .item
                        .header Tuesday
                        .content 7am-10pm
                    .item
                        .header Wednesday
                        .content 7am-10pm
                    .item
                        .header Thursday
                        .content 7am-10pm
                    .item
                        .header Friday
                        .content 7am-9pm
                    .item
                        .header Saturday
                        .content 8am-9pm
                        