template(name='incidents')
    .ui.stackable.padded.centered.grid
        .centered.row
            .three.wide.column
            .ten.wide.column
                h1.ui.center.aligned.header 
                    i.edit.icon
                    |Incidents
            .three.wide.column
                +toggle_view_mode_button
        .centered.row
            .three.wide.column
                +add_button type='incident' label='Incident'
                .ui.dividing.header
                    i.filter.icon
                    |Filters
                .ui.dividing.header Type
                .ui.dividing.header Status
                .ui.dividing.header Office
            .thirteen.wide.column
                if viewing_list
                    .ui.items
                        each incidents
                            +incident_item
                else
                    .ui.centered.stackable.cards
                        each incidents
                            +incident_card


template(name='my_incidents')
    .ui.fluid.card
        .content
            .ui.header My Docs
            .ui.cards
                each my_incidents
                    .item 
                        a(href="/view/#{_id}") #{title}


template(name='incident_item')
    .ui.item
        a.image(href="/view/#{_id}")
            img.ui.rounded.image(src="{{c.url image_id  width=175 height=175 crop='fill' gravity='face' }}")
        .content
            a.header(href="/view/#{_id}") 
                |##{incident_number}
                +incident_type_label
            .ui.basic.segment.description
                .large130 #{incident_details}
            | Created by #{author.username}
            .meta Logged #{when}
            .right.floated
                +view_button
                
template(name='incident_card')
    .ui.card
        a.image(href="/view/#{_id}")
            img.ui.rounded.image(src="{{c.url image_id  width=175 height=175 crop='fill' }}")
        .content
            .right.floated.meta
                .ui.circular.label(title='Incident Number') #{incident_number}
            a.header(href="/view/#{_id}") Incident #{incident_number}
        .content    
            .right.floated Logged #{when}
            | Created by #{author.username}
        .content    
            .description
                |#{incident_details}
        .content
            .right.floated
                +incident_type_label
            i.comment.icon
            | #{comment_count} Comments
                
                
template(name='incident_edit')
    .ui.padded.stackable.centered.grid
        .centered.row
            .three.wide.column
                +save_button
            .ten.wide.column
                h1.ui.center.aligned.header Edit Incident #{incident_number}
            .three.wide.column
                #delete.ui.fluid.button
                    i.trash.icon
                    | Delete
        .row
            .five.wide.column
                .ui.large.form
                    +edit_image_field
                    +edit_textarea key='incident_details' label='Details'
                    .field
                        label Type
                        +toggle_key key='incident_type' value='missed_service' label='Missed Service'
                        +toggle_key key='incident_type' value='poor_service' label='Poor Service'
                        +toggle_key key='incident_type' value='employee_issue' label='Employee Issue'
                        +toggle_key key='incident_type' value='other' label='Other'
                    
            .five.wide.column
                .ui.large.form
                    +edit_number_field key='incident_number' label='Number' icon='hashtag'
                    +edit_date_field key='incident_date' label='Date' icon='calendar'
                    +reference_customer key='referenced_customer_id' search_field='first_name' label='Change Customer' type='person'
                    if customer
                        with customer
                            +person_card
            .five.wide.column
                +reference_office key='referenced_office_id' search_field='office_name' label='Change Office' type='office'
                if office
                    with office
                        +office_card
            

        
template(name='incident_view')
    .ui.padded.stackable.centered.grid
        .centered.row
            .three.wide.column
                a.ui.button(href="/incidents")
                    i.chevron.left.icon
                    |Incidents
            .ten.wide.column
                h1.ui.center.aligned.header Incident #{incident_number}
            .three.wide.column
                +edit_button

        .row
            .ten.wide.column
                if image_id
                    img.ui.centered.image(src="{{c.url image_id height=500 crop='fit'}}")
                .ui.dividing.header 
                    i.align.left.icon
                    |Details
                .ui.basic.segment
                    strong #{incident_details}
                +comments
            .six.wide.column
                .ui.large.relaxed.list
                    +list_item key='customer_id' label='Customer ID' icon='user'
                    +list_item icon='hashtag' label='Number' key='incident_number'
                    +list_item icon='calendar' label='Date' key='incident_date'
                    +list_item icon='file.image' label='Associated Documents'
                .ui.header
                    +incident_type_label
                .ui.header
                    | Logged
                    +author_info
                .ui.header #{formal_when}
                with office
                    +office_card
                .ui.hidden.divider
                if customer
                    with customer
                        +person_card
        .row
            .sixteen.wide.column
                .ui.header 
                    i.tasks.icon
                    |Status: #{current_level}
                .ui.segments
                    .ui.segment
                        .ui.header
                            i.edit.icon
                            | Submit
                        .description
                            .ui.segment
                                h4.ui.header
                                    .ui.toggle.checkbox
                                        input(type="checkbox" checked="checked")
                                        label 2

                                    |Fields Completed
                                |Fill in required fields to submit for processing
                            .ui.segment
                                h4.ui.header
                                    .ui.toggle.checkbox
                                        input(type="checkbox" checked="checked")
                                        label 2

                                    |Processed
                            .ui.segment
                                h4.ui.header
                                    .ui.toggle.checkbox
                                        input(type="checkbox" checked="checked")
                                        label 2

                                    |Completed within SLA
                    // +incident_level_set level=1
                    .ui.segment
                        .ui.header
                            i.circle.outline.icon
                            | Level 2
                        .description
                            .ui.segment
                                h4.ui.header
                                    .ui.toggle.checkbox
                                        input(type="checkbox" checked="checked")
                                        label 2

                                    |Processed
                            .ui.segment
                                h4.ui.header
                                    .ui.toggle.checkbox
                                        input(type="checkbox" checked="checked")
                                        label 2

                                    |Completed within SLA
                    // +incident_level_set level=2
                    .ui.segment
                        .ui.header
                            i.dot.circle.outline.icon
                            | Level 3
                        .description
                            .ui.segment
                                h4.ui.header
                                    .ui.toggle.checkbox
                                        input(type="checkbox" checked="checked")
                                        label 2

                                    |Processed
                            .ui.segment
                                h4.ui.header
                                    .ui.toggle.checkbox
                                        input(type="checkbox" checked="checked")
                                        label 2

                                    |Completed within SLA
                    // +incident_level_set level=3
                    .ui.segment
                        .ui.header
                            i.checkmark.icon
                            | Satisfaction Survey
                        .description
                            .ui.segment
                                h4.ui.header
                                    .ui.toggle.checkbox
                                        input(type="checkbox" checked="checked")
                                        label 2

                                    |Processed
                            .ui.segment
                                h4.ui.header
                                    .ui.toggle.checkbox
                                        input(type="checkbox" checked="checked")
                                        label 2

                                    |SLA
                    // +incident_level_set level=4
                            
template(name='incident_level_set')
    .set_level.ui.bottom.attached.button 
        |Set to #{level}
                        
                        
template(name='incident_type_label')                    
    .ui.label(class=type_label_class) #{incident_type_label}
