template(name='alerts')
    .ui.stackable.centered.padded.grid
        .centered.row
            .four.wide.column
                h1.ui.center.aligned.grey.header 
                    i.bell.icon
                    | Alerts
                +tag_facet
                +timestamp_facet
                .ui.hidden.divider
                // .ui.header People
                // .ui.header Type
                // .ui.dividing.header Actions
                //     #mark_all_read.ui.basic.button 
                //         i.visible.icon
                //         |Mark All Read
                // if isInRole 'admin'
                //     .ui.header Options
                //     if alerts_allowed
                //         .ui.basic.disabled.button Desktop alerts Allowed
                //         #disallow_alerts.ui.basic.red.button
                //             i.remove.icon
                //             |Remove Permissions
                // else
                //     #allow_alerts.ui.basic.button Allow Desktop alerts
            .twelve.wide.column
                .ui.segments
                    each alerts
                        +alert

            
template(name='alert')
    .ui.segment.alert_segment(class=alert_segment_class)
        .ui.feed
            .event
                .label
                    img.ui.avatar.image(src="{{c.url author.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
                .content
                    .summary
                        div type: #{type}
                        div alert type: #{alert_type}
                        // a.user(href="/profile/#{subject.username}")
                        //     | #{subject_name}
                        // | #{predicate}
                        a.user(href="/profile/#{author.username}")
                            | #{author.username}.
                        .date
                            | #{when}
                    .extra.text
                        p !{content}
                    .meta
                        // +mark_read_button
                        // +session_delete_button                
