template(name='customers')
    .ui.stackable.centered.padded.grid
        .centered.row
            .four.wide.column
                h2.ui.header 
                    i.building.icon
                    | Customers
                +add_button type='customer' label='customer'
                // +set_view_mode view='cards' icon='clone' label='Cards'
                // +set_view_mode view='list' icon='list' label='List'
                // +set_view_mode view='table' icon='table' label='Table'

                +location_facet type='customer'
            .twelve.wide.column
                .ui.centered.stackable.cards
                    each customers
                        +customer_card

template(name='customer_card')
    .ui.card
        // iframe(src="{{location_ob.url}}" width="290" height="250" frameborder="0" style="border:0" allowfullscreen)
        // .map-card
        //     +googleMap(name="exampleMap" options=exampleMapOptions)

        .content
            a.grey.header(href="/view/#{_id}")
                // +mini_sprite name='organization'
                // |##{jan_customer_id}
                |#{ev.CUSTOMER}
        .content
            .ui.list
                .item #{ev.TELEPHONE}
                .item #{ev.ADDR_STREET}
                .item #{ev.CUSTOMER}
                .item #{ev.TELEPHONE}
                .item #{ev.ADDR_STREET}
                .item #{ev.ADDR_CITY}
                .item #{ev.ADDR_STATE}
                .item #{ev.ADDR_POSTAL_CODE}
                .item #{ev.MASTER_LICENSEE}
                .item #{ev.CUST_REG_SERVICE_AMT}
        .content
            +jsonView json=ev    
        .content
            +view_button
        
        
        
template(name='customer_edit')
    .ui.padded.stackable.centered.grid
        .centered.row
            .three.wide.column
                #delete.ui.basic.button
                    i.trash.icon
                    | Delete
            .ten.wide.column
                h1.ui.center.aligned.grey.header Edit customer ##{jan_customer_id}
            .three.wide.column
                +save_button
        .five.wide.column
            +customer_map
        .five.wide.column
            .ui.form
                +edit_text_field key='jan_customer_id' label='Jan Pro customer ID' icon='building'
                +edit_text_field key='customer_name' label='customer Name' icon='code'
                +edit_text_field key='phone_number' label='Phone Number' icon='phone'
                +edit_text_field key='email_address' label='Email Address' icon='envelope'
        .five.wide.column
            .ui.form
                +edit_text_field key='level_1_user_ud' label='Level 1 User Id' icon='user' 
                +edit_text_field key='level_2_user_ud' label='Level 2 User Id' icon='user'
                +edit_text_field key='level_3_user_ud' label='Level 3 User Id' icon='user'
        
        
template(name='customer_view')
    .ui.padded.stackable.centered.grid
        .centered.row
            .three.wide.column
                +link_button link='/customers' icon='left chevron' label='customers'
            .ten.wide.column
                h1.ui.center.aligned.grey.header customer ##{jan_customer_id}
            .three.wide.column
                +edit_button
        .row
            .five.wide.column
                +associated_users
                +associated_incidents
                +comments
                // +jsonView(json=location_ob)
            .six.wide.column
                +customer_map
            .five.wide.column
                +call_phone_button
                .ui.large.relaxed.list
                    +list_item key='jan_customer_id' label='Jan Pro customer ID' icon='building'
                    +list_item key='customer_name' label='customer Name' icon='code'
                    with geocode
                        +list_item key='formatted_address' label='customer Address' icon='compass'
                    +list_item key='phone_number' label='Phone Number' icon='phone'
                    +list_item key='email_address' label='Email Address' icon='envelope'
                    +list_item key='level_1_user_ud' label='Level 1 User Id' icon='user'
                    +list_item key='level_2_user_ud' label='Level 2 User Id' icon='user'
                    +list_item key='level_3_user_ud' label='Level 3 User Id' icon='user'
                
                
