template(name='ev')
    .ui.padded.stackable.grid
        .row
            .sixteen.wide.column
                h1.ui.center.aligned.header
                    i.compass.icon
                    | EV Reports
                // .call_ev.ui.fluid.button Call EV API
        .row
            .four.wide.column
                +tag_facet
            .twelve.wide.column
                .ui.four.stackable.cards
                    each reports
                        +report_card
                    
template(name='report_card')                    
    .card
        .content
            a.header(href="/view/#{_id}") #{report_title}
            .meta #{report_subtitle}
        .content
            .ui.list
                .item id: #{report_id}
                .item type: #{report_type}
                .item #{children.count} Results
        .content
            +view_button
            +edit_button
                
                                
template(name='report_edit')
    .ui.padded.stackable.centered.grid
        .centered.row
            .four.wide.column
                h1.ui.center.aligned.grey.header Edit ##{report_id} #{report_title} Report
                +save_button
                #delete.ui.icon.button
                    i.trash.icon
            .twelve.wide.column
                .ui.form
                    // +edit_text_field key='text' label='Title'
                    // +edit_text_field key='image_url' label='Image URL'
                    // +edit_text_field key='icon' label='Icon'
                    +edit_array_field key='tags' label='Relationship to parent'
                    +edit_html
        
        
template(name='report_view')
    .ui.padded.stackable.centered.grid
        .centered.row
            .three.wide.column
                +link_button link='/ev' icon='left chevron' label='Reports'
            .ten.wide.column
                h1.ui.center.aligned.grey.header ##{report_id} #{report_title} Report
            .three.wide.column
                +edit_button
                .run_report.ui.button
                    i.refresh.icon
                    |Run Report
        .centered.row
            .sixteen.wide.column
                .ui.segment
                    each tags
                        .ui.basic.label #{this}
                    .ui.basic.segment
                        // |#{current_doc}
                        .ui.list
                            .item report id: #{report_id}
                            .item report_type: #{report_type}
                            .item report_subtitle: #{report_subtitle}
                .ui.centered.cards
                    each children    
                        .card
                            .content
                                +jsonView json=ev