template(name='flow')
    .ui.stackable.padded.container.grid
        .row 
            .three.wide.column
                h1.ui.center.aligned.header 
                    i.sitemap.icon
                    | flow
                +add_button type='flow'
            .thirteen.wide.column
                .ui.centered.stackable.cards
                    each flow
                        +flow_card

template(name='flow_card')
    .ui.card
        .content
            a.header(href="/view/#{_id}")
                i.icon(class=icon)
                |#{text} 
        .content
            each tags
                .ui.small.basic.label #{this}
        //     |!{html}
        .content
            +edit_button
            +view_button
            +vote_button
                
        
        
        
template(name='flow_edit')
    .ui.padded.stackable.centered.grid
        .centered.row
            .four.wide.column
                h1.ui.center.aligned.grey.header Edit #{text}
                +save_button
                #delete.ui.icon.button
                    i.trash.icon
                if parent_id
                    +parent_segment
            .twelve.wide.column
                .ui.form
                    +edit_text_field key='text' label='Title'
                    +edit_text_field key='image_url' label='Image URL'
                    +edit_text_field key='icon' label='Icon'
                    +edit_array_field key='tags' label='Relationship to parent'
                    +edit_html
        
        
template(name='flow_view')
    .ui.padded.stackable.centered.grid
        .centered.row
            .four.wide.column
                // +parent_segment
                if parent_id
                    +parent_link
        .centered.row
            .three.wide.center.aligned.column
                unless parent_id
                    +link_button link='/flow' icon='sitemap'
            .ten.wide.center.aligned.column
                .ui.center.aligned.segment
                    if image_url
                        img.ui.medium.centered.image(src=image_url)
                    h1.ui.center.aligned.grey.header 
                        if icon
                            i.icon(class=icon)
                        |#{text}
                    each tags
                        .ui.basic.label #{this}
                    .ui.center.aligned.basic.segment
                        | !{html}
            .three.wide.center.aligned.column
                +edit_button
        .row
            .sixteen.wide.column
                .row
                    .ui.basic.center.aligned.segment
                        +tag_facet
                .ui.centered.cards
                    each children    
                        +flow_child
                +create_child



template(name='flow_child')
    .ui.card
        .content
            a.header(href="/view/#{_id}")
                if image_url
                    img.ui.tiny.image(src=image_url)
                if icon
                    i.icon(class=icon)
                |#{text} 
        if html
            .content
                |!{html}
        if tags
            .content
                each tags
                    .ui.small.basic.label #{this}
        .content
            if children.count
                h5 Children
                .ui.bulleted.list
                    each children
                        a.item(href="/view/#{_id}")
                            if image_url
                                img.ui.mini.image(src=image_url)
                            if icon
                                i.icon(class=icon)
                            |#{text}
        .content
            unless is_moving
                .start_move.ui.icon.button(title='Move')
                    i.arrows.alternate.icon
                +edit_button
                +view_button
            else
                .end_move.ui.icon.blue.button(title='Place')
                    i.arrow.down.icon
            // +vote_button
                


template(name='create_child')
    .create_child.ui.icon.button
        i.caret.down.icon
