template(name='flow')
    .ui.stackable.padded.container.grid
        .row 
            .three.wide.column
                h1.ui.center.aligned.header 
                    i.sitemap.icon
                    | flow
                +add_button type='flow'
            .thirteen.wide.column
                .ui.centered.stackable.cards
                    each flow
                        +flow_card

template(name='flow_card')
    .ui.card
        .content
            a.grey.header(href="/view/#{_id}")
                |#{text} 
        // .content
        //     |!{html}
        .content
            +edit_button
            +view_button
            +vote_button
                
        
        
        
template(name='flow_edit')
    .ui.padded.stackable.centered.grid
        .centered.row
            if parent_id
                +parent_link
        .centered.row
            .four.wide.column
                +save_button
                h1.ui.center.aligned.grey.header Edit flow #{name}
                #delete.ui.icon.button
                    i.trash.icon
            .twelve.wide.column
                .ui.form
                    +edit_text_field key='text' label='text'
                    +edit_array_field key='tags' label='relationship to parent'
                    +edit_html
        
        
template(name='flow_view')
    .ui.padded.stackable.centered.grid
        .centered.row
            .four.wide.column
                // +parent_segment
                if parent_id
                    +parent_link
        .centered.row
            .three.wide.column
                +link_button link='/flow' icon='sitemap'
            .ten.wide.column
                h1.ui.center.aligned.grey.header #{text}
            .three.wide.column
                +edit_button
        .row
            .eight.wide.column
                +view_array_field key='tags'
                | !{html}
                // +associated_incidents
                // +comments
        .row
            .twelve.wide.column
                +create_child
                .ui.centered.cards
                    each children    
                        .ui.card
                            .content
                                a.header(href="/view/#{_id}") #{text}
                                each tags
                                    .ui.basic.label #{this}
                            .content
                                |!{html}
                            +view_button

template(name='create_child')
    .create_child.ui.icon.button
        i.caret.down.icon
