template(name='front')
    #home.ui.vertical.masthead.center.aligned.padded.segment
        .ui.hidden.divider
        .ui.container
            img.ui.medium.centered.image(src='https://jan-pro.com/wp-content/themes/underboot/img/jan-pro-white.svg')
            h2.ui.inverted.header
                | Customer Portal
            // h2 Do whatever you want when you want to.
            a.ui.huge.primary.button(href='/sign-up')
                | Get Started 
                i.right.arrow.icon
    .ui.vertical.padded.segment
        .ui.middle.aligned.stackable.padded.relaxed.grid
            .row
                .fifteen.wide.column
                    h2.ui.center.aligned.header Features
                    +tag_facet
            .row
                each features
                    .five.wide.column
                        a.ui.basic.padded.segment(href=link)
                            h2.ui.header
                                i.icon(class=icon)
                                .content
                                    | #{title}
                                    .sub.header #{text}
                            if is_admin
                                +edit_button
            .row
                if is_admin
                    +add_button type='feature'    
                // .row
            //     .center.aligned.column
            //         a.ui.huge.button Check Them Out
    // .ui.vertical.stripe.quote.segment
    //     .ui.equal.width.stackable.internally.celled.grid
    //         .center.aligned.row
    //             .column
    //                 h3 "what an app"
    //                 p - guy
    //             .column
    //                 h3 "I shouldn't have gone with their competitor"
    //                 p
    //                     // img.ui.avatar.image(src='assets/images/avatar/nan.jpg')
    //                     | -  other guy
    // .ui.vertical.stripe.segment
    //     .ui.text.container
    //         h3.ui.header Attract Customers
    //         p
    //             | Instead of focusing on content creation and hard work, we have learned how to master the art of doing nothing by providing massive amounts of whitespace and generic content that can seem massive, monolithic and worth your attention.
    //         a.ui.large.button Read More
    //         h4.ui.horizontal.header.divider
    //             a(href='#') Case Studies
    //         h3.ui.header Emotional Analysis
    //         p
    //             | Yes I know you probably disregarded the earlier boasts as non-sequitur filler content, but its really true. It took years of gene splicing and combinatory DNA research, but our bananas can really dance.
    //         a.ui.large.button I'm Still Quite Interested




                        
template(name='feature_view')
    .ui.padded.stackable.centered.grid
        .centered.row
            .three.wide.column
                +link_button link='/front' icon='globe' label='features'
            .ten.wide.column
                h1.ui.center.aligned.grey.header view #{title}
            .three.wide.column
                +edit_button
        .row
            .three.wide.column
                .ui.header tags
                each tags
                    .ui.label #{this}
            .thirteen.wide.column
                .ui.header title: #{title}
                .ui.header text: #{text}
                .ui.header icon: #{icon}
                .ui.header link: #{link}
                +comments
            
        
template(name='feature_edit')
    .ui.padded.stackable.centered.grid
        .centered.row
            .three.wide.column
                +save_button
            .ten.wide.column
                h1.ui.center.aligned.grey.header edit #{title} feature
            .three.wide.column
                #delete.ui.icon.button
                    i.trash.icon
        .centered.row
            .twelve.wide.column
                +edit_text_field key='title' label='title'
                +edit_text_field key='icon' label='icon'
                +edit_text_field key='text' label='text'
                +edit_text_field key='link' label='link'
            .four.wide.column
                +edit_array_field key='tags'
        
            