template(name='nav')
    #nav.ui.inverted.borderless.top.attached.large.icon.menu
        a.toggle_left_sidebar.icon.item 
            i.large.bars.icon
        a.header.item(href='/front' class="{{isActivePath '/front'}}" data-position="bottom center" data-content='Sales Page')
            i.large.globe.icon
            // | Home
        a.header.item(href='/' class="{{isActivePath '/'}}" data-position="bottom center" data-content='Dashboard')
            // i.home.icon
            img.ui.tiny.image(src='https://jan-pro.com/wp-content/themes/underboot/img/jan-pro-white.svg')
            // | Home
        a.mobile.hidden.icon.item(href='/users' class="{{isActivePath '/users'}}" data-position="bottom center" data-content='Users')
            i.large.users.icon
            // | &nbsp; Users
        a.mobile.hidden.item(href='/incidents' class="{{isActivePath '/incidents'}}" data-position="bottom center" data-content='Incidents')
            i.large.clipboard.icon
            // | &nbsp; Incidents
        a.mobile.hidden.item(href='/offices' class="{{isActivePath '/offices'}}" data-position="bottom center" data-content='Offices')
            i.large.building.icon
            // | &nbsp; Offices
        a.mobile.hidden.icon.item(href='/services' class="{{isActivePath '/services'}}" data-position="bottom center" data-content='Services/Ecommerce')
            i.large.shipping.fast.icon
            // | &nbsp; Services
        a.mobile.hidden.icon.item(href='/schedule' class="{{isActivePath '/schedule'}}" data-position="bottom center" data-content='Schedule')
            i.large.calendar.icon
            // | &nbsp; Schedule
        // .mobile.hidden.item
        //     .ui.icon.transparent.inverted.disabled.input
        //         input(type='text' placeholder='Search...')
        //         i.search.icon
        .right.menu
            a.mobile.hidden.item(href='/admin' class="{{isActivePath '/admin'}}" data-position="bottom center" data-content='Admin')
                i.large.shield.alternate.icon
                // | Admin
            a.icon.mobile.hidden.item(href='/chat' class="{{isActivePath '/chat'}}" data-position="bottom center" data-content='Chat')
                i.large.comments.icon
            // .icon.mobile.hidden.disabled.item(data-position="bottom center" data-content='Cart')
            //     i.large.shopping.cart.icon
            a.icon.mobile.hidden.item(href='/mail' class="{{isActivePath '/mail'}}" data-position="bottom center" data-content='Mail')
                i.large.envelope.icon
            a.ui.simple.dropdown.icon.mobile.hidden.item(href='/alerts')
                i.large.bell.icon
                .menu
                    .item No alerts
            if currentUser
                a.toggle_right_sidebar.item
                    if currentUser.profile.image_id
                        img.ui.avatar.spaced.image(src="{{c.url currentUser.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
                    else
                        i.user.icon
                    // if currentUser.name
                    //      #{currentUser.name}
                    // else
                    //      #{currentUser.username}
                    //     | Profile
                    // (href="/profile/edit/#{currentUser._id}" class="{{isActivePath '/profile/edit/#{currentUser._id}'}}")
                            
            else
                a.ui.item(href='/sign-in') 
                    | Sign In
                    i.right.chevron.icon



template(name='left_sidebar')
    #nav.ui.left.vertical.sidebar.inverted.large.menu
        // a.header.toggle_left_sidebar.item(href='/' class="{{isActivePath '/'}}") 
        //     i.home.icon
        //     |Jan-Pro
        a.toggle_left_sidebar.item(href='/users' class="{{isActivePath '/users'}}" data-position="right center" data-content='Users')
            i.large.users.icon
            | Users
        a.toggle_left_sidebar.item(href='/incidents' class="{{isActivePath '/incidents'}}" data-position="right center" data-content='Incidents')
            i.large.clipboard.icon
            | Incidents
        a.toggle_left_sidebar.item(href='/offices' class="{{isActivePath '/offices'}}" data-position="right center" data-content='Offices')
            i.large.building.icon
            | Offices
        a.toggle_left_sidebar.item(href='/schedule' class="{{isActivePath '/schedule'}}" data-position="right center" data-content='Schedule')
            i.large.calendar.icon
            | Schedule
        a.toggle_left_sidebar.item(href='/services' class="{{isActivePath '/services'}}" data-position="right center" data-content='Services')
            i.large.clock.icon
            // +tiny_sprite name='duster'
            | Services
            // a.icon.item(href='/dashboard' class="{{isActivePath '/dashboard'}}" data-position="right center" data-content='Charts')
            //     i.line.chart.icon
        a.toggle_left_sidebar.item(href='/store' data-position="bottom center" data-content='Store')
            i.large.shopping.cart.icon
            | Store
            
        a.icon.toggle_left_sidebar.item(href='/admin' class="{{isActivePath '/admin'}}" data-position="right center" data-content='Admin')
            i.large.shield.icon
            | Admin
            // a.toggle_sidebar.item(href="/profile/edit/#{currentUser._id}" class="{{isActivePath '/profile/edit/#{currentUser._id}'}}" data-position="right center" data-content='Charts')
            //     if currentUser.profile.first_name
            //         | #{currentUser.profile.first_name}
            //     else
            //         | #{currentUser.username}
            //     if currentUser.profile.image_id
            //         img.ui.avatar.image(src="{{c.url currentUser.profile.image_id width=50 height=50 gravity='face' crop='fill'}}" data-position="right center" data-content='Charts')
            //     else
            //         i.user.large.icon
            // a#logout.ui.toggle_sidebar.item(href='#') 
            //     i.large.icon
            //         +mini_sprite name='edit'
            //     | Sign Out
        unless currentUser
            a.ui.toggle_sidebar.item(href='/sign-in') 
                // i.large.icon
                //     +mini_sprite name='enter'
                | Sign In


template(name='right_sidebar')
    #nav.ui.right.inline.vertical.sidebar.inverted.large.menu
        a.toggle_right_sidebar.header.item(href="/profile/edit/#{currentUser._id}" class="{{isActivePath '/profile/edit/#{currentUser._id}'}}")
            img.ui.avatar.spaced.image(src="{{c.url currentUser.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
            |#{currentUser.username}
        a.icon.toggle_right_sidebar.item(href='/ideas' class="{{isActivePath '/ideas'}}")
            i.lightbulb.large.icon
            | Ideas
        a.icon.toggle_right_sidebar.item(href='/questions' class="{{isActivePath '/questions'}}")
            i.question.large.icon
            | Q&A
        a.icon.toggle_right_sidebar.item(href='/rankings' class="{{isActivePath '/rankings'}}")
            i.trophy.large.icon
            | Leaderboard
        a.toggle_right_sidebar.item(href='/alerts')
            i.bell.large.icon
            | Alerts
        a.toggle_right_sidebar.item(href='/charts')
            i.large.line.chart.icon
            | Chart Demo
        a.toggle_right_sidebar.item(href='/mail')
            i.envelope.large.icon
            | Mail
        a.toggle_right_sidebar.item(href='/feed')
            i.rss.large.icon
            | Feed
        a.toggle_right_sidebar.item(href='/chat')
            i.chat.large.icon
            | Chat
        a.toggle_right_sidebar.item(href='/bookmarks')
            i.bookmark.large.icon
            | Bookmarks
        a.toggle_right_sidebar.item(href='/account/settings' class="{{isActivePath '/account/settings'}}") 
            i.cog.large.icon
            | Settings
        .divider
        a.toggle_right_sidebar.item(href='/admin' class="{{isActivePath '/admin'}}")
            i.shield.large.icon
            | Admin
        a#logout.ui.item(href='#') 
            i.right.chevron.icon
            | Sign Out