template(name='nav')
    .ui.inverted.fixed.borderless.large.menu
        // .mobile.only.ui.dropdown.icon.link.item
        //     i.th.large.icon
        //     .ui.menu
        //         a.icon.item(href='/users' class="{{isActivePath '/users'}}")
        //             i.large.users.icon
        //             // | Users
        //         a.icon.item(href='/incidents' class="{{isActivePath '/incidents'}}")
        //             i.large.clipboard.icon
        //             // | Incidents
        //         a.icon.item(href='/offices' class="{{isActivePath '/offices'}}")
        //             i.large.building.icon
        //             // | Offices
        //         a.icon.item(href='/services' class="{{isActivePath '/services'}}")
        //             i.large.shipping.fast.icon
        //             // | Services
        a.toggle_left_sidebar.icon.item 
            i.bars.large.icon
        a.header.item(href='/' class="{{isActivePath '/'}}" )
            // i.large.home.icon
            img.ui.tiny.image(src='https://jan-pro.com/wp-content/themes/underboot/img/jan-pro-white.svg')
            // | Home
        a.desktop.only.icon.item(href='/users' class="{{isActivePath '/users'}}")
            i.large.users.icon
            // +avatar_sprite name='user-group-man-woman'
            // | &nbsp; Users
        a.desktop.only.item(href='/charts' class="{{isActivePath '/charts'}}")
            i.large.line.chart.icon
            // +avatar_sprite name='combo-chart'
            // | &nbsp; Users
        a.mobile.hidden.item(href='/incidents' class="{{isActivePath '/incidents'}}")
            // +avatar_sprite name='urgent-property'
            i.large.clipboard.icon
            // | &nbsp; Incidents
        a.desktop.only.item(href='/offices' class="{{isActivePath '/offices'}}")
            // +avatar_sprite name='organization'
            i.large.building.icon
            // | &nbsp; Offices
        a.desktop.only.icon.item(href='/services' class="{{isActivePath '/services'}}")
            i.large.shipping.fast.icon
            // +avatar_sprite name='duster'
        // a.mobile.hidden.disabled.icon.item(href='/schedule' class="{{isActivePath '/schedule'}}")
        a.desktop.only.icon.item(href='/schedule' class="{{isActivePath '/schedule'}}")
            i.large.calendar.icon
        // .mobile.hidden.item(href='/consumerables' class="{{isActivePath '/consumerables'}}" data-position="top center" data-content='Consumerables')
        // .mobile.hidden.item(data-position="top center" data-content='Consumerables')
        //     +dots name='toilet-paper'
            // | &nbsp; Services
        .mobile.hidden.item
            .ui.icon.transparent.inverted.disabled.input
                input(type='text' placeholder='Search...')
                i.search.icon
        .right.menu
            a.mobile.hidden.item(href='/admin' class="{{isActivePath '/admin'}}" data-position="top center" data-content='Admin')
                i.shield.alternate.large.icon
                // | Admin
            a.icon.mobile.hidden.item(href='/chat' class="{{isActivePath '/chat'}}")
                i.comments.large.icon
            // a.icon.mobile.hidden.item(href='/cart')
            //     +mini_sprite name='shopping-cart'
            // a.icon.desktop.only.item(href='/mail' class="{{isActivePath '/mail'}}")
            //     i.envelope.large.icon
            a.icon.desktop.only.item(href='/feed' class="{{isActivePath '/feed'}}")
                i.rss.large.icon
            // a.ui.simple.dropdown.icon.desktop.only.item(href='/alerts' class="{{isActivePath '/alerts'}}")
            //     i.bell.large.icon
            //     .menu
            //         .item No alerts
            if currentUser
                a.toggle_right_sidebar.item
                    if currentUser.profile.image_id
                        img.ui.avatar.spaced.image(src="{{c.url currentUser.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
                    else
                        i.user.icon
                    if currentUser.name
                        .desktop.only #{currentUser.name}
                    else
                        .desktop.only #{currentUser.username}
                    //     | Profile
                    // (href="/profile/edit/#{currentUser._id}" class="{{isActivePath '/profile/edit/#{currentUser._id}'}}")
                            
            else
                a.ui.item(href='/sign-in') 
                    i.right.chevron.icon
                    | Sign In



template(name='left_sidebar')
    .ui.left.vertical.thin.sidebar.inverted.menu
        // a.header.toggle_left_sidebar.item(href='/' class="{{isActivePath '/'}}") 
        //     i.home.large.icon
        //     |Jan-Pro
        a.toggle_left_sidebar.item(href='/users' class="{{isActivePath '/users'}}" data-position="right center" data-content='Users')
            i.large.users.icon
            // | Users
        a.toggle_left_sidebar.item(href='/incidents' class="{{isActivePath '/incidents'}}" data-position="right center" data-content='Incidents')
            i.large.clipboard.icon
            // | Incidents
        a.toggle_left_sidebar.item(href='/offices' class="{{isActivePath '/offices'}}" data-position="right center" data-content='Offices')
            i.large.building.icon
            // | Offices
        a.toggle_left_sidebar.item(href='/schedule' class="{{isActivePath '/schedule'}}" data-position="right center" data-content='Schedule')
            i.large.calendar.icon
            // | Schedule
        a.toggle_left_sidebar.item(href='/services' class="{{isActivePath '/services'}}" data-position="right center" data-content='Services')
            i.clock.icon
            // +tiny_sprite name='duster'
            // | Services
        .ui.divider
        if currentUser
            // a.icon.item(href='/dashboard' class="{{isActivePath '/dashboard'}}" data-position="right center" data-content='Charts')
            //     i.line.chart.icon
            // .ui.simple.dropdown.icon.item
            //     i.alarm.icon
            //     .menu
            //         each alerts
            //             .item #{text}
            // a.icon.item(href='/messages' class="{{isActivePath '/messages'}}" data-position="right center" data-content='Charts')
            //     i.mail.icon
            // if isInRole 'admin'
            a.icon.toggle_left_sidebar.item(href='/tasks' class="{{isActivePath '/tasks'}}" data-position="right center" data-content='Admin')
                i.large.shield.icon
                // +mini_sprite name='user-shield'
                // |Admin
            // a.toggle_sidebar.item(href="/profile/edit/#{currentUser._id}" class="{{isActivePath '/profile/edit/#{currentUser._id}'}}" data-position="right center" data-content='Charts')
            //     if currentUser.profile.first_name
            //         | #{currentUser.profile.first_name}
            //     else
            //         | #{currentUser.username}
            //     if currentUser.profile.image_id
            //         img.ui.avatar.image(src="{{c.url currentUser.profile.image_id width=50 height=50 gravity='face' crop='fill'}}" data-position="right center" data-content='Charts')
            //     else
            //         i.user.large.icon
            // a#logout.ui.toggle_sidebar.item(href='#') 
            //     i.large.icon
            //         +mini_sprite name='edit'
            //     | Sign Out
        else
            a.ui.toggle_sidebar.item(href='/sign-in') 
                // i.large.icon
                //     +mini_sprite name='enter'
                | Sign In


template(name='right_sidebar')
    .ui.right.inline.vertical.thin.sidebar.inverted.menu
        a.toggle_right_sidebar.header.item(href="/profile/edit/#{currentUser._id}" class="{{isActivePath '/profile/edit/#{currentUser._id}'}}")
            img.ui.avatar.spaced.image(src="{{c.url currentUser.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
            // | Profile
        a.toggle_right_sidebar.item(href='/alerts')
            i.bell.icon
            // | Alerts
        a.toggle_right_sidebar.item(href='/mail')
            i.envelope.icon
            // | Mail
        a.toggle_right_sidebar.item(href='/feed')
            i.rss.icon
            // | Mail
        a.toggle_right_sidebar.item(href='/chat')
            i.chat.icon
            // | Chat
        a.toggle_right_sidebar.item(href='/bookmarks')
            i.bookmark.icon
            // | Bookmarks
        a.toggle_right_sidebar.item(href='/account/settings' class="{{isActivePath '/account/settings'}}") 
            i.cog.icon
            // | Settings
        .divider
        a.toggle_right_sidebar.item(href='/admin' class="{{isActivePath '/admin'}}")
            i.shield.icon
            // | Admin
        a#logout.ui.item(href='#') 
            | Sign Out