template(name='user_nav')
    // with person
    //     .ui.menu
    //         .item
    //             i.info.icon
    //             | About
    //         .item
    //             | Docs
    //         .item
    //             | Social


template(name='view_profile')
    with person
        .ui.padded.stackable.grid
            .row
                .six.wide.column
                .ten.wide.column
                    h1.header.item #{profile.first_name} #{profile.last_name}
            .row
                .four.wide.column
                    img.ui.medium.image.item(src="{{c.url profile.image_id width=500 height=500 gravity='face' crop='fill'}}")
        
                    if tags
                        each tags
                            .ui.basic.label #{this}
                    .ui.list
                        .item
                            if profile.position
                                strong Position 
                                | #{profile.position}
                        .item
                            if profile.phone
                                strong Phone
                                | #{profile.phone}
                        .item    
                            if profile.company
                                strong Company
                                | #{profile.company}
                        .item    
                            if profile.website
                                strong Website 
                                a(href=profile.website target='_blank') #{profile.website}
                    if can_edit_profile
                        .ui.hidden.divider
                            a.ui.large.button(href="/account/profile/edit/#{_id}")
                                i.edit.icon
                                | Edit Profile
                .ten.wide.column
                    .ui.segment
                        .ui.header Following
                    .ui.segment
                        .ui.header Followed By
                    .ui.button Send Message
                    .ui.button Tag User
                    .ui.segment
                        .ui.header Incidents
                    .ui.segment
                        .ui.header Affiliated Office
                    .ui.segment 
                        .ui.header Authored Comments
                    .ui.segment 
                        .ui.header Activity
                    
                    