template(name='ev')
    .ui.padded.stackable.grid
        .row
            .four.wide.column
                .ui.center.aligned.header
                    i.compass.icon
                    | EV API
                // +tag_facet
            .twelve.wide.column
                .ui.four.stackable.cards
                    +children_widget type='report' label='Reports' icon='newspaper' link='/reports'
                    +children_widget type='fields' label='Fields' icon='cubes' link='/evfields'

template(name='ev_reports')
    .ui.padded.stackable.grid
        .row
            .three.wide.column
                +link_button link='/ev' icon='database' label='EV Dash'
            .ten.wide.column
                .ui.center.aligned.header
                    i.compass.icon
                    | EV Reports
                // .call_ev.ui.fluid.button Call EV API
        .row
            .four.wide.column
                +tag_facet
            .twelve.wide.column
                {{> tabular table=TabularTables.Reports class="table table-striped table-bordered table-condensed"}}

                // .ui.list
                //     each reports
                //         a.item(href="/view/#{_id}")
                //             .content
                //                 | #{report_id} | title: #{report_title} | type: #{report_type} | #{report_subtitle}
                    
                    
template(name='ev_card')                    
    .card
        if report_title
            .content
                a.header(href="/view/#{_id}") #{report_title}
                .meta #{report_subtitle}
        .content
            with ev
                if CUSTOMER
                    +view_customer_name_field
                if CUST_NAME
                    +view_customer_name_field
                if TELEPHONE
                    +view_telephone_field
                if MASTER_LICENSEE
                    +view_master_field
                if FRANCHISEE
                    +view_franchisee_field
                if FRANCH_NAME
                    +view_franchisee_field
            .ui.list
                if report_id
                    .item id: #{report_id}
                    .item type: #{report_type}
                if children.count
                    .item #{children.count} Child Docs
            if ADDR_STREET
                .ui.list
                    .item #{ADDR_STREET}
                    .item #{ADDR_CITY}, #{ADDR_STATE}
                    .item #{ADDR_POSTAL_CODE}
                    .item #{CUST_REG_SERVICE_AMT}
        .content
            +jsonView json=ev    
        .content
            +view_button
            +edit_button
                
template(name='report_edit')
    .ui.padded.stackable.centered.grid
        .centered.row
            .four.wide.column
                h1.ui.center.aligned.grey.header Edit ##{report_id} #{report_title} Report
                +save_button
                #delete.ui.icon.button
                    i.trash.icon
            .twelve.wide.column
                .ui.form
                    // +edit_text_field key='text' label='Title'
                    // +edit_text_field key='image_url' label='Image URL'
                    // +edit_text_field key='icon' label='Icon'
                    +edit_array_field key='tags' label='Relationship to parent'
                    +edit_html
        
        
template(name='report_view')
    .ui.padded.stackable.centered.grid
        .centered.row
            .three.wide.column
                +link_button link='/ev' icon='newspaper' label='Reports'
            .ten.wide.column
                h1.ui.center.aligned.grey.header ##{report_id} #{report_title} Report
            .three.wide.column
                +edit_button
                unless children.length
                    .run_report.ui.button
                        i.refresh.icon
                        |Run Report
        .centered.row
            .sixteen.wide.column
                .ui.segment
                    each tags
                        .ui.basic.label #{this}
                    .ui.basic.segment
                        // |#{current_doc}
                        .ui.list
                            .item report id: #{report_id}
                            .item report_type: #{report_type}
                            .item report_subtitle: #{report_subtitle}
                .ui.centered.cards
                    each children
                        +ev_card
                        
                        
                        
template(name='view_customer_name_field')
    div
        a(href="/customer/#{CUSTOMER}")
            i.handshake.icon(title='Customer')
            |#{CUSTOMER}

template(name='view_master_field')
    h5
        a(href="/master/#{MASTER_LICENSEE}" title='Master Licensee')
            i.street.view.icon
            |#{MASTER_LICENSEE}


template(name='view_franchisee_field')
    h5
        if FRANCH_NAME
            a(href="/franchisee/#{FRANCH_NAME}" title='Franchisee')
                i.user.circle.icon
                | #{FRANCH_NAME}
        if FRANCHISEE
            a(href="/franchisee/#{FRANCHISEE}" title='Franchisee')
                i.user.circle.icon
                | #{FRANCHISEE}


template(name='children_widget')
    .ui.card
        .content
            a.header(href=link)
                if icon
                    i.icon(class=icon)
                |#{label}
            .ui.list
                each children
                    a.item(href="/view/#{_id}") #{name} #{title} !{html}
    
    
template(name='ev_fields')
    .ui.padded.stackable.grid
        .row
            .three.wide.column
                +link_button link='/ev' icon='database' label='EV Dash'
            .ten.wide.column
                .ui.center.aligned.header
                    i.cubes.icon
                    | EV Fields
        .row
            .four.wide.column
                .sync_ev_fields.ui.fluid.button Sync EV Fields
                +tag_facet
            .twelve.wide.column
                .ui.list
                    each fields
                        .item
                            .content
                                | slug: #{field_slug} | display name: #{field_display_name} | display type: #{field_display_type}
