template(name='cart')
    .ui.container.padded.grid
        .row
            .sixteen.wide.column
                h2.ui.header 
                    +icon name='shopping-cart'
                    |Cart
        .row
            .sixteen.wide.column
                table.ui.striped.fluid.table
                    thead
                        tr
                            th Title
                            th Price
                            th Amount
                            th Actions
                    tbody
                        each cart_items
                            tr
                                // td 
                                //     if parent.image_id
                                //         img.ui.avatar.image(src="{{c.url parent.image_id}}")
                                td 
                                    a.ui.header(href="/view/#{product_id}") 
                                        |#{product_title}
                                td $#{product_price}
                                td
                                    #increase_amount.ui.basic.icon.disabled.button
                                        i.plus.icon
                                    |#{amount}
                                    #decrease_amount.ui.basic.icon.disabled.button
                                        i.minus.icon
                                td 
                                    .purchase_item.ui.disabled.button 
                                        | Purchase
                                    +remove_from_cart_button

template(name='add_to_cart_button')
    .add_to_cart.ui.button 
        i.large.icon
            +iconsmall name='add-shopping-cart'
        | Add to Cart

template(name='cart_widget')
    .ui.header
        +icon name='shopping-cart'
        | Shopping Cart
    .ui.cards
        each cart_docs
            +cart_item
            
template(name='cart_item')
    .ui.card
        .content
            .header #{product_title}
        .content    
            div Amount: #{amount}
            div Price: #{product_price}
            +remove_from_cart_button
            
template(name='remove_from_cart_button')            
    .remove_cart_item.ui.icon.button
        i.remove.icon
            

template(name='cart_profile')
    .ui.text.container
        .ui.ordered.steps
            .completed.step
                .content
                    .title Checkout
            .active.step
                .content
                    .title Profile Information
    +edit_profile