template(name='admin')
    h1.ui.center.aligned.grey.header 
        i.shield.icon
        |Admin
    .ui.centered.cards
        +user_widget
        +task_widget
        +widget_list type='role' label='Roles'
        +widget_list type='trigger' label='Triggers' icon='bolt'
        +widget_list type='action' label='Actions' 
        +widget_list type='condition' label='Conditions' icon='umbrella'
        +widget_list type='automation' label='Automations' icon='car'
    .ui.hidden.divider
        // +task_widget
        // +role_widget
        // +rule_widget
    
    
template(name='admin_nav')    
    .ui.top.attached.six.item.inverted.grey.menu
        a.item(href='/admin' class="{{isActivePath '/admin'}}" data-position="bottom center" data-content='Admin')
            i.shield.icon
            .mobile.hidden Admin
        a.item(href='/users' class="{{isActivePath '/users'}}" data-position="bottom center" data-content='Users')
            i.users.icon
            .mobile.hidden Users
        a.item(href='/incident_types' class="{{isActivePath '/incident_types'}}" data-position="bottom center" data-content='Incident Types')
            i.exclamation.icon
            .mobile.hidden Incident Types
        a.item(href='/triggers' class="{{isActivePath '/triggers'}}" data-position="bottom center" data-content='Triggers')
            i.bolt.icon
            .mobile.hidden Triggers
        a.item(href='/automations' class="{{isActivePath '/automations'}}" data-position="bottom center" data-content='Automations')
            i.car.icon
            .mobile.hidden Automations
        // a.item(href='/policies' class="{{isActivePath '/policies'}}" data-position="bottom center" data-content='SLA Policies')
        //     i.sort.numeric.down.icon
            // .mobile.hidden SLA Rules
            
            
template(name='user_widget')
    .ui.card
        .content
            a.header(href="/users")
                i.users.icon
                |Users
            .ui.list
                each users
                    a.item(href="/view/#{_id}") #{username}
                    
                    
template(name='task_widget')
    .ui.card
        .content
            a.header(href="/tasks") 
                i.tasks.icon
                |Incomplete Tasks
            .ui.list
                each tasks
                    a.item(href="/view/#{_id}") #{title}
template(name='role_widget')
    .ui.card
        .content
            a.header(href="/roles") Roles
            .ui.list
                each roles
                    a.item(href="/view/#{_id}") #{name}
template(name='rule_widget')
    .ui.card
        .content
            a.header(href="/rules") Rules
            .ui.list
                each rules
                    a.item(href="/view/#{_id}") #{name}