template(name='policies')
    .ui.stackable.centered.padded.grid
        .centered.row
            .four.wide.column
                h2.ui.center.aligned.header SLA policy
                +add_button type='policy'
                p A service level agreement (SLA) is a contract between you and your customers that specifies performance measures for support by ticket priority. For example, we respond to urgent tickets in ten minutes and resolve them within two hours. Your SLA policies are applied to tickets in the order they appear on this page, so drag to reorder as needed.Learn more


                // +set_session_button key='view_complete' value=true label='complete'
                // +set_session_button key='view_complete' value=false label='incomplete'
                +tag_facet
                +username_facet
            .twelve.wide.column
                .ui.cards
                    each policies
                        +policy_card
                        
                        
template(name='policy_card')
    .ui.card
        .content
            .header #{name}
            |!{html}
        .content    
            |#{start}
            .right.floated 
                // |#{when}
                +author_info
        .content
            each tags
                .ui.label #{this}
        if watson
            .content
                +doc_sentiment
        .content
            +view_multiple_user key='policy_contact_ids' label='Policy Contacts'
            +view_multiple_user key='escalation_contact_ids' label='Escalation Contacts'
        .content
            +edit_button
            +view_button

template(name='policy_view')
    .ui.padded.stackable.centered.grid
        .centered.row
            .three.wide.column
                +link_button link='/policies' icon='sort numeric down' label='policies'
            .ten.wide.column
                h1.ui.center.aligned.grey.header View #{name} SLA Policy
            .three.wide.column
                +edit_button
        .row
            .four.wide.column
                +view_multiple_user key='policy_contact_ids' label='Policy Contacts'
                +view_multiple_user key='escalation_contact_ids' label='Escalation Contacts'
                +view_numeric_field key='escalation_hours' label='Escalation Hours'
            .twelve.wide.column
                .ui.header #{title}
                |!{html}
                +comments
            
        
template(name='policy_edit')
    .ui.padded.stackable.centered.grid
        .centered.row
            .three.wide.column
                +save_button
            .ten.wide.column
                h1.ui.center.aligned.grey.header Edit Policy
            .three.wide.column
                #delete.ui.icon.button
                    i.trash.icon
        .centered.row
            .twelve.wide.column
                +edit_text_field key='name' label='Name'
                .ui.hidden.divider
                // +edit_html
                +multiple_user_select key='policy_contact_ids' label='Policy Contacts'
                +multiple_user_select key='escalation_contact_ids' label='Escalation Contacts'
            .four.wide.column
                +edit_number_field key='escalation_hours' label='Escalation Hours'
                // +edit_array_field key='tags'
        
            