template(name='policies')
    .ui.stackable.centered.padded.grid
        .centered.row
            .four.wide.column
                h2.ui.center.aligned.header SLA policy
                +add_button type='policy'
                p A service level agreement (SLA) is a contract between you and your customers that specifies performance measures for support by ticket priority. For example, we respond to urgent tickets in ten minutes and resolve them within two hours. Your SLA policies are applied to tickets in the order they appear on this page, so drag to reorder as needed.Learn more


                // +set_session_button key='view_complete' value=true label='complete'
                // +set_session_button key='view_complete' value=false label='incomplete'
                +tag_facet
            .twelve.wide.column
                .ui.cards
                    each policies
                        +policy_card
                        
                        
template(name='policy_item')
    .ui.item
        if image_id
            a.image(href="/view/#{_id}")
                img.ui.rounded.image(src="{{c.url image_id  width=175 height=175 crop='fill' gravity='face' }}")
                // each visual
                //     .ui.small.label #{class}
        .content
            a.grey.header(href="/view/#{_id}") 
                |##{policy_number}
            .description
                .ui.grid
                    .twelve.wide.column
                        .large130 {{nl2br policy_details}}
                    .four.wide.column
                        .meta #{when}
                        .meta #{formal_when}
                        // .ui.horizontal.list
                        //     each date_array
                        //         .item #{this}
                        .meta by #{author.username}
                        if comment_count
                            a.meta(href="/view/#{_id}")
                                i.comments.icon
                                |#{comment_count} comments
                        +view_button
                        if watson
                            +doc_sentiment
                            +doc_emotion
                        // each tone.document_tone.tones
                        //     h4.ui.header #{tone_id} {{ to_percent score }}%
        

                
template(name='policy_card')
    .ui.card
        .content
            .header #{na
            |!{html}
        .content    
            |#{start}
            .right.floated 
                // |#{when}
                +author_info
        .content
            each tags
                .ui.label #{this}
        if watson
            .content
                +doc_sentiment
        .content
            // +call_method name='tagify_timestamp'
            // if date_array
            //     each date_array
            //         .ui.label #{this}
            | #{comment_count}
            i.comments.icon
            +edit_button
            +view_button




template(name='policy_table')
    table.ui.celled.selectable.table
        tbody
            each policies
                +policy_row
                
                
template(name='policy_row')                
    tr
        // td #{_id}
        td 
            a(href="/view/#{_id}") #{text}
            |#{title}
            // if editing_this_policy
            //     .ui.fluid.input
            //         input.policy_text(type='text' value=text placeholder='policy Text')
        td #{when}
        // td #{due_date_when}
        td 
            +edit_button
            +view_full_button
        // td
            // if editing_this_policy
            //     .save_policy.ui.icon.button
            //         i.checkmark.icon
            // else
            //     .edit_policy.ui.icon.button
            //         i.edit.icon
            
            
template(name='policy_view')
    .ui.padded.stackable.centered.grid
        .centered.row
            .three.wide.column
                +link_button link='/policies' icon='sort numeric down' label='policies'
            .ten.wide.column
                h1.ui.center.aligned.grey.header View #{name} SLA Policy
            .three.wide.column
                +edit_button
        .row
            .three.wide.column
                .ui.header tags
                each tags
                    .ui.label #{this}
            .thirteen.wide.column
                .ui.heade #{title}
                |!{html}
                +comments
            
        
template(name='policy_edit')
    .ui.padded.stackable.centered.grid
        .centered.row
            .three.wide.column
                +save_button
            .ten.wide.column
                h1.ui.center.aligned.grey.header edit work policy
            .three.wide.column
                #delete.ui.icon.button
                    i.trash.icon
        .centered.row
            .twelve.wide.column
                +edit_text_field key='name' label='Name'
                +edit_date_field key='start' label='start' icon='clock'
                +edit_html
            .four.wide.column
                +edit_array_field key='tags'
        
            