template(name='users') 
    .ui.padded.stackable.container.grid
        .centered.row
            .four.wide.column 
                +set_view_mode view='cards' icon='clone' label='Cards'
                +set_view_mode view='table' icon='table' label='Table'
                a.ui.large.icon.button(href='/user/add' data-content='Add User')
                    i.plus.icon
                +user_cloud
            .twelve.wide.column 
                if viewing_cards
                    .ui.centered.stackable.cards
                        each users
                            +user_card
                if viewing_table
                    +user_table

        
        
        
        
template(name='user_cloud')
    #cloud.ui.basic.center.aligned.segment
        // .ui.hidden.divider
        // .ui.left.icon.small.input
        //     i.search.icon
        //     +inputAutocomplete settings=settings id="search" class="" autocomplete="off" placeholder='Search..'
        if selected_people_tags
            #clear_tags.ui.icon.big.active.button
                i.remove.icon
            each selected_people_tags
                .unselect_tag.ui.big.active.button
                    strong #{this}
        each all_people_tags
            .ui.button.select_tag(class=cloud_tag_class) #{this.name}
                small #{this.count}
                // small [#{this.index}]
                
template(name='user_card')                
    .ui.card
        .image
            // a(href="/profile/#{username}")
            img.ui.fluid.image(src="{{c.url profile.image_id height=400 width=400 background='white' crop='pad'}}")
        .content
            a(href="/profile/#{username}")
                .ui.center.aligned.header #{profile.first_name} #{profile.last_name}
            // each five_tags
            //     .ui.compact.disabled.button.person_tag(class=tag_class) 
            //         strong #{this}
        .content
           .ui.list
                +list_item key='email' label='Email'
                +list_item key='phone' label='Phone'
                +list_item key='company' label='Company'
                +list_item key='position' label='Position'
        .content
            +bookmark_button
            +view_button
        
        
        
                        
                
template(name='user_table')
    .ui.padded.grid
        .row
            .sixteen.wide.column
                table.ui.sortable.striped.table
                    // thead
                    //     tr
                    //         th Image
                    //         th Profile
                    //         th Roles
                    //         th Actions
                    tbody
                        each users
                            tr
                                td 
                                    img.ui.tiny.image(src="{{c.url profile.image_id width=300 height=300 gravity='face' crop='fill'}}")
                                td 
                                    .ui.header 
                                        |#{name}
                                    a.ui.header(href="/profile/#{username}") #{username}
                                    div
                                        each emails
                                            |#{address}
                                td 
                                    each roles
                                        .ui.label #{this}
                                td
                                    a.ui.icon.disabled.button
                                        i.large.envelope.icon                                        
                                    a.ui.icon.button(href="/profile/edit/#{_id}")
                                        i.large.pencil.icon                                        
                                    a.ui.icon.button(href="/profile/#{username}")
                                        i.large.external.icon
