template(name='checkin')
    .ui.container
        h1.ui.center.aligned.header Member Check In
        .ui.huge.form
            if selection
                img.ui.centered.large.image(src="{{c.url selection_image_id width=800 height=600 gravity='face' crop='fill'}}")
            .field
                label Name
                #clear_selection.ui.right.icon.input
                    +inputAutocomplete settings=member_name_settings id="member_name" class="" autocomplete="off"
                    if $.Session.get 'selected_member_id'
                        i.circular.remove.link.icon
            // .field
            //     label Email
            //     input(type='email')
        .ui.center.aligned.basic.segment
            #check_in_member.ui.center.aligned.green.button(class=submit_button_class)
                |Check In
                i.right.arrow.icon
        .ui.dividing.center.aligned.header Checked In Members
        .ui.centered.cards
            each checked_in_users
                .ui.card
                    .image
                        a(href="/profile/#{_id}")
                            img.ui.fluid.image(src="{{c.url profile.image_id height=400 width=800 background='white' crop='pad'}}")
                
                    .content
                        .header
                            |#{username}
                    .content
                        .sign_out_user.ui.fluid.basic.button
                            i.sign.out.icon
                            |Check Out
                    .content
                        .add_guest.ui.fluid.basic.button
                            i.icons
                                i.user.icon
                                i.plus.green.corner.icon
                            |Add Guest


template(name="tag_result")
    .ui.basic.label #{name} (#{username})
