template(name='admin')
    .ui.padded.stackable.four.column.grid
        .row
            .sixteen.wide.column
                h1.ui.center.aligned.header
                    +icon name='user-shield'
                    | Admin
        .column
            .ui.card
                .content
                    a.ui.header(href='/jpids')
                        +icon name='fingerprint'
                        | JP Ids
        .column
            .ui.card
                .content
                    a.ui.header(href='/history')
                        +icon name='clock'
                        | EV History
        .column
            .ui.card
                .content
                    a.ui.header(href='/offices')
                        +icon name='building'
                        | Offices
        .column
            .ui.card
                .content
                    a.ui.header(href='/franchisees')
                        +icon name='conference'
                        | Franchisees
        .column
            .ui.card
                .content
                    a.ui.header(href='/customers')
                        +icon name='customer-support'
                        | Customers
        .column
            .ui.card
                .content
                    a.ui.header(href='/services')
                        +icon name='broom'
                        | Services
        .column
            .ui.card
                .content
                    a.ui.header(href='/feed')
                        +icon name='rss'
                        | Global Feed
        .column
            .ui.card
                .content
                    a.ui.header(href='/roles')
                        +icon name='checked-user-male'
                        | Roles
                    

                        



template(name='admin_widget')
    .ui.card
        .content
            a.ui.center.aligned.icon.header(href=link)
                i.icon(class=icon)
                .content
                    |#{label}
            .ui.list
                each children
                    a.item(href="/view/#{_id}") #{name} #{title} !{html}


