template(name='admin')
    .ui.padded.stackable.four.column.grid
        .row
            .sixteen.wide.column
                h1.ui.center.aligned.header
                    +icon name='user-shield'
                    | Admin
        .column
            +admin_widget type='jpid' label='JP Ids' link='/jpids'
        .column
            +admin_widget type='history' label='History' link='/history'
        .column
            .ui.secondary.segment
                a.ui.header(href='/offices')
                    // +iconlarge name='link-company-parent'
                    | Offices
        .column
            .ui.secondary.segment
                a.ui.header(href='/franchisees')
                    // +iconlarge name='collaborator-female'
                    | Franchisees
        .column
            .ui.secondary.segment
                a.ui.header(href='/customers')
                    // +iconlarge name='customer-support'
                    | Customers
        .column
            .ui.secondary.segment
                a.ui.header(href='/services')
                    // +iconlarge name='broom'
                    | Services
        .column
            .ui.secondary.segment
                a.ui.header(href='/feed')
                    // +iconlarge name='rss'
                    | Global Feed
                    

                        



template(name='admin_widget')
    .ui.card
        .content
            a.ui.center.aligned.icon.header(href=link)
                i.icon(class=icon)
                .content
                    |#{label}
            .ui.list
                each children
                    a.item(href="/view/#{_id}") #{name} #{title} !{html}


