template(name='children_widget')
    .ui.card
        .content
            a.ui.center.aligned.icon.header(href=link)
                i.icon(class=icon)
                .content
                    |#{label}
            .ui.list
                each children
                    a.item(href="/view/#{_id}") #{name} #{title} !{html}
    
    
      
      
template(name='jpid_view')
    .ui.padded.stackable.centered.grid
        .centered.middle.aligned.row
            .three.wide.column
                +link_button link='/jpids' icon='hashtag' label='JP Ids'
            .ten.wide.column
                h1.ui.center.aligned.grey.header ##{jpid} JP Id
            .three.wide.column
                .refresh_jpid.ui.icon.button(title='Refresh JP ID Doc')
                    i.refresh.icon
        .centered.row
            .sixteen.wide.column
                +jsonView json=ev
            
            
template(name='jpids')
    .ui.padded.stackable.grid
        .row
            .three.wide.column
                +link_button link='/admin' icon='user-shield' label='Admin'
            .eight.wide.column
                .ui.center.aligned.header
                    i.hashtag.icon
                    | JP Id's
            .four.wide.column
                .ui.icon.input
                    i.search.icon  
                    input#jp_lookup(type='text' placeholder='Lookup Jan-Pro Id')
                // .ui.icon.input
                //     i.search.icon  
                //     input#ev_search(type='text' placeholder='Search EV')
        .row
            .sixteen.wide.column
                // +tabular table=TabularTables.Jpids selector=selector class="ui sortable fluid striped table"
                table.ui.celled.very.basic.table
                    thead
                        tr
                            th jpid
                            th Customer
                            th Franchisee
                            th Assigned To
                            th Office
                            th Status
                            th Area
                            th
                    tbody
                        each jpid_docs
                            tr
                                td #{jpid}
                                td #{ev.CUSTOMER}
                                td #{ev.FRANCHISEE}
                                td #{ev.ASSIGNED_TO}
                                td #{ev.MASTER_LICENSEE}
                                td #{ev.ACCOUNT_STATUS}
                                td #{ev.AREA}
                                td 
                                    +view_user_button

                    
template(name='history')
    .ui.padded.stackable.grid
        .row
            .three.wide.column
                +link_button link='/admin' icon='user-shield' label='Admin'
            .eight.wide.column
                .ui.center.aligned.header
                    i.hashtag.icon
                    | EV History
            .four.wide.column
                .refresh_history.ui.icon.button(title='Run History API Call')
                    i.refresh.icon
                .run_timestamp_search.ui.icon.button(title='Run Search Update')
                    i.calendar.icon
            
        .row
            .sixteen.wide.column
                .ui.header Search API Results
                // +tabular table=TabularTables.Search_history selector=search_history_selector class="ui sortable fluid striped table"
                // .ui.header History API Results
                // +tabular table=TabularTables.History selector=selector class="ui sortable fluid striped table"

                    
template(name='history_view')
    .ui.padded.stackable.grid
        .row
            .three.wide.column
                +link_button link='/ev' icon='database' label='EV Dash'
            .eight.wide.column
                .ui.center.aligned.header
                    i.hashtag.icon
                    | EV History
            .four.wide.column
                .refresh_history.ui.icon.button(title='Refresh History')
                    i.refresh.icon
            
        .row
            .sixteen.wide.column
                .ui.list
                    with ev
                        .item ID: #{ID}
                        .item AREA: #{AREA}
                        .item PROJECT: #{PROJECT}
                        .item TIMESTAMP: #{TIMESTAMP}
                        .item LAST_CHANGE_USER: #{LAST_CHANGE_USER}
                        .item DATE_CREATED: #{DATE_CREATED}
                        .item ORIGINATOR: #{ORIGINATOR}
                        .item MASTER_LICENSEE: #{MASTER_LICENSEE}
                        .item MASTER_COUNTRY: #{MASTER_COUNTRY}
                        .item CUSTOMER: #{CUSTOMER}
                        .item FRANCHISEE: #{FRANCHISEE}
                        .item SUBCONTRACTOR: #{SUBCONTRACTOR}
                        .item SERV_TYPE: #{SERV_TYPE}
                        .item EXTRA_PRICE: #{EXTRA_PRICE}
                        .item EXTRA_TAX: #{EXTRA_TAX}
                        .item EXTRA_SERV_DESC: #{EXTRA_SERV_DESC}
                        .item FULL_TIMESTAMP: #{FULL_TIMESTAMP}

                    
                    

                    
              
            
template(name='search_history_doc_view')
    .ui.padded.stackable.centered.grid
        .centered.middle.aligned.row
            .three.wide.column
                +link_button link='/history' icon='calendar' label='history'
            .ten.wide.column
                h1.ui.center.aligned.grey.header Search History Doc View #{ev.ID}
            .three.wide.column
                // +edit_button
        .centered.row
            .sixteen.wide.column
                +jsonView json=ev
            
            

template(name='franchisees')
    .ui.padded.stackable.grid
        .middle.aligned.row
            .four.wide.column
                +link_button link='/admin' label='Admin'
            .eight.wide.column
                h1.ui.center.aligned.header
                    // +iconlarge name='collaborator-female'
                    | Franchisees
            .four.wide.column
                // if is_dev
                //     .get_all_franchisees
                //         +icon name='refresh'
        .row
            .sixteen.wide.column
                // +tabular table=TabularTables.Franchisees selector=selector class="ui sortable striped very basic fluid table"
                table.ui.celled.table
                    thead
                        tr
                            th JP ID
                            th Name
                            th Email
                            th Short Name
                            th Cell
                            th Office
                            th
                    tbody
                        each franchisees_docs
                            tr
                                td #{jpid}
                                td #{franchisee}
                                td #{ev.FRANCH_EMAIL}
                                td #{ev.FRANCH_NAME}
                                td #{ev.TELE_CELL}
                                td #{ev.MASTER_LICENSEE}
                                td 
                                    +view_button

                    
                    
template(name='franchisee_view')
    .ui.padded.stackable.grid
        .centered.middle.aligned.row
            .three.wide.column
                +link_button link='/franchisees' icon='collaborator-female' label='Franchisees'
            .ten.wide.column
                h1.ui.center.aligned.grey.header #{ev.FRANCHISEE} Franchisee View
            .three.wide.right.aligned.column
                +edit_button
        .centered.row
            +office_by_franchisee
        .centered.row
            .twelve.wide.column
                .ui.secondary.segment
                    .ui.header Franchisee Name: #{ev.FRANCHISEE}
                    .ui.header JPID ##{ev.ID}
                    .ui.header Email: #{ev.FRANCH_EMAIL}
                    .ui.header Short Name: #{ev.FRANCH_NAME}
                    .ui.header Cell: #{ev.TELE_CELL}
                    .ui.header Master Licensee: #{ev.MASTER_LICENSEE}
                +related_customers

template(name='customers')
    .ui.padded.stackable.grid
        .middle.aligned.row
            .three.wide.column
                +link_button link='/admin' icon='user-shield' label='Admin'
            .ten.wide.column
                h1.ui.center.aligned.header
                    // +iconlarge name='customer-support'
                    | Customers
            .three.wide.right.aligned.column
                if is_dev
                    .sync_customers(title='Refresh Customers')
                        i.refresh.icon

        .row
            .sixteen.wide.column
                // +tabular table=TabularTables.Customers selector=selector class="ui sortable striped very basic fluid table"
                table.ui.celled.table
                    thead
                        tr
                            th Customer Name
                            th JPID
                            th Franchisee
                            th Master Licensee
                            th Customer Contact Person
                            th Customer Contact Email
                            th State
                            th
                    tbody
                        each customer_docs
                            tr
                                td #{cust_name}
                                td #{jpid}
                                td #{franchisee}
                                td #{master_licensee}
                                td #{customer_contact_person}
                                td #{customer_contact_email}
                                td #{ev.ADDR_STATE}
                                td 
                                    +view_button

                    
                    
template(name='customer_view')
    .ui.padded.stackable.grid
        .centered.middle.aligned.row
            .three.wide.center.aligned.column
                +link_button link='/customers' icon='customer-support' label='Customers'
            .ten.wide.column
                h1.ui.center.aligned.grey.header ##{jpid} #{cust_name} Customer
            .three.wide.right.aligned.column
                +edit_button
        .centered.row
            .twelve.wide.column
                +franchise_by_customer
        .centered.row
            .twelve.wide.column
                .ui.secondary.segment
                    // h4.ui.header Name: #{cust_name}
                    // h4.ui.header Master Licensee: #{master_licensee}
                    // h4.ui.header Contact Person: #{customer_contact_person}
                    // h4.ui.header Contact Email: #{customer_contact_email}
                    // h4.ui.header Tel: #{telephone}
                    // h4.ui.header Franchisee: #{franchisee}
                    with ev
                        .ui.header #{CUST_NAME}
                        div Master Licensee
                            strong #{MASTER_LICENSEE}
                        div JP ID
                            strong #{ID}
                        div Customer Contact Person
                            strong #{CUST_CONT_PERSON}
                        div Customer Contact Email
                            strong #{CUST_CONTACT_EMAIL}
                        div Tel
                            strong #{TELEPHONE}
                        div Address
                            strong #{ADDR_STREET}
                        div    
                            strong #{ADDR_STREET_2}
                        div 
                            strong #{ADDR_CITY} #{ADDR_STATE}
                        div Franchisee
                            strong #{FRANCHISEE}
                        div Number of Days of Service
                            strong #{CUST_NUM_DAYS_SERVICE}
                        div Days Service
                            strong #{CUST_DAYS_SERVICE}
                        div Regular Service Amount
                            strong #{CUST_REG_SERVICE_AMT}

                
                
                
template(name='related_customers')
    .ui.dividing.header 
        +icon name='customer-support'
        |#{franchisee}'s Customers
    +tabular table=TabularTables.Related_customers selector=selector class="ui sortable fluid striped table"
                
    
template(name='office_by_franchisee')
    .ui.secondary.segment
        .ui.dividing.header 
            +icon name='link-company-parent'
            |#{ev.FRANCHISEE}'s Office
        with parent_office
            a.ui.header(href="/view/#{_id}") #{office_name}
    
    
    