template(name='offices')
    .ui.stackable.centered.padded.grid
        .middle.aligned.row
            .three.wide.column
                +link_button link='/admin' icon='user-shield' label='Admin'
            .ten.wide.column
                h1.ui.center.aligned.header
                    +icon name='building'
                    |Offices
            .three.wide.column
                if is_dev
                    +call_method name='sync_offices'
                //     .ui.header upload office list
                //     unless uploading
                //         input(type="file" name="upload_csv")
                //     else
                //         |Uploading files...
        .row
            .sixteen.wide.column
                // |{{> tabular table=TabularTables.Offices selector=selector class="ui sortable striped fluid very basic table"}}
                table.ui.celled.striped.basic.table
                    thead
                        tr
                            th JPID
                            th Name
                            th Manager
                            th Owner
                            th Phone
                            th Address
                            th View
                    tbody
                        each office_docs
                            tr
                                td #{ev.ID}
                                td #{ev.MASTER_OFFICE_NAME}
                                td 
                                    a(href="/user/#{ev.MASTER_OFFICE_MANAGER}") #{ev.MASTER_OFFICE_MANAGER}
                                td 
                                    a(href="/user/#{ev.MASTER_OFFICE_OWNER}") #{ev.MASTER_OFFICE_OWNER}
                                td #{ev.TELEPHONE}
                                td #{ev.ADDR_STREET} #{ev.ADDR_STREET_2} #{ev.ADDR_CITY} #{ev.ADDR_STATE} #{ev.ADDR_POSTAL_CODE} #{ev.MASTER_COUNTRY}
                                td 
                                    +view_button


                    
template(name='office_view')
    .ui.padded.stackable.grid
        .centered.middle.aligned.row
            .three.wide.column
                unless is_customer
                    +link_button link='/offices' icon='building' label='Offices'
            .ten.wide.column
                h1.ui.center.aligned.grey.header #{ev.MASTER_OFFICE_NAME} Office
            .three.wide.right.aligned.column
                // +edit_button
        .row
            .sixteen.wide.column
                .ui.secondary.segment
                    .ui.list
                        .item ID
                            strong #{ev.ID}
                        .item Office Name
                            strong #{ev.MASTER_OFFICE_NAME}
                        .item Office Manager
                            strong #{ev.MASTER_OFFICE_MANAGER}
                        .item Office Owner
                            strong #{ev.MASTER_OFFICE_OWNER}
                        .item Last Updated
                            strong #{ev.TIMESTAMP}
                        .item Phone
                            strong #{ev.TELEPHONE}
                        .item Address 
                            strong #{ev.ADDR_STREET} #{ev.ADDR_STREET_2} #{ev.ADDR_CITY} #{ev.ADDR_STATE} #{ev.ADDR_POSTAL_CODE} #{ev.MASTER_COUNTRY}
                unless is_customer            
                    .ui.top.attached.tabular.five.item.stackable.menu
                        a.active.item(data-tab='office_settings') 
                            +icon name='administrative-tools'
                            | &nbsp; Settings
                        a.item(data-tab='incidents') 
                            +icon name='error'
                            | &nbsp; Incidents
                        a.item(data-tab='employees') 
                            +icon name='groups'
                            | &nbsp; Employees
                        a.item(data-tab='franchisees') 
                            +icon name='conference'
                            | &nbsp; Franchisees
                        a.item(data-tab='customers') 
                            +icon name='customer-support'
                            | &nbsp; Customers
                    .ui.bottom.attached.active.tab.segment(data-tab='office_settings')
                        h2.ui.dividing.header 
                            +icon name='sms'
                            | Customer Message
                        // .ui.sub.header Shown on customer dashboard
                        +edit_text_field key='customer_message' label='Customer Dashboard Message'
                        // p #{customer_message}
                        // h2.ui.dividing.header 
                        //     +icon name='checked-user-male'
                        //     |Office Roles
                        // .ui.two.column.stackable.grid
                        //     .column
                        //         +single_user_select key='office_owner' label='Office Owner'
                        //     .column
                        //         +single_user_select key='operations_manager' label='Operations Manager'
                        h2.ui.dividing.header 
                            +icon name='administrative-tools'
                            |SLA Settings
                        h3.ui.dividing.header Initial
                        h3.ui.dividing.header Escalation 1
                        .ui.two.column.divided.padded.grid
                            .row
                                +edit_number_field key='escalation_one_hours' label='Escalation Hours' field_class='inline' min=0 max=24
                            .row
                                .column
                                    h4.ui.header Primary Contact
                                    .ui.two.column.stackable.grid
                                        .row
                                            .column
                                                .ui.form
                                                    .grouped.fields
                                                        // label Primary Contact
                                                        +radio_item key='escalation_one_primary_contact' label='Office Owner' value='office_owner'
                                                        +radio_item key='escalation_one_primary_contact' label='Operations Manager' value='operations_manager'
                                                +toggle_boolean_checkbox key='escalation_one_primary_contact_franchisee' label='Franchisee'
                                            .column
                                                +view_sla_contact key='escalation_one_primary_contact'
                                                .ui.hidden.divider
                                                if escalation_one_primary_contact_franchisee
                                                    p Franchisee will be contacted.
                                                else
                                                    p Franchisee will not be contacted.
                                .column
                                    h4.ui.header Secondary Contact
                                    .ui.two.column.stackable.grid
                                        .row
                                            .column
                                                .ui.form
                                                    .grouped.fields
                                                        // label Primary Contact
                                                        +radio_item key='escalation_one_scondary_contact' label='Office Owner' value='office_owner'
                                                        +radio_item key='escalation_one_scondary_contact' label='Operations Manager' value='operations_manager'
                                                +toggle_boolean_checkbox key='escalation_one_scondary_contact_franchisee' label='Franchisee'
                                            .column
                                                +view_sla_contact key='escalation_one_scondary_contact'
                                                .ui.hidden.divider
                                                if escalation_one_scondary_contact_franchisee
                                                    p Franchisee will be contacted.
                                                else
                                                    p Franchisee will not be contacted.
                        h3.ui.dividing.header Escalation 2
                        .ui.two.column.divided.padded.grid
                            .row
                                +edit_number_field key='escalation_two_hours' label='Escalation Hours' field_class='inline' min=0 max=24
                            .row
                                .column
                                    h4.ui.header Primary Contact
                                    .ui.two.column.stackable.grid
                                        .row
                                            .column
                                                .ui.form
                                                    .grouped.fields
                                                        // label Primary Contact
                                                        +radio_item key='escalation_two_primary_contact' label='Office Owner' value='office_owner'
                                                        +radio_item key='escalation_two_primary_contact' label='Operations Manager' value='operations_manager'
                                                +toggle_boolean_checkbox key='escalation_two_primary_contact_franchisee' label='Franchisee'
                                            .column
                                                +view_sla_contact key='escalation_two_primary_contact'
                                                .ui.hidden.divider
                                                if escalation_two_primary_contact_franchisee
                                                    p Franchisee will be contacted.
                                                else
                                                    p Franchisee will not be contacted.
                                .column
                                    h4.ui.header Secondary Contact
                                    .ui.two.column.stackable.grid
                                        .row
                                            .column
                                                .ui.form
                                                    .grouped.fields
                                                        // label Primary Contact
                                                        +radio_item key='escalation_two_scondary_contact' label='Office Owner' value='office_owner'
                                                        +radio_item key='escalation_two_scondary_contact' label='Operations Manager' value='operations_manager'
                                                +toggle_boolean_checkbox key='escalation_two_scondary_contact_franchisee' label='Franchisee'
                                            .column
                                                +view_sla_contact key='escalation_two_scondary_contact'
                                                .ui.hidden.divider
                                                if escalation_two_scondary_contact_franchisee
                                                    p Franchisee will be contacted.
                                                else
                                                    p Franchisee will not be contacted.
                        h3.ui.dividing.header Escalation 3
                        .ui.two.column.divided.padded.grid
                            .row
                                +edit_number_field key='escalation_three_hours' label='Escalation Hours' field_class='inline' min=0 max=24
                            .row
                                .column
                                    h4.ui.header Primary Contact
                                    .ui.two.column.stackable.grid
                                        .row
                                            .column
                                                .ui.form
                                                    .grouped.fields
                                                        // label Primary Contact
                                                        +radio_item key='escalation_three_primary_contact' label='Office Owner' value='office_owner'
                                                        +radio_item key='escalation_three_primary_contact' label='Operations Manager' value='operations_manager'
                                                +toggle_boolean_checkbox key='escalation_three_primary_contact_franchisee' label='Franchisee'
                                            .column
                                                +view_sla_contact key='escalation_three_primary_contact'
                                                .ui.hidden.divider
                                                if escalation_three_primary_contact_franchisee
                                                    p Franchisee will be contacted.
                                                else
                                                    p Franchisee will not be contacted.
                                .column
                                    h4.ui.header Secondary Contact
                                    .ui.two.column.stackable.grid
                                        .row
                                            .column
                                                .ui.form
                                                    .grouped.fields
                                                        // label Primary Contact
                                                        +radio_item key='escalation_three_scondary_contact' label='Office Owner' value='office_owner'
                                                        +radio_item key='escalation_three_scondary_contact' label='Operations Manager' value='operations_manager'
                                                +toggle_boolean_checkbox key='escalation_three_scondary_contact_franchisee' label='Franchisee'
                                            .column
                                                +view_sla_contact key='escalation_three_scondary_contact'
                                                .ui.hidden.divider
                                                if escalation_three_scondary_contact_franchisee
                                                    p Franchisee will be contacted.
                                                else
                                                    p Franchisee will not be contacted.
                        h3.ui.dividing.header Escalation 4
                        .ui.two.column.divided.padded.grid
                            .row
                                +edit_number_field key='escalation_four_hours' label='Escalation Hours' field_class='inline' min=0 max=24
                            .row
                                .column
                                    h4.ui.header Primary Contact
                                    .ui.two.column.stackable.grid
                                        .row
                                            .column
                                                .ui.form
                                                    .grouped.fields
                                                        // label Primary Contact
                                                        +radio_item key='escalation_four_primary_contact' label='Office Owner' value='office_owner'
                                                        +radio_item key='escalation_four_primary_contact' label='Operations Manager' value='operations_manager'
                                                +toggle_boolean_checkbox key='escalation_four_primary_contact_franchisee' label='Franchisee'
                                            .column
                                                +view_sla_contact key='escalation_four_primary_contact'
                                                .ui.hidden.divider
                                                if escalation_four_primary_contact_franchisee
                                                    p Franchisee will be contacted.
                                                else
                                                    p Franchisee will not be contacted.
                                .column
                                    h4.ui.header Secondary Contact
                                    .ui.two.column.stackable.grid
                                        .row
                                            .column
                                                .ui.form
                                                    .grouped.fields
                                                        // label Primary Contact
                                                        +radio_item key='escalation_four_scondary_contact' label='Office Owner' value='office_owner'
                                                        +radio_item key='escalation_four_scondary_contact' label='Operations Manager' value='operations_manager'
                                                +toggle_boolean_checkbox key='escalation_four_scondary_contact_franchisee' label='Franchisee'
                                            .column
                                                +view_sla_contact key='escalation_four_scondary_contact'
                                                .ui.hidden.divider
                                                if escalation_four_scondary_contact_franchisee
                                                    p Franchisee will be contacted.
                                                else
                                                    p Franchisee will not be contacted.
                    .ui.bottom.attached.tab.segment(data-tab='franchisees')
                        .ui.center.aligned.header #{ev.MASTER_OFFICE_NAME}'s Franchisees
                        // +tabular table=TabularTables.Related_franchisees selector=office_franchisees_selector class="ui sortable fluid striped table"
                        table.ui.celled.table
                            thead
                                tr
                                    th JP ID
                                    th Name
                                    th Email
                                    th Short Name
                                    th Cell
                                    th Office
                                    th
                            tbody
                                each related_franchisees
                                    tr
                                        td #{ev.ID}
                                        td #{franchisee}
                                        td #{ev.FRANCH_EMAIL}
                                        td #{ev.FRANCH_NAME}
                                        td #{ev.TELE_CELL}
                                        td #{ev.MASTER_LICENSEE}
                                        td 
                                            +view_button
                    .ui.bottom.attached.tab.segment(data-tab='incidents')
                        .ui.center.aligned.header #{ev.MASTER_OFFICE_NAME}'s Incidents
                        // +tabular table=TabularTables.Incidents selector=office_incidents_selector class="ui sortable fluid striped table"
                        table.ui.basic.striped.table
                            thead
                                tr
                                    th Type
                                    th When
                                    th Details
                                    th Level
                                    th History
                                    th Actions
                            tbody
                                each office_incidents
                                    tr
                                        td
                                            +incident_type_label
                                        td #{when}
                                        td #{incident_details}
                                        td #{current_level}
                                        td
                                            +small_doc_history
                                        td 
                                            +view_button
    
                    .ui.bottom.attached.tab.segment(data-tab='employees')
                        .ui.center.aligned.header #{ev.MASTER_OFFICE_NAME}'s Employees
                        // +tabular table=TabularTables.Users selector=office_users_selector class="ui sortable fluid striped table"
                    .ui.bottom.attached.tab.segment(data-tab='customers')
                        .ui.center.aligned.header #{ev.MASTER_OFFICE_NAME}'s Customers
                        // +tabular table=TabularTables.Related_customers selector=office_customers_selector class="ui sortable fluid striped table"
                    
                
