template(name='all_readings')
    .ui.container
        +readings location='indoor_hot_tub'
        +readings location='outdoor_hot_tub'
        +readings location='pool'

template(name='reading_menu')
    .ui.three.item.menu
        a.item(href='/readings/indoor' class="{{isActivePath '/readings/indoor'}}") Indoor
        a.item(href='/readings/outdoor' class="{{isActivePath '/readings/outdoor'}}") Outdoor
        a.item(href='/readings/pool' class="{{isActivePath '/readings/pool'}}") Pool


template(name='edit_reading')
    with reading
        .ui.container
            .ui.header Edit Reading
            .ui.form
                .field
                    label Location
                    .ui.basic.black.label #{location}
                .fields
                    +ph
                    +chlorine
                    +temperature
                // +alkalinity
                +notes
                a.ui.green.large.button(href='/readings') Save Reading
                +delete_reading_button
            
            
            
            
            
template(name='readings')    
    .ui.header #{readings_label} Readings
        i#add_reading.green.plus.link.icon
        // |Add Indoor Hot Tub Reading

    table.ui.sortable.striped.table
        thead
            tr
                th pH
                th Cl/Br
                th Temperature
                th Notes
                th Read By
                th Actions
        tbody
            each readings
                tr
                    td #{ph}
                    td #{chlorine}
                    td #{temperature}
                    td #{notes}
                    td #{author.username} #{when}
                    td 
                        a.ui.basic.button(href="/reading/edit/#{_id}")
                            i.pencil.icon
                            | Edit

            
template(name='ph')            
    .field
        label pH
        input#ph(type='number' step='.1' min='0' value=ph)
        
template(name='br')            
    .field
        label Br
        input#br(type='number' step='.1' min='0' value=br)
        
template(name='temperature')            
    .field
        label Temperature
        input#temperature(type='number' step='.1' min='0' value=temperature)

template(name='alkalinity')            
    .field
        label Alkalinity
        input#alkalinity(type='number' step='.1' min='0' value=alkalinity)

template(name='chlorine')            
    .field
        label Chlorine
        input#chlorine(type='number' step='.1' min='0' value=chlorine)

        
        
template(name='delete_reading_button')
    #delete_reading.ui.red.icon.button
        i.trash.icon