template(name='requests')
    .ui.container.segment
        .ui.center.aligned.header Front Desk Time Off Requests
            i#add_request.green.plus.link.icon 
        h4.ui.center.aligned.header
            | Approval will be given no later than 48 hrs of the first date requested.
        table.ui.sortable.striped.table
            thead
                tr
                    th Employee
                    th Request Date
                    th Request Shift
                    th Sub
                    th Submitted
                    th Approved
                    th Actions
            tbody
                each requests
                    +request
                    
                    
template(name='request')                    
    tr
        td #{author.username}
        td #{request_date}
        td #{shift}
        td #{sub}
            if can_sub
                .ui.button Sign Up
        td #{when}
        td 
            if approved
                .ui.green.label Approved
            else
                .ui.basic.label Not Approved
            if approved    
                .disapprove.ui.icon.button
                    i.remove.icon
            else
                .approve.ui.icon.button
                    i.green.check.icon
        td 
            a.ui.compact.button(href="/request/edit/#{_id}")
                i.pencil.icon
                | Edit
                            



template(name='edit_request')
    with request
        .ui.text.container.segment
            .ui.center.aligned.header Edit Request
            .ui.form
                .field
                    label Request Date
                    input#request_date(type='date' value=request_date)
                .field
                    label Request Shift:
                        .ui.large.basic.label #{shift}
                    |Change:
                    .ui.buttons
                        .ui.basic.button.shift(class=shift_button_class data-value='morning') Morning
                        .ui.basic.button.shift(class=shift_button_class data-value='afternoon') Afternoon
                        .ui.basic.button.shift(class=shift_button_class data-value='evening') Evening
                .ui.basic.center.aligned.segment        
                    a.ui.green.large.button(href='/requests') Save Time Off Request
                    #delete_request.ui.red.icon.button
                        i.trash.icon
            