template(name='reset_password')
    .ui.middle.aligned.centered.padded.grid
        .ten.wide.column
            h1.ui.center.aligned.header
                +icon name='forgot-password'
                | Reset Password
            .ui.basic.segment
                .ui.very.relaxed.two.column.grid
                    .column
                        .ui.form
                            .field
                                // label Username
                                input#username(type='text')
                            .field
                                #reset_password_by_username.ui.fluid.inverted.jpgreen.button
                                    .large120 by Username
                    .column
                        .ui.form
                            .field
                                // label Email
                                input#email(type='email')
                            .field
                                #reset_password_by_email.ui.fluid.inverted.jpgreen.button
                                    .large120 by Email
                .ui.vertical.divider
                    |or



template(name='login')
    .centered.row
        .eight.wide.column
            h1.ui.center.aligned.header
                // img.ui.spaced.image(src="{{c.url 'green_jp_icon' effect='make_transparent:10'}}")
                | Login
            .ui.basic.segment
                .ui.labeled.fluid.input
                    .ui.basic.label Username
                    input.username(type='text')
                .ui.hidden.divider
                .ui.labeled.fluid.input
                    .ui.basic.label Password
                    input.password(type='password')
                .ui.hidden.divider
                .field
                    // unless currentUser
                    .login.ui.fluid.jpgreen.inverted.button(class=login_button_class)
                        // .large120 Login
                        i.play.icon
        .four.wide.column
            .ui.center.aligned.header Demo
            #login_demo_customer.ui.fluid.button(class=demo_class)
                +iconsmall name='headset' classes='ui inline image'
                | &nbsp; Customer
            #login_demo_office.ui.fluid.button(class=demo_class)
                +iconsmall name='building' classes='ui inline image'
                | &nbsp; Office
            #login_demo_admin.ui.fluid.button(class=demo_class)
                +iconsmall name='user-shield' classes='ui inline image'
                | &nbsp; Admin

template(name='register_customer')
    .ui.centered.padded.grid
        .row
            h1.ui.center.aligned.header
                +icon name='add-user-male'
                |Register Customer
        .row
            .four.wide.column
                if account_selected
                    .ui.centered.cards
                        .ui.green.card
                            with customer_doc
                                .content
                                    // .ui.header
                                    //     |Customer
                                    .ui.medium.header #{ev.CUST_NAME}
                                    .ui.list
                                        .item ##{ev.ID}
                                        .item #{ev.CUST_CONT_PERSON}
                                        .item #{ev.CUST_CONTACT_EMAIL}
                                        .item #{ev.TELEPHONE}
                                        .item #{ev.ADDR_STREET}
                                        .item #{ev.ADDR_STREET_2}
                                        .item #{ev.ADDR_CITY} #{ev.ADDR_STATE}
            .eight.wide.basic.column
                .ui.form
                    .field
                        label Customer JPID
                        input#customer_jpid(type='number' min='0' value=session_customer_jpid)
                        // if jpid_lookup_status
                        //     |#{jpid_lookup_status}
                            // .ui.card
                            //     with office_doc
                            //         .content
                            //             .ui.header
                            //                 |Office
                            //             h4.ui.header #{ev.MASTER_LICENSEE}
                            //             div #{ev.ADDR_STREET} #{ev.ADDR_STREET_2}
                            //             div #{ev.ADDR_CITY} #{ev.ADDR_STATE}
                            //             div #{ev.ADDR_POSTAL_CODE} #{ev.MASTER_COUNTRY}
                            //             div #{ev.TELEPHONE}

                    if account_selected
                        .field
                            label Username
                            input#username(type='text' name="username")
                            if username_found
                                .ui.info.message
                                    |Existing Username Found
                                    a.ui.button.login_link(href='/login')
                                        |Login Here
                                        i.right.arrow.icon
                        .field
                            label Password
                            input#password(type='password' name="password")
                        .field
                            label Email
                            input#email(type='email')
                            if email_found
                                .ui.info.message
                                    |Existing Email Found
                                    a.ui.button.login_link(href='/login')
                                        |Login Here
                                        i.right.arrow.icon
                            else
                                .ui.success.message
                                    |Email Available
                    // .field
                    //     label Repeat Password
                    //     input.password_two(type='password')
                    //     if passwords_match
                    //         i.green.checkmark.icon
                    //         |Passwords Match
                    //     else
                    //         i.red.remove.icon
                    //         |Passwords Don't Match

                if can_register
                    #register.ui.fluid.inverted.jpgreen.button(class=register_button_class)
                        .large120 Register Customer
            .four.wide.column




template(name='register_office')
    .ui.centered.padded.grid
        .row
            h1.ui.center.aligned.header
                +icon name='add-user-male'
                |Register Office
        .row
            .four.wide.column
                with office_doc
                    .ui.centered.cards
                        .ui.card
                            .content
                                .ui.header
                                    +icon name='building'
                                    |Office
                                h4.ui.header #{ev.MASTER_LICENSEE}
                                div #{ev.ADDR_STREET} #{ev.ADDR_STREET_2}
                                div #{ev.ADDR_CITY} #{ev.ADDR_STATE}
                                div #{ev.ADDR_POSTAL_CODE} #{ev.MASTER_COUNTRY}
                                div #{ev.TELEPHONE}
            .eight.wide.column
                .ui.basic.segment
                    .ui.large.form
                        .field
                            label Office JPID
                            input#office_jpid(type='number' min='0' value=session_office_jpid)
                        // if account_selected
                        if office_doc
                            .field
                                label Username
                                input#username(type='text' name="username")
                                if username_found
                                    .ui.info.message
                                        |Existing Username Found
                                        a.ui.button.login_link(href='/login')
                                            |Login Here
                                            i.right.arrow.icon
                            .field
                                label Password
                                input#password(type='password' name="password")
                            .field
                                label Email
                                input#email(type='email')
                                if email_found
                                    .ui.info.message
                                        |Existing Email Found
                                        a.ui.button.login_link(href='/login')
                                            |Login Here
                                            i.right.arrow.icon
                                else
                                    .ui.success.message
                                        |Email Available
                            // .field
                            //     label Repeat Password
                            //     input.password_two(type='password')
                            //     if passwords_match
                            //         i.green.checkmark.icon
                            //         |Passwords Match
                            //     else
                            //         i.red.remove.icon
                            //         |Passwords Don't Match

                            if can_submit
                                #register_office.ui.fluid.inverted.jpgreen.button
                                    .large120 Register Office
            .four.wide.column



