template(name='accounts_layout')
    .context.example
        .ui.bottom.attached.basic.segment.pushable
            +left_sidebar
            .pusher
                #main_area
                    +accounts_nav
                    +Template.dynamic template=main

template(name='accounts_nav')
    #nav.ui.five.item.stackable.inverted.blue.menu
        a.item(href='/')
            img.ui.avatar.image(src="{{c.url 'green_jp_icon' effect='make_transparent:10'}}")
            | &nbsp; Home
        +menu_item link='/login' label='Login' icon='password' name='login'
        +menu_item link='/reset_password' label='Reset Password' icon='forgot-password' name='reset_password'
        +menu_item link='/register_customer' label='Register Customer' icon='add-user-group-woman-man' name='register_customer'
        +menu_item link='/register_office' label='Register Office' icon='add-user-group-woman-man' name='register_office'

template(name='menu_item')
    // a.item(href=link class="{{ is_current_route name }}")
    a.item(href=link)
        // img.ui.tiny.compact.inline.image(src='https://jan-pro.com/wp-content/themes/underboot/img/jan-pro-white.svg')
        i.large.icon
            +icon name=icon
        | &nbsp; #{label}

template(name='reset_password')
    .ui.middle.aligned.centered.padded.grid
        .twelve.wide.column
            h1.ui.center.aligned.header 
                +icon name='forgot-password'
                | Reset Password
            .ui.segment
                .ui.form
                    .field
                        label Username
                        input#username(type='text')
                    .field
                        #reset_password_by_username.ui.fluid.button
                            +iconsmall name='available-updates'
                            | Reset password by Username
                .ui.form
                    .field
                        label Email
                        input#email(type='email')
                    .field
                        #reset_password_by_email.ui.fluid.button
                            +iconsmall name='available-updates'
                            | Reset password by Email

template(name='login')
    .ui.middle.aligned.centered.padded.grid
        .row
            .twelve.wide.column
                // img.ui.large.center.aligned.image(src="{{c.url 'white_logo' gravity='face' crop='fill'}}")
                h1.ui.center.aligned.header 
                    // +icon name='password'
                    img.ui.spaced.image(src="{{c.url 'green_jp_icon' effect='make_transparent:10'}}")
                    | Jan-Pro Customer Portal Login
                .ui.segment
                    .ui.large.form
                        .field
                            label Username
                            input.username(type='text')
                        .field
                            label Password
                            input.password(type='password')
                        .field
                            .login.ui.fluid.large.button(class=login_button_class)
                                // +icon name='checkmark' classes='ui inline image'
                                | Login
                            if currentUser
                                |You are logged in as #{currentUser.username}
                .ui.horizontal.divider or login as
                .ui.three.column.stackable.grid
                    .column
                        #login_demo_customer.ui.fluid.large.button
                            +iconsmall name='online-support' classes='ui inline image'
                            |Demo Customer
                    .column
                        #login_demo_office.ui.fluid.large.button
                            +iconsmall name='coach' classes='ui inline image'
                            |Demo Office
                    .column
                        #login_demo_admin.ui.fluid.large.button
                            +iconsmall name='user-shield' classes='ui inline image'
                            |Demo Admin
               
                
template(name='register_customer')
    .ui.middle.aligned.centered.padded.grid
        .row
            h1.ui.center.aligned.header 
                +icon name='customer-support'
                |Register Customer
        .row
            .ten.wide.column
                .ui.segment
                    .ui.large.form
                        .field
                            label Customer JPID
                            input#customer_jpid(type='text' value=session_customer_jpid)
                            // if jpid_lookup_status
                            //     |#{jpid_lookup_status}
                        if account_selected
                            .ui.cards        
                                .ui.green.card
                                    with customer_doc
                                        .content
                                            .ui.header 
                                                |Customer
                                            h4.ui.header #{ev.CUST_NAME}
                                            .ui.list
                                                .item ##{ev.ID}
                                                .item #{ev.CUST_CONT_PERSON}
                                                .item #{ev.CUST_CONTACT_EMAIL}
                                                .item #{ev.TELEPHONE}
                                                .item #{ev.ADDR_STREET}
                                                .item #{ev.ADDR_STREET_2}
                                                .item #{ev.ADDR_CITY} #{ev.ADDR_STATE}
                                // .ui.card
                                //     with office_doc
                                //         .content
                                //             .ui.header 
                                //                 |Office
                                //             h4.ui.header #{ev.MASTER_LICENSEE}
                                //             div #{ev.ADDR_STREET} #{ev.ADDR_STREET_2} 
                                //             div #{ev.ADDR_CITY} #{ev.ADDR_STATE}
                                //             div #{ev.ADDR_POSTAL_CODE} #{ev.MASTER_COUNTRY}
                                //             div #{ev.TELEPHONE}

                        if account_selected
                            .field
                                label Username
                                input#username(type='text' name="username")
                                if username_found
                                    .ui.info.message 
                                        |Existing Username Found
                                        a.ui.button.login_link(href='/login') 
                                            |Login Here
                                            i.right.arrow.icon
                            .field
                                label Password
                                input#password(type='password' name="password")
                            .field
                                label Email
                                input#email(type='email')
                                if email_found
                                    .ui.info.message 
                                        |Existing Email Found
                                        a.ui.button.login_link(href='/login') 
                                            |Login Here
                                            i.right.arrow.icon
                                else
                                    .ui.success.message 
                                        |Email Available
                        // .field
                        //     label Repeat Password
                        //     input.password_two(type='password')
                        //     if passwords_match
                        //         i.green.checkmark.icon
                        //         |Passwords Match
                        //     else
                        //         i.red.remove.icon
                        //         |Passwords Don't Match
                            
                    if can_submit
                        #register.ui.fluid.button
                            |Register                




template(name='register_office')
    .ui.middle.aligned.centered.padded.grid
        .row
            h1.ui.center.aligned.header 
                +icon name='small-business'
                |Register Office
        .row
            .ten.wide.column
                .ui.segment
                    .ui.large.form
                        .field
                            label Office JPID
                            input#office_jpid(type='text' value=session_office_jpid)
                        // if account_selected
                        with office_doc
                            .ui.card
                                .content
                                    .ui.header 
                                        +icon name='building'
                                        |Office
                                    h4.ui.header #{ev.MASTER_LICENSEE}
                                    div #{ev.ADDR_STREET} #{ev.ADDR_STREET_2} 
                                    div #{ev.ADDR_CITY} #{ev.ADDR_STATE}
                                    div #{ev.ADDR_POSTAL_CODE} #{ev.MASTER_COUNTRY}
                                    div #{ev.TELEPHONE}
                        if office_doc
                            .field
                                label Username
                                input#username(type='text' name="username")
                                if username_found
                                    .ui.info.message 
                                        |Existing Username Found
                                        a.ui.button.login_link(href='/login') 
                                            |Login Here
                                            i.right.arrow.icon
                            .field
                                label Password
                                input#password(type='password' name="password")
                            .field
                                label Email
                                input#email(type='email')
                                if email_found
                                    .ui.info.message 
                                        |Existing Email Found
                                        a.ui.button.login_link(href='/login') 
                                            |Login Here
                                            i.right.arrow.icon
                                else
                                    .ui.success.message 
                                        |Email Available
                            // .field
                            //     label Repeat Password
                            //     input.password_two(type='password')
                            //     if passwords_match
                            //         i.green.checkmark.icon
                            //         |Passwords Match
                            //     else
                            //         i.red.remove.icon
                            //         |Passwords Don't Match
                                    
                            if can_submit
                                #register_office.ui.fluid.button
                                    |Register Office
                                
                                
                                
                                