template(name='accounts_layout')
    .context.example
        .ui.bottom.attached.basic.segment.pushable
            +left_sidebar
            .pusher
                #main_area
                    +accounts_nav
                    +Template.dynamic template=main

template(name='accounts_nav')
    #nav.ui.four.item.stackable.large.inverted.blue.menu
        a.item(href='/')
            img.ui.avatar.image(src="{{c.url 'green_jp_icon' effect='make_transparent:10'}}")
            | &nbsp; Home
        +menu_item link='/login' label='Login' icon='password' name='login'
        +menu_item link='/reset_password' label='Reset Password' icon='forgot-password' name='reset_password'
        +menu_item link='/register' label='Register' icon='add-user-group-woman-man' name='register'

template(name='menu_item')
    a.item(href=link class="{{ is_current_route name }}")
        // img.ui.tiny.compact.inline.image(src='https://jan-pro.com/wp-content/themes/underboot/img/jan-pro-white.svg')
        i.big.icon
            +icon name=icon
        | &nbsp; #{label}


template(name='reset_password')
    .ui.middle.aligned.centered.padded.grid
        .twelve.wide.column
            h1.ui.center.aligned.header 
                +icon name='forgot-password'
                | Reset Password
            .ui.segment
                .ui.form
                    .field
                        label Username
                        input#username(type='text')
                    .field
                        #reset_password_by_username.ui.fluid.button
                            +iconsmall name='available-updates'
                            | Reset password by Username
                .ui.form
                    .field
                        label Email
                        input#email(type='email')
                    .field
                        #reset_password_by_email.ui.fluid.button
                            +iconsmall name='available-updates'
                            | Reset password by Email


template(name='login')
    .ui.middle.aligned.centered.padded.grid
        .row
            .twelve.wide.column
                // img.ui.large.center.aligned.image(src="{{c.url 'white_logo' gravity='face' crop='fill'}}")
                h1.ui.center.aligned.header 
                    // +icon name='password'
                    img.ui.spaced.image(src="{{c.url 'green_jp_icon' effect='make_transparent:10'}}")
                    | Jan-Pro Customer Portal Login
                .ui.segment
                    .ui.large.form
                        .field
                            label Username/Email
                            input.username(type='text')
                        .field
                            label Password
                            input.password(type='password')
                        .field
                            .login.ui.fluid.large.button
                                // +icon name='checkmark' classes='ui inline image'
                                | Login
                .ui.horizontal.divider or login as
                .ui.three.column.stackable.grid
                    .column
                        #login_demo_customer.ui.fluid.large.button
                            +iconsmall name='online-support' classes='ui inline image'
                            |Demo Customer
                    .column
                        #login_demo_office.ui.fluid.large.button
                            +iconsmall name='coach' classes='ui inline image'
                            |Demo Office
                    .column
                        #login_demo_admin.ui.fluid.large.button
                            +iconsmall name='user-shield' classes='ui inline image'
                            |Demo Admin
                
                
template(name='register')
    .ui.middle.aligned.centered.padded.grid
        .row
            h1.ui.center.aligned.header 
                if customer_selected
                    +icon name='customer-support'
                if officer_selected
                    +icon name='small-business'
                |Register #{current_user_type_selection}
        .row
            .ten.wide.column
                .ui.segment
                    .ui.basic.center.aligned.segment
                        #select_customer.ui.button(class=customer_button_class) 
                            +iconsmall name='customer-support'
                            |Customer
                        #select_office.ui.button(class=office_button_class) 
                            +iconsmall name='small-business'
                            |Officer
                    .ui.large.form
                        if customer_selected
                            .field
                                label Customer ID
                                input#customer_jpid(type='text')
                                if jpid_lookup_status
                                    |#{jpid_lookup_status}
                            if account_selected
                                +customer_card customer_jpid=session_customer_jpid                    
                        if officer_selected
                            .field
                                label Officer ID
                                input#officer_jpid(type='text')
                            if session_office_jpid
                                +office_card office_jpid=session_office_jpid  
                        if account_selected
                            .field
                                label Username
                                input#username(type='text')
                                if username_found
                                    .ui.info.message 
                                        |Existing Username Found
                                        a.ui.button.login_link(href='/login') 
                                            |Login Here
                                            i.right.arrow.icon
                            .field
                                label Password
                                input#password(type='password')
                            .field
                                label Email
                                input#email(type='email')
                                if email_found
                                    .ui.info.message 
                                        |Existing Email Found
                                        a.ui.button.login_link(href='/login') 
                                            |Login Here
                                            i.right.arrow.icon
                                else
                                    .ui.success.message 
                                        |Email Available
                        // .field
                        //     label Repeat Password
                        //     input.password_two(type='password')
                        //     if passwords_match
                        //         i.green.checkmark.icon
                        //         |Passwords Match
                        //     else
                        //         i.red.remove.icon
                        //         |Passwords Don't Match
                            
                    if can_submit
                        #register.ui.fluid.button
                            |Register