template(name='accounts_layout')
    .context.example
        .ui.bottom.attached.basic.segment.pushable
            +left_sidebar
            .pusher
                #main_area
                    +accounts_nav
                    +Template.dynamic template=main

template(name='accounts_nav')
    .nav_bar.ui.five.item.stackable.inverted.blue.large.menu
        a.item(href='/')
            img.ui.avatar.image(src="{{c.url 'green_jp_icon' effect='make_transparent:10'}}")
            | &nbsp; Home
        +menu_item link='/login' label='Login' icon='internal' name='login'
        +menu_item link='/reset_password' label='Reset Password' icon='available-updates' name='reset_password'
        +menu_item link='/register_customer' label='Customer' icon='plus-math' name='register_customer'
        +menu_item link='/register_office' label='Office' icon='plus-math' name='register_office'

template(name='menu_item')
    a.item(href=link class="{{ active_route slug }}")
        // img.ui.tiny.compact.inline.image(src='https://jan-pro.com/wp-content/themes/underboot/img/jan-pro-white.svg')
        i.icon
            +icon name=icon
        | &nbsp; #{label}

template(name='reset_password')
    .ui.middle.aligned.centered.padded.grid
        .twelve.wide.column
            h1.ui.center.aligned.header
                +icon name='forgot-password'
                | Reset Password
            .ui.segment
                .ui.form
                    .field
                        label Username
                        input#username(type='text')
                    .field
                        #reset_password_by_username.ui.fluid.inverted.jpgreen.button
                            | Reset by Username
                .ui.form
                    .field
                        label Email
                        input#email(type='email')
                    .field
                        #reset_password_by_email.ui.fluid.inverted.jpgreen.button
                            | Reset by Email

template(name='login')
    .ui.middle.aligned.centered.padded.stackable.grid
        .row
            .twelve.wide.column
                h1.ui.center.aligned.header
                    img.ui.spaced.image(src="{{c.url 'green_jp_icon' effect='make_transparent:10'}}")
                    | JAN-PRO Customer Portal Login
                .ui.segment
                    .ui.grid
                        .twelve.wide.column
                            .ui.labeled.fluid.input
                                .ui.basic.label Username
                                input.username(type='text')
                            .ui.hidden.divider
                            .ui.labeled.fluid.input
                                .ui.basic.label Password
                                input.password(type='password')
                            .ui.hidden.divider
                            .field
                                // unless currentUser
                                .login.ui.fluid.jpgreen.inverted.button(class=login_button_class title='Login')
                                    | Login
                        .four.wide.column
                            .ui.center.aligned.header Demo
                            #login_demo_customer.ui.fluid.button(class=demo_class title='Login Demo Customer')
                                +iconsmall name='headset' classes='ui inline image'
                                | &nbsp; Customer
                            #login_demo_office.ui.fluid.button(class=demo_class title='Login Demo Office')
                                +iconsmall name='building' classes='ui inline image'
                                | &nbsp; Office
                            #login_demo_admin.ui.fluid.button(class=demo_class title='Login Demo Admin')
                                +iconsmall name='user-shield' classes='ui inline image'
                                | &nbsp; Admin

template(name='register_customer')
    .ui.middle.aligned.centered.padded.grid
        .row
            h1.ui.center.aligned.header
                +icon name='headset'
                |Register Customer
        .row
            .ten.wide.column
                .ui.segment
                    .ui.large.form
                        .field
                            label Customer JPID
                            input#customer_jpid(type='text' value=session_customer_jpid)
                            // if jpid_lookup_status
                            //     |#{jpid_lookup_status}
                        if account_selected
                            .ui.centered.cards
                                .ui.green.card
                                    with customer_doc
                                        .content
                                            .ui.header
                                                |Customer
                                            h4.ui.header #{ev.CUST_NAME}
                                            .ui.list
                                                .item ##{ev.ID}
                                                .item #{ev.CUST_CONT_PERSON}
                                                .item #{ev.CUST_CONTACT_EMAIL}
                                                .item #{ev.TELEPHONE}
                                                .item #{ev.ADDR_STREET}
                                                .item #{ev.ADDR_STREET_2}
                                                .item #{ev.ADDR_CITY} #{ev.ADDR_STATE}
                                // .ui.card
                                //     with office_doc
                                //         .content
                                //             .ui.header
                                //                 |Office
                                //             h4.ui.header #{ev.MASTER_LICENSEE}
                                //             div #{ev.ADDR_STREET} #{ev.ADDR_STREET_2}
                                //             div #{ev.ADDR_CITY} #{ev.ADDR_STATE}
                                //             div #{ev.ADDR_POSTAL_CODE} #{ev.MASTER_COUNTRY}
                                //             div #{ev.TELEPHONE}

                        if account_selected
                            .field
                                label Username
                                input#username(type='text' name="username")
                                if username_found
                                    .ui.info.message
                                        |Existing Username Found
                                        a.ui.button.login_link(href='/login')
                                            |Login Here
                                            i.right.arrow.icon
                            .field
                                label Password
                                input#password(type='password' name="password")
                            .field
                                label Email
                                input#email(type='email')
                                if email_found
                                    .ui.info.message
                                        |Existing Email Found
                                        a.ui.button.login_link(href='/login')
                                            |Login Here
                                            i.right.arrow.icon
                                else
                                    .ui.success.message
                                        |Email Available
                        // .field
                        //     label Repeat Password
                        //     input.password_two(type='password')
                        //     if passwords_match
                        //         i.green.checkmark.icon
                        //         |Passwords Match
                        //     else
                        //         i.red.remove.icon
                        //         |Passwords Don't Match

                    if can_register
                        #register.ui.fluid.inverted.jpgreen.button(class=register_button_class)
                            |Register Customer




template(name='register_office')
    .ui.middle.aligned.centered.padded.grid
        .row
            h1.ui.center.aligned.header
                +icon name='small-business'
                |Register Office
        .row
            .ten.wide.column
                .ui.segment
                    .ui.large.form
                        .field
                            label Office JPID
                            input#office_jpid(type='text' value=session_office_jpid)
                        // if account_selected
                        with office_doc
                            .ui.card
                                .content
                                    .ui.header
                                        +icon name='building'
                                        |Office
                                    h4.ui.header #{ev.MASTER_LICENSEE}
                                    div #{ev.ADDR_STREET} #{ev.ADDR_STREET_2}
                                    div #{ev.ADDR_CITY} #{ev.ADDR_STATE}
                                    div #{ev.ADDR_POSTAL_CODE} #{ev.MASTER_COUNTRY}
                                    div #{ev.TELEPHONE}
                        if office_doc
                            .field
                                label Username
                                input#username(type='text' name="username")
                                if username_found
                                    .ui.info.message
                                        |Existing Username Found
                                        a.ui.button.login_link(href='/login')
                                            |Login Here
                                            i.right.arrow.icon
                            .field
                                label Password
                                input#password(type='password' name="password")
                            .field
                                label Email
                                input#email(type='email')
                                if email_found
                                    .ui.info.message
                                        |Existing Email Found
                                        a.ui.button.login_link(href='/login')
                                            |Login Here
                                            i.right.arrow.icon
                                else
                                    .ui.success.message
                                        |Email Available
                            // .field
                            //     label Repeat Password
                            //     input.password_two(type='password')
                            //     if passwords_match
                            //         i.green.checkmark.icon
                            //         |Passwords Match
                            //     else
                            //         i.red.remove.icon
                            //         |Passwords Don't Match

                            if can_submit
                                #register_office.ui.fluid.inverted.jpgreen.button
                                    |Register Office



