template(name='users') 
    .ui.padded.stackable.grid
        .centered.row
            .three.wide.center.aligned.column 
                a(href='/user/add' data-content='Add User')
                    +icon name='plus' classes='centered'
            .ten.wide.column 
                h1.ui.center.aligned.header 
                    +icon name='groups'
                    | Users
            .three.wide.center.aligned.column 
        .centered.row
            .sixteen.wide.column 
                +query_input
                table.ui.striped.table
                    thead
                    
                        +sort_column_header key='username' label='Username'
                        +sort_column_header key='profile.first_name' label='First Name'
                        +sort_column_header key='profile.last_name' label='Last Name'
                        +sort_column_header key='profile.title' label='Title'
                        +sort_column_header key='ev.WORK_TELEPHONE' label='Phone'
                        +sort_column_header key='email' label='Email'
                        +sort_column_header key='profile.office_name' label='Office'
                        th 
                    tbody
                        each all_users
                            tr
                                td #{username}
                                td #{profile.first_name} 
                                td #{profile.last_name}
                                td #{profile.title} #{ev.JOB_TITLE}
                                td #{ev.WORK_TELEPHONE}
                                td #{email}
                                td #{profile.office_name}
                                td 
                                    +edit_user_button
                                    +view_user_button
                    +table_footer columns='8'