template(name='user_edit')
    with user
        .ui.padded.stackable.centered.grid
            .row
                .three.wide.column    
                .ten.wide.column    
                    h1.ui.center.aligned.grey.header Edit #{profile.first_name} #{profile.last_name}
                .three.wide.column    
                    a(href="/user/#{currentUser.username}" title="Save #{currentUser.username}")
                        +icon name='ok'
            .row
                .four.wide.column    
                    .ui.form
                        .field
                            // .field
                            //     label Current image_id: #{image_id}
                            //     input#input_image_id(type='text' placeholder='Change')
                            if profile.image_id
                                // label image
                                .ui.centered.image
                                    img.ui.image(src="{{c.url profile.image_id width=400 height=400 gravity='face' crop='fill'}}")
                                    a#remove_photo.ui.right.corner.link.basic.label(href='#')
                                        i.remove.red.link.icon
                            else
                                label Upload Image
                                input(type='file' name='upload_picture' accept='image/*')
                .eight.wide.column    
                    .ui.transparent.form
                        .field
                            +edit_profile_text_field key='first_name' label='First Name'
                        .field
                            +edit_profile_text_field key='last_name' label='Last Name'
                        // .field
                        //     label First Name 
                        //     .ui.input
                        //         input#first_name(type='text' value=profile.first_name)
                        // .field
                        //     label Last Name 
                        //     .ui.input
                        //         input#last_name(type='text' value=profile.last_name)
                        .field
                            label Email
                            each emails
                                .ui.basic.label #{address}
                                
                        .field
                            +edit_profile_text_field key='phone' label='Phone'
                            // label Office JPID
                            // .ui.input
                            //     input#office_jpid(type='text' value=profile.office_jpid)
                            // +single_doc_select type='customer' save_key='customer_id' search_key='cust_name' label='Customer'
                        +edit_profile_text_field key='customer_jpid' label='Connected Customer Account'
                .four.wide.column    
                    .ui.dividing.header Admin
                    .ui.header Roles
                    each roles
                        .ui.large.basic.label #{this}
                    +my_customer_account_card
