template(name='user_view')
    with user
        .ui.padded.stackable.grid
            .middle.aligned.row
                .four.wide.center.aligned.column
                    if is_admin
                        +link_button link='/users' icon='groups' label='Users' classes='centered'
                .eight.wide.center.aligned.column
                    h1.header.item #{profile.first_name} #{profile.last_name}
                .four.wide.center.aligned.column
                    // .get_user_info.ui.icon.button(title='Refresh User Info')
                    //     i.refresh.icon
                    a.ui.icon.button(href="/user/edit/#{_id}" title="Edit #{username}")
                        i.pencil.large.icon
            .row
                .four.wide.column
                    if profile.image_id
                        img.ui.medium.image.item(src="{{c.url profile.image_id width=500 height=500 gravity='face' crop='fill'}}")
                    if is_user
                        a.ui.button(href='/account/settings')
                            i.cog.icon
                            |Account Settings
                        
                .eight.wide.column
                    // +edit_profile_text_field key='customer_jpid' label='Connected Customer Account'
                    .ui.list
                        if profile.customer_jpid
                            .item
                                strong Customer JPID 
                                | #{profile.customer_jpid}
                        // +jsonView json=ev
                    .ui.list
                        with ev
                            .item LOGIN_ID: 
                                strong #{LOGIN_ID}
                            .item LAST_NAME: 
                                strong #{LAST_NAME}
                            .item FIRST_NAME: 
                                strong #{FIRST_NAME}
                            .item JOB_TITLE: 
                                strong #{JOB_TITLE}
                            .item WORK_TELEPHONE: 
                                strong #{WORK_TELEPHONE}
                            .item HOME_TELEPHONE: 
                                strong #{HOME_TELEPHONE}
                            .item CELL_PHONE: 
                                strong #{CELL_PHONE}
                            .item COMPANY_NAME: 
                                strong #{COMPANY_NAME}
                            .item ADDRESS_LINE1: 
                                strong #{ADDRESS_LINE1}
                            .item ADDRESS_LINE2: 
                                strong #{ADDRESS_LINE2}
                            .item CITY: 
                                strong #{CITY}
                            .item STATE: 
                                strong #{STATE}
                            .item POSTAL_CODE: 
                                strong #{POSTAL_CODE}
                            .item COUNTRY: 
                                strong #{COUNTRY}
                            .item EMAIL: 
                                strong #{EMAIL}
                            .item TIMEZONE: 
                                strong #{TIMEZONE}
                            .item ALPHA_TIMEZONE: 
                                strong #{ALPHA_TIMEZONE}
                            .item REGION: 
                                strong #{REGION}
                            .item VARIANT: 
                                strong #{VARIANT}
                            .item AREA_ID: 
                                strong #{AREA_ID}
                            .item EMAIL_ON: 
                                strong #{EMAIL_ON}
                            .item LANGUAGE: 
                                strong #{LANGUAGE}
                    // +users_feed
                .four.wide.column
                    .ui.header Role
                        each roles
                            .ui.basic.label #{this}
                    .ui.header future widgets
                    .ui.list
                        .item user comments
                        .item user assigned to incidents
                        .item if customer then user customer account
                        .item if customer then user franchisee account
                        .item if customer then user officer document
                        .item if customer then incdients created
                        .item if officer then user office document
                        .item if officer then user office document

        
                    // +jsonView json=ev
                                
