template(name='users') 
    .ui.padded.stackable.middle.aligned.middle.aligned.grid
        .centered.row
            .four.wide.center.aligned.column 
                +link_button link='/admin' label='Admin' icon='user-shield'
            .eight.wide.column 
                h1.ui.center.aligned.header 
                    +icon name='groups'
                    | Users
            .four.wide.center.aligned.column 
                +link_button link='/user/add' label='Add User' icon='plus'
        .row
            +table_header stat_type='total'
        .row
            .sixteen.wide.column 
                table.ui.striped.table
                    thead
                    
                        +sort_column_header key='username' label='Username'
                        +sort_column_header key='profile.first_name' label='First Name'
                        +sort_column_header key='profile.last_name' label='Last Name'
                        +sort_column_header key='profile.title' label='Title'
                        th Role
                        th Contact
                        +sort_column_header key='profile.office_name' label='Office'
                        // th 
                    tbody
                        each all_users
                            tr
                                td.selectable
                                    a(href="/user/#{username}" title="View #{username} Profile") 
                                        if profile.image_id
                                            img.ui.avatar.spaced.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                                        |#{username}
                                td.selectable(title="View #{username} Profile") 
                                    a(href="/user/#{username}") 
                                        |#{profile.first_name} 
                                td.selectable(title='View Profile')
                                    a(href="/user/#{username}") 
                                        |#{profile.last_name}
                                td #{profile.title} #{ev.JOB_TITLE}
                                td 
                                    each roles
                                        .ui.basic.small.label #{this}
                                td 
                                    div #{email}
                                    div #{ev.WORK_TELEPHONE}
                                td #{profile.office_name}
                                // td 
                                //     +edit_user_button
                                //     +view_user_button
                    +table_footer columns='8' stat_type='total'