template(name='users') 
    .ui.padded.stackable.grid
        .centered.row
            .three.wide.column 
                a(href='/user/add' data-content='Add User')
                    +icon name='plus' classes='centered'
                // if is_dev
                //     .ui.header upload user list
                //     unless uploading
                //         input(type="file" name="upload_csv")
                //     else
                //         |Uploading files...
            .ten.wide.column 
                h1.ui.center.aligned.header 
                    +icon name='groups'
                    .content Users
            .three.wide.column 
        .centered.row
            .sixteen.wide.column 
                table.ui.celled.very.basic.table
                    thead
                        tr
                            th Username
                            th First Name
                            th Last Name
                            th Job Title
                            th Work Tel
                            th Email
                            th Office Name
                            th
                    tbody
                        each all_user_objects
                            tr
                                td #{username}
                                td #{profile.first_name}
                                td #{profile.last_name}
                                td #{ev.JOB_TITLE}
                                td #{ev.WORK_TELEPHONE}
                                td #{email}
                                td #{profile.office_name}
                                td 
                                    +view_user_button
                    // tfoot
                    //     tr
                    //         th(colspan='3')
                    //             .ui.right.floated.pagination.menu
                    //                 a.icon.item
                    //                     i.left.chevron.icon
                    //                 a.item 1
                    //                 a.item 2
                    //                 a.item 3
                    //                 a.item 4
                    //                 a.icon.item
                    //                     i.right.chevron.icon
                                
                                
template(name='franchise_by_customer')                                
    .ui.dividing.header 
        +icon name='collaborator-female'
        |#{ev.CUST_NAME}'s Franchisee
    table.ui.celled.very.basic.table
        thead
            tr
                th jpid
                th franchisee
                th ev.FRANCH_NAME
                th ev.TELE_CELL
                th franchisee_email
                th ev.MASTER_LICENSEE
                th Office Name
                th
        tbody
            each all_user_objects
                tr
                    td #{jpid}
                    td #{username}
                    td #{profile.first_name}
                    td #{profile.last_name}
                    // td #{ev.JOB_TITLE}

                    // td #{ev.JOB_TITLE}
                    // td #{ev.WORK_TELEPHONE}
                    td #{email}
                    td #{profile.office_name}
                    td 
                        +view_user_button
