template(name='user_view')
    with user
        .ui.padded.stackable.grid
            .middle.aligned.row
                .four.wide.column
                    if is_admin
                        +link_button link='/users' icon='groups' label='Users' classes='centered'
                .eight.wide.center.aligned.column
                    h1.ui.header 
                        |#{profile.first_name} #{profile.last_name} 
                        small @#{username}
                .four.wide.right.aligned.column
                    if is_dev
                        .get_user_info.ui.icon.button(title='Refresh User Info')
                            i.refresh.icon
                    a.ui.icon.button(href="/user/edit/#{_id}" title="Edit #{username}")
                        i.pencil.icon
            .row
                .four.wide.column
                    if profile.image_id
                        img.ui.medium.image.item(src="{{c.url profile.image_id width=500 height=500 gravity='face' crop='fill'}}")
                    if is_user
                        a.ui.fluid.button(href='/account/settings')
                            i.cog.icon
                            |Account Settings
                    +doc_type_module label='Messages' icon='chat' doc_type='message'
                    +doc_type_module label='Comments' icon='comment' doc_type='comment'
                .eight.wide.column
                    // +edit_profile_text_field key='customer_jpid' label='Connected Customer Account'
                    .ui.list
                        if customer_jpid
                            .item
                                strong Customer JPID 
                                | #{customer_jpid}
                    +user_events                    
                    // +users_docs
                    +doc_type_module label='Incidents' icon='error' doc_type='incident'
                    +doc_type_module label='Incident Feedback' icon='reply' doc_type='feedback_response'
                .four.wide.column
                    .ui.secondary.segment
                        .ui.header 
                            +icon name='contacts'
                            | Contact
                        .ui.header Phone: #{ev.TELE_CELL} #{profile.phone}
                        .ui.header Role
                            each roles
                                .ui.basic.label #{this}
                    if ev
                        +user_ev_info
                    +doc_type_module label='Comments' icon='comment'
                    +user_assigned_to
                    if customer_jpid
                        +customer_card
                    if franchisee_jpid
                        +franchisee_card
                    if office_jpid
                        +office_card
    
                
template(name='user_ev_info')        
    .ui.secondary.segment
        .ui.header 
            +icon name='database'
            | ExtraView Info
        .ui.list
            with ev
                if LOGIN_ID
                    .item Username: 
                        strong #{LOGIN_ID}
                if LAST_NAME
                    .item Last: 
                        strong #{LAST_NAME}
                if FIRST_NAME
                    .item First: 
                        strong #{FIRST_NAME}
                if JOB_TITLE
                    .item Job Title: 
                        strong #{JOB_TITLE}
                if WORK_TELEPHONE
                    .item Work Tel: 
                        strong #{WORK_TELEPHONE}
                if HOME_TELEPHONE
                    .item Home Tel: 
                        strong #{HOME_TELEPHONE}
                if CELL_PHONE
                    .item Cell: 
                        strong #{CELL_PHONE}
                if COMPANY_NAME
                    .item Company: 
                        strong #{COMPANY_NAME}
                if ADDRESS_LINE1
                    .item Address: 
                        strong #{ADDRESS_LINE1}
                if ADDRESS_LINE2
                    .item  
                        strong #{ADDRESS_LINE2}
                if CITY
                    .item  
                        strong #{CITY}
                if STATE
                    .item
                        strong #{STATE}
                if POSTAL_CODE
                    .item 
                        strong #{POSTAL_CODE}
                if COUNTRY
                    .item Country
                        strong #{COUNTRY}
                if EMAIL
                    .item Email: 
                        strong #{EMAIL}
                if TIMEZONE
                    .item Timezone: 
                        strong #{TIMEZONE}
                if ALPHA_TIMEZONE
                    .item Alpha Timezone: 
                        strong #{ALPHA_TIMEZONE}
                if REGION
                    .item Region: 
                        strong #{REGION}
                if VARIANT
                    .item Variant: 
                        strong #{VARIANT}
                if AREA_ID
                    .item Area ID: 
                        strong #{AREA_ID}
                // if EMAIL_ON
                //     .item EMAIL_ON: 
                //         strong #{EMAIL_ON}
                if LANGUAGE
                    .item Language: 
                        strong #{LANGUAGE}
template(name='users_docs')
    .ui.header Users Docs
    table.ui.striped.selectable.fixed.fluid.table
        tbody
            each user_docs
                tr
                    td #{type}
                    td #{title}
                    td
                        +view_button
                        
                        
template(name='user_events')
    .ui.secondary.segment
        .ui.header 
            +icon name='clock'
            | Events
        .ui.comments
            each user_events
                +doc_history_event

template(name='user_assigned_to')
    .ui.secondary.segment
        .ui.header 
            +icon name='tasks'
            | Assigned To
            
            
            
            