template(name='user_view')
    with user
        .ui.padded.stackable.grid
            .middle.aligned.row
                .four.wide.center.aligned.column
                    if is_admin
                        +link_button link='/users' icon='groups' label='Users' classes='centered'
                .eight.wide.center.aligned.column
                    h1.header.item #{profile.first_name} #{profile.last_name}
                .four.wide.center.aligned.column
                    // .get_user_info.ui.icon.button(title='Refresh User Info')
                    //     i.refresh.icon
                    a.ui.icon.button(href="/user/edit/#{_id}" title="Edit #{username}")
                        i.pencil.large.icon
            .row
                .four.wide.column
                    if profile.image_id
                        img.ui.medium.image.item(src="{{c.url profile.image_id width=500 height=500 gravity='face' crop='fill'}}")
                    if is_user
                        a.ui.fluid.button(href='/account/settings')
                            i.cog.icon
                            |Account Settings
                        
                .eight.wide.column
                    // +edit_profile_text_field key='customer_jpid' label='Connected Customer Account'
                    .ui.list
                        if profile.customer_jpid
                            .item
                                strong Customer JPID 
                                | #{profile.customer_jpid}
                        // +jsonView json=ev
                    .ui.list
                        with ev
                            if LOGIN_ID
                                .item LOGIN_ID: 
                                    strong #{LOGIN_ID}
                            if LAST_NAME
                                .item LAST_NAME: 
                                    strong #{LAST_NAME}
                            if FIRST_NAME
                                .item FIRST_NAME: 
                                    strong #{FIRST_NAME}
                            if JOB_TITLE
                                .item JOB_TITLE: 
                                    strong #{JOB_TITLE}
                            if WORK_TELEPHONE
                                .item WORK_TELEPHONE: 
                                    strong #{WORK_TELEPHONE}
                            if HOME_TELEPHONE
                                .item HOME_TELEPHONE: 
                                    strong #{HOME_TELEPHONE}
                            if CELL_PHONE
                                .item CELL_PHONE: 
                                    strong #{CELL_PHONE}
                            if COMPANY_NAME
                                .item COMPANY_NAME: 
                                    strong #{COMPANY_NAME}
                            if ADDRESS_LINE1
                                .item ADDRESS_LINE1: 
                                    strong #{ADDRESS_LINE1}
                            if ADDRESS_LINE2
                                .item ADDRESS_LINE2: 
                                    strong #{ADDRESS_LINE2}
                            if CITY
                                .item CITY: 
                                    strong #{CITY}
                            if STATE
                                .item STATE: 
                                    strong #{STATE}
                            if POSTAL_CODE
                                .item POSTAL_CODE: 
                                    strong #{POSTAL_CODE}
                            if COUNTRY
                                .item COUNTRY: 
                                    strong #{COUNTRY}
                            if EMAIL
                                .item EMAIL: 
                                    strong #{EMAIL}
                            if TIMEZONE
                                .item TIMEZONE: 
                                    strong #{TIMEZONE}
                            if ALPHA_TIMEZONE
                                .item ALPHA_TIMEZONE: 
                                    strong #{ALPHA_TIMEZONE}
                            if REGION
                                .item REGION: 
                                    strong #{REGION}
                            if VARIANT
                                .item VARIANT: 
                                    strong #{VARIANT}
                            if AREA_ID
                                .item AREA_ID: 
                                    strong #{AREA_ID}
                            if EMAIL_ON
                                .item EMAIL_ON: 
                                    strong #{EMAIL_ON}
                            if LANGUAGE
                                .item LANGUAGE: 
                                    strong #{LANGUAGE}
                    +user_events                    
                    // +users_docs
                .four.wide.column
                    h4.ui.header Phone: #{ev.TELE_CELL} #{profile.phone}
                    .ui.header Role
                        each roles
                            .ui.basic.label #{this}
                    if is_admin
                        .ui.header 
                            i.user.shield.icon
                            |future widgets
                        .ui.list
                            .item user comments
                            .item user assigned to incidents
                            .ui.list if customer
                                .item user customer account
                                .item user franchisee account
                                .item user officer document
                                .item incdients created
                            .ui.list if officer
                                .item user office document
                                .item user office document
                
        
template(name='users_docs')
    .ui.header Users Docs
    table.ui.striped.fluid.table
        tbody
            each user_docs
                tr
                    td #{type}
                    td #{title}
                    td
                        +view_button
                        
                        
template(name='user_events')
    .ui.secondary.segment
        .ui.header 
            +icon name='clock'
            | Events
        .ui.feed
            each user_events
                +doc_history_event
